<!--<div class="form-group">-->
  <!--<form (submit)="formSubmit()">-->
    <!--&lt;!&ndash;<app-text-input  placeholder="John" label="First name"  (formOutput)="firstName($event)" requiredErrorMsg="Please enter first name" ></app-text-input>&ndash;&gt;-->
    <!--<app-text-input  [(textValue)]="first_name" placeholder="John" label="First name" requiredErrorMsg="Please enter first name" ></app-text-input>-->
    <!--<app-text-input [(textValue)]="last_name" placeholder="Smith" label="Last name" requiredErrorMsg="Please enter last name" ></app-text-input>-->
    <!--<button type="submit" >Submit</button>-->
  <!--</form>-->
<!--</div>-->
