<!--<table class="table">
    <thead>
		<tr>
			<th> <a routerLink="/about"> About</a></th>
			<th><a routerLink="/job" >Job</a></th>
			<th><a routerLink="/resume" class="{{class}}">Resume</a></th>
			<th><a routerLink="/experience" class = "{{exp_class}}">Experience</a></th>
			<th><a routerLink="/final" class = "{{final_class}}">Final</a></th>
			<th><a routerLink="/referral" class = "{{referral_class}}">Referral</a></th>
		</tr>
    </thead>
</table>
<h5>Earn £500 by inviting others to our system</h5>
<p>
	If someone you refer us gets hired for a full
	time position, we will give you an Amazon gift
	card worth £500.
</p>
<h5> Your invite link </h5>
<p> {{ref_link}} </p>
<body data-scribe="section:share" class=" regular ltr ready">
	<div id="widget">
		<div class="btn-o" data-scribe="component:button" style="width: 61px;">
			<a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fwww.talent.io%2Finvite&amp;ref_src=twsrc%5Etfw&amp;text=I%E2%80%99m%20inviting%20you%20to%20talent.io!%20Sign%20up%20now%20and%20let%20companies%20apply%20to%20you.%20Receive%205%20%20job%20offers%20in%20one%20week.%20Salaries%20from%20%E2%82%AC35k%20-%20%E2%82%AC100k&amp;tw_p=tweetbutton&amp;url={{ref_link}};via=talentio" class="btn" id="b">
				<i></i><span class="label" id="l">Tweet</span>
			</a>
		</div>
	</div>
</body>-->


<!-- <section class = "referral-page"> -->

		<!-- <div class="container referral-container"> -->
			<!-- <ng-container *ngIf="display_list === 1;else second"> -->
				<!-- <div class="row col-md-6 referral-inner"> -->
					<!-- <div class="form-group"> -->
						<!-- <label for="comment">All Candidates</label> -->
						<!-- <ul> -->
							<!-- <li *ngFor="let person of users">  -->
								<!-- <button (click)="openDialog(person.email,person._id)"> -->
									<!-- {{ person.email }} -->
								<!-- </button> -->
							<!-- </li> -->
						<!-- </ul> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <ng-container *ngIf="show_msg_area === 1;else offer"> -->
					<!-- <div class="row col-md-6 referral-inner"> -->
						<!-- <form (submit)="send_message(msgForm)" #msgForm = ngForm> -->
							<!-- <div class="form-group"> -->
							  <!-- <label for="comment">Messages</label> -->
							  <!-- <div *ngFor="let msg of new_msgss"> -->
								<!-- {{msg.sender_name}}: -->
								<!-- {{msg.message}} -->
							  <!-- </div> -->
							  <!-- <div> -->
								<!-- {{msgs}} -->
							  <!-- </div> -->
							<!-- </div> -->
							<!-- <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/> -->
							<!-- <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/> -->
							<!-- <div class="form-group"> -->
							  <!-- <textarea class="form-control" placeholder="your message here" rows="3" name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"></textarea> -->
							<!-- </div> -->
							<!-- <p>{{log}}</p> -->
							<!-- <div class="form-group"> -->
								<!-- <button type="submit" class = "btn btn-lg btn-self" [disabled]="!msgForm.valid ">Send</button> -->
							<!-- </div> -->
						<!-- </form> -->
					<!-- </div> -->
				<!-- </ng-container> -->
				<!-- <ng-template #offer> -->
					<!-- <div class="row col-md-6 referral-inner"> -->
						<!-- <div> -->
							<!-- <form (submit)="send_message(msgForm)" #msgForm = ngForm> -->
								<!-- <div class="form-group"> -->
									<!-- <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/> -->
									<!-- <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/> -->
									<!-- <input type="hidden" name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/> -->
									<!-- Send offer to {{credentials.email}}. -->
								<!-- </div> -->
								<!-- <div class="form-group"> -->
									<!-- <button type="submit" class = "btn btn-lg btn-self">Send</button> -->
								<!-- </div> -->
							<!-- </form> -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </ng-template> -->
			<!-- </ng-container> -->
			<!-- <ng-template #second> -->
				<!-- <div class="row col-md-6 referral-inner"> -->
					<!-- <div class="form-group"> -->
						<!-- <label for="comment">All Companies</label> -->
						<!-- <ul> -->
							<!-- <li *ngFor="let person of users">  -->
								<!-- <button (click)="openDialog(person.email,person._id)"> -->
									<!-- {{ person.email }} -->
								<!-- </button> -->
							<!-- </li> -->
						<!-- </ul> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="row col-md-6 referral-inner"> -->
					<!-- <form (submit)="send_message_candidate(msgForm1)" #msgForm1 = ngForm> -->
						<!-- <div class="form-group"> -->
						  <!-- <label for="comment">Messages</label> -->
						  <!-- <div *ngFor="let msg of new_msgss"> -->
						    <!-- {{msg.sender_name}}: -->
							<!-- {{msg.message}} -->
						  <!-- </div> -->
						  <!-- <div> -->
							<!-- {{new_msgs}} -->
						  <!-- </div> -->
						<!-- </div> -->
						<!-- <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/> -->
						<!-- <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/> -->
						<!-- <div class="form-group"> -->
						  <!-- <textarea class="form-control" placeholder="your message here" rows="3" name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"></textarea> -->
						<!-- </div> -->
						<!-- <p>{{log}}</p> -->
						<!-- <div class="form-group"> -->
							<!-- <button type="submit" class = "btn btn-lg btn-self" [disabled]="!msgForm1.valid ">Send</button> -->
						<!-- </div> -->
					<!-- </form> -->
				<!-- </div> -->
			<!-- </ng-template> -->
		<!-- </div> -->

		<!-- <div class = "gap"> -->
		<!-- </div> -->

	<!-- </section> -->

	<!--Profile-inner-->
	<!-- uncomment for use -->
	<!--<div class="my-container">
		<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
	</div>-->
	<ng-container *ngIf="file_uploaded === 0;else no_section" >
		<div class="col-md-12 text-center" >
			<img src="/assets/profile/Loading_icon.gif" alt="Loading Gif" class="loading-image">
		</div>
	</ng-container>
	<ng-template #no_section >
<section class = "wizard_page">
	<div class="container">
			<div class="row chat-row">
				<div *ngIf="msg!=''" class = "col-md-12" id="my-chat-design">
					<h4 class="alert error-alert alert-danger pro_alert">
						{{msg}}
					</h4>
				</div>
				<div *ngIf="users && msg === ''" id = "frame">
					<div class = "col-sm-4 col-xs-3" id="sidepanel">
						<div id="profile" class = "padding_top-btm">
							<div class="wrap">
								<ng-container *ngIf="profile_pic;else company_logo_top">
									<img id="profile-img" src="{{profile_pic}}" alt="">
								</ng-container>
								<ng-template #company_logo_top>
									<img src="/assets/profile/profile-image.png" alt="">
								</ng-template>
								<p class="text-capitalize">{{display_name}}</p>
							</div>
						</div>
						<div id="contacts">
							<ul>
								<li *ngFor="let person of users;let i = index" [ngClass]="(credentials.id == person._creator._id)?'contact active':'contact closee'" (click)="openDialog(person.first_name,person._creator._id,person.company_name)">
									<div class="wrap">
										<ng-container *ngIf="currentUser.type == 'company';else cand_image">
											<ng-container *ngIf="person.image;else person_image">
												<img src="{{person.image}}" alt="">
											</ng-container>
											<ng-template #person_image>
												<img src="/assets/profile/profile-image.png" alt="">
											</ng-template>
											<div class="meta">
												<p *ngIf="person.initials" class="name text-capitalize">{{ person.initials }}</p>
												<p *ngIf="person.first_name" class="name text-capitalize">{{ person.first_name }} {{ person.last_name }}</p>
												<span class="badge" *ngIf="unread_msgs_info[i].sender_id == person._creator._id && unread_msgs_info[i].number_of_unread_msgs">
													<p>{{unread_msgs_info[i].number_of_unread_msgs}}</p>
												</span>
											</div>
										</ng-container>
										<ng-template #cand_image>
											<ng-container *ngIf="person.company_logo;else company_image">
												<img src="{{person.company_logo}}" alt="logo">
											</ng-container>
											<ng-template #company_image>
												<img src="/assets/profile/profile-image.png" alt="">
											</ng-template>
											<div class="meta">
												<p class="name text-capitalize">{{ person.company_name }}</p>
												<span class="badge" *ngIf="unread_msgs_info[i].sender_id == person._creator._id && unread_msgs_info[i].number_of_unread_msgs">
													<p>{{unread_msgs_info[i].number_of_unread_msgs}}</p>
												</span>
											</div>
										</ng-template>
									</div>
								</li>
							</ul>
						</div>
					</div>
						<div class="content col-sm-8 col-xs-9">
							<div class="contact-profile">
								<ul class = "cand_info-ul">
									<ng-container *ngIf="currentUser.type == 'company';else cand">
										<ng-container *ngIf="job_desc;else no_job_desc">
											<li>Job type : {{job_desc.job_type}}</li>
											<li>Job title : {{job_desc.job_title}}</li>
											<li>Salary : {{job_desc.salary}} {{job_desc.salary_currency}}</li>
										</ng-container>
										<ng-template #no_job_desc>
											<li>Job type : N/A</li>
											<li>Job title : N/A</li>
											<li>Salary : N/A</li>
										</ng-template>
									</ng-container>
									<ng-template #cand>
										<li>Job title : {{job_desc.job_title}}</li>
										<li class="text-capitalize">Job Type : {{job_desc.job_type}}</li>
										<li>Salary : {{job_desc.salary}} {{job_desc.salary_currency}}</li>
									</ng-template>
								</ul>
								<span class = "btn_rgt">
									<button data-toggle="modal" data-target="#myModalNew" class = "btn btn_descp">View Job Description</button>
								</span>
							</div>

							<div class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
								<ul>
									<div *ngFor="let msg of new_msgss">
										<ng-container *ngIf="msg.sender_name == display_name;else second">
											<li class="replies">
												<p>
													<span *ngIf="msg.job_title !== ''">
														Job title:
														{{msg.job_title}}
														<br/>
													</span>
													<span *ngIf="msg.salary">
														Salary:
														{{msg.salary}} {{msg.salary_currency}}
														<br/>
													</span>
													<span *ngIf="msg.job_type !== ''">
														Job type:
														{{msg.job_type}}
														<br/>
													</span>
													<span *ngIf="msg.msg_tag == 'employment_offer'">
														Joining date:
														{{msg.date_of_joining | date: 'MM/dd/yyyy'}}
														<br/>
													</span>
													<span *ngIf="msg.interview_date_time">
														Interview date & time:
														{{msg.interview_date_time | date: 'MM/dd/yyyy HH:mm:ss'}}
														<br/>
													</span>
													<span *ngIf="msg.interview_location">
														Interview location:
														{{msg.interview_location}}
														<br/>
													</span>
                          <span *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
														Description:
													</span>
													<span [innerHTML]="msg.description | safeHtml" *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
														{{msg.description}}
														<br/>
													</span>
													<span [innerHTML]="msg.message | safeHtml" *ngIf="msg.job_title == ''">
														{{msg.message}}
													</span>
													<span *ngIf="msg.date_of_joining && msg.file_name !== ''">
														Employment contract:
													</span>
													<a *ngIf="msg.file_name" href="{{msg.file_name}}" style="word-wrap: break-word;" target="_blank">{{msg.file_name.substr(msg.file_name.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
												</p>
											</li>
											<div class="chat_user">
												{{msg.date_created | date: 'MM/dd/yyyy HH:mm:ss'}}
											</div>
										</ng-container>
										<ng-template #second>
											<li class="sent">
												<p  class = "job-description">
													<span *ngIf="msg.job_title === '' && (msg.interview_date_time === '' || msg.interview_date_time === null)" class="text-capitalize"> {{msg.sender_name}}:</span>
													<span *ngIf="msg.job_title !== ''">
														Job title:
														{{msg.job_title}}
														<br/>
													</span>
													<span *ngIf="msg.salary">
														Salary:
														{{msg.salary}} {{msg.salary_currency}}
														<br/>
													</span>
													<span *ngIf="msg.job_type !== ''">
														Job type:
														{{msg.job_type}}
														<br/>
													</span>
													<span *ngIf="msg.msg_tag == 'employment_offer'">
														Joining date:
														{{msg.date_of_joining | date: 'MM/dd/yyyy'}}
														<br/>
													</span>
													<span *ngIf="msg.interview_date_time">
														Interview date & time:
														{{msg.interview_date_time | date: 'MM/dd/yyyy HH:mm:ss'}}
														<br/>
													</span>
													<span *ngIf="msg.interview_location">
														Interview location:
														{{msg.interview_location}}
														<br/>
													</span>
                          <span *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
														Description:
													</span>
                          <span [innerHTML]="msg.description | safeHtml" *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
														{{msg.description}}
														<br/>
													</span>
													<span *ngIf="msg.date_of_joining && msg.file_name !== ''">
														Employment contract:
													</span>
													<span [innerHTML]="msg.message | safeHtml" *ngIf="msg.msg_tag == 'employment_offer'">
														{{msg.message}}
														<br/>
													</span>
													<span [innerHTML]="msg.message | safeHtml" *ngIf="msg.job_title == ''">
														{{msg.message}}
													</span>
													<a *ngIf="msg.file_name" href="{{msg.file_name}}" style="word-wrap: break-word;" target="_blank">{{msg.file_name.substr(msg.file_name.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
												</p>
											</li>
											<div class="chat_company">
												{{msg.date_created | date: 'MM/dd/yyyy HH:mm:ss'}}
											</div>
										</ng-template>
									</div>
									<div class = "offers_b"></div>
								</ul>
							</div>
							<ng-container *ngIf="cand_offer == 1;else no_offer">
								<ng-container *ngIf="show_accpet_reject == 0;else no_show">
									<div class="message-input">
										<div class = "offers">
											<form (submit)="accept_offer(msgForm)" #msgForm = ngForm style="display:inline;">
												<input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
												<input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
												<input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
												<span class = "offers_btn">
													<button type="submit" class = "btn btn_descp">Accept offer</button>
												</span>
											</form>
											<form (submit)="reject_offer(msgForm)" #msgForm = ngForm style="display:inline;">
												<input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
												<input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
												<input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
												<span class = "offers_btn">
													<button type="submit" class = "btn btn_descp">Reject offer</button>
												</span>
											</form>
										</div>
									</div>
								</ng-container>
								<ng-template #no_show>
								</ng-template>
							</ng-container>
							<ng-template #no_offer>
							</ng-template>
							<ng-container *ngIf="company_reply == 1;else no_reply">
								<div class="message-input">
									<ng-container *ngIf="currentUser.type == 'company';else no_offers">
										<div class = "offers">
											<span class = "offers_btn">
												<button type = "button" data-toggle="modal" data-target="#myModal" (click)="reset_msgs()" class = "btn btn_descp">Offer to interview</button>
												<button type = "button" data-toggle="modal" data-target="#Modal" (click)="reset_msgs()" class = "btn btn_descp">Offer to employ</button>
											</span>
										</div>
									</ng-container>
									<ng-template #no_offers>
									</ng-template>
									<ng-container *ngIf="cand_job_offer == 1;else no_job_offer">
										<div class = "offers">
											<form (submit)="accept_job_offer(msgForm)" #msgForm = ngForm style="display:inline;">
												<input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
												<input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
												<input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
												<input type="hidden" name="job_offer_id" id="job_offer_id" [(ngModel)]="credentials.job_offer_id"/>
												<span class = "offers_btn">
													<button type="submit" class = "btn btn_descp">Accept employment offer</button>
												</span>
											</form>
											<form (submit)="reject_job_offer(msgForm)" #msgForm = ngForm style="display:inline;">
												<input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
												<input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
												<input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
												<input type="hidden" name="job_offer_id" id="job_offer_id" [(ngModel)]="credentials.job_offer_id"/>
												<span class = "offers_btn">
													<button type="submit" class = "btn btn_descp">Reject employment offer</button>
												</span>
											</form>
										</div>
									</ng-container>
									<ng-template #no_job_offer>
									</ng-template>
									 <form (submit)="send_message(msgForm)" #msgForm = ngForm>
										<div class="wrap">
											<input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
											<input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
											<input type="hidden" name="first_message" id="first_message" [(ngModel)]="first_message"/>
                      <ckeditor [(ngModel)]="credentials.msg_body" #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
                      </ckeditor>
                      <span>
												<button class = "btn btn-send" type="submit" id = "btnClick">
													<i class="fa fa-paper-plane" aria-hidden="true"></i>
													Send
												</button>
												<br>
												<div class="file btn">
													<i class="fa fa-upload" aria-hidden="true"></i>
													Upload
													<input id="aa" #Image type="file" (change) ="upload_file()" name="file" ng-model='file' class = "file-upload"/>
												</div>
											</span>
										</div>
									</form>
								</div>
							</ng-container>
							<ng-template #no_reply>
							</ng-template>
						</div>


					</div><!--end col here-->
				</div>
			<div *ngIf="file_msg!=''" class = "col-md-12" id="my-chat-design" style="display: block;">
				<h4 class="alert error-alert alert-danger pro_alert">
					{{file_msg}}
				</h4>
			</div>
		</div>

</section>
</ng-template>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header model-head">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Offer to interview</h4>
      </div>
      <div class="modal-body">
        <form (submit)="send_interview_message(msgForm)" #msgForm = ngForm style="overflow: hidden;">
          <ng-container *ngIf="interview_log;else no_modal">
			<div class = "model_notif text-center">
				{{interview_log}}
            </div>
		  </ng-container>
		  <ng-template #no_modal>
		  </ng-template>
		  <div class="form-group col-md-6 padd_imp">
		    <p>Date</p>
			<my-date-picker name="mydateinterview" [options]="myDatePickerOptions" [(ngModel)]="credentials.date" required ></my-date-picker>
		  </div>

		  <div class="form-group col-md-6 padd_imp">
		    <p>Time</p>
		    <input type="time" name="time" [(ngModel)]="credentials.time" class="form-control" id="">
		  </div>
		  <div class="form-group col-md-12 padd_imp">
		    <p>Location</p>
		    <input type="text" name="location" [(ngModel)]="credentials.location" class="form-control" id="">
		  </div>
		  <div class="form-group col-md-12 padd_imp">
		    <p>Other details (optional)</p>
        <ckeditor [(ngModel)]="credentials.description" #myckeditor name="html_text" [config]="ckeConfigInterview" debounce="500" >
        </ckeditor>
      </div>

		<div class="form-group col-md-12 padd_imp text-right">
			<button type="submit" [disabled]="!credentials.date || !credentials.time || !credentials.location" class="btn btn-primary model-btn submit">Submit</button>
			<button type="reset" class="btn btn-danger model-btn">Reset</button>
		</div>
		</form>
      </div>
    </div>

  </div>
</div>

<!-- Modal b-->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header model-head">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Offer to employ</h4>
      </div>
      <div class="modal-body">
	    <form (submit)="send_job_message(msgForm)" #msgForm = ngForm>
          <ng-container *ngIf="job_offer_log;else no_modal">
			<div class = "model_notif text-center">
				{{job_offer_log}}
            </div>
		  </ng-container>
		  <ng-template #no_modal>
		  </ng-template>
		  <div class="form-group col-md-12 padd_imp">
		    <p>Job title</p>
		    <input type="text" class="form-control" name="job_title" [(ngModel)]="credentials.job_title" id="">
		  </div>
		  <div class="form-group col-md-8 padd_imp">
		  	<p>Yearly base salary </p>
		    <input type="text" #expect_salary="ngModel"  pattern="^[0-9]*$" required class="form-control" name="base_salary" [(ngModel)]="credentials.base_salary" id="">
			<div class = "form_error" >
				<span class = "error" *ngIf="expect_salary.errors && credentials.base_salary"> Salary should be a number. </span>
			</div>
		  </div>

		  <div class="form-group col-md-4 padd_imp">
		  	<p>Currency </p>
		    <select class="form-control" name="currency" [(ngModel)]="credentials.currency" id="sel1">
			    <option>£ GBP</option>
			    <option>€ EUR</option>
			    <option>$ USD</option>
			 </select>
		  </div>

		  <div class="form-group col-md-6 padd_imp">
		  	<p>Employment type</p>
		   <select class="form-control" name="employment_type" [(ngModel)]="credentials.employment_type" id="sel1">
			    <option>Part Time</option>
			    <option>Full Time</option>
			    <option>Contract</option>
			</select>
		  </div>
		  <div class="form-group col-md-6 padd_imp">
		    <p>Start date</p>
			<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="credentials.start_date" required ></my-date-picker>
		  </div>
		  <div class="form-group">
		    <p>Job description</p>
        <ckeditor [(ngModel)]="credentials.job_description" #myckeditor name="html_text" [config]="ckeConfigInterview" debounce="500" >
        </ckeditor>
		  </div>
		  <div class="form-group">
		    <p>Employment contract</p>
		    <input id="my_aa" #Image type="file" (change)="show_file_name()" accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*" name="image" [(ngModel)]="credentials.employment_contract" class="form-control" />
			<label id="fileLabel">
				<span *ngIf="img_name">{{img_name}}</span>
				<span *ngIf="!img_name">Upload contract file (optional)</span>
			</label>
		  </div>
		  <div class="modal-footer text-right">
			<button type="submit" [disabled]="expect_salary.errors || !credentials.currency || !credentials.job_description || !credentials.employment_type || !credentials.job_title" class="btn btn-primary model-btn submit">Submit</button>
			<button type="reset" class="btn btn-danger model-btn">Reset</button>
		  </div>
		</form>
      </div>
    </div>

  </div>
</div>

<!--Job desc modal-->
<!-- Modal -->
<div id="myModalNew" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header model-head">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Job description</h4>
      </div>
      <div class="modal-body">
		<ng-container *ngIf="new_msgss;else no_job_desc_popup">
			<div class = "dec_model">
				<p>
					<b>Job title:</b>
					<span>{{new_msgss[0].job_title}}</span>
				</p>
				<p>
					<b>Job type:</b>
					<span>{{new_msgss[0].job_type}}</span>
				</p>
				<p>
					<b>Salary:</b>
					<span>{{new_msgss[0].salary}} {{new_msgss[0].salary_currency}}</span>
				</p>
				<div>
					<b>Job description:</b><br>
					<p class="job_decs" [innerHTML]="new_msgss[0].description | safeHtml">
						{{new_msgss[0].description}}
					</p>
				</div>
			</div>
		</ng-container>
		<ng-template #no_job_desc_popup>
		</ng-template>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-primary model-btn submit">Close</button>
		</div>
      </div>
    </div>

  </div>
</div>

<!--Modal to display on page laod-->
<!-- Modal -->
<div id="popModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header mo-head">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h3 *ngIf="this.currentUser.type === 'company'" class="modal-title text-center mo">
          {{companyMsgTitle}}
        </h3>
        <h3 *ngIf="this.currentUser.type === 'candidate'" class="modal-title text-center mo">
          {{candidateMsgTitle}}
        </h3>
      </div>
      <div class="modal-body mo_body">
        <div [innerHTML]="companyMsgContent | safeHtml" *ngIf="this.currentUser.type === 'company'" class = "mo_content" id = "style-6">
          {{companyMsgContent}}
        </div>
        <div [innerHTML]="candidateMsgContent | safeHtml" *ngIf="this.currentUser.type === 'candidate'" class = "mo_content" id = "style-6">
          {{candidateMsgContent}}
        </div>
      </div>
      <div class="modal-footer mo_footer">
        <button type="reset" (click)="update_status()" class="btn btn-mo model-btn" data-dismiss="modal">Got it</button>
      </div>
    </div>

  </div>
</div>
<!-- end model -->

<!--Profile-inner end-->

<div class = "gap">
</div>
