.placeholder
{
	color:#a59999;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: none !important;
}


.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}