<div class="row">
  <div class="col-md-6">
    <h2> <i class="fas fa-smile"></i> We're here to help</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src = "assets/profile/profile-image.png" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "admin-img"/>
    <h4>Antonio Sabado</h4>
    <p>antonio@workonblockchain.com</p>
    <p>+44 7923 521 833</p>
  </div>
  <div class="col-md-6">
    <p>Hi i'm Antonio</p>
    <strong>
      I'm here to help you find work in the blockchain space.
    </strong>
    <br> <br>
    <strong>
      But first i need to make sure your profile looks attractive for companies. To do
      this i need your help to ensure i understand exactly what you offer, and what
      you are looking for.
    </strong>
    <br> <br>
    <p>
      Please take the time to add in as much detail as you can and then let me know
      it is ready!
    </p>
  </div>
</div>
