#sec-comp {
			position: relative;
			margin-top: 120px;
		}
	 .container-lg {
			max-width: 1040px;
			margin: 0 auto;
			padding: 0 20px;
			width: 100%;
		}
		
	#sec-comp header {
			max-width: 450px;
		}
	.common-PageTitle {
			font-weight: 400;
			font-size: 34px;
			line-height: 43px;
			color: #32325d;
		}
	.benefit {
			position: relative;
		}
	.benefit>div {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
		}
	#security .content {
			padding: 60px 0 40px;
		}
			.benefit .content {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			padding: 60px 0;
		}
	.common-UppercaseTitle {
			font-size: 20px;
			line-height: 31px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .025em;
		}
	.benefit .content h2 {
			color: #32325d;
		}
	.benefit .content>:not(:last-child) {
			margin-bottom: 10px;
		}
	.benefit .content>:not(:last-child) {
			margin-bottom: 25px;
		}
	.common-IntroText {
			font-weight: 300;
			font-size: 21px;
			line-height: 31px;
			color: #424770;
		}
	.common-BodyTextMedium {
		font-weight: 400;
		font-size: 19px;
		line-height: 32px;
		color: #525f7f;
	}
	
	#sec-comp .benefit figure {
			position: relative;
		}
	#security figure {
		padding: 40px 0;
	}
	
	#compliance figure::before {
		-webkit-transform: skewY(-7deg);
		transform: skewY(-7deg);
		-webkit-transform-origin: 100% 0;
		transform-origin: 100% 0;
	}
	
	#security figure::before {
		left: 0!important;
		-webkit-transform: skewY(-7deg);
		transform: skewY(-7deg);
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
	}
	
	#sec-comp .benefit figure::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: -20px;
		right: -20px;
		background: #fff;
	}
	
	.lower-page {
		position: relative;
		/*margin-top: 240px;*/
		padding-top: 10px;
	}
	
	.lower-page::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #f6f9fc;
		-webkit-transform: skewY(-7deg);
		transform: skewY(-7deg);
	}

	.first{
		    font-weight: 600;
		    text-transform: uppercase;
		    letter-spacing: .025em;
		    color: #32325d;
		}
	.second{
			font-size: 18px;
		    line-height: 30px;
		    font-weight: 600;
		    text-transform: uppercase;
		    letter-spacing: .025em;
		    color: #32325d;
		    margin-bottom: 20px;
	}

	.common-IntroText {
	    color: #424770;
	    margin-bottom: 10px;
	    font-weight: 300;
	}

	#compliance figure{
			padding: 40px 15px;
		}
							
	
	
	@media (min-width: 1040px){
		#security .content {
			padding-right: 80px;
		}
		#security figure {
			padding-left: 80px;
		}
		
		#compliance .content {
			padding-left: 80px;
		}
	}
	
	@media (min-width: 880px){
		#security .content {
			padding-right: 60px;
		}
		#security figure {
			padding-left: 60px;
		}
		
		#compliance figure {
			padding-left: 60px;
		}
		
		#compliance .content {
			padding-left: 60px;
		}
	}

	@media (min-width: 768px){
		#sec-comp header {
			padding-bottom: 60px;
		}
		.common-PageTitle {
			font-size: 35px;
			line-height: 50px;
			font-family: 'Open Sans', sans-serif;
		    font-weight: bold;
		    position: relative;
		    top: 25px;
		}
		
		.benefit>div {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
		}
		
		#security .content {
			padding: 20px 40px 60px 0;
		}
		
		#compliance .content {
			padding: 40px 0 150px 40px;
		}
		
		.benefit .content, .benefit figure {
			width: 50%;
		}
		.common-UppercaseTitle {
			font-size: 22px;
			line-height: 33px;
		}
		
		.common-IntroText {
			font-size: 18px;
			line-height: 27px;
		}
		
		#security figure {
			padding: 60px 0 120px 40px;
		}
		#compliance figure{
			padding: 50px 30px 60px 40px;
		}
		
		
		
		#compliance figure:before {
			right: 0!important;
		}
		
		#sec-comp .benefit figure:before {
			left: unset;
			right: unset;
			width: 49.4vw;
		}
		
		.lower-page {
			/*margin-top: 300px;*/
		}

	}
	
	@media only screen and (max-width: 768px){
		#security figure:before {
			left: 0!important;
			-webkit-transform: skewY(0deg);
			transform: skewY(0deg);
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
		}
		
		#compliance figure:before {
			left: 0!important;
			-webkit-transform: skewY(0deg);
			transform: skewY(0deg);
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
		}

		.first{
			font-size: 22px;
		    line-height: 33px;
		}
	}