<!--Profile-inner-->

<section class = "wizard_page">	

	<div class="container">
		<div class="row profile_group">
			<div class="col-md-12" *ngFor = "let data of info">
				 <section class = "profile personal_info">

				 	<div class="col-md-6" >
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "name">
				 			<h3 class="text-capitalize">{{data.first_name}} {{data.last_name}} </h3>

				 		</span>
				 		<span class = "short_intro">
				 			<p>{{data.description}}</p>
				 		</span>
				 		
						
						<span class = "short_intro">
						<p><a [routerLink]="['/admin-display-chat']" [queryParams]="{user: user_id , type : data._creator.type}" >Show Chat With Companies</a></p>
				 		</span>
				 		
				 		<span class = "short_intro">
				 			<strong>Date created : </strong><span>{{data._creator.created_date | date : 'dd-MMMM-yyyy'}}</span>
				 		</span>
				 		<span class = "short_intro">
				 		<form #approve_form="ngForm" >
								<input type="hidden" name="type"  [ngModel]="data._creator.type">
								<input type="hidden" name="email"  [ngModel]="data._creator.email">
								<input type="hidden" name="name"  [ngModel]="data.first_name">
								<input type="hidden" name="is_verify" [ngModel]="data._creator.is_verify">
								<input type="hidden" name="id" [ngModel]="data._creator._id">
								<input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 0)' name="is_approve" [ngModel]="1">
								<input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 1)' name="is_approve" [ngModel]="0">
								
								<div class="submit-button">						
									<button type="submit" (click) = "approveClick($event , approve_form)"  class = "btn btn_descp" *ngIf = "(data._creator.is_verify ===1 && data._creator.is_approved === 0)" >Active</button>
									<button type="submit" (click) = "approveClick($event , approve_form)" class = "btn btn_descp" *ngIf = "(data._creator.is_verify ===1 && data._creator.is_approved === 1)" >Inactive</button>
									<button type="submit" class = "btn btn_descp" *ngIf = "data._creator.is_verify ===0" disabled>Active</button>
									
								</div>
							</form>
						</span>

				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>
						<li *ngIf="first_name && last_name">
				 			
					 				<span class = "list-icon span_bg"> <img src="assets/profile/comp.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt" >Refered By: <a [routerLink]="['/admin-candidate-detail']" target="_blank" [queryParams]="{user: data._creator.refered_id }">{{first_name}} {{last_name}}</a>
					 				</span>
				 				
				 			</li>
				 			<!-- <li>
				 				
					 				<span class = "list-icon span_bg"> <img src="assets/profile/comp.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt">{{data.history[0].companyname}}</span>
				 				
				 			</li>

				 			<li>
				 			
					 				<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt">{{data.education[0].degreename}}</span>
				 				
				 			</li>-->

				 			<li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Nationality : {{data.nationality}}</span>
				 				
				 			</li>

				 			<li >
				 			
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt"> Contact Number : {{data.contact_number}}</span>
				 				
				 			</li>
				 		</ul>
				 		
				 	</div>
				 	
				 </section>
				 
				 <section class = "profile job_info">
				
				<div class="col-md-6 info-area">
				 <ng-container *ngIf="verify === 1;else no_verify">
				 	<p>
				 	<strong>Email verified :</strong>
				 	<span>Yes</span>
				 	</p>
				 </ng-container>
				 <ng-template #no_verify>
				 		<p>
				 	<strong>Email verified :</strong>
				 	<span>No</span>
				 	</p>
				 </ng-template>
				 </div>
				 <div class="col-md-6 info-area">
				  <ng-container *ngIf="data.disable_account === false;else no_enable">
				 	<p>
				 	<strong>Account enabled :</strong>
				 	<span>Yes</span>
				 	</p>
				 </ng-container>
				 <ng-template #no_enable>
				 		<p>
				 	<strong>Account enabled :</strong>
				 	<span>No</span>
				 	</p>
				 </ng-template>
				 </div>
				 <div class="col-md-6 info-area">
				 <ng-container *ngIf="is_approved !== '';else no_approve">
				 	<p>
				 	<strong>Approved by admin :</strong>
				 	<span>Yes</span>
				 	</p>
				 </ng-container>
				 <ng-template #no_approve>
				 		<p>
				 	<strong>Approved by admin :</strong>
				 	<span>No</span>
				 	</p>
				 </ng-template>
				</div>
				 	
      				
				 </section>
				
				 <section class = "profile job_info" >
					<h3>About</h3>
					<div class="info-area pro_br-btm" >
						<div class = "col-md-3">
							<strong>Email Address :</strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data._creator.email}}</li>
								
							</ul>
						</div>

				 	</div>
					
					
					<div class="info-area pro_br-btm" *ngIf="data.contact_number">
						<div class = "col-md-3">
							<strong>Contact Number :  </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.contact_number}}</li>
								
							</ul>
						</div>

				 	</div>
					
				 	<div class="info-area pro_br-btm" *ngIf="data.github_account">
						<div class = "col-md-3">
							<strong>Github account URL : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.github_account}}</li>
								
							</ul>
						</div>

				 	</div>


				 	<div class="info-area pro_br-btm" *ngIf="data.stackexchange_account">

						<div class = "col-md-3" >
							<strong>Stackexchange account URL : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.stackexchange_account}}</li>
								
							</ul>
						</div>

				 	</div>

				 
				 	
				 </section>
				 
				 <section class = "profile job_info">
					<h3>Job </h3>
				 	<div class="info-area pro_br-btm">
						<div class = "col-md-3">
							<strong>Desired Location : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let country of data.locations'>{{country}}</li>
								
							</ul>
						</div>

				 	</div>
					
					
				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Desired Position : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let interest_area of data.interest_area;'>{{interest_area}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 		<div class="info-area pro_br-btm" *ngIf="data.roles">

						<div class = "col-md-3" >
							<strong>Roles : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let roles_data of data.roles'>{{roles_data}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm" *ngIf="data.expected_salary">

						<div class = "col-md-3" >
							<strong>Expected salary: </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.expected_salary_currency}} {{data.expected_salary}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Your Availablity : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.availability_day}}</li>
							</ul>
						</div>

				 	</div>

				 
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>BlockChain Experience</h3>

					<div class = "discp info-area pro_br-btm">
						<h4 class = "disc_hd">Why do you want to work on BlockChain?</h4>
						<p>
							{{data.why_work}}
						</p>
					</div>
					

				 	<div class="info-area pro_br-btm" *ngIf="data.commercial_platform">

						<div class = "col-md-4" >
							<strong>Platform commercially worked with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let commercial_platform of data.commercial_platform;'>{{commercial_platform.platform_name}}  : {{commercial_platform.exp_year}} years</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm" *ngIf="data.platforms">

						<div class = "col-md-4" >
							<strong>Platforms designed/developed smart contracts:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of data.platforms;'>{{data.platform_name}}  : {{data.exp_year}} years</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm" *ngIf="data.experimented_platform!=''">

						<div class = "col-md-4" >
							<strong>Platform experimented with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of data.experimented_platform;'>{{data.value}}  </li>
								
							</ul>
						</div>

				 	</div>
				 	

				 	
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Experience</h3>				

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Current Base salary:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>{{data.current_currency}} {{data.current_salary}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Languages:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let lang of data.programming_languages;'>{{lang.language}} : {{lang.exp_year}} years</li>
								
							</ul>
						</div>

				 	</div>

				 	
				 	
				 </section>

				  <section class = "profile job_info">
					<h3>Work History</h3>
					<div class = "company_area" *ngFor='let work of work_history'>
					 	<div class="info-area pro_br-btm">
							<div class = "col-md-4">
								<strong>Company name: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.companyname}}</li>
									
								</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">
					 		<div class = "col-md-4" >
								<strong>Position: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.positionname}}</li>
									
								</ul>
							</div>
					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Start and finish date: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list" *ngIf='work.currentwork == true' >
							<li>{{work.startdate | date : 'MMMM-yyyy'}} ,  till now.</li>
						</ul>
					<ul class = "pro_list" *ngIf='work.currentwork== false ' >
							<li>{{work.startdate | date : 'MMMM-yyyy'}} , {{work.enddate | date : 'MMMM-yyyy'}} </li>
						</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Location: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.locationname}}</li>
								</ul>
							</div>

					 	</div>

					 	<div class = "discp info-area" *ngIf="work.descname">
							<h4 class = "disc_hd">Description:</h4>
							<p>
								{{work.descname}}
							</p>
						</div>

					</div>

				 
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Education</h3>
					
				 	<div class="col-md-12 info-area  pro_br-btm" *ngFor='let edu of education_history'>
				 		<div class = "edu_feild">
							<p>
								<strong>{{edu.uniname}} </strong>
							</p>
							<p>
								<span>{{edu.degreename}} - {{edu.fieldname}}</span>
							</p>
						</div>
						<div class = "edu_date">
							<p>
								<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
								 {{edu.eduyear}}
							</p>
						</div>

				 	</div>

				 		
				 	
				 </section>

			</div> <!--End col-md-9--->

			<!--<div class = "col-md-3">
				<section class = "profile job_info side_rewiew">
					<h3>We are very sorry</h3>
					<p>
						Unfortunately due to work authorization issues we are unable to help you at the moment. If your circumstances changed, please update your profile and resubmit it for review.
					</p>
				<div class = "text-center">
					<button class = "btn btn-success btn-block btn-review">Resubmited of Review</button>
				</div>
				</section>
			</div>-->
		</div>
	</div>

</section>


<!--Profile-inner end-->