<section class = "wob-bg-primary2 py-5 mt-5">
  <div class="container pt-2">
    <form (submit)="update_candidate_profile()" >
      <div class="row">
        <div class="col-md-12">
          <!--about us form-->
          <section class="border rounded bg-white py-3 px-5" id="about">
            <div class="row">
              <div class="col-md-12">
                <h2> <i class="fas fa-user-tie"></i> About</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-6">
                  <app-i-forme-email-address [email_address]="email_address" disabled></app-i-forme-email-address>
              </div>
              <div class="col-md-6">
                  <app-i-forme-first-name [first_name]="first_name"></app-i-forme-first-name>
            </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                  <app-i-forme-last-name [last_name]="last_name"></app-i-forme-last-name>
              </div>
              <div class="col-md-6">
                <app-i-forme-contact-number [contact_number]="contact_number"></app-i-forme-contact-number>
              </div>
            </div>

            <div class = "row">
              <div class="col-md-6">
                <app-i-forme-github-url [github_account]="github_account" ></app-i-forme-github-url>
              </div>
              <div class="col-md-6">
                  <app-i-forme-stackexchange-url [stackexchange_account]="stackexchange_account" ></app-i-forme-stackexchange-url>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
               <app-i-forme-linkedin-url [linkedin_account]="linkedin_account"></app-i-forme-linkedin-url>
              </div>
              <div class="col-md-6">
               <app-i-forme-medium-url [medium_account]="medium_account" ></app-i-forme-medium-url>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <app-i-forme-stackoverflow-url [stackoverflow_url]="stackoverflow_url"></app-i-forme-stackoverflow-url>
              </div>
              <div class="col-md-6">
               <app-i-forme-personal-website-url [personal_website_url]="personal_website_url"></app-i-forme-personal-website-url>
              </div>
            </div>
            <div class = "row">
              <div class="col-md-12">
                <app-i-forme-nationality [nationality]="nationality" ></app-i-forme-nationality>
              </div>
            </div>

            <div class="row" *ngIf="viewBy === 'admin'">
              <div class="col-md-6">
                <app-i-forme-how-hear-about-wob (change)="hearAboutWOBSelect()" [howHearAboutWOB]="how_hear_about_wob"></app-i-forme-how-hear-about-wob>
              </div>
              <div class="col-md-6 mt-2" *ngIf="how_hear_about_wob === 'Other'">
                <app-i-forme-hear-about-wob-other-info [otherInfo]="hear_about_wob_other_info"></app-i-forme-hear-about-wob-other-info>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <app-i-forme-profile-pic [image]="image" ></app-i-forme-profile-pic>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
               <app-i-forme-bio [description]="description" [field_description]="bio_description"></app-i-forme-bio>
              </div>
            </div>
          </section>
          <!--about us form End-->

          <section class="border rounded bg-white mt-4 py-3 px-5" id="residence">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-map-marker-alt"></i> Residence/base location</h2>
              </div>
            </div>
            <div class = "row">
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <p>Where do you currently live, or where are you most frequently based?</p>
                </div>
              </div>
              <div class="col-md-6">
                <app-i-forme-country [country]="country"></app-i-forme-country>
              </div>
              <div class="col-md-6">
                <app-i-forme-city [city]="city"></app-i-forme-city>
              </div>
            </div>
          </section>

          <!--job information form start here-->
          <section class="border rounded bg-white mt-4 py-3 px-5" id="work_preferences">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-briefcase"></i> Work preferences</h2>
              </div>
            </div>

            <!--cand-job-activity starts-->
            <app-i-forme-cand-job-activity *ngIf="allData"
              [jobActivity]="job_activity_value"
              [currentEmploy]="currently_employ"
              [reasonsOfLeaving]="reason_selectedValue"
              [otherReasons]="other_reasons"
              [counterOffer]="counter_offer"
            >
            </app-i-forme-cand-job-activity>
            <!--cand-job-activity ends-->

            <app-i-forme-current-salary [current_currency]="current_currency" [current_salary]="current_salary"></app-i-forme-current-salary>

            <div class="row mt-3">
              <div class="col-md-12">
                <app-i-forme-work-types [work_types]="work_types" (change)="checkWorkType()"></app-i-forme-work-types>
              </div>
            </div>

            <div class="row mt-2" *ngIf="employeeCheck" >
              <div class="col-md-12">
                <h4>Employee</h4>
              </div>
              <app-i-forme-employee [employee]="employee" [errorMsg]="errMsg"></app-i-forme-employee>
            </div>

            <hr *ngIf = "contractorCheck" />
            <div class="row mt-2" *ngIf="contractorCheck" >
              <div class="col-md-12">
                <h4>Contractor</h4>
              </div>
              <app-i-forme-contractor [contractor]="contractor" [errorMsg]="errMsg" ></app-i-forme-contractor>
            </div>

            <hr *ngIf="volunteerCheck" />
            <div class="row mt-2" *ngIf="volunteerCheck" >
              <div class="col-md-12">
                <h4>Volunteer</h4>
              </div>
              <app-i-forme-volunteer [volunteer]="volunteer" [errorMsg]="errMsg" ></app-i-forme-volunteer>
            </div>

          </section>
          <!--job information form end here-->

          <!--resume job form start here-->
          <section class="border rounded bg-white mt-4 py-3 px-5" id="blockchain_experience">
            <div class="row">
              <div class="col-md-6">
                <h2><i class="fab fa-bitcoin"></i> Blockchain experience</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <app-i-forme-why-work [why_work]="why_work"></app-i-forme-why-work>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <app-i-forme-interests [interest_areas]="interest_areas"></app-i-forme-interests>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>Technologies</h4>
              </div>
            </div>

            <app-i-forme-commercial-experience [commercial_platforms]="commercial_platforms" [description_commercial_platforms]="description_commercial_platforms"></app-i-forme-commercial-experience>
            <app-i-forme-experimented-with [experimented_platforms]="experimented_platforms" [description_experimented_platforms]="description_experimented_platforms"></app-i-forme-experimented-with>

            <div class="row">
              <div class="col-md-12">
                <h4>Skills</h4>
              </div>
            </div>

            <app-i-forme-commercial-skills [commercial_skills]="commercial_skills" [description_commercial_skills]="description_commercial_skills"></app-i-forme-commercial-skills>

          </section>
          <!--resume job form end here-->

          <!--experience form start here-->
          <section class="border rounded bg-white mt-4 py-3 px-5" id="experience">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-briefcase"></i> Experience</h2>
              </div>
            </div>
            <app-i-forme-languages [programming_languages]="programming_languages"></app-i-forme-languages>

          </section>
          <!--experience form end here-->

          <section class="border rounded bg-white mt-4 py-3 px-5" id="work_history">
            <app-i-forme-work-history [historyData]="work_history"></app-i-forme-work-history>
          </section>

          <section class="border rounded bg-white mt-4 py-3 px-5 mb-5" id="education_history">
            <app-i-forme-education-history [education_history]="education_history"></app-i-forme-education-history>
          </section>

          <div class = "form-group text-right">
            <a [routerLink]="['/candidate_profile']"  class = "btn btn-secondary text-white mr-2">Cancel</a>
            <app-c-button-normal
              level="primary"
              buttonType="submit"
              label="Save"
            ></app-c-button-normal>
            <br/>
            <div class = "invalid-feedback d-inline mt-2" *ngIf="error_msg">
              {{error_msg}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>


</section>
