<!--candidate step completing-->
<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard">
          <li class="nav-item">
            <a routerLink="/terms-and-condition" class="nav-link">
              <i class="{{active_class}}"></i>
              Terms & Conditions
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{prefill_link}}" class="nav-link btn {{prefill_disable}}">
              <i class="{{term_active_class}}"></i>
              Prefill Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{about_link}}" class="nav-link btn {{about_disable}}">
              <i class="{{about_active_class}}"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{link}}" class="nav-link btn {{job_disable}}">
              <i class="{{job_active_class}}"></i>
              Work
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="{{resume_class}}" class="nav-link btn {{resume_disable}}">
              <i class="{{resume_active_class}}"></i>
              Blockchain
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{exp_class}}" class="nav-link btn {{exp_disable}}">
              <i class="{{exp_active_class}}"></i>
              Experience
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row p-4 border bg-white">
      <form class="needs-validation" novalidate (submit)="terms_and_condition(termForm)" #termForm = ngForm>
        <div class="col-md-12 mb-4">
          <p>
            We want to keep things easy and transparent! That's why we've created this short summary of the important parts of the Terms and Conditions and the Privacy Notice. Please ensure that you understand what you are agreeing to when you create an account.
          </p>
          <h2> <i class="fas fa-question-circle"></i> Who are we</h2>
          <p>
            We are BIOTS Limited. Our company regsitered address is Broad House, The Broadway, Old Hatfield, Herts, United Kingdom, AL9 5BG.
          </p>
          <h2> <i class="fas fa-wrench"></i> What do we do</h2>
          <p>
            We are a on-line recruitment hiring platform whose services include identifying work opportunities for people registered on our Candidate database and presenting those Candidates to our Clients.
          </p>
          <h2> <i class="fas fa-user-circle"></i> What happens when you create an account</h2>
          <p>
            After creating an account we will commence our services and assist you to find a position on the basis set out in these Terms as soon as you complete the process of setting up your account on our platform by giving us all the core information about you that we need. We do not accept all applications to join our platform.
          </p>
          <p>
            If we ask, you will provide us with evidence of your right to work in the countries in which you have indicated you can work.				</p>
          <p>
            You accept that just because you complete a profile, you will not necessarily find employment or customers for your services via our platform.</p>
          <p>
            You agree also that you will inform us if a client makes direct contact with you within one calendar year of making an approach through the platform.
          </p>
          <h2> <i class="fas fa-database"></i> What happens to your data</h2>
          <p>
            We primarily use your data to provide the recruitment service described above. We use several third parties to process data. All information that could identify individuals within the European Union is stored exclusively within the European Union.
          </p>
          <h2> <i class="fas fa-balance-scale"></i> What are your rights</h2>
          <p>
            At any time, you have the right to request the information that we have on your account, or request that we delete your account permanently by emailing us at privacy@workonblockchain.com. We may ask for additional identification to complete this.
          </p>
          <p>Please read the <a  routerLink="/terms-for-candidate" target="_blank" >Candidate terms and conditions</a> and <a  routerLink="/privacy-notice" target="_blank" >Privacy notice</a> for full details.</p>
        </div>
        <div class = "col-md-8">
          <label>
            <input type = "checkbox" value = "" [disabled]="agree" required name="terms" [(ngModel)]="termscondition">
            I have read and accepted the <a  routerLink="/terms-for-candidate" target="_blank" >Candidate terms and conditions </a> and <a  routerLink="/privacy-notice" target="_blank" >Privacy notice</a>.
            <span>
                 <div></div>
               </span>
          </label>
          <label>
            <input type = "checkbox" value = ""  name="marketing" [(ngModel)]="marketing_emails">
            I consent to receive marketing and promotional emails related to the workonblockchain.com platform.
            <span>
                 <div></div>
               </span>
          </label>
          <div class = "invalid-feedback d-inline" *ngIf="termscondition === false">
            {{terms_log}}
          </div>
        </div>
        <input type="hidden" name="termsID" id="termsID" [(ngModel)]="terms_id"/>
        <div class = "col-md-12 text-right">
          <button type="submit" class = "btn btn-primary">Next</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!--candidate step completing End-->
