<!-- addmin editor start here-->

<section class = "wizard_page">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			 <div class = "panel panel-default editor-main">
				<div class="panel-heading editor_header">Jquery texteditor</div>
				<div class="panel-body">
					<!-- WYSIWYG editor inside panel -->
					<div class = "form-group">
						<input type="text" class = "form-control" placeholder="Enter Title here...">
					</div>
					<div class="panel panel-default">
						<div class="panel-heading"><h6 class="panel-title"><i class="icon-pencil"></i> Enter you detail text inside it</h6></div>
						<div class="panel-body">
							<form action="#" role="form">
								<div class="block-inner">
									<textarea class="editor" placeholder="Enter text ..."></textarea>
								</div>
								<div class="form-actions text-right">
									<button type="submit" class="btn btn-danger model-btn">Cancel</button>
									<button type="submit" class="btn btn-primary model-btn">Submit</button>
								</div>
							</form>
						</div>
					</div>
				<!-- /WYSIWYG editor inside panel -->
				</div>
			  </div>
			</div>
		</div>
	</div>
</section>


<!-- addmin editor End here-->