<section class = "wob-bg-primary2 py-5 mt-5" >
  <div class="container bg-white py-4 px-5 ">
    <div class="row" >
      <div class="col-md-12" >
        <h3 class="text-center">
          Please verify your email
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <L0-alerts alertClass="alert-success" aligmentClass="mt-3" alertMsg="You have been sent a verification code to your email. Please click the link in the email." ></L0-alerts>

        <p>
          Check your spam folder. If you can't find the email please click <a (click)="verify_client()" class="text-primary"><u>here</u></a> to resend. Your email code will expire in 30 minutes.
        </p>
        <L0-alerts alertClass="alert-success" *ngIf="success_msg" aligmentClass="mt-3" [alertMsg]="success_msg" ></L0-alerts>
        <L0-alerts alertClass="alert-danger" *ngIf="error_msg" aligmentClass="mt-3" [alertMsg]="error_msg" ></L0-alerts>

      </div>
    </div>
  </div>
</section>

