<ul class="list-group list-group-flush float-right">
  <li *ngIf="viewBy === 'admin' && referredName !== ''" class="list-group-item list-without-underline">
    <ng-container *ngIf="referredLink ; else noLink">
      <span><i class="fas fa-user mr-2"></i></span>
      <span>Refered By:
        <a [routerLink]="[detailLink]" target="_blank" [queryParams]="{user: referredLink }">{{referredName}}</a>
      </span>
    </ng-container>
    <ng-template #noLink>
      <span><i class="fas fa-user mr-2"></i></span>
      <span> Refered By: {{referredName}} </span>
    </ng-template>
  </li>
  <li class="list-group-item">
    <span><i class="fas fa-flag mr-2"></i></span>
    <span *ngFor="let nation of nationality;let i = index" [ngClass]="i !== 0? 'ml-4': ''">{{nation}}<br *ngIf="i < nationality.length"/></span>
  </li>
  <li class="list-group-item">
    <span><i class="fas fa-phone mr-2"></i></span>
    <span>{{contactNumber}}</span>
  </li>
  <li class="list-group-item">
    <span><i class="fas fa-map-marker-alt mr-2"></i></span>
    <span >{{baseCity}}</span>
  </li>
  <li class="list-group-item" *ngIf="viewBy === 'admin' || viewBy === 'candidate'">
    <span><i class="fas fa-user mr-2"></i></span>Status:
    <span *ngIf="candidateStatus.status === 'created'">Created</span>
    <span *ngIf="candidateStatus.status === 'other'">Other</span>
    <span *ngIf="candidateStatus.status === 'wizard'">Wizard</span>
    <span *ngIf="candidateStatus.status === 'wizard completed'">Wizard</span>
    <span *ngIf="candidateStatus.status === 'approved'">Approved</span>
    <span *ngIf="candidateStatus.status === 'reviewed' || candidateStatus.status === 'updated by admin'">Being reviewed</span>
    <span *ngIf="candidateStatus.status === 'updated'">Pending review</span>
    <span *ngIf="candidateStatus.status === 'rejected'">Rejected</span>
    <span *ngIf="candidateStatus.status === 'deferred'">Deferred</span>
  </li>
  <li class="list-group-item" *ngIf="viewBy === 'admin' || viewBy === 'candidate'">
    <span><i class="fas fa-calendar mr-2"></i></span>
    <span>Created: {{createdDate | date : 'dd'}} {{createdDate | date : 'MMMM'}} {{createdDate | date : 'yyyy'}}</span>
  </li>
</ul>
