<!--candidate step completing-->

<section class = "wizard_page">
  
  <div class="container">
    <div class="row">
      <div class = "text-center steps-name">

         <ul class = "step-progress">
         <li class = "step"><i class="{{term_active_class}}"></i><a routerLink="{{term_link}}"> Terms & Conditions</a></li>        
          <li class = "step"><i class="{{about_active_class}}"></i><a routerLink="/about"> About</a></li>
          <li class = "step step-active"><i class="{{active_class}}"></i><a routerLink="/job">Jobs</a></li>
          <li class = "step"><i class="{{resume_active_class}}"></i><a routerLink="{{resume_class}}" class="btn {{resume_disable}}">Blockchain</a></li>
          <li class = "step"><i class="{{exp_active_class}}"></i><a routerLink="{{exp_class}}" class="btn {{exp_disable}}" >Experience</a></li>
          
        </ul>
      </div>
      <div class="col-md-12 wizard-form">

        <form class = "login_form"  #f="ngForm" (ngSubmit)="onSubmit(f)">
          
          <fieldset class="scheduler-border">
              <legend class="scheduler-border">Tell us more about your dream job</legend>
            <div class="container collection">
              <div>
                <label>  <p  class = "label-p">Where are you available to work?</p></label>
                
                <div class="answer"  >
                  
                  <div class = "row"  >  

                    <div class="col-md-3 collection-checkbox" *ngFor="let option of options">
                      <span class = "checkbox-header"> <!--<strong>{{country.value}}</strong>--></span>
                      <div class="checkbox" >
                       <!--<div *ngIf=" country.id === option.country_code ">-->
                        <label class = "check-label lable"> {{option.name}}
                          
                          <input type="checkbox" name="options" value="{{option.value}}"  [checked]="option.checked"   (change)="updateCheckedOptions($event)" />
                          <span class="checkmark">
                            <div></div>
                          </span>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]='selectedcountry' name="country" style="display: none;">
                        <!--</div>-->
                      </div>

                      

                    </div>
					
                    
                  </div>
                </div>

                </div>
              </div>
             
              <div class = "form_error" *ngIf="selectedcountry.length<=0">
								<span class = "error">{{country_log}}</span>
							</div>
              <hr>

                      <div class="">
            <div class="container collection">
              <div>
                 <label> <p  class = "label-p">What role are you looking for?</p></label>
                
                <div class="answer">
                  <div class = "row" >

                    <div class="col-md-3 collection-checkbox" *ngFor="let position_option of dropdown_options">
                      
                      <div class="checkbox">
                        <label class = "check-label lable"> {{position_option.name}}
                          <input type="checkbox" name="options" [checked]="position_option.checked" value="{{position_option.value}}" (change)="onJobSelected($event)" required="" />
                          <span class="checkmark">
                            <div></div>
                          </span>
                        </label>
                         <input type="text" class="form-control" [(ngModel)]='jobselected' name="roles" style="display: none;">
                        
                         
                      </div>

                      

                    </div>

                  </div>
                </div>

                </div>
              </div>
          </div>
           
           
           <div class = "form_error" *ngIf="jobselected.length<=0">
								<span class = "error">{{roles_log}}</span>
							</div>
              <div class = "form-group col-md-12 salary_class">
              
              <div class="form-group col-md-6 col-left">
                <label><p  class = "label-p">Yearly expected base salary</p></label>
                       <input type="number" class="form-control" id="" required name="expected_salary" placeholder=" 2000" [(ngModel)]="salary">
          		
          			<div class = "form_error" *ngIf="!salary">
								<span class = "error">{{salary_log}}</span>
							</div>
            </div>
              <div class="form-group col-md-6 setting-top">
              <label><p class = "label-p"></p></label>
             <select [(ngModel)]="base_currency" class="form-control" id="currency" required name="base_currency" >
                   <option value="-1" disabled selected hidden >Please choose currency</option>
                  
                  <option class='option' *ngFor='let base_currency of currency'  [value]="base_currency" selected>{{base_currency}}</option>
              
                </select>
                
                
                <div class = "form_error" *ngIf="base_currency ==-1">
								<span class = "error">{{currency_log}}</span>
							</div>
            </div>
            </div>
            
      
           <div class = "form-group col-md-12 salary_class">
           <div class="form-group col-md-6 col-left">
					<label><p  class = "label-p">Current Base salary</p></label>
                       <input type="number" #esalary="ngModel" class="form-control" id="" placeholder="2000" #salary_field name="current_salary"  [(ngModel)]="current_salary">
               
        
					<div class = "form_error" *ngIf="!current_salary ">
						<span class = "error">{{current_sal_log}}</span>
					</div> 
			</div>
            <div class="form-group col-md-6 setting-top">
              <label><p class = "label-p"></p></label>
            <select [(ngModel)]="current_currency" class="form-control" id="currency"  required name="current_currency" >
                   <option value="-1" disabled selected hidden >Please choose currency</option>
                
                  <option class='option' *ngFor='let current_currency of currency' #choose_currency [value]="current_currency" selected>{{current_currency}}</option>
              
                </select>
                
                
                <div class = "form_error" *ngIf="current_currency==-1 ">
                <span class = "error">{{current_currency_log}}</span>
              </div> 
            </div>
            </div>
                  <hr>

            <div class="form-group col-md-12 area_interest">
            <div class="container collection">
              <div>
               <label>   <p  class = "label-p">Which area are you interested in?</p></label>
                
                <div class="answer">
                  <div class = "row" >

                    <div class="col-md-4 collection-checkbox" *ngFor='let position_option of area_interested' >
                      
                      <div class="checkbox">
                        <label class = "check-label lable"> {{position_option.name}}
                          <input type="checkbox" name="options" [checked]="position_option.checked" value="{{position_option.value}}" (change)="onAreaSelected($event)" required="" />
                          <span class="checkmark">
                            <div></div>
                          </span>
                        </label>
                         <input type="text" class="form-control" [(ngModel)]='selectedValue' name="interest_area" style="display: none;">
                        
                         
                      </div>

                      

                    </div>

                  </div>
                </div>

					<div class = "form_error" *ngIf="selectedValue.length <=0">
								<span class = "error">{{interest_log}}</span>
							</div>
                </div>
              </div>
          </div>
          
              <hr>

              <!--<div class="form-group col-md-6">
                <label><p class = "label-p  ">Which area are you interested in?</p></label>
                <select class='form-control'  id="sel1" required name="interest_area" [(ngModel)]='selectedValue' (change)='onAreaSelected($event)' required="">
              
              <option class='option' *ngFor='let position_option of area_interested'  [value]="position_option" selected>{{position_option}}</option></select>
            </div>-->

            
            
    

            

            <div class="form-group col-md-4">
              <label><p class = "label-p">Employment availability</p></label>
                
                 <select [(ngModel)]="availability_day" class="form-control" id="month" required name="availability_day" >
                  <option class='option' *ngFor='let start_month of month'  [value]="start_month" selected>{{start_month}}</option>
              
                </select>
                
                <div class = "form_error" *ngIf="!availability_day">
								<span class = "error">{{avail_log}}</span>
							</div>
            </div>

            <!--<div class="form-group col-md-4 setting-top">
              <label><p></p></label>
               
                <select [(ngModel)]="availability_year" class="form-control" id="year" required name="availability_year"   >
                  <option class='option' *ngFor='let start_year of year'  [value]="start_year" selected>{{start_year}}</option>
                  <br/>
                </select>
            </div>-->

          </fieldset>

          <div class = "form-group text-right">
              <a routerLink="/about" class = "btn btn-prev">Prev Step</a>
              
              <button type=submit class = "btn btn-self btn-pdg">Next Step</button>

          </div>

        </form>
        
      </div>
    </div>
  </div>

</section>


<!--candidate step completing End-->

<div class = "gap">
</div>