<!-- <form class = "login_form"  (submit)="about()" #aboutForm = ngForm>
<div class="editor block">
		<app-ngx-editor [config]="editorConfig" [spellcheck]="true" name="html_content" [(ngModel)]="htmlContent"></app-ngx-editor>
	</div>				<button type="submit" class = "btn btn-self btn-pdg"  >Save</button>
				
				 </form>
				 <div [innerHTML]="content | safeHtml " *ngIf="content"></div>
				  
				 <br/><br/><br/>-->
				 <section class = "wizard_page">
		<div class="container">
		<div class="row">
			<div class="col-md-12">
				 <form class = "login_form"  (submit)="editor(editorForm)" #editorForm = ngForm >
				  <div class="alert alert-info pro_alert alert-dismissible" *ngIf = "message ">
    {{message}}    
 </div>
				 
					    	<label><p class = "label-p">Page Title</p></label>
						    <input type="text" class="form-control" id="" placeholder="Enter page title" name="page_title" [(ngModel)]="page_title" >
							
					<br/>
				 <div>
				 <label><p class = "label-p">Page Content </p></label>
					<ckeditor [(ngModel)]="editor_content"  #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
					</ckeditor>
				</div><br/>
			 <input type="text" class="form-control" style="display:none;" name="page_name" [(ngModel)]="page_name" >
				
				<button type="submit" class = "btn btn-self btn-pdg" >Save</button>
				<div class="alert alert-success pro_alert alert-dismissible" *ngIf = "success">
    				{{success}}    
 			</div>
 			
 			<div class="alert alert-error pro_alert alert-dismissible" *ngIf = "error">
    				{{error}}    
 			</div>
 			
			</form>
			</div>
			</div>
			</div>
			
			</section>
			
			<!-- <div [innerHTML]="editor_text | safeHtml " *ngIf="editor_text"></div>-->