<div class="form-group">
  <label *ngIf="label">{{label}}</label>
  <div class="row">
    <div class="{{column}}" *ngFor="let opt of options">
      <i class="{{opt.iconClass}}" *ngIf="opt.iconClass"></i><br *ngIf="opt.iconClass" />
      <div class="form-check" >
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [checked]= "opt.checked" [value]="opt.value" (change)="selectedValues($event)" />
          {{opt.name}}
        </label>
      </div>
    </div>
  </div>

  <div class = "invalid-feedback d-inline" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
</div>

