<!--<div *ngIf="selectedLocations && selectedLocations.length > 0">-->
  <!--<div class="row">-->
    <!--<div  *ngFor="let value of selectedLocations; let i = index" class="col-md-6 p-2 mt-2">-->
      <!--<div class="border px-1 py-3 ml-2 row">-->
        <!--<div class = "col-8">-->
          <!--<label >{{value.name}}</label>-->
        <!--</div>-->
        <!--<div class = "col-4 text-right">-->
          <!--<a (click)="deleteLocationRow(i)" class = "btn btn-secondary px-2 pb-1 text-white rounded p-0 font-weight-bold">x</a>-->
        <!--</div>-->
        <!--<div class="col-12">-->
          <!--<div class="form-check" *ngIf="value.name !== 'Remote'">-->
            <!--<label class="form-check-label">-->
              <!--<input class="form-check-input" type="checkbox" [checked]="value.visa_needed" (change)="updateCitiesOptions($event)" > Work visa required-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

