<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Experimented with</label>
      <ul>
        <li>Technologies you have used or tested</li>
        <li>E.g. sending some Zcash to an exchange, or reading the white paper</li>
      </ul>
    </div>
    <app-c-forme-checkbox
      [options]="experimented"
      (selectedItem)="experimented_platforms = $event"
      column="col-md-3 mb-3"
      [value]="experimented_platforms"
      icon="blockchain"
    ></app-c-forme-checkbox>
  </div>
</div>
<!-- description for experimented with -->
<div class="row" *ngIf="experimented_platforms?.length > 0">
  <div class="col-md-12">
    <app-c-forme-text-area
      rows="5"
      placeholder="I have used Bitcoin and Zcash to send money to some friends and family. I used several exchanges. I use the Luno wallet."
      maxLength="3000"
      label="Description of experimentation (optional)"
      [value]="description_experimented_platforms"
      [errorMsg]="errMsg"
      (textareaInput)="description_experimented_platforms = $event"
      (change)="selfValidate()"
    ></app-c-forme-text-area>
  </div>
</div>
