<section class="bg-light p-5">
  <div class="container border p-3 bg-white">
    <div class="row">
      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-company-search" >
          <div class = "text-center">
            <i class="fas fa-user fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            Company Search
          </div>
        </a>
      </div>
      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-candidate-search" >
          <div class = "text-center">
            <i class="fas fa-user fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            Candidate Search
          </div>
        </a>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-privacy-notice-editor" >
          <div class = "text-center">
            <i class="fas fa-file fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            Privacy Page
          </div>
        </a>
      </div>

      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-faq-editor" >
          <div class = "text-center">
            <i class="fas fa-file fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            FAQ Page
          </div>
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-terms-and-condition-editor" >
          <div class = "text-center">
            <i class="fas fa-list-alt fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            Terms & Conditions Pages
          </div>
        </a>
      </div>

      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-welcome-msg-editor" >
          <div class = "text-center">
            <i class="fas fa-home fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            Welcome Popup Message
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 p-5 border-right border-bottom">
        <a routerLink="/admin-chat-popup-editor" >
          <div class = "text-center">
            <i class="fas fa-home fa-3x mb-3"></i>
          </div>
          <div class = "text-center text-secondary">
            Chat Popup Message
          </div>
        </a>
      </div>

    </div>
  </div>

</section>
