<section class="wob-bg-primary2 py-5 mt-5">
  <div class="container ">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-9 border p-3 bg-white">
        <div class="row">
          <div class="col-md-6 p-5 border-right border-bottom">
            <L1-dashboard linkText="Company Search" routeLink="/admin-company-search" iconClass="fas fa-landmark fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5 border-bottom">
            <L1-dashboard linkText="Candidate Search" routeLink="/admin-candidate-search" iconClass="fas fa-user-tie fa-3x mb-3"></L1-dashboard>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-5 border-right border-bottom">
            <L1-dashboard linkText="Privacy Page" routeLink="/admins/pages/privacy-notice/edit" iconClass="fas fa-file fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5 border-bottom">
            <L1-dashboard linkText="FAQ Page" routeLink="/admins/pages/faq/edit" iconClass="fas fa-file fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5 border-right border-bottom">
            <L1-dashboard linkText="Terms & Condition page for candidate" routeLink="/admins/pages/candidate-terms/edit" iconClass="fas fa-file fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5 border-right border-bottom">
            <L1-dashboard linkText="Terms & Condition page for Company" routeLink="/admins/pages/company-terms/edit" iconClass="fas fa-file fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5  border-bottom">
            <L1-dashboard linkText="Candidate Welcome Popup Message" routeLink="/admins/pages/candidate-popup-message/edit" iconClass="fas fa-american-sign-language-interpreting fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5  border-bottom">
            <L1-dashboard linkText="Company Welcome Popup Message" routeLink="/admins/pages/company-popup-message/edit" iconClass="fas fa-american-sign-language-interpreting fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5 border-right border-bottom">
            <L1-dashboard linkText="Candidate Chat Popup Message" routeLink="/admins/pages/candidate-chat-popup-message/edit" iconClass="fas fa-comment-dots fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5 border-right border-bottom">
            <L1-dashboard linkText="Company Chat Popup Message" routeLink="/admins/pages/company-chat-popup-message/edit" iconClass="fas fa-comment-dots fa-3x mb-3"></L1-dashboard>
          </div>
          <div class="col-md-6 p-5  border-bottom">
            <a routerLink="/admin-email-template-editor" >
              <div class = "text-center">
                <i class="fas fa-envelope-open-text fa-3x mb-3"></i>
              </div>
              <div class = "text-center text-secondary">
                Email templates
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
