<section class = "wob-bg-primary2 mt-5">
  <div class="container pt-2">
    <div class = "row">
      <div class="col-md-12 wob-bg-primary1 p-4 ">

      </div>
    </div>

    <div class="row mt-2">
      <div class = "col-md-12 p-0">
        <div class = "row">
          <div class = "col-md-3 ">
            <div class="wob-bg-primary2 p-2 border">
              <h4 class="filter_heading pt-2 px-2 mb-0"><i class="fas fa-search"></i> Saved searches</h4>
              <input type="text" [(ngModel)]="_id" name="_id"  class="form-control d-none">
              <input type="text" [(ngModel)]="timestamp"  name = "timestamp"  class="form-control d-none">
              <input type="text" [(ngModel)]="pref_job_type" name="pref_job_type"  class="form-control d-none">
              <input type="text" [(ngModel)]="other_technologies" name="other_technologies"  class="form-control d-none">

              <div class = "form-group mt-3">
                <select title="Saved search" [disabled]="msg !== '' ? true : false" [(ngModel)]="saveSearchName" name="searchName" (ngModelChange)="searchdata('searchName', $event)" class="selectpicker form-control">
                  <option *ngFor = "let name of searchName" [value]="name" [attr.selected]="name === saveSearchName?true:null">{{name}}</option>
                </select>
              </div>
            </div>

            <div class="wob-bg-primary2 p-2 border mt-2">
              <h4 class="filter_heading p-2 mb-3"><i class="fas fa-user" aria-hidden="true"></i> Talent requirements</h4>

              <div class="form-group px-1">
                <div class="form-check" *ngFor="let types of workTypes">
                  <input class="form-check-input" type="radio" name="types" [checked]="types.checked" [(ngModel)]="selectedWorkType" value="{{types.value}}" (ngModelChange)="searchdata('type', $event)">
                  <label class="form-check-label simple-radio-button" >
                    {{types.name}}
                  </label>
                </div>

              </div>

              <div class="form-group">
                <select title="Skills" [disabled]="msg !== '' ? true : false" [(ngModel)]="skill_value" name="skills" (ngModelChange)="searchdata('skill', $event)" class="selectpicker form-control" placeholder="Skills" multiple data-live-search="true">
                  <option *ngFor = "let skill of skillsData" [value]="skill.value">{{skill.name}}</option>
                </select>
              </div>
              <hr/>

              <div class="form-group">

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let loc of cities" [value]="loc.name">
                    <span>{{ loc.name }}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-form-field floatLabel="always">
                  <mat-label></mat-label>
                  <input matInput placeholder="Location" [matAutocomplete]="auto" [disabled]="msg !== '' ? true : false" [(ngModel)]="countriesModel" name="country" (input)="suggestedOptions()" (ngModelChange)="selectedValueFunction($event)">
                </mat-form-field>

                <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                  {{error}}
                </div>

                <div *ngIf="selectedValueArray.length > 0">
                  <span class="badge badge-pill badge-primary mr-1" *ngFor="let value of selectedValueArray; let i = index">{{value.name}} <a (click)="deleteLocationRow(i)"><i class="fas fa-times text-white"></i></a></span>
                </div>
              </div>
              <hr/>

              <div class = "form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [disabled]="msg !== '' ? true : false" [(ngModel)]="visa_check" id="check"  name="visa_needed" (ngModelChange)="searchdata('visa', $event)">
                  <label class="form-check-label" for="defaultCheck1">
                    Only show candidates that require a work visa
                  </label>
                </div>
              </div>
              <hr/>
              <div class = "form-group">
                <select title="Role" [disabled]="msg !== '' ? true : false" [(ngModel)]="role_value" name="roles" (ngModelChange)="searchdata('role', $event)" class="selectpicker form-control" multiple data-live-search="true">
                  <option *ngFor = "let role of rolesData" [value]="role.value">{{role.name}}</option>
                </select>
              </div>
              <hr/>
              <div class = "form-group">
                <select title="Commercial blockchain experience" [disabled]="msg !== '' ? true : false" [(ngModel)]="blockchain_value" name="blockchains" (ngModelChange)="searchdata('blockchain', $event)" class="selectpicker form-control" multiple data-live-search="true">
                  <option *ngFor = "let blockchain of blockchainData" [value]="blockchain.value">{{blockchain.name}}</option>
                </select>
                <small class="ml-3 text-secondary" >Only select this if essential for the job</small>

              </div>
              <hr/>

              <div class="form-group">
                <select class="form-control selectpicker" title="Residence country" [disabled]="msg !== '' ? true : false"  [(ngModel)]="residence_country" name="residence_country" (ngModelChange)="searchdata('residence', $event)" multiple data-live-search="true" >
                  <option *ngFor='let country of residenceCountries'  [value]="country.value" >{{country.name}}</option>
                </select>
                <div class="invalid-feedback d-inline" *ngIf="residence_country && residence_country.length > 50">
                  {{residence_log}}
                </div>

              </div>

              <div class = "form-group" *ngIf="selectedWorkType === 'employee'">

                <input type="number" [disabled]="msg !== '' ? true : false"  class="form-control w-50 float-left" [(ngModel)]="salary" name="salary" (ngModelChange)="searchdata('salary' , $event)" placeholder="Annual salary">

                <select title="Currency" [disabled]="msg !== '' ? true : false" class="selectpicker form-control w-50 position-relative" [(ngModel)]="currencyChange" name="currency" (ngModelChange)="searchdata('currency' , $event)">
                  <option value="-1" >Currency</option>
                  <option *ngFor='let current_currency of currency' [attr.selected] = "currencyChange === current_currency ? true : null" >{{current_currency}}</option>
                </select>

              </div>

              <div class = "form-group" *ngIf="selectedWorkType === 'contractor'">

                <input type="number" [disabled]="msg !== '' ? true : false"  class="form-control w-50 float-left" [(ngModel)]="hourly_rate" name="hourly_rate" (ngModelChange)="searchdata('hourly_rate' , $event)" placeholder="Hourly rate">

                <select title="Currency" [disabled]="msg !== '' ? true : false" class="selectpicker form-control w-50 position-relative" [(ngModel)]="contractorCurrency" name="contractorCurrency" (ngModelChange)="searchdata('contractorCurrency' , $event)">
                  <option *ngFor='let current_currency of currency' [attr.selected] = "contractorCurrency === current_currency ? true : null" >{{current_currency}}</option>
                </select>

              </div>

            </div>

            <div class="wob-bg-primary2 p-2 border mt-2">
              <h4 class="filter_heading pt-2 px-2 mb-0"><i class="fas fa-align-justify"></i> Talent preferences</h4>
              <small class="text-center ml-1" >This will determine the order of the candidates but not filter any candidates</small>
              <div class = "form-group mt-3">
                <select title="Commercial blockchain experience" [disabled]="msg !== '' ? true : false" [(ngModel)]="blockchain_order" name="blockchainsOrder" (ngModelChange)="searchdata('blockchainOrder', $event)" class="selectpicker form-control" multiple data-live-search="true">
                  <option *ngFor = "let blockchain of blockchainData" [value]="blockchain.value">{{blockchain.name}}</option>
                </select>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-8">
                <button  type="button" (click)="savedSearch()" [disabled]="msg !== '' ? true : false" class="btn btn-primary w-100">Save search</button>
              </div>
              <div class="col-md-4">
                <button (click)="reset()" type="button" [disabled]="msg !== '' ? true : false" class="btn btn-secondary w-100">Reset</button>
              </div>
              <div class="col-md-12 text-success mt-1" *ngIf="success_msg && success_msg !== '';else errorMsg" >
                {{success_msg}}
              </div>
              <div class="col-md-12 invalid-feedback d-inline mt-1" #errorMsg *ngIf="error_msg && error_msg !== ''" >
                {{error_msg}}
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12">
                <button  type="button" data-toggle="modal" data-target="#saveNewSearch" [disabled]="msg !== '' ? true : false" class="btn btn-primary w-100">Save new search</button>
              </div>
            </div>

          </div>

          <ng-container *ngIf="responseMsg === '' ; else candidateInfo"  >
            <div class="col-md-9 text-center" >
              <img src="/assets/profile/Loading_icon.gif" alt="Loading Gif" class="loading-image">
            </div>

          </ng-container>
          <ng-template  #candidateInfo>

            <div class="col-md-9">
              <p *ngIf="msg!='' " class="alert alert-danger error-alert">{{msg}}</p>

              <div  *ngIf="msg === '' && verify_msg === ''">
                <div *ngIf="searchData === true && candidate_data && candidate_data.length > 0" class="alert alert-info mt-1" role="alert">
                  <span>{{candidate_data.length}}</span> candidates match your search
                </div>
                <div *ngIf="not_found !== '' " class="alert alert-danger mt-1" role="alert">
                  <span>{{not_found}}</span>
                </div>
              </div>
              <div *ngIf="candidate_data && candidate_data.length > 0 ">
                <div class="panel-group" *ngFor= "let data of pagedItems ">
                  <div class="panel panel-default border mb-3 bg-white" >
                    <div class="row m-0 wob-bg-primary2 py-4">

                      <div class="col-md-9">

                        <ng-container *ngIf="data.initials;else company_logo_top">
                          <img style="width: 60px;height: 55px;" class="rounded-circle float-left mr-2" src="/assets/profile/profile-image.png" alt="">
                        </ng-container>
                        <ng-template #company_logo_top>
                          <img style="width: 60px;height: 55px;" class="rounded-circle float-left mr-2" *ngIf="data.image" src="{{data.image}}" alt="">
                          <img style="width: 60px;height: 55px;" class="rounded-circle float-left mr-2" *ngIf="!data.image" src="/assets/profile/profile-image.png" alt="">
                        </ng-template>
                        <div class="ml-4">

                          <a  [routerLink]="['/candidate-detail']"  [queryParams]="{user: data._id }" *ngIf="data.initials"><h2 class="">{{data.initials}}</h2></a>
                          <a  [routerLink]="['/candidate-detail']"  [queryParams]="{user: data._id }" *ngIf="data.first_name"><h2 class="">{{data.first_name[0].toUpperCase() + data.first_name.slice(1)}} </h2></a>

                          <!--<h5 class="ml-5">
                            <span class="badge badge-pill badge-dark mr-1" *ngFor= "let roles of data.candidate.roles"> {{roles}} </span>
                          </h5>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <form #abc_form="ngForm" (ngSubmit)="onSubmit(abc_form.value)">
                          <input type="hidden" name="id" [ngModel]="data._id">
                          <input type="hidden" name="name" [ngModel]="data.initials">
                          <div class="float-right">
                            <button type="submit" class = "btn btn-primary" data-toggle="modal" data-target="#approachModal" ><i class="fa fa-paper-plane"></i> Approach</button>
                          </div>
                        </form>
                      </div>

                    </div>
                    <div class = "col-md-12 m-0 p-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <span ><i>{{data.candidate.why_work}}</i></span>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="data.candidate.programming_languages && data.candidate.programming_languages.length>0">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label><h4>Bio</h4></label>
                            <pre>{{data.candidate.description}}</pre>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label><h4>Languages</h4></label>
                            <div>
                              <div class="d-inline-block p-2 border rounded mr-2 mt-2" *ngFor = 'let lang of sorting(data.candidate.programming_languages)'>{{lang.language}}: {{lang.exp_year}} years </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>
              </div>
              <nav aria-label="Page navigation example" *ngIf="candidate_data && candidate_data.length > 10" >
                <ul class="pagination nav justify-content-center mb-4">
                  <li class="page-item" >
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li class="page-item" >
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                </ul>
              </nav>

            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="approachModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title mx-auto" id="exampleModalLabel"><i class="fa fa-paper-plane"></i> Approach</h5>
        </div>
        <div class="modal-body">
          <form (submit)="send_job_offer(msgForm)" #msgForm = ngForm>
            <ng-container *ngIf="job_offer_log;else no_modal">
            </ng-container>
            <ng-template #no_modal>
            </ng-template>
            <div class="row">
              <div class="col-md-4" *ngFor="let types of workTypes">
                <div class="form-group">
                  <div class="form-check" >
                    <label class="form-check-label simple-radio-button" >
                      <input class="form-check-input" type="radio" name="work_type" [(ngModel)]="approach_work_type" value="{{types.value}}" (change)="changeWorkTypes()" >
                      {{types.name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="approach_work_type === 'employee'">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom1">Job title</label>
                  <input type="text" id="validationCustom1" required name="job_title" [(ngModel)]="employee.job_title" class="form-control" placeholder="Director">
                  <div class = "invalid-feedback d-inline"  *ngIf="job_title_log">
                    {{job_title_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Location</label>
                  <input type="text" id="validationCustom02" name="location" [(ngModel)]="employee.location" class="form-control" placeholder="London">
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.location">
                    {{location_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustomSalary">Annual salary</label>
                  <input type="text" id="validationCustomSalary" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="salary" [(ngModel)]="employee.salary" class="form-control" placeholder="">
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.salary || (employee.salary && !checkNumber(employee.salary))">
                    {{salary_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02" class="invisible">Currency</label>
                  <select title="Currency" name="currency" [(ngModel)]="employee.currency" class="selectpicker form-control">
                    <option *ngFor='let base_currency of currency' [value]="base_currency" [attr.selected]="base_currency === employee.currency? true: null">{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.currency">
                    {{salary_currency_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="validationCustom02">Employment type</label>
                  <div class="form-check" *ngFor="let options of job_type">
                    <input type="radio" id="{{options}}" class="form-check-input" name="optradio"  [(ngModel)]="employee.job_type" [value]="options">
                    <label class="form-check-label simple-radio-button" for="{{options}}">
                      {{options}}
                    </label>
                  </div>
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.job_type">
                    {{employment_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Employment description</label>
                  <ckeditor class="ckeditor_tab" [(ngModel)]="employee.job_desc" #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.job_desc">
                    {{job_desc_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="approach_work_type === 'contractor'">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustomSalary">Hourly rate</label>
                  <input type="text" id="validationCustomSalary" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="hourly_rate" [(ngModel)]="contractor.hourly_rate" class="form-control" placeholder="">
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.hourly_rate || (contractor.hourly_rate && !checkNumber(contractor.hourly_rate))">
                    {{hourly_rate_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02" class="invisible">Currency</label>
                  <select title="Currency" name="currency" [(ngModel)]="contractor.currency" class="selectpicker form-control">
                    <option *ngFor='let base_currency of currency' [value]="base_currency" [attr.selected]="base_currency === contractor.currency">{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.currency">
                    {{hourly_currency_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Location</label>
                  <input type="text" id="validationCustom02" name="location" [(ngModel)]="contractor.location" class="form-control" placeholder="London">
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.location">
                    {{contractor_location_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Contract description</label>
                  <ckeditor class="ckeditor_tab" [(ngModel)]="contractor.contract_description" #myckeditor name="contract_description" [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.contract_description">
                    {{contract_desc_log}}
                  </div>
                </div>
              </div>

            </div>

            <div class="row" *ngIf="approach_work_type === 'volunteer'">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Location</label>
                  <input type="text" id="validationCustom02" name="location" [(ngModel)]="volunteer.location" class="form-control" placeholder="London">
                  <div class = "invalid-feedback d-inline"  *ngIf="!volunteer.location">
                    {{volunteer_location_log}}
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Opportunity description</label>
                  <ckeditor class="ckeditor_tab" [(ngModel)]="volunteer.opportunity_description" #myckeditor name="opportunity_description" [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                  <div class = "invalid-feedback d-inline"  *ngIf="!volunteer.opportunity_description">
                    {{volunteer_desc_log}}
                  </div>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-md-12">
                <div class = "alert alert-danger" *ngIf="job_offer_log_erorr">
                  {{job_offer_log_erorr}}
                </div>
                <div class = "alert alert-success" *ngIf="job_offer_log_success">
                  {{job_offer_log_success}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary">Reset</button>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
            <div class = "invalid-feedback d-inline-block text-right">
              {{job_offer_log}}
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

  <!-- Save new search popup -->

  <div class="modal fade w-100" id="saveNewSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg 1-100" role="document">
      <div class="modal-content w-100">
        <div class="modal-header bg-primary">
          <h2 class="modal-title text-center mo">Saved search
          </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form  [formGroup]="preferncesForm" (ngSubmit)="savedNewSearch()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <input type="text" formControlName="name"  class="form-control" placeholder="Saved search name">
                <div class = "invalid-feedback d-inline float-left" *ngIf="!preferncesForm.value.name" >
                  {{search_name_log}}
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <h4 class="pt-2 "><i class="fas fa-user" aria-hidden="true"></i> Job requirements</h4>
              </div>
            </div>

            <div class="row">

              <div class="col-md-12 mt-2">
                <div class="form-group">
                  <div class="form-check" *ngFor="let types of workTypes">
                    <input class="form-check-input" type="radio" name="work_type" formControlName="work_type" value="{{types.value}}" (change)="changeWorkTypes()" >
                    <label class="form-check-label simple-radio-button" >
                      {{types.name}}
                    </label>
                  </div>

                </div>
              </div>

              <div class="col-md-6 mt-2" >
                <div class="form-group">
                  <select multiple formControlName="job_type"  title="Position type" class="form-control selectpicker" required>
                    <option *ngFor='let job_type of job_type'  [value]="job_type" selected>{{job_type}}</option>
                  </select>

                </div>
              </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="position" title="Role" class="form-control selectpicker">
                    <option *ngFor='let role of rolesData'   [value]="role.value" selected>{{role.name}}</option>

                  </select>

                </div>
              </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <div>
                    <datalist id="countryList">
                      <select class="form-control">
                        <option *ngFor = "let country of cities" [attr.data-value]="country._id" value="{{country.name}}" text="{{preferncesForm.value.location}}">{{country.name}}
                        </option>
                      </select>
                    </datalist>

                    <input type="text" list="countryList" autocomplete="off" placeholder="Location" class="form-control" formControlName = "location" (input)="suggestedOptions()" (ngModelChange)="newSearchSelectedValueFunction($event)">
                    <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                      {{error}}
                    </div>

                    <div *ngIf="newSearchLocation.length > 0">
                      <span class="badge badge-pill badge-primary mr-1" *ngFor="let value of newSearchLocation; let i = index">{{value.name}} <a (click)="deleteNewLocationRow(i)"><i class="fas fa-times text-white"></i></a></span>

                    </div>

                  </div>

                </div>
              </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="blockchain" title="Commercial blockchain experience" class="form-control selectpicker">
                    <option *ngFor='let blockchain of blockchainData'  [value]="blockchain.value" selected>{{blockchain.name}}</option>
                  </select>
                  <small class="text-secondary" >Only select this if essential for the job</small>

                </div>
              </div>

              <div class="col-md-12">
                <div class = "form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="visa_needed" id="check"  >
                    <label class="form-check-label" for="defaultCheck1">
                      Only show candidates that require a work visa
                    </label>
                  </div>
                </div>
              </div>


              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="skills" title="Skills" class="form-control selectpicker language">
                    <option class='option' *ngFor='let language of skillsData' [value]="language.value" selected>{{language.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple class="form-control selectpicker" title="Residence country" required  formControlName="residence_country">
                    <option *ngFor='let country of residenceCountries'  [value]="country.value" >{{country.name}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline"  *ngIf="preferncesForm.value.residence_country && preferncesForm.value.residence_country.length > 50">
                    {{residence_country_log}}
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt-2" *ngIf="preferncesForm.value.work_type === 'employee'">
                <div class = "form-group w-auto">

                  <input type="text" formControlName="current_salary"  [value] = "preferncesForm.value.current_salary"  class="form-control w-50 float-left mt-3" placeholder="Salary">
                  <select title="Currency" class="selectpicker form-control w-50 position-relative mt-3" formControlName = "current_currency" >
                    <option  *ngFor='let base_currency of currency' [attr.selected]=" base_currency=== preferncesForm.value.current_currency?true:null">{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline float-left" *ngIf="(!preferncesForm.value.current_currency && preferncesForm.value.current_salary)|| (preferncesForm.value.current_currency && !preferncesForm.value.current_salary)" >
                    {{current_currency_log}}
                  </div>
                  <div class = "invalid-feedback d-inline float-left" *ngIf="preferncesForm.value.current_currency && preferncesForm.value.current_salary && !checkNumber(preferncesForm.value.current_salary)  " >
                    {{current_currency_log}}
                  </div>

                </div>
              </div>

              <div class="col-md-6 mt-2" *ngIf="preferncesForm.value.work_type === 'contractor'">
                <div class = "form-group w-auto">

                  <input type="text" formControlName="expected_hourly_rate"  [value] = "preferncesForm.value.expected_hourly_rate"  class="form-control w-50 float-left mt-3" placeholder="Hourly rate">

                  <select title="Currency" class="selectpicker form-control w-50 position-relative mt-3" formControlName = "currency" >
                    <option  *ngFor='let base_currency of currency' [attr.selected]=" base_currency=== preferncesForm.value.currency?true:null">{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline float-left" *ngIf="(!preferncesForm.value.expected_hourly_rate && preferncesForm.value.currency) || (preferncesForm.value.expected_hourly_rate && !preferncesForm.value.currency)  " >
                    {{expected_hourly_rate_log}}
                  </div>

                  <div class = "invalid-feedback d-inline float-left" *ngIf="preferncesForm.value.currency && preferncesForm.value.expected_hourly_rate && !checkNumber(preferncesForm.value.expected_hourly_rate)  " >
                    {{expected_hourly_rate_log}}
                  </div>

                </div>
              </div>

            </div>

            <div class="row my-2">
              <div class="col-md-12">
                <h4 class="pt-2"><i class="fas fa-align-justify"></i> Job preferences</h4>
                <small class="text-center" >This will determine the order of the candidates but not filter any candidates</small>

              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <select multiple formControlName="order_preferences" title="Commercial blockchain experience" class="form-control selectpicker">
                    <option *ngFor='let blockchain of blockchainData' [value]="blockchain.value" >{{blockchain.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-mo btn-primary float-right" >Save</button>
            </div>
            <div class="col-md-12 invalid-feedback d-inline mt-1 text-right" #errorMsg *ngIf="new_error_msg && new_error_msg !== ''" >
              {{new_error_msg}}
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>



</section>
