<section class = "wob-bg-primary2">
  <div class="container pt-2">
    <div class = "row">
      <div class="col-md-12 wob-bg-primary1 p-4 ">

      </div>
    </div>

    <div class="row mt-2">
      <div class = "col-md-12 p-0">
        <div class = "row">
          <div class = "col-md-3 ">
            <div class="wob-bg-primary2 p-2 border">
              <h4 class="filter_heading pt-2 px-2 mb-0"><i class="fas fa-search"></i> Saved jobs</h4>
              <input type="text" [(ngModel)]="_id" name="_id"  class="form-control d-none">
              <input type="text" [(ngModel)]="timestamp"  name = "timestamp"  class="form-control d-none">
              <input type="text" [(ngModel)]="pref_job_type" name="pref_job_type"  class="form-control d-none">
              <input type="text" [(ngModel)]="other_technologies" name="other_technologies"  class="form-control d-none">

              <div class = "form-group mt-3">
                <select title="Open jobs" [disabled]="msg !== '' ? true : false" [(ngModel)]="saveSearchName" name="searchName" (ngModelChange)="searchdata('searchName', $event)" class="selectpicker form-control">
                  <option *ngFor = "let name of searchName" [value]="name" [attr.selected]="name === saveSearchName?true:null">{{name}}</option>
                </select>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-6">
                <button  type="button" (click)="savedSearch()" [disabled]="msg !== '' ? true : false" class="btn btn-primary w-100">Save</button>
              </div>
              <div class="col-md-6">
                <button (click)="reset()" type="button" [disabled]="msg !== '' ? true : false" class="btn btn-secondary w-100">Clear</button>
              </div>
              <div class="col-md-12 text-success mt-1" *ngIf="success_msg && success_msg !== '';else errorMsg" >
                {{success_msg}}
              </div>
              <div class="col-md-12 invalid-feedback d-inline mt-1" #errorMsg *ngIf="error_msg && error_msg !== ''" >
                {{error_msg}}
              </div>
            </div>

            <div class="wob-bg-primary2 p-2 border mt-2">
              <h4 class="filter_heading p-2 mb-3"><i class="fas fa-user-tie" aria-hidden="true"></i> Requirements</h4>
              <div class="form-group px-1">
                <div class="form-check" *ngFor="let types of workTypes">
                  <label class="form-check-label simple-radio-button" >
                    <input class="form-check-input" type="radio" name="types" [checked]="types.checked" [(ngModel)]="selectedWorkType" value="{{types.value}}" (ngModelChange)="searchdata('type', $event)">
                    <i *ngIf="types.value === 'employee'" class="fas fa-user-tie"></i>
                    <i *ngIf="types.value === 'contractor'" class="fas fa-address-card"></i>
                    <i *ngIf="types.value === 'volunteer'" class="fas fa-user-check"></i>
                    {{types.name}}
                  </label>
                </div>
              </div>

              <!--start here-->
              <div class="form-group">
                <app-i-forme-skills-auto-suggest
                  [selectedSkill] = "commercialSkillsFromDB"
                  (selectedItems)="searchdata('requiredSkills',selectedCommercialSkillsNew = $event)"
                  placeHolder="Bitcoin, Ethereum, Javascript, Nodejs, Cryptography"
                  compSearch="true"
                ></app-i-forme-skills-auto-suggest>
              </div>
              <hr/>

              <div class="form-group">

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let loc of cities" [value]="loc.name">
                    <span>{{ loc.name }}</span>
                  </mat-option>
                </mat-autocomplete>
                <mat-form-field floatLabel="always" class="w-100">
                  <mat-label></mat-label>
                  <input matInput placeholder="Work place (city/remote)" [matAutocomplete]="auto" [disabled]="msg !== '' ? true : false" [(ngModel)]="countriesModel" name="country" (input)="suggestedOptions()" (ngModelChange)="selectedValueFunction($event)">
                </mat-form-field>

                <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                  {{error}}
                </div>

                <div *ngIf="selectedValueArray.length > 0">
                  <span class="badge badge-pill badge-primary mr-1" *ngFor="let value of selectedValueArray; let i = index">{{value.name}} <a (click)="deleteLocationRow(i)"><i class="fas fa-times text-white"></i></a></span>
                </div>
              </div>
              <hr/>

              <div class = "form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [disabled]="msg !== '' ? true : false" [(ngModel)]="visa_check" id="check"  name="visa_needed" (ngModelChange)="searchdata('visa', $event)">
                  <label class="form-check-label" for="defaultCheck1">
                    Only show candidates that require a work visa
                  </label>
                </div>
              </div>
              <hr/>
              <div class = "form-group">
                <select title="Role" [disabled]="msg !== '' ? true : false" [(ngModel)]="role_value" name="roles" (ngModelChange)="searchdata('role', $event)" class="selectpicker form-control" multiple data-live-search="true">
                  <option *ngFor = "let role of rolesData" [value]="role.value">{{role.name}}</option>
                </select>
              </div>
              <hr/>

              <div class = "form-group" *ngIf="selectedWorkType === 'employee'">

                <input type="number" [disabled]="msg !== '' ? true : false"  class="form-control w-50 float-left" [(ngModel)]="salary" name="salary" (ngModelChange)="searchdata('salary' , $event)" placeholder="Annual salary">

                <select title="Currency" [disabled]="msg !== '' ? true : false" class="selectpicker form-control w-50 position-relative" [(ngModel)]="currencyChange" name="currency" (ngModelChange)="searchdata('currency' , $event)">
                  <option *ngFor='let current_currency of currency' [attr.selected] = "currencyChange === current_currency ? true : null" >{{current_currency}}</option>
                </select>

              </div>

              <div class = "form-group" *ngIf="selectedWorkType === 'contractor'">

                <input type="number" [disabled]="msg !== '' ? true : false"  class="form-control w-50 float-left" [(ngModel)]="hourly_rate" name="hourly_rate" (ngModelChange)="searchdata('hourly_rate' , $event)" placeholder="Hourly rate">

                <select title="Currency" [disabled]="msg !== '' ? true : false" class="selectpicker form-control w-50 position-relative" [(ngModel)]="contractorCurrency" name="contractorCurrency" (ngModelChange)="searchdata('contractorCurrency' , $event)">
                  <option *ngFor='let current_currency of currency' [attr.selected] = "contractorCurrency === current_currency ? true : null" >{{current_currency}}</option>
                </select>

              </div>

            </div>
          </div>

          <ng-container *ngIf="responseMsg === '' ; else candidateInfo"  >
            <div class="col-md-9 text-center" >
              <img src="/assets/profile/Loading_icon.gif" alt="Loading Gif" class="loading-image">
            </div>

          </ng-container>
          <ng-template  #candidateInfo>

            <div class="col-md-9">
              <p *ngIf="msg!='' " class="alert alert-danger error-alert">{{msg}}</p>

              <div  *ngIf="msg === '' && verify_msg === ''">
                <div *ngIf="searchData === true && candidate_data && candidate_data.length > 0" class="alert alert-info mt-1" role="alert">
                  <span>{{candidate_data.length}}</span> candidates match your search
                </div>
                <div *ngIf="not_found !== '' " class="alert alert-danger mt-1" role="alert">
                  <span>{{not_found}}</span>
                </div>
              </div>
              <div *ngIf="candidate_data && candidate_data.length > 0 ">
                <div class="panel-group" *ngFor= "let data of pagedItems ">
                  <div class="panel panel-default border mb-3 bg-white" >
                    <div class="row m-0 wob-bg-primary2 py-4">

                      <div class="col-md-9">

                        <ng-container *ngIf="data.initials;else company_logo_top">
                          <img style="width: 60px;height: 55px;" class="rounded-circle float-left mr-2" src="/assets/profile/profile-image.png" alt="">
                        </ng-container>
                        <ng-template #company_logo_top>
                          <img style="width: 60px;height: 55px;" class="rounded-circle float-left mr-2" *ngIf="data.image" src="{{data.image}}" alt="">
                          <img style="width: 60px;height: 55px;" class="rounded-circle float-left mr-2" *ngIf="!data.image" src="/assets/profile/profile-image.png" alt="">
                        </ng-template>
                        <div class="ml-4">
                          <a routerLink="/users/talent/{{data._id}}" *ngIf="data.initials">
                            <h2 class="">{{data.initials}}</h2>
                          </a>
                          <a routerLink="/users/talent/{{data._id}}" *ngIf="data.first_name">
                            <h2 class="">{{data.first_name[0].toUpperCase() + data.first_name.slice(1)}} </h2>
                          </a>
                        </div>
                        <span *ngIf="data.candidate.employee">
                          Expects {{data.candidate.employee.expected_annual_salary}} {{data.candidate.employee.currency}} per year
                        </span>
                        <span *ngIf="data.candidate.employee && data.candidate.contractor">
                          or
                        </span>
                        <span *ngIf="data.candidate.contractor">
                          Expects {{data.candidate.contractor.expected_hourly_rate}} {{data.candidate.contractor.currency}} per hour
                        </span>
                        <br>
                        <div *ngIf = "data.first_name" class="ml-3">
                          <span class="ml-5"></span>
                          <span class = "badge badge-pill badge-primary">
                            Already approached
                          </span>
                        </div>
                        <div *ngIf = "data.already_approached === 1" class="ml-3">
                          <span class="ml-5"></span>
                          <span class = "badge badge-pill badge-primary">
                          Already approached
                        </span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <form #abc_form="ngForm" (ngSubmit)="onSubmit(abc_form.value)">
                          <input type="hidden" name="id" [ngModel]="data._id">
                          <input type="hidden" name="name" [ngModel]="data.initials">
                          <div class="float-right">
                            <button type="submit" class = "btn btn-primary" data-toggle="modal" data-target="#approachModal" ><i class="fa fa-paper-plane"></i> Approach</button>
                          </div>
                        </form>
                      </div>

                    </div>
                    <div class = "col-md-12 m-0 p-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <span ><i>{{data.candidate.why_work}}</i></span>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf="data.candidate.programming_languages && data.candidate.programming_languages.length>0">
                        <div class="col-md-8">
                          <div class="form-group">
                            <label><h4>Bio</h4></label>
                            <pre>{{data.candidate.description}}</pre>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group">
                            <label><h4>Languages</h4></label>
                            <div>
                              <div *ngFor = "let lang of sorting(data.candidate.programming_languages); let i = index">
                                <div class="d-inline-block p-2 border rounded mr-2 mt-2" *ngIf="i < 5">
                                  {{lang.language}}: {{lang.exp_year}} years
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>
              </div>
              <nav aria-label="Page navigation example" *ngIf="candidate_data && candidate_data.length > 10" >
                <ul class="pagination nav justify-content-center mb-4">
                  <li class="page-item" >
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li class="page-item" >
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                </ul>
              </nav>

            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="approachModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title mx-auto" id="exampleModalLabel"><i class="fa fa-paper-plane"></i> Approach</h5>
        </div>
        <div class="modal-body">
          <form (submit)="send_job_offer(msgForm)" #msgForm = ngForm>
            <ng-container *ngIf="job_offer_log;else no_modal">
            </ng-container>
            <ng-template #no_modal>
            </ng-template>
            <div class="row">
              <div class="col-md-4" *ngFor="let types of workTypes">
                <div class="form-group">
                  <div class="form-check" >
                    <label class="form-check-label simple-radio-button" >
                      <input class="form-check-input" type="radio" name="work_type" [(ngModel)]="approach_work_type" value="{{types.value}}" (change)="refreshSelectBox()" >
                      <i *ngIf="types.value === 'employee'" class="fas fa-user-tie"></i>
                      <i *ngIf="types.value === 'contractor'" class="fas fa-address-card"></i>
                      <i *ngIf="types.value === 'volunteer'" class="fas fa-user-check"></i>
                      {{types.name}}
                    </label>

                  </div>
                </div>
              </div>
              <div class = "invalid-feedback d-inline ml-3 mb-3"  *ngIf="!this.approach_work_type">
                {{work_log}}
              </div>
            </div>
            <div class="row" *ngIf="approach_work_type === 'employee'">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom1">Job title</label>
                  <input type="text" id="validationCustom1" required name="job_title" [(ngModel)]="employee.job_title" class="form-control" placeholder="Director">
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.job_title">
                    {{job_title_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Location</label>
                  <input type="text" id="validationCustom02" name="location" [(ngModel)]="employee.location" class="form-control" placeholder="London">
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.location">
                    {{location_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustomSalary">Annual salary</label>
                  <div class="form-row">
                    <div class="col">
                      <input type="text" id="validationCustomSalary" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="min_salary" [(ngModel)]="employee.min_salary" class="form-control" placeholder="Min">
                      <div class = "invalid-feedback d-inline"  *ngIf="!employee.min_salary || (employee.min_salary && !checkNumber(employee.min_salary))">
                        {{salary_log}}
                      </div>
                    </div>
                    <div class="col">
                      <input type="text" id="validationCustomSalary" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="max_salary" [(ngModel)]="employee.max_salary" class="form-control" placeholder="Max">
                      <div class = "invalid-feedback d-inline"  *ngIf="employee.max_salary && !checkNumber(employee.max_salary)">
                        {{max_salary_log}}
                      </div>
                    </div>
                  </div>

                  <div class = "invalid-feedback d-inline"  *ngIf="convertNumber(employee.max_salary) < convertNumber(employee.min_salary) ">
                    Maximum salary should be greater the minimum salary
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02" class="invisible">Currency</label>
                  <select title="Currency" name="currency" [(ngModel)]="employee.currency" class="selectpicker form-control">
                    <option *ngFor='let base_currency of currency' [value]="base_currency" [attr.selected]="base_currency === employee.currency? true: null">{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.currency">
                    {{salary_currency_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="validationCustom02">Employment type</label>
                  <div class="form-check" *ngFor="let options of job_type">
                    <input type="radio" id="{{options}}" class="form-check-input" name="optradio"  [(ngModel)]="employee.job_type" [value]="options">
                    <label class="form-check-label simple-radio-button" for="{{options}}">
                      {{options}}
                    </label>
                  </div>
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.job_type">
                    {{employment_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Employment description</label>
                  <ul>
                    <li>A concise clear description of the role, what they will do and what are the requirements</li>
                    <li>Benefits for the candidate</li>
                    <li>If the candidate does not accept the approach, you will not be able to contact them again. So make it sound attractive!</li>
                  </ul>
                  <ckeditor class="ckeditor_tab" [(ngModel)]="employee.job_desc" #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                  <div class = "invalid-feedback d-inline"  *ngIf="!employee.job_desc || (employee.job_desc && employee.job_desc.length > 3000)">
                    {{job_desc_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="approach_work_type === 'contractor'">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustomSalary">Hourly rate</label>
                  <div class="form-row">
                    <div class="col">
                      <input type="text" id="validationCustomSalary" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="hourly_rate_min" [(ngModel)]="contractor.hourly_rate_min" class="form-control" placeholder="Min">
                      <div class = "invalid-feedback d-inline"  *ngIf="!contractor.hourly_rate_min || (contractor.hourly_rate_min && !checkNumber(contractor.hourly_rate_min))">
                        {{hourly_rate_log}}
                      </div>
                    </div>
                    <div class="col">
                      <input type="text" id="validationCustomSalary" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="hourly_rate_max" [(ngModel)]="contractor.hourly_rate_max" class="form-control" placeholder="Max">
                      <div class = "invalid-feedback d-inline"  *ngIf="!contractor.hourly_rate_max || (contractor.hourly_rate_max && !checkNumber(contractor.hourly_rate_max))">
                        {{max_hourly_rate_log}}
                      </div>
                    </div>
                  </div>

                  <div class = "invalid-feedback d-inline"  *ngIf="convertNumber(contractor.hourly_rate_min) > convertNumber(contractor.hourly_rate_max) ">
                    Maximum rate should be greater the minimum rate
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02" class="invisible">Currency</label>
                  <select title="Currency" name="currency" [(ngModel)]="contractor.currency" class="selectpicker form-control">
                    <option *ngFor='let base_currency of currency' [value]="base_currency" [attr.selected]="base_currency === contractor.currency">{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.currency">
                    {{hourly_currency_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Location</label>
                  <input type="text" id="validationCustom02" name="location" [(ngModel)]="contractor.location" class="form-control" placeholder="London">
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.location">
                    {{contractor_location_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Contract description</label>
                  <ul>
                    <li>A concise clear description of the role, what they will do and what are the requirements</li>
                    <li>Benefits for the candidate</li>
                    <li>If the candidate does not accept the approach, you will not be able to contact them again. So make it sound attractive!</li>
                  </ul>
                  <ckeditor class="ckeditor_tab" [(ngModel)]="contractor.contract_description" #myckeditor name="contract_description" [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                  <div class = "invalid-feedback d-inline"  *ngIf="!contractor.contract_description || (contractor.contract_description && contractor.contract_description.length > 3000)">
                    {{contract_desc_log}}
                  </div>
                </div>
              </div>

            </div>

            <div class="row" *ngIf="approach_work_type === 'volunteer'">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom02">Location</label>
                  <input type="text" id="validationCustom02" name="location" [(ngModel)]="volunteer.location" class="form-control" placeholder="London">
                  <div class = "invalid-feedback d-inline"  *ngIf="!volunteer.location">
                    {{volunteer_location_log}}
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Opportunity description</label>
                  <ul>
                    <li>A concise clear description of the role, what they will do and what are the requirements</li>
                    <li>Benefits for the candidate</li>
                    <li>If the candidate does not accept the approach, you will not be able to contact them again. So make it sound attractive!</li>
                  </ul>
                  <ckeditor class="ckeditor_tab" [(ngModel)]="volunteer.opportunity_description" #myckeditor name="opportunity_description" [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                  <div class = "invalid-feedback d-inline"  *ngIf="!volunteer.opportunity_description || (volunteer.opportunity_description && volunteer.opportunity_description.length > 3000)">
                    {{volunteer_desc_log}}
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class = "alert alert-danger" *ngIf="job_offer_log_erorr">
                  {{job_offer_log_erorr}}
                </div>
                <div class = "alert alert-success" *ngIf="job_offer_log_success">
                  {{job_offer_log_success}}
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary">Reset</button>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
