<section class="bg-light py-5 mt-5">
  <div class="container border p-3 bg-white mt-2">
    <div class="row">
      <div class="col-md-12">
        <h1 class="p-2">Fees for clients (hiring companies)</h1>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="p-2">
          <p>
            Per candidate engagement:
          </p>
          <ul>
            <li>
              12.5% of the first year’s annual
              salary*, or
            </li>
            <li>
              20% of the first year’s annual
              salary*, if the company does not
              inform BIOTS Limited of the
              engagement within seven days of
              the candidate accepting the job
              offer**.
            </li>
          </ul>
          <p>
            <!--** This does not apply if the-->
            <!--candidate marks the job offer as-->
            <!--accepted through the-->
            <!--workonblockchain.com platform.-->
            *Annual salary in respect of offers of employment.
            Other engagements shall be the subject of an
            equivalent fee based on the rate agreed.
            <br>
            **We may, at our discretion, waive this higher
            fee in favour of the lower fee should the
            candidate promptly mark the job offer as
            accepted  through the workonblockchain.com
            platform.
          </p>
          <p>
            These prices are subject to our <a [routerLink]="['/terms-for-company']"> Terms
            of Business for Companies </a> and are
            liable to change from time to time.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
