<div class="form-group">
  <label>{{label}}</label>
  <div class="input-group">
    <input type="text"
           class="form-control"
           name="date"
           [(ngModel)]="value"
           is-open="date.opened"
           [placeholder]="placeholder"
           id="startdate_datepicker">
    <div class="input-group-append">
      <span class="input-group-text"><i class="fas fa-calendar" aria-hidden="true"></i></span>
    </div>
    <div class = "invalid-feedback d-inline"  *ngIf="errorMsg">
      {{errorMsg}}
    </div>
  </div>
</div>
