<!--Edit profile page start here-->

<section class="wizard_page">
	<div class="container">
		<div class="row profile_group">
			
			
			 <form  (submit)="company_profile(profileForm)" #profileForm = ngForm>
			<div class="col-md-12">
			
			<!--personal information form-->
				<div class = "wizard-form mr-top-form" id = "information">
					<div class = "login_form">
						
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Personal Information</legend>
							
							<div class="form-group col-md-6">
                   <label><p class = "label-p">Email</p></label>
                  <input type="Text" class="form-control"  required name="email" [(ngModel)]="email" disabled >
                </div>
							
							 <div class="form-group col-md-6">
                   <label><p class = "label-p">First Name</p></label>
                  <input type="Text" class="form-control" placeholder="First Name" id="user" required name="first_name" [(ngModel)]="first_name" >
               <div class = "form_error" *ngIf="!first_name">
								<span class = "error">{{first_name_log}}</span>
							</div>
                </div>

                <div class="form-group col-md-6">
                   <label><p class = "label-p">Last Name</p></label>
                  <input type="Text" class="form-control" placeholder="Last Name" required name="last_name" [(ngModel)]="last_name" >
                <div class = "form_error" *ngIf="!last_name">
								<span class = "error">{{last_name_log}}</span>
							</div>
                </div>

                <div class="form-group col-md-6">
                  <label><p class = "label-p">Job Title</p></label>
                  <input type="text" class="form-control" placeholder="Job Title" required name="job_title" [(ngModel)]="job_title">
                	<div class = "form_error" *ngIf="!job_title">
								<span class = "error">{{job_title_log}}</span>
							</div>
                </div>

                 <div class="form-group col-md-6">
                  <label><p class = "label-p">Company Name</p></label>
                  <input type="text" class="form-control" placeholder="Company Name" id="com_name" required name="company_name" [(ngModel)]="company_name">
                	<div class = "form_error" *ngIf="!company_name">
								<span class = "error">{{company_name_log}}</span>
							</div>
                </div>

                <div class="form-group col-md-6">
                  <label><p class = "label-p">Company Website</p></label>
                  <input type="text" #website="ngModel"  class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" placeholder="Company Website" required name="company_website" [(ngModel)]="company_website">
                  <div class = "form_error" *ngIf="!company_website">
								<span class = "error">{{company_website_log}}</span>
							</div>
							<div class="form_error" *ngIf="website.errors && company_website">
								<span class = "error">Enter url in proper format.</span>
							</div>
                </div>

                 <div class="form-group col-md-6">
                  <label><p class = "label-p">Phone Number</p></label>
                  <input type="tel" class="form-control" placeholder="Phone Number" id="phone_no" required name="phone_number" [(ngModel)]="company_phone">
                  <div class = "form_error" *ngIf="!company_phone">
								<span class = "error">{{company_phone_log}}</span>
							</div>
                </div>

                 <div class="form-group col-md-6">
                 <label><p class = "label-p">Country Name</p></label>
                 <!-- <input type="text" class="form-control " placeholder="Country" id="country" required name="country" [(ngModel)]="company_country">
		-->		 <select class="form-control"  required name="country" [(ngModel)]="company_country" required="">
              <option value="-1" disabled selected hidden >Please choose country</option>
        
                <option class='option' *ngFor='let options of countries'  [value]="options" selected>{{options}}</option>
                </select>
                 <div class = "form_error" *ngIf="company_country==-1">
								<span class = "error">{{company_country_log}}</span>
							</div>
                </div>
                <div class="form-group col-md-6">
                 <label><p class = "label-p">Postal Code</p></label>
                  <input type="text" class="form-control" placeholder="Postal Code" id="post_no" required name="postal_code" [(ngModel)]="company_postcode">
                <div class = "form_error" *ngIf="!company_postcode">
								<span class = "error">{{company_postcode_log}}</span>
							</div>
                </div>

                <div class="form-group col-md-6">
                  <label><p class = "label-p">City Name</p></label>
                  <input type="text" class="form-control" placeholder="City" required name="city" [(ngModel)]="company_city">
                  <div class = "form_error" *ngIf="!company_city">
								<span class = "error">{{company_city_log}}</span>
							</div>
                </div>
							
							  <!-- <div class="form-group col-md-6" *ngIf = 'info.image_src'>
              					<label><p class = "label-p">Image</p></label>
              					<img src = {{info.image_src}} >
   
            				</div>-->

						</fieldset>
					</div>
					
				</div>
				<!--personal information form End-->
					
				<!--about us form-->
				<div class = "wizard-form mr-top-form" id = "about_you">
					<div class = "login_form">
						
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">About the Company</legend>
							
							 <div class="form-group col-md-6">
					    	<label><p class = "label-p">When was the company founded?</p></label>
						    <input type="text" class="form-control" id="" placeholder="1997" name="company_founded" [(ngModel)]="company_founded" >
							<div class = "form_error" *ngIf="!company_founded">
								<span class = "error">{{founded_log}}</span>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label><p class = "label-p">Number of employees?</p></label>
						    <input type="number" class="form-control" id="" placeholder="Number of employees?" name="no_of_employees" [(ngModel)]="no_of_employees">
							<div class = "form_error" *ngIf="!no_of_employees">
								<span class = "error">{{employee_log}}</span>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label><p class = "label-p">How is the company funded?</p></label>
						    <input type="text" class="form-control" id="" placeholder="How's compnay funded?" name="company_funded" [(ngModel)]="company_funded">
							<div class = "form_error" *ngIf="!company_funded">
								<span class = "error">{{funded_log}}</span>
							</div>
						</div>

					
							
							<!-- <div class="form-group col-md-6 mr-top-33" >
						    <input type="file" class="form-control" id="aa" accept="image/*" onchange="pressed()" name="image" [(ngModel)]="image" >
						    <label id="fileLabel">
						    <span *ngIf="image_src" >{{image_src}}</span>
							<span *ngIf="!image_src" >Upload Image</span>
							</label>
							
						</div>-->
						
						<div class="form-group col-md-6 mr-top-33" >
						    <input type="file" class="form-control" id="aa" accept="image/*" onchange="pressed()" name="image" [(ngModel)]="image" >
						    <label id="fileLabel" >
								<span *ngIf="img_src" >{{img_src}}</span>
								<span *ngIf="!img_src" >Upload Company Logo (optional)</span>
								</label>
								<div class = "form_error image-log" *ngIf="image_log">
									<span class = "error">{{image_log}}</span>
								</div>
						</div>

						<div class="form-group col-md-12 mr-top-04">
								<label><p>Company Description</p></label>
							    <textarea class="form-control" rows="5" id="comment" maxlength="300" placeholder="" name="company_description" [(ngModel)]="company_description"></textarea>
								<div class = "form_error" *ngIf="!company_description">
								<span class = "error">{{des_log}}</span>
							</div>
						</div>
							
							  <!-- <div class="form-group col-md-6" *ngIf = 'info.image_src'>
              					<label><p class = "label-p">Image</p></label>
              					<img src = {{info.image_src}} >
   
            				</div>-->

						</fieldset>
					</div>
					
				</div>
				<!--about us form End-->

				

				

				
				
				
				<div class = "button_area text-right">
					<button type="submit" class = "btn btn-self btn-pdg" [disabled]="website.errors && company_website" >Save Profile</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	
</section>


<!--/End edit profile page here-->


<div class = "gap">
</div>
