<section class="wizard_page">

  <div class="container">
    <div class="row">
      <div class = "form_error" *ngIf="log">
        <span class = "error">{{log}}</span>
      </div>
      <div class="text-center steps-name hidden-xs">
        <ul class="step-progress">
          <li class = "step"><i class="{{terms_active_class}}"></i><a routerLink = "/company_wizard">Summary of T&Cs</a></li>
          <li class = "step"><i class="{{about_active_class}}"></i><a routerLink = "/about_comp">About the company</a></li>
          <li class="step step-active"><i class = "{{pref_active_class}}" ></i> <a routerLink = "/preferences">Candidate preferences</a></li>
        </ul>
      </div>

      <div class="col-md-12 wizard-form">

        <form class="login_form custom_form" [formGroup]="preferncesForm" (ngSubmit)="candidate_prefernces()" novalidate>
          <!--#prefForm = ngForm (submit)="candidate_prefernces(prefForm)">-->

          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Candidate preferences</legend>

            <div class="form-group col-md-6">
              <label><p class="label-p">Where are you hiring?</p></label>

              <select multiple id="locations" formControlName = "location" title="(select multiple)" class="selectpicker" required>
                <option class='option' *ngFor='let location of locations;let i = index'  [selected] = "locationSelectedOptions(location.name)"  [value]="location.value">{{location.name}}</option>

              </select>
              <div class = "form_error" *ngIf="!preferncesForm.value.location || preferncesForm.value.location.length === 0">
                <span class = "error">{{location_log}}</span>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label><p class="label-p">What position types are you looking for?</p></label>
              <select multiple formControlName="job_type"  title="(select multiple)" class="selectpicker" required>
                <option class='option' *ngFor='let job_type of job_types' [selected] = "jobTypesSelectedOptions(job_type)" [value]="job_type">{{job_type}}</option>

              </select>
              <div class = "form_error" *ngIf="!preferncesForm.value.job_type || preferncesForm.value.job_type.length === 0 ">
                <span class = "error">{{job_type_log}}</span>
              </div>
            </div>



            <div class="form-group col-md-6">
              <label><p class="label-p">What roles are you looking for?</p></label>
              <select multiple formControlName="position" title="(select multiple)" class="selectpicker">
                <option class='option' *ngFor='let role of roles' [selected] = "positionSelectedOptions(role.value)"  [value]="role.value">{{role.name}}</option>

              </select>
              <div class = "form_error" *ngIf="!preferncesForm.value.position || preferncesForm.value.position.length === 0">
                <span class = "error">{{position_log}}</span>
              </div>
            </div>



            <div class="form-group col-md-6 pre_col">

              <label class = "col-md-12 noo_padding">
                <p class="label-p">Available annual salary and currency?</p></label>

              <input type="text" formControlName="current_salary"  [value] = "preferncesForm.value.current_salary"  class="form-control col-md-6 text_col" id="" placeholder="100000">

              <select title ="(select currency)" formControlName = "current_currency" id = "currencySelected" class="selectpicker col-md-6 sel_padd">

                <option class='option' *ngFor='let base_currency of currency' [attr.selected] = "preferncesForm.value.current_currency === base_currency ? true : null " >{{base_currency}}</option>

              </select>
              <div class = "form_error" *ngIf="!preferncesForm.value.current_currency || !preferncesForm.value.current_salary ">
                <span class = "error">{{current_currency_log}}</span>
              </div>
            </div>


            <div class="form-group col-md-6">
              <label><p class="label-p">When do you need hires to start</p></label>

              <select title="(select one)" formControlName = "availability_day" class="selectpicker">
                <option *ngFor='let avail of availability'  [attr.selected] = "preferncesForm.value.availability_day === avail.name ? true : null " >{{avail.name}}</option>

              </select>

              <div class = "form_error" *ngIf="!avail_day">
                <span class = "error">{{availability_day_log}}</span>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label><p class="label-p">What blockchain technology experience do they need? (optional)</p></label>
              <select multiple formControlName="blockchain" title="(select multiple)" class="selectpicker">
                <option class='option' *ngFor='let blockchain of blockchain' [selected] = "blockchainSelectedOptions(blockchain.name)"  [value]="blockchain.value" >{{blockchain.name}}</option>

              </select>

            </div>


          <div class = "col-md-12 no_padding">
            <div class="form-group col-md-6">
              <label><p class="label-p">What programming languages do they need to know? (optional)</p></label>
              <select multiple formControlName="skills" title="(select multiple)" class="selectpicker">
                <option class='option' *ngFor='let language of language_opt' [selected] = "languageSelectedOptions(language.name)"  [value]="language.value" >{{language.name}}</option>

              </select>

            </div>

            <div class="form-group col-md-6 top_20">
              <label><p class="label-p">Other technologies or requirements? (optional)</p></label>
              <input type="text" formControlName="other_technologies" [value] ="preferncesForm.value.other_technologies"  class="form-control" id="" placeholder="(eg MongoDB, AWS)">
            </div>
          </div>

            <div class="form-group col-md-12">
              <label><p class="label-p">When would you like to receive emails with candidates that match your search?</p></label>
              <div class="radio-toolbar controls__group">
                <div *ngFor="let receive of email_notificaiton; let i_ind =index">

                  <input type="radio" formControlName="when_receive_email_notitfications" [checked] = "receive === preferncesForm.value.when_receive_email_notitfications" value = {{receive}} id="radio - {{receive}}" name="when_receive_email_notitfications" >
                  <label class="radio-inline d-flex justify-content-center align-items-center" for="radio - {{receive}}">{{receive}}</label>

                </div>

              </div>
              <div class = "form_error" *ngIf="!preferncesForm.value.when_receive_email_notitfications">
                <span class = "error">{{email_notification_log}}</span>
              </div>
            </div>

          </fieldset>

          <div class="form-group text-right">
            <a routerLink="/about_comp" class="btn btn-prev">Prev Step</a>
            <button type=submit  class = "btn btn-self btn-pdg">Done</button>
          </div>
          <div class = "form_error error-log" *ngIf="error_msg">
            <span class = "error">{{error_msg}}</span>
          </div>

        </form>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="popModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content costom_model">
        <div class="modal-header mo-head">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h3 class="modal-title text-center mo">{{companyMsgTitle}}
          </h3>
        </div>
        <div class="modal-body mo_body">
          <div class = "mo_content" id = "style-6" [innerHTML]="companyMsgBody | safeHtml " *ngIf="companyMsgBody"></div>
        </div>
        <div class="modal-footer mo_footer">
          <a (click) = redirectToCompany() class="btn btn-mo model-btn" data-dismiss="modal">Got it</a>
        </div>
      </div>

    </div>
  </div>
  <!-- end model -->

</section>
