/*progress bar styling*/
.progress-color-warning{
  color: #aaad3d;
}

.progress-color-info{
  color: #6767d5;
}

.progress-color-success{
  color: green;
}

.progress-font{
  font-size: 20px;
}

.progress{
  height:22px;
}

.progressbar-table td{
  border-top: 0px !important;
}
