<section class = "wob-bg-primary2 py-5 mt-5">

  <div class="container pt-2 ">
    <form  (submit)="company_profile(profileForm)" #profileForm = ngForm>
      <div class="row">
        <div class="col-md-12">

          <section class="bg-white border rounded py-3 px-5" id="about_you">

            <div class="row mb-3">
              <div class="col-md-6">
                <h2>
                  <i class="fas fa-building" aria-hidden="true"></i>
                  About the company
                </h2>
              </div>

            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Company name</label>
                    <input name="company_name" [(ngModel)]="company_name"  type="text" class="form-control" placeholder="Google Inc." required>
                    <div class="invalid-feedback d-inline" *ngIf="!company_name">
                      {{company_name_log}}
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Company website</label>
                    <input type="text" #website="ngModel"  class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" placeholder="https://www.google.com/" required name="company_website" [(ngModel)]="company_website">
                    <div class = "invalid-feedback" *ngIf="!company_website">
                      <span class = "error">{{company_website_log}}</span>
                    </div>
                    <div class="invalid-feedback d-inline" *ngIf="website.errors && company_website">
                      <span class = "error">Enter url in proper format.</span>
                    </div>

                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Country name</label>
                    <select title="Please choose country" class="selectpicker form-control"  required name="country" [(ngModel)]="company_country">
                      <option class='option' *ngFor='let options of countries'  [value]="options" selected>{{options}}</option>
                    </select>
                    <div class="invalid-feedback d-inline" *ngIf="!company_country">
                      {{company_country_log}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>City name</label>
                    <input type="text" class="form-control" placeholder="London" required name="city" [(ngModel)]="company_city">
                    <div class="invalid-feedback d-inline" *ngIf="!company_city">
                      {{company_city_log}}
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Postal code</label>
                    <input type="text" class="form-control" placeholder="SW1 7XL" required name="postal_code" [(ngModel)]="company_postcode">
                    <div class="invalid-feedback d-inline" *ngIf="!company_postcode">
                      {{company_postcode_log}}
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Phone number</label>
                    <input name="phone_number" [(ngModel)]="company_phone"  type="tel" class="form-control" placeholder=" (+1) 123 456 7890" required>
                    <div class="invalid-feedback d-inline" *ngIf="!company_phone">
                      {{company_phone_log}}
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </section>

          <section class="bg-white border rounded mt-4 py-3 px-5" id="company_info">
            <div class="row mb-3">
              <div class="col-md-6">
                <h2>
                  <i class="fas fa-building" aria-hidden="true"></i>
                  Company info
                </h2>
              </div>

            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>When was the company founded?</label>
                    <input type="text" class="form-control" id="" #companyFounded="ngModel"  pattern="^[0-9]*$" placeholder="1997" name="company_founded" [(ngModel)]="company_founded" >
                    <div class="invalid-feedback d-inline" *ngIf="!company_founded; else expected_validation">
                      {{founded_log}}
                    </div>
                    <div class="invalid-feedback d-inline" #expected_validation *ngIf="companyFounded.errors && company_founded;else yearVerification">
                      Input data should be a number.
                    </div>
                    <div class="invalid-feedback d-inline" #yearVerification *ngIf="company_funded >  currentyear || company_founded < 1800">
                      {{yearValidation}}
                    </div>

                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>How is the company funded?</label>
                    <input type="text" class="form-control"  placeholder="Private investment from the founders and one angel" name="company_funded" [(ngModel)]="company_funded">
                    <div class="invalid-feedback d-inline" *ngIf="!company_funded">
                      {{funded_log}}
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Number of employees?</label>
                    <input type="number" class="form-control" placeholder="10" name="no_of_employees" [(ngModel)]="no_of_employees">
                    <div class="invalid-feedback d-inline" *ngIf="!no_of_employees">
                      {{employee_log}}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Company logo (optional)</label>
                    <div class="form-group">
                      <input type="file" accept="image/*" name="image" [(ngModel)]="image" class="form-control-file" id="profile">
                      <span *ngIf="img_src" >{{img_src}}</span>
                      <div class="invalid-feedback d-inline" *ngIf="!image_log">
                        {{image_log}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Company description</label>
                    <div class="form-group">
                      <textarea name="company_description" [(ngModel)]="company_description" placeholder="An American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware." class="form-control" rows="3"></textarea>
                      <div class="invalid-feedback d-inline" *ngIf="!company_description">
                        {{des_log}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </section>

          <section class="bg-white border rounded mt-4 py-3 px-5" id="information">
            <div class="row mb-3">
              <div class="col-md-6">
                <h2>
                  <i class="fas fa-user icon" aria-hidden="true"></i>
                  Company administration
                </h2>
              </div>

            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Email</label>
                    <input name="email" disabled [(ngModel)]="email" type="text" class="form-control" placeholder="johnsmilt@workonblockchain.com" required>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>First name</label>
                    <input name="first_name" [(ngModel)]="first_name" type="text" class="form-control" placeholder="John" required>
                    <div class="invalid-feedback d-inline" *ngIf="!first_name">
                      {{first_name_log}}
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Last name</label>
                    <input name="last_name" [(ngModel)]="last_name"  type="text" class="form-control" placeholder="Smith" required>
                    <div class="invalid-feedback d-inline" *ngIf="!last_name">
                      {{last_name_log}}
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-row">
                  <div class="form-group w-100">
                    <label>Job title</label>
                    <input name="job_title" [(ngModel)]="job_title" type="text" class="form-control" placeholder="Director" required>
                    <div class="invalid-feedback d-inline" *ngIf="!job_title">
                      {{job_title_log}}
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </section>



          <section class="bg-white border rounded mt-4 py-3 px-5" id = "prefrences" [formGroup]="preferncesForm">
            <div class="row">
              <div class="col-md-6">
                <h2>
                  <i class="fas fa-search" aria-hidden="true"></i>
                  Saved searches
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3 class="pt-2 mb-3"> Job search</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4 class="pt-2 "><i class="fas fa-user" aria-hidden="true"></i> Job requirements</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="job_type"  title="Position type(optional)" class="form-control selectpicker" required>
                    <option *ngFor='let job_type of job_types' [selected] = "jobTypesSelectedOptions(job_type)" [value]="job_type">{{job_type}}</option>
                  </select>

                </div>
              </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="position" title="Role" class="form-control selectpicker">
                    <option *ngFor='let role of roles' [selected] = "positionSelectedOptions(role.value)"  [value]="role.value">{{role.name}}</option>

                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="!preferncesForm.value.position || preferncesForm.value.position.length === 0">
                    {{position_log}}
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <div>
                    <datalist id="countryList" *ngIf="cities && cities.length >0">
                      <select class="form-control">
                        <option *ngFor = "let country of cities" [attr.data-value]="country._id" value="{{country.name}}" text="{{preferncesForm.value.location}}">{{country.name}}
                        </option>
                      </select>
                    </datalist>
                    <input type="text" list="countryList" autocomplete="off" placeholder="Location" class="form-control" formControlName = "location" (input)="suggestedOptions()" (change)="selectedValueFunction($event)">
                    <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                      {{error}}
                    </div>
                    <div class="invalid-feedback d-inline" #emptyInput *ngIf="selectedValueArray.length <= 0">
                      {{country_input_log}}
                    </div>

                    <div *ngIf="selectedValueArray.length > 0">
                      <span class="badge badge-pill badge-primary mr-1" *ngFor="let value of selectedValueArray; let i = index">{{value.name}} <a (click)="deleteLocationRow(i)"><i class="fas fa-times text-white"></i></a></span>

                      <div class = "invalid-feedback d-inline"  *ngIf="!selectedLocations">
                        {{country_log}}
                      </div>
                    </div>

                  </div>
                  <!--<select multiple id="locations" formControlName = "location" title="(select multiple)" class="form-control selectpicker" required>
                    <option *ngFor='let location of locations;let i = index' [value]="location.value">{{location.name}}</option>

                  </select>
                  <div class="invalid-feedback d-inline" *ngIf="!preferncesForm.value.location || preferncesForm.value.location.length === 0">
                    {{location_log}}
                  </div>-->
                </div>
              </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="blockchain" title="Commercial blockchain experience" class="form-control selectpicker">
                    <option *ngFor='let blockchain of blockchain' [selected] = "blockchainSelectedOptions(blockchain.name)"  [value]="blockchain.value" >{{blockchain.name}}</option>
                  </select>
                  <small class="text-secondary" >Only select this if essential for the job</small>

                </div>
              </div>

              <div class="col-md-12">
                <div class = "form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="visa_needed" id="check"  >
                    <label class="form-check-label" for="defaultCheck1">
                      Show candidates that require a work visa
                    </label>
                  </div>
                </div>
              </div>


              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <select multiple formControlName="skills" title="Skills(optional)" class="form-control selectpicker">
                    <option class='option' *ngFor='let language of language_opt' [selected] = "languageSelectedOptions(language.name)"  [value]="language.value" >{{language.name}}</option>
                  </select>
                </div>
              </div>


              <div class="col-md-6 mt-2">
                <div class = "form-group w-auto">

                  <input type="text" formControlName="current_salary"  [value] = "preferncesForm.value.current_salary"  class="form-control w-50 float-left" placeholder="Salary">

                  <select title="Currency" class="selectpicker form-control w-50 position-relative" formControlName = "current_currency" >
                    <option  *ngFor='let base_currency of currency' [attr.selected] = "preferncesForm.value.current_currency === base_currency ? true : null " >{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline float-left" *ngIf="!preferncesForm.value.current_currency || !preferncesForm.value.current_salary  " >
                    {{current_currency_log}}
                  </div>

                  <div class = "invalid-feedback d-inline float-left" *ngIf="preferncesForm.value.current_currency && preferncesForm.value.current_salary && checkNumber(preferncesForm.value.current_salary)  " >
                    {{current_currency_log}}
                  </div>

                </div>
              </div>



              <div class="col-md-6 my-2">
                <div class="form-group">
                  <label>Other requirements(optional): </label>
                  <input type="text" formControlName="other_technologies" [value] ="preferncesForm.value.other_technologies"  class="form-control">
                </div>
              </div>

            </div>

            <div class="row my-2">
              <div class="col-md-12">
                <h4 class="pt-2"><i class="fas fa-align-justify"></i> Job preferences</h4>
                <small class="text-center" >This will determine the order of the candidates but not filter any candidates</small>

              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-6">
                <div class="form-group">
                  <select multiple formControlName="order_preferences" title="Commercial blockchain experience" class="form-control selectpicker">
                    <option *ngFor='let blockchain of blockchain' [selected] = "blockchainOrderSelectedOptions(blockchain.name)"  [value]="blockchain.value" >{{blockchain.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row my-2">
              <div class="col-md-12">
                <h4 class="pt-2 "><i class="fas fa-envelope "></i> Notifications</h4>

              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12">
                <div class = "form-group w-100 mb-0">
                  <div class="form-check form-check-inline">
                    <div *ngFor="let receive of email_notificaiton; let i_ind =index">
                      <input type="radio" id="radio - {{receive}}" name="when_receive_email_notitfications" class="d-none" formControlName="when_receive_email_notitfications" [checked] = "receive === preferncesForm.value.when_receive_email_notitfications" value = {{receive}}>
                      <label  for="radio - {{receive}}" class="border border py-2 px-lg-5 px-2">
                        {{receive}}
                      </label>
                    </div>
                  </div>

                </div>
                <div class = "invalid-feedback d-inline" *ngIf="!preferncesForm.value.when_receive_email_notitfications">
                  {{email_notification_log}}
                </div>
              </div>

            </div>

          </section>


          <div class="row mt-3">
            <div class = "col-md-12 float-right text-right">
              <a routerLink="/company_profile" class = "btn btn-secondary text-white mr-2">Cancel</a>
              <button type="submit" class = "btn btn-primary " [disabled]="website.errors && company_website" >Save</button>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class = "invalid-feedback float-right d-inline w-auto" *ngIf="error_msg">
                {{error_msg}}
              </div>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>

</section>
