<section class = "wob-bg-primary2">

<div class="container my-2">
  <form  (submit)="company_profile(profileForm)" #profileForm = ngForm>
    <div class="row">
      <div class="col-md-12">
        <section class="bg-white p-3 mt-5">
        <fieldset class = "border rounded my-3 py-3 px-5" id = "information">
          <legend class="w-auto m-0 px-1">
            Personal information
          </legend>
          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Email</label>
                  <input name="email" [(ngModel)]="email" type="text" class="form-control" placeholder="Email" required>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>First name</label>
                  <input name="first_name" [(ngModel)]="first_name" type="text" class="form-control" placeholder="First name" required>
                  <div class="invalid-feedback d-inline" *ngIf="!first_name">
                    {{first_name_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Last name</label>
                  <input name="last_name" [(ngModel)]="last_name"  type="text" class="form-control" placeholder="Last name" required>
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!last_name">
                  {{last_name_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Job title</label>
                  <input name="job_title" [(ngModel)]="job_title" type="text" class="form-control" placeholder="Job title" required>
                  <div class="invalid-feedback d-inline" *ngIf="!job_title">
                    {{job_title_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Company name</label>
                  <input name="company_name" [(ngModel)]="company_name"  type="text" class="form-control" placeholder="Company name" required>
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!company_name">
                  {{company_name_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Company website</label>
                  <input type="text" #website="ngModel"  class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" placeholder="Company website" required name="company_website" [(ngModel)]="company_website">
                  <div class = "invalid-feedback" *ngIf="!company_website">
                    <span class = "error">{{company_website_log}}</span>
                  </div>
                  <div class="invalid-feedback d-inline" *ngIf="website.errors && company_website">
                    <span class = "error">Enter url in proper format.</span>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Phone number</label>
                  <input name="phone_number" [(ngModel)]="company_phone"  type="tel" class="form-control" placeholder="Phone number" required>
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!company_phone">
                  {{company_phone_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Country name</label>
                  <select title="Please choose country" class="selectpicker form-control"  required name="country" [(ngModel)]="company_country">
                    <option class='option' *ngFor='let options of countries'  [value]="options" selected>{{options}}</option>
                  </select>
                  <div class="invalid-feedback d-inline" *ngIf="!company_country">
                    {{company_country_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Postal Code</label>
                  <input type="text" class="form-control" placeholder="Postal code" required name="postal_code" [(ngModel)]="company_postcode">
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!company_postcode">
                  {{company_postcode_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>City name</label>
                  <input type="text" class="form-control" placeholder="City name" required name="city" [(ngModel)]="company_city">
                  <div class="invalid-feedback d-inline" *ngIf="!company_city">
                    {{company_city_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

        </fieldset >
        </section>

        <section class="bg-white p-3 mt-5">

        <fieldset class = "bg-white border rounded my-3 py-3 px-5" id = "about_you">

          <legend class="w-auto m-0 px-1">
            About the company
          </legend>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>When was the company founded?</label>
                  <input type="text" class="form-control" placeholder="1997" name="company_founded" [(ngModel)]="company_founded" >
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!company_founded">
                  {{founded_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Number of employees?</label>
                  <input type="number" class="form-control" placeholder="Number of employees" name="no_of_employees" [(ngModel)]="no_of_employees">
                  <div class="invalid-feedback d-inline" *ngIf="!no_of_employees">
                    {{employee_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>How is the company funded?</label>
                  <input type="text" class="form-control"  placeholder="How's company funded" name="company_funded" [(ngModel)]="company_funded">
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!company_funded">
                  {{funded_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Upload photo</label>
                  <div class="form-group">
                    <input type="file"  name="image" [(ngModel)]="image" class="form-control-file" id="profile">
                  </div>
                  <div class="invalid-feedback d-inline" *ngIf="!image_log">
                    {{image_log}}
                  </div>
                </div>


              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Company description</label>
                  <div class="form-group">
                    <textarea name="company_description" [(ngModel)]="company_description" placeholder="Company description" class="form-control" rows="3"></textarea>
                  </div>
                  <div class="invalid-feedback d-inline" *ngIf="!company_description">
                    {{des_log}}
                  </div>
                </div>
              </div>
            </div>
          </div>


        </fieldset>
        </section>

        <section class="bg-white p-3 mt-5 mb-3">

        <fieldset class = "bg-white border rounded my-3 py-3 px-5" id = "prefrences" [formGroup]="preferncesForm">

          <legend class="w-auto m-0 px-1">
            Candidate preferences
          </legend>

          <div class="row">

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Where are you hiring?</label>
                  <select multiple formControlName = "location" title="(select multiple)" class="selectpicker form-control" required>
                    <option *ngFor='let location of locations;let i = index'  [selected] = "locationSelectedOptions(location.name)"  [value]="location.value">{{location.name}}</option>

                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="!preferncesForm.value.location || preferncesForm.value.location.length === 0">
                    {{location_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>What position types are you looking for?</label>
                  <select multiple formControlName="job_type"  title="(select multiple)" class="selectpicker form-control" required>
                    <option *ngFor='let job_type of job_types' [selected] = "jobTypesSelectedOptions(job_type)" [value]="job_type">{{job_type}}</option>

                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="!preferncesForm.value.job_type || preferncesForm.value.job_type.length === 0 ">
                    {{job_type_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">


            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>What roles are you looking for?</label>
                  <select multiple formControlName="position" title="(select multiple)" class="selectpicker form-control">
                    <option *ngFor='let role of roles' [selected] = "positionSelectedOptions(role.value)"  [value]="role.value">{{role.name}}</option>

                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="!preferncesForm.value.position || preferncesForm.value.position.length === 0">
                    {{position_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class = "form-group w-100">
                  <label>Available annual salary and currency?</label>

                  <input type="text" formControlName="current_salary"  [value] = "preferncesForm.value.current_salary"  class="form-control w-50 float-left" placeholder="100000">

                  <select title="Select currency" class="selectpicker form-control w-50 position-relative" formControlName = "current_currency" >
                    <option  *ngFor='let base_currency of currency' [attr.selected] = "preferncesForm.value.current_currency === base_currency ? true : null " >{{base_currency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline float-left" *ngIf="!preferncesForm.value.current_currency || !preferncesForm.value.current_salary ">
                    {{current_currency_log}}
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">



            <div class="col-md-6">
              <div class="form-row">
                <div class = "form-group w-100">
                  <label>What blockchain technology experience do they need? (optional)</label>

                  <select multiple formControlName="blockchain" title="(select multiple)" class="selectpicker form-control">
                    <option *ngFor='let blockchain of blockchain' [selected] = "blockchainSelectedOptions(blockchain.name)"  [value]="blockchain.value" >{{blockchain.name}}</option>

                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>What programming languages do they need to know? (optional)</label>
                  <select multiple formControlName="skills" title="(select multiple)" class="selectpicker form-control">
                    <option *ngFor='let language of language_opt' [selected] = "languageSelectedOptions(language.name)"  [value]="language.value" >{{language.name}}</option>

                  </select>
                </div>
              </div>
            </div>

          </div>

          <div class="row">




            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Other technologies or requirements? (optional)</label>
                  <input type="text" formControlName="other_technologies" [value] ="preferncesForm.value.other_technologies"  class="form-control" placeholder="(eg MongoDB, AWS)">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>When do you need hires to start</label>
                  <select title="(select one)" formControlName = "availability_day" class="selectpicker form-control">
                    <option *ngFor='let avail of availability'  [attr.selected] = "preferncesForm.value.availability_day === avail.name ? true : null " >{{avail.name}}</option>

                  </select>

                  <div class = "invalid-feedback d-inline" *ngIf="!avail_day">
                    {{availability_day_log}}
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-row">
                <div class = "form-group w-100">
                  <label class="mr-3">What blockchain technology experience do they need? (optional)</label>

                     <!-- <label class="btn btn-secondary"  *ngFor="let receive of email_notificaiton; let i_ind =index"  [ngClass]="receive === preferncesForm.value.when_receive_email_notitfications ? 'active' : ''">
                      <input type="radio" formControlName="when_receive_email_notitfications" (change)="emailNotificationChange($event)" autocomplete="off" id="{{receive}}" >{{receive}}
                    </label>
-->

                  <div class="form-check-inline" >
                    <label class="btn btn-secondary" *ngFor="let receive of email_notificaiton; let i_ind =index">
                      <input type="radio"  formControlName="when_receive_email_notitfications" [checked] = "receive === preferncesForm.value.when_receive_email_notitfications" value = {{receive}} id="radio - {{receive}}">{{receive}}
                    </label>
                  </div>



                  </div>
                </div>
                <div class = "invalid-feedback d-inline" *ngIf="!when_receive_email_notitfications">
                  {{email_notification_log}}
                </div>
              </div>
            </div>


        </fieldset>
        </section>
        <div class="row">
          <div class = "col-md-12">
            <button type="submit" class = "btn wob-bg-secondary2 float-right mb-3" [disabled]="website.errors && company_website" >Save Profile</button>
            <div class = "invalid-feedback float-right d-inline" *ngIf="error_msg">
              {{error_msg}}
            </div>
          </div>

        </div>

      </div>
    </div>

  </form>
</div>

</section>
