<!--Account setting page code start here-->

<section class = "setting">

<div class="alert alert-info pro_alert alert-dismissible" *ngIf="disable_msg">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	Your profile is currently disabled.
</div>

<div class="alert alert-success pro_alert alert-dismissible" *ngIf="enable_msg">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	Your profile is currently enable.
</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 wizard-form sett_padd">
<div class="alert alert-danger pro_alert alert-dismissible" *ngIf = "message ">
    {{message}}    
 </div>
				<h1 class = "text-center sett-mr-btm">Account Settings</h1>
				   <div class="group">
				   		<!--<h1>Required for platform use</h1>-->
						
						<div class="items">
							<!--<label for="email">Email</label>-->
							<span>Marketing emails</span>
							<div class="btn-container">
								<label class="switch">
								  <input type="checkbox" checked [(ngModel)]="info.marketing" (change)="account_setting()" >
								  <span class="slider round"></span>
								</label>
							</div>
						</div>
				   </div>

				   <div class="group">
						
						<div class="items">
							<span>Disable my account and stop receiving all communications (email, phone and post)</span>
							<div class="btn-container">
								<label class="switch">
								  <input type="checkbox" id="myCheck"  [(ngModel)]="info.disable_account" (change)="account_setting()">
								  <span class="slider round"></span>
								</label>
							</div>
						</div>

						

				   </div>

				   <div class = "group">
				   		<div class="items no-line primary">
				   			<label for="name"><a href="#" type = "button" data-toggle="modal" data-target="#myModal">Request</a> a copy of the personal data we have about your account.
				   			</label>
				   		</div>
				   </div>

				   <div class = "group">
				   		<div class="items no-line danger">
				   			<label for="name"><a href="#" type = "button" data-toggle="modal" data-target="#Modal">Delete</a> your account forever.
				   			</label>
				   		</div>
				   </div>

				
			</div>
		</div>
	</div>
	
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header model-head">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Request Copy Data</h4>
      </div>
      <div class="modal-body">
        <p>
			Please send an email to <a href = "mailto:privacy@workonblockchain.com"> privacy@workonblockchain.com </a> 
			to request a copy of your personal data.
		</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>


<!-- Modal b-->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header model-head">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Request Delete Your Account</h4>
      </div>
      <div class="modal-body">
        <p>
			Please send an email to <a href = "mailto:privacy@workonblockchain.com"> privacy@workonblockchain.com </a> 
			to delete your account forever!.
		</p>
      </div>
      <div class="modal-footer text-right">
      </div>
    </div>

  </div>
</div>

<!--Profile-inner end-->

<!--Account setting page code End here-->