<!--<table class="table">
    <thead>
		<tr>
			<th> <a routerLink="/about"> About</a></th>
			<th><a routerLink="/job" >Job</a></th>
			<th><a routerLink="/resume" class="{{class}}">Resume</a></th>
			<th><a routerLink="/experience" class = "{{exp_class}}">Experience</a></th>
			<th><a routerLink="/final" class = "{{final_class}}">Final</a></th>
			<th><a routerLink="/referral" class = "{{referral_class}}">Referral</a></th>
		</tr>
    </thead>
</table>
<h5>Earn £500 by inviting others to our system</h5>
<p>
	If someone you refer us gets hired for a full 
	time position, we will give you an Amazon gift 
	card worth £500. 
</p>
<h5> Your invite link </h5> 
<p> {{ref_link}} </p>
<body data-scribe="section:share" class=" regular ltr ready">
	<div id="widget">
		<div class="btn-o" data-scribe="component:button" style="width: 61px;">
			<a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fwww.talent.io%2Finvite&amp;ref_src=twsrc%5Etfw&amp;text=I%E2%80%99m%20inviting%20you%20to%20talent.io!%20Sign%20up%20now%20and%20let%20companies%20apply%20to%20you.%20Receive%205%20%20job%20offers%20in%20one%20week.%20Salaries%20from%20%E2%82%AC35k%20-%20%E2%82%AC100k&amp;tw_p=tweetbutton&amp;url={{ref_link}};via=talentio" class="btn" id="b">
				<i></i><span class="label" id="l">Tweet</span>
			</a>
		</div>
	</div>
</body>-->


<section class = "referral-page">

		<div class="container referral-container">
			<div class="row col-md-12 referral-inner">
				<h3>Earn 500 &euro; invite other to Workonblockchain.com</h3>
				<p>
					If some one your refer us get hired for a full time position, we will give 
					you and amazing gift card with &euro; 500.
				</p>

				<p>
					<i>This offer does not apply to internships. Workonblockchain.com is aimed exclusively product
					managers, designers and developers (web, mobile, etc.). </i>
				</p>
				<ng-container *ngIf="show_refreal == 10;else no_show">
					<div class = "link_area">
						<h3 class = "invite_link">Your Invite link</h3>
						<div class = "form-group">
							<span>  
								<input type="text" style="font-size: 16px;width:88%;border: none;" value="{{ref_link}}" readonly #userinput /> 
							</span>
							<button class = "btn btn-default copy_btn" (click)="copyInputMessage(userinput)">Copy Link</button>
						</div>
						<div class="fb-share-button" data-href="https://www.workonblockchain.com/ref/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.workonblockchain.com%2Fref%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
						<div class = "twitter-share-button">
							<a href="https://twitter.com/share" style="display: inline-block;position: relative;" [attr.data-text]="text" [attr.data-url]="share_url" class="twitter-share-button">Tweet</a>
						</div>
					</div>

					<hr>
					<form (submit)="send_email()">
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" placeholder="Email" name="email" id="email" [(ngModel)]="credentials.email">
						</div>

						<div class="form-group">
							<label>Subject</label>
							<input type="text" class="form-control" placeholder="Some thing text here about you email subject" name="subject" id="subject" [(ngModel)]="email_subject">
						</div>

						<div class="form-group">
						  <label for="comment">Body</label>
						  <textarea class="form-control" placeholder="your message here" rows="14" name="mail_body" id="comment" [(ngModel)]="mail_body">{{mail_body}}</textarea>
						</div>
						<p style="color: green;font-size: 18px;">{{log}}</p>
						<div class="form-group">
							<button type="submit" class = "btn btn-lg btn-self">Send</button>
						</div>
					</form>
				</ng-container>
				<ng-template #no_show>
					<h4>
						Please sign up or sign in so that we 
						can reward you 
					</h4>
					<a class="btn btn-default" routerLink="/signup"> Sign Up</a>
					<a class="btn btn-default" routerLink="/login">Login</a>
				</ng-template>
			</div>
		</div>
		
		<div class = "gap">
		</div>

	</section>