<section class="wob-bg-primary2 mt-5 py-5">
	<div class="container">
		<div class="row">
      <div class = "col-md-12">
        <div class = "row" id = "frame" *ngIf="length > 0">
          <div class = "col-3 col-sm-4 float-left h-100 position-relative p-0">
            <div class = "p-2 p-sm-3 border-bottom" style= "overflow:hidden;">
              <div class = "wrap" style = "line-height:60px;">
								<ng-container *ngIf="profile_pic;else company_logo_top">
									<img id="profile-img" src="{{profile_pic}}" alt="Profile pic" class = "float-left rounded-circle" style = "width:60px;">
								</ng-container>
								<ng-template #company_logo_top>
									<img id="profile-img12" src="/assets/profile/profile-image.png" alt="Profile pic" class = "float-left rounded-circle" style = "width:60px;">
								</ng-template>
								<p class = "float-left ml-4 d-none d-md-block text-capitalize">{{display_name}}</p>
							</div>
            </div>
            <div id = "contact" class = "border-right">
              <ul class = "list-group">
                <li *ngFor="let person of users" [ngClass]="(credentials.id == person.user_id)?'list-group-item wob-bg-secondary3':'list-group-item list-group-item-lite position-relative'" (click)="openDialog(person.name,person.user_id)">
                  <div class = "cont m-auto position-relative">
										<ng-container *ngIf="user_type === 'company';else cand_image">
											<ng-container *ngIf="person.image;else person_image">
												<img src="{{person.image}}" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-container>
											<ng-template #person_image>
												<img src="/assets/profile/profile-image.png" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-template>
										</ng-container>
										<ng-template #cand_image>
											<ng-container *ngIf="person.image;else company_image">
												<img src="{{person.image}}" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-container>
											<ng-template #company_image>
												<img src="/assets/profile/profile-image.png" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-template>

										</ng-template>
										<div class="meta">
											<p class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;" *ngIf="user_type == 'company'">{{ person.name }}</p>
											<p class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;" *ngIf="user_type == 'candidate'">{{ person.name }}</p>
										</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class = "col-9 col-sm-8 pl-0 pr-0">
            <div class = "border-bottom" style = "overflow:hidden;">
              <div class = "p-1 p-md-3 w-sm-100 w-75 float-left">
                <ul class = "cand_info-ul">
                  <ng-container *ngIf="job_desc.employee;">
                    <li>Approach type: Employee</li>
                    <li>Job title: {{job_desc.employee.job_title}}</li>
                    <li>Job type: {{job_desc.employee.employment_type}}</li>
                    <li>Salary: {{job_desc.employee.currency}} {{job_desc.annual_salary}}</li>
                  </ng-container>
                  <ng-container *ngIf="job_desc.contractor;">
                    <li>Approach type: Contractor</li>
                    <li>Hourly rate: {{job_desc.contractor.currency}} {{job_desc.contractor.hourly_rate}}</li>
                    <br>
                  </ng-container>
                  <ng-container *ngIf="job_desc.volunteer;">
                    <li>Approach type: Volunteer</li>
                    <br>
                  </ng-container>
                </ul>
              </div>
            </div>

            <div class="message p-2" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <ul class = "ul_pd">
                <div *ngFor="let msg of new_msgss">
									<ng-container *ngIf="msg.sender_id === user_id;else second">
                    <li class="sent mb-5 col-md-12">
                      <br><br>
                      <p class = "p-2 send_p job-description rounded d-inline-block">
                        <!-- msg.message.approach.employee starts-->
                        <ng-container *ngIf="msg.message.approach && msg.message.approach.employee">
                          <span>
                                <b>Employment opportunity:</b>
                                <br/>
                              </span>
                              <span>
                                <b>Job title:</b>
                                {{msg.message.approach.employee.job_title}}
                                <br/>
                              </span>
                          <span>
                                <b>Job type:</b>
                                {{msg.message.approach.employee.employment_type}}
                                <br/>
                              </span>
                          <span>
                                <b>Salary:</b>
                                {{msg.message.approach.employee.annual_salary}} {{msg.message.approach.employee.currency}}
                                <br/>
                              </span>
                          <span>
                                <b>Location:</b>
                                {{msg.message.approach.employee.location}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.approach.employee.employment_description | safeHtml">
                                {{msg.message.approach.employee.employment_description}}
                                <br/>
                              </span>
                        </ng-container>
                        <!-- msg.message.approach.employee ends-->

                        <!-- msg.message.approach.volunteer starts-->
                        <ng-container *ngIf="msg.message.approach && msg.message.approach.volunteer">
                           <span>
                                <b>Volunteer opportunity:</b>
                                <br/>
                              </span>
                              <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.approach.volunteer.opportunity_description | safeHtml">
                                {{msg.message.approach.volunteer.opportunity_description}}
                                <br/>
                              </span>
                        </ng-container>
                        <!-- msg.message.approach.volunteer ends-->

                        <!-- msg.message.approach.contractor starts-->
                        <ng-container *ngIf="msg.message.approach && msg.message.approach.contractor">
                          <span>
                                <b>Contract/freelancer opportunity:</b>
                                <br/>
                              </span>
                              <span>
                                <b>Hourly rate: </b>
                                {{msg.message.approach.contractor.currency}} {{msg.message.approach.contractor.hourly_rate}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.approach.contractor.contract_description | safeHtml">
                                {{msg.message.approach.contractor.contract_description}}
                                <br/>
                              </span>
                        </ng-container>
                        <!-- msg.message.approach.contractor ends-->

                        <!--msg.message.approach_accepted starts-->
                        <ng-container *ngIf="msg.message.approach_accepted">
                              <span [innerHTML]="msg.message.approach_accepted.message | safeHtml">
                                {{msg.message.approach_accepted.message}}
                              </span>
                        </ng-container>
                        <!--msg.message.approach_accepted ends-->
                        <!--msg.message.approach_rejected starts-->
                        <ng-container *ngIf="msg.message.approach_rejected">
                              <span [innerHTML]="msg.message.approach_rejected.message | safeHtml">
                                {{msg.message.approach_rejected.message}}
                              </span>
                        </ng-container>
                        <!--msg.message.approach_rejected ends-->

                        <!--msg.message.interview_offer starts-->
                        <ng-container *ngIf="msg.message.interview_offer">
                              <span>
                                <b>Interview date & time:</b>
                                {{msg.message.interview_offer.date_time | date : 'dd'}} {{msg.message.interview_offer.date_time | date : 'MMM'}} {{msg.message.interview_offer.date_time | date : 'yyyy'}} {{msg.message.interview_offer.date_time | date : 'HH:mm'}}
                                <br/>
                              </span>
                          <span>
                                <b>Interview location:</b>
                                {{msg.message.interview_offer.location}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.interview_offer.description | safeHtml">
                                  {{msg.message.interview_offer.description}}
                                </span>
                        </ng-container>
                        <!--msg.message.interview_offer ends-->

                        <!--msg.message.employment_offer starts-->
                        <ng-container *ngIf="msg.message.employment_offer">
                              <span>
                                <b>Job title:</b>
                                {{msg.message.employment_offer.title}}
                                <br/>
                              </span>
                          <span>
                                <b>Salary:</b>
                                {{msg.message.employment_offer.salary}} {{msg.message.employment_offer.salary_currency}}
                                <br/>
                              </span>
                          <span>
                                <b>Start date:</b>
                                {{msg.message.employment_offer.start_date | date : 'dd'}} {{msg.message.employment_offer.start_date | date : 'MMM'}} {{msg.message.employment_offer.start_date | date : 'yyyy'}} {{msg.message.employment_offer.start_date | date : 'HH:mm'}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.employment_offer.description | safeHtml">
                                {{msg.message.employment_offer.description}}
                                <br/>
                              </span>
                          <ng-container *ngIf="!msg.message.employment_offer.file_url;else employ_file_url">
                          </ng-container>
                          <ng-template #employ_file_url>
                            <b>Employment contract: </b>
                            <a href="{{msg.message.employment_offer.file_url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.employment_offer.file_url.substr(msg.message.employment_offer.file_url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </ng-template>
                        </ng-container>
                        <!--msg.message.employment_offer ends-->

                        <!--msg.message.employment_offer_accepted starts-->
                        <ng-container *ngIf="msg.message.employment_offer_accepted">
                              <span [innerHTML]="msg.message.employment_offer_accepted.message | safeHtml">
                              {{msg.message.employment_offer_accepted.message}}
                            </span>
                        </ng-container>
                        <!--msg.message.employment_offer_accepted ends-->

                        <!--msg.message.employment_offer_rejected starts-->
                        <ng-container *ngIf="msg.message.employment_offer_rejected">
                              <span [innerHTML]="msg.message.employment_offer_rejected.message | safeHtml">
                              {{msg.message.employment_offer_rejected.message}}
                            </span>
                        </ng-container>
                        <!--msg.message.employment_offer_rejected ends-->

                        <!--file starts-->
                        <ng-container *ngIf="msg.message.file">
                          <span>
                            <a href="{{msg.message.file.url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.file.url.substr(msg.message.file.url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </span>
                        </ng-container>
                        <!--file ends-->

                        <!--normal message starts-->
                        <ng-container *ngIf="msg.message.normal">
                              <span [innerHTML]="msg.message.normal.message | safeHtml">
                                {{msg.message.normal.message}}
                              </span>
                        </ng-container>
                        <!--normal message ends-->
                      </p>
                    </li>
                    <div class="chat_company">
                      {{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
                    </div>
									</ng-container>
									<ng-template #second>
                    <li class="replies mb-5 col-md-12">
                      <br><br>
                      <div class="arrow-up"></div>
                      <p class = "p-2 rec_p wob-bg-primary1 rounded text-light d-inline-block">
                        <!-- msg.message.approach.employee starts-->
                        <ng-container *ngIf="msg.message.approach && msg.message.approach.employee">
                          <span>
                                <b>Employment opportunity</b>
                                <br/>
                              </span>
                              <span>
                                <b>Job title:</b>
                                {{msg.message.approach.employee.job_title}}
                                <br/>
                              </span>
                          <span>
                                <b>Job type:</b>
                                {{msg.message.approach.employee.employment_type}}
                                <br/>
                              </span>
                          <span>
                                <b>Salary:</b>
                                {{msg.message.approach.employee.annual_salary}} {{msg.message.approach.employee.currency}}
                                <br/>
                              </span>
                          <span>
                                <b>Location:</b>
                                {{msg.message.approach.employee.location}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.approach.employee.employment_description | safeHtml">
                                {{msg.message.approach.employee.employment_description}}
                                <br/>
                              </span>
                        </ng-container>
                        <!-- msg.message.approach.employee ends-->

                        <!-- msg.message.approach.volunteer starts-->
                        <ng-container *ngIf="msg.message.approach && msg.message.approach.volunteer">
                           <span>
                                <b>Volunteer opportunity</b>
                                <br/>
                              </span>
                              <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.approach.volunteer.opportunity_description | safeHtml">
                                {{msg.message.approach.volunteer.opportunity_description}}
                                <br/>
                              </span>
                        </ng-container>
                        <!-- msg.message.approach.volunteer starts-->

                        <!-- msg.message.approach.contractor starts-->
                        <ng-container *ngIf="msg.message.approach && msg.message.approach.contractor">
                           <span>
                                <b>Contract/freelancer opportunity</b>
                                <br/>
                              </span>
                              <span>
                                <b>Hourly rate: </b>
                                {{msg.message.approach.contractor.currency}} {{msg.message.approach.contractor.hourly_rate}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.approach.contractor.contract_description | safeHtml">
                                {{msg.message.approach.contractor.contract_description}}
                                <br/>
                              </span>
                        </ng-container>
                        <!-- msg.message.approach.contractor ends-->

                        <!--msg.message.approach_accepted starts-->
                        <ng-container *ngIf="msg.message.approach_accepted">
                              <span [innerHTML]="msg.message.approach_accepted.message | safeHtml">
                                {{msg.message.approach_accepted.message}}
                              </span>
                        </ng-container>
                        <!--msg.message.approach_accepted ends-->
                        <!--msg.message.approach_rejected starts-->
                        <ng-container *ngIf="msg.message.approach_rejected">
                              <span [innerHTML]="msg.message.approach_rejected.message | safeHtml">
                                {{msg.message.approach_rejected.message}}
                              </span>
                        </ng-container>
                        <!--msg.message.approach_rejected ends-->

                        <!--msg.message.interview_offer starts-->
                        <ng-container *ngIf="msg.message.interview_offer">
                              <span>
                                <b>Interview date & time:</b>
                                {{msg.message.interview_offer.date_time | date : 'dd'}} {{msg.message.interview_offer.date_time | date : 'MMM'}} {{msg.message.interview_offer.date_time | date : 'yyyy'}} {{msg.message.interview_offer.date_time | date : 'HH:mm'}}
                                <br/>
                              </span>
                          <span>
                                <b>Interview location:</b>
                                {{msg.message.interview_offer.location}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.interview_offer.description | safeHtml">
                                  {{msg.message.interview_offer.description}}
                                </span>
                        </ng-container>
                        <!--msg.message.interview_offer ends-->

                        <!--msg.message.employment_offer starts-->
                        <ng-container *ngIf="msg.message.employment_offer">
                              <span>
                                <b>Job title:</b>
                                {{msg.message.employment_offer.title}}
                                <br/>
                              </span>
                          <span>
                                <b>Salary:</b>
                                {{msg.message.employment_offer.salary}} {{msg.message.employment_offer.salary_currency}}
                                <br/>
                              </span>
                          <span>
                                <b>Start date:</b>
                                {{msg.message.employment_offer.start_date | date : 'dd'}} {{msg.message.employment_offer.start_date | date : 'MMM'}} {{msg.message.employment_offer.start_date | date : 'yyyy'}} {{msg.message.employment_offer.start_date | date : 'HH:mm'}}
                                <br/>
                              </span>
                          <span>
                                <b>Description:</b><br>
                              </span>
                          <span [innerHTML]="msg.message.employment_offer.description | safeHtml">
                                {{msg.message.employment_offer.description}}
                                <br/>
                              </span>
                          <ng-container *ngIf="!msg.message.employment_offer.file_url;else employ_file_url">
                          </ng-container>
                          <ng-template #employ_file_url>
                            <b>Employment contract: </b>
                            <a href="{{msg.message.employment_offer.file_url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.employment_offer.file_url.substr(msg.message.employment_offer.file_url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </ng-template>
                        </ng-container>
                        <!--msg.message.employment_offer ends-->

                        <!--msg.message.employment_offer_accepted starts-->
                        <ng-container *ngIf="msg.message.employment_offer_accepted">
                              <span [innerHTML]="msg.message.employment_offer_accepted.message | safeHtml">
                              {{msg.message.employment_offer_accepted.message}}
                            </span>
                        </ng-container>
                        <!--msg.message.employment_offer_accepted ends-->

                        <!--msg.message.employment_offer_rejected starts-->
                        <ng-container *ngIf="msg.message.employment_offer_rejected">
                              <span [innerHTML]="msg.message.employment_offer_rejected.message | safeHtml">
                              {{msg.message.employment_offer_rejected.message}}
                            </span>
                        </ng-container>
                        <!--msg.message.employment_offer_rejected ends-->

                        <!--file starts-->
                        <ng-container *ngIf="msg.message.file">
                          <span>
                            <a href="{{msg.message.file.url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.file.url.substr(msg.message.file.url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </span>
                        </ng-container>
                        <!--file ends-->

                        <!--normal message starts-->
                        <ng-container *ngIf="msg.message.normal">
                              <span [innerHTML]="msg.message.normal.message | safeHtml">
                                {{msg.message.normal.message}}
                              </span>
                        </ng-container>
                        <!--normal message ends-->
											</p>
										</li>
										<div class="chat_user">
											{{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
										</div>
									</ng-template>
								</div>
								<li class = "offers_b"></li>
							</ul>
						</div>
          </div>
        </div><!--end col here-->
        <div class = "row py-5 mb-5 mt-5 justify-content-center social-icons my-4">
          <div class="col-md-6">
            <div *ngIf = "length === 0" class="alert alert-danger text-center">
              Didn't chat with any one yet
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
