<section class="wob-bg-primary2 mt-5 py-5">
	<div class="container">
		<div class="row">
      <div class = "col-md-12">
        <div class = "row" id = "frame" *ngIf="length > 0">
          <div class = "col-3 col-sm-4 float-left h-100 position-relative p-0">
            <div class = "p-2 p-sm-3 border-bottom" style= "overflow:hidden;">
              <div class = "wrap" style = "line-height:60px;">
								<ng-container *ngIf="profile_pic;else company_logo_top">
									<img id="profile-img" src="{{profile_pic}}" alt="Profile pic" class = "float-left rounded-circle" style = "width:60px;">
								</ng-container>
								<ng-template #company_logo_top>
									<img id="profile-img12" src="/assets/profile/profile-image.png" alt="Profile pic" class = "float-left rounded-circle" style = "width:60px;">
								</ng-template>
								<p class = "float-left ml-4 d-none d-md-block text-capitalize">{{display_name}}</p>
							</div>
            </div>
            <div id = "contact" class = "border-right">
              <ul class = "list-group">
                <li *ngFor="let person of users" [ngClass]="(credentials.id == person.user_id)?'list-group-item wob-bg-secondary3':'list-group-item list-group-item-lite position-relative'" (click)="openDialog(person.name,person.user_id)">
                  <div class = "cont m-auto position-relative">
										<ng-container *ngIf="user_type === 'company';else cand_image">
											<ng-container *ngIf="person.image;else person_image">
												<img src="{{person.image}}" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-container>
											<ng-template #person_image>
												<img src="/assets/profile/profile-image.png" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-template>
										</ng-container>
										<ng-template #cand_image>
											<ng-container *ngIf="person.image;else company_image">
												<img src="{{person.image}}" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-container>
											<ng-template #company_image>
												<img src="/assets/profile/profile-image.png" alt="Profile pic" class = "float-left rounded-circle mr-2" style = "width:40px;">
											</ng-template>

										</ng-template>
										<div class="meta">
											<p class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;" *ngIf="user_type == 'company'">{{ person.name }}</p>
											<p class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;" *ngIf="user_type == 'candidate'">{{ person.name }}</p>
										</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class = "col-9 col-sm-8 pl-0 pr-0">
            <div class = "border-bottom" style = "overflow:hidden;">
              <div class = "p-1 p-md-3 w-sm-100 w-75 float-left">
                <ul class = "cand_info-ul">
                  <ng-container *ngIf="user_type === 'company';else cand">
                    <ng-container *ngIf="job_desc;else no_job_desc">
                      <li>Salary : {{job_desc.salary}} {{job_desc.salary_currency}}</li>
                      <li>Job title : {{job_desc.title}}</li>
                      <li>Job type : {{job_desc.type}}</li>
                    </ng-container>
                    <ng-template #no_job_desc>
                      <li>Salary : N/A</li>
                      <li>Job title : N/A</li>
                      <li>Job type : N/A</li>
                    </ng-template>
                  </ng-container>
                  <ng-template #cand>
                    <li>Job title : {{job_desc.title}}</li>
                    <li>Salary : {{job_desc.salary}} {{job_desc.salary_currency}}</li>
                    <li>Job type : {{job_desc.type}}</li>
                  </ng-template>
                </ul>

              </div>
            </div>

            <div class="message p-2" #scrollMe [scrollTop]="scrollMe.scrollHeight">
              <ul class = "ul_pd">
                <div *ngFor="let msg of new_msgss">
									<ng-container *ngIf="msg.sender_id === user_id;else second">
                    <li class="sent mb-5 col-md-12">
                      <br><br>
                      <p class = "p-2 send_p job-description rounded d-inline-block">
												<!--<span class="text-capitalize">{{msg.sender_name}}:</span>-->
                        <span *ngIf="msg.message.job_offer">
													<b>Job title:</b>
													{{msg.message.job_offer.title}}
													<br/>
												</span>
                        <span *ngIf="msg.message.employment_offer">
                          <b>Job title:</b>
                          {{msg.message.employment_offer.title}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer">
													<b>Salary:</b>
                              {{msg.message.job_offer.salary}} {{msg.message.job_offer.salary_currency}}
                          <br/>
												</span>
                        <span *ngIf="msg.message.employment_offer">
                          <b>Salary:</b>
                          {{msg.message.employment_offer.salary}} {{msg.message.employment_offer.salary_currency}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer">
                          <b>Job type:</b>
                          {{msg.message.job_offer.type}}
													<br/>
												</span>
                        <span *ngIf="msg.message.employment_offer">
                          <b>Start date:</b>
													{{msg.message.employment_offer.start_date | date: 'MM/dd/yyyy'}}
													<br/>
												</span>
                        <span *ngIf="msg.message.interview_offer">
													<b>Interview date & time:</b>
													{{msg.message.interview_offer.date_time | date: 'MM/dd/yyyy HH:mm'}}
													<br/>
												</span>
                        <span *ngIf="msg.message.interview_offer">
                          <b>Interview location:</b>
                          {{msg.message.interview_offer.location}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer">
                          <b>Location:</b>
                          {{msg.message.job_offer.location}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer || msg.message.employment_offer || msg.message.interview_offer">
													<b>Description:</b><br>
												</span>
                        <span *ngIf="msg.message.job_offer" [innerHTML]="msg.message.job_offer.description | safeHtml">
                          {{msg.message.job_offer.description}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.employment_offer" [innerHTML]="msg.message.employment_offer.description | safeHtml">
                          {{msg.message.employment_offer.description}}
                          <br/>
                        </span>
                        <ng-container *ngIf="msg.msg_tag === 'interview_offer';else no_interview_desc">
                          <ng-container *ngIf="!msg.message.interview_offer.description;else interview_desc">
                            N/A
                          </ng-container>
                          <ng-template #interview_desc>
                                <span [innerHTML]="msg.message.interview_offer.description | safeHtml">
                                  {{msg.message.interview_offer.description}}
                                </span>
                          </ng-template>
                        </ng-container>
                        <span *ngIf="msg.message.employment_offer">
                          <ng-container *ngIf="!msg.message.employment_offer.file_url;else employ_file_url">
                          </ng-container>
                          <ng-template #employ_file_url>
                            <b>Employment contract: </b>
                            <a href="{{msg.message.employment_offer.file_url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.employment_offer.file_url.substr(msg.message.employment_offer.file_url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </ng-template>
                        </span>
                        <span *ngIf="msg.message.file">
                          <a href="{{msg.message.file.url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.file.url.substr(msg.message.file.url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                        </span>
                        <span *ngIf="msg.message.normal" [innerHTML]="msg.message.normal.message | safeHtml">
                          {{msg.message.normal.message}}
                        </span>
                        <span *ngIf="msg.message.job_offer_accepted" [innerHTML]="msg.message.job_offer_accepted.message | safeHtml">
                          {{msg.message.job_offer_accepted.message}}
                        </span>
                        <span *ngIf="msg.message.job_offer_rejected" [innerHTML]="msg.message.job_offer_rejected.message | safeHtml">
                          {{msg.message.job_offer_rejected.message}}
                        </span>
                        <span *ngIf="msg.message.employment_offer_accepted" [innerHTML]="msg.message.employment_offer_accepted.message | safeHtml">
                          {{msg.message.employment_offer_accepted.message}}
                        </span>
                        <span *ngIf="msg.message.employment_offer_rejected" [innerHTML]="msg.message.employment_offer_rejected.message | safeHtml">
                          {{msg.message.employment_offer_rejected.message}}
                        </span>
                      </p>
                    </li>
                    <div class="chat_company">
                      {{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
                    </div>
									</ng-container>
									<ng-template #second>
                    <li class="replies mb-5 col-md-12">
                      <br><br>
                      <div class="arrow-up"></div>
                      <p class = "p-2 rec_p wob-bg-primary1 rounded text-light d-inline-block">
                        <!--<span class="text-capitalize">{{msg.sender_name}}:</span>-->
                        <span *ngIf="msg.message.job_offer">
													<b>Job title:</b>
													{{msg.message.job_offer.title}}
													<br/>
												</span>
                        <span *ngIf="msg.message.employment_offer">
                          <b>Job title:</b>
                          {{msg.message.employment_offer.title}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer">
													<b>Salary:</b>
                              {{msg.message.job_offer.salary}} {{msg.message.job_offer.salary_currency}}
                          <br/>
												</span>
                        <span *ngIf="msg.message.employment_offer">
                          <b>Salary:</b>
                          {{msg.message.employment_offer.salary}} {{msg.message.employment_offer.salary_currency}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer">
                          <b>Job type:</b>
                          {{msg.message.job_offer.type}}
													<br/>
												</span>
                        <span *ngIf="msg.message.employment_offer">
                          <b>Start date:</b>
													{{msg.message.employment_offer.start_date | date: 'MM/dd/yyyy'}}
													<br/>
												</span>
                        <span *ngIf="msg.message.interview_offer">
													<b>Interview date & time:</b>
													{{msg.message.interview_offer.date_time | date: 'MM/dd/yyyy HH:mm'}}
													<br/>
												</span>
                        <span *ngIf="msg.message.interview_offer">
                          <b>Interview location:</b>
                          {{msg.message.interview_offer.location}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer">
                          <b>Location:</b>
                          {{msg.message.job_offer.location}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.job_offer || msg.message.employment_offer || msg.message.interview_offer">
													<b>Description:</b><br>
												</span>
                        <span *ngIf="msg.message.job_offer" [innerHTML]="msg.message.job_offer.description | safeHtml">
                          {{msg.message.job_offer.description}}
                          <br/>
                        </span>
                        <span *ngIf="msg.message.employment_offer" [innerHTML]="msg.message.employment_offer.description | safeHtml">
                          {{msg.message.employment_offer.description}}
                          <br/>
                        </span>
                        <ng-container *ngIf="msg.msg_tag === 'interview_offer';else no_interview_desc">
                          <ng-container *ngIf="!msg.message.interview_offer.description;else interview_desc">
                            N/A
                          </ng-container>
                          <ng-template #interview_desc>
                                <span [innerHTML]="msg.message.interview_offer.description | safeHtml">
                                  {{msg.message.interview_offer.description}}
                                </span>
                          </ng-template>
                        </ng-container>
                        <span *ngIf="msg.message.employment_offer">
                          <ng-container *ngIf="!msg.message.employment_offer.file_url;else employ_file_url">
                          </ng-container>
                          <ng-template #employ_file_url>
                            <b>Employment contract: </b>
                            <a href="{{msg.message.employment_offer.file_url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.employment_offer.file_url.substr(msg.message.employment_offer.file_url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </ng-template>
                        </span>
                        <span *ngIf="msg.message.file">
                          <a href="{{msg.message.file.url}}" style="word-wrap: break-word;" target="_blank">{{msg.message.file.url.substr(msg.message.file.url.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                        </span>
                        <span *ngIf="msg.message.normal" [innerHTML]="msg.message.normal.message | safeHtml">
                          {{msg.message.normal.message}}
                        </span>
                        <span *ngIf="msg.message.job_offer_accepted" [innerHTML]="msg.message.job_offer_accepted.message | safeHtml">
                          {{msg.message.job_offer_accepted.message}}
                        </span>
                        <span *ngIf="msg.message.job_offer_rejected" [innerHTML]="msg.message.job_offer_rejected.message | safeHtml">
                          {{msg.message.job_offer_rejected.message}}
                        </span>
                        <span *ngIf="msg.message.employment_offer_accepted" [innerHTML]="msg.message.employment_offer_accepted.message | safeHtml">
                          {{msg.message.employment_offer_accepted.message}}
                        </span>
                        <span *ngIf="msg.message.employment_offer_rejected" [innerHTML]="msg.message.employment_offer_rejected.message | safeHtml">
                          {{msg.message.employment_offer_rejected.message}}
                        </span>
											</p>
										</li>
										<div class="chat_user">
											{{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
										</div>
									</ng-template>
								</div>
								<li class = "offers_b"></li>
							</ul>
						</div>
          </div>
        </div><!--end col here-->
        <div class = "row py-5 mb-5 mt-5 justify-content-center social-icons my-4">
          <div class="col-md-6">
            <L0-alerts *ngIf="length === 0" alertClass="alert-danger" aligmentClass="text-center" alertMsg="Didn't chat with any one yet" ></L0-alerts>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
