<section class="wob-bg-primary2 mt-5">
  <div class="container">
    <div class="row">
      <div class = "col-md-12">
        <div class = "d-flex my-4">
          <!--<div *ngIf="msg!==''" class = "col-md-12 py-5 my-3">
            <div class="alert alert-danger">
              {{msg}}
            </div>
          </div>-->
          <div class = "row" *ngIf="length > 0" id = "frame">
            <div class = "col-3 col-sm-4 float-left h-100 position-relative p-0">
              <div class = "p-2 p-sm-3 border-bottom" style= "overflow:hidden;">
                <div class = "wrap" style = "line-height:60px;">
                  <ng-container *ngIf="profile_pic;else company_logo_top">
                    <img id="profile-img" src="{{profile_pic}}" alt="Profile pic" class = "float-left rounded-circle" style = "width:60px;">
                  </ng-container>
                  <ng-template #company_logo_top>
                    <img id="profile-img12" src="/assets/profile/profile-image.png" alt="" class = "float-left rounded-circle" style = "width:60px;">
                  </ng-template>
                  <p class = "float-left ml-4 d-none d-md-block text-capitalize">{{display_name}}</p>
                </div>
              </div>
              <div id = "contact" class = "border-right">
                <ul class = "list-group">
                  <li *ngFor="let person of users;let i = index" [ngClass]="(credentials.id == person._creator._id)?'list-group-item wob-bg-secondary3':'list-group-item list-group-item-lite position-relative'" (click)="openDialog(person.first_name,person._creator._id,person.company_name)" style= "overflow:hidden;">
                    <div class = "cont m-auto position-relative">
                      <ng-container *ngIf="currentUser.type == 'company';else cand_image">
                        <ng-container *ngIf="person.image;else person_image">
                          <img src="{{person.image}}" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                        </ng-container>
                        <ng-template #person_image>
                          <img src="/assets/profile/profile-image.png" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                        </ng-template>
                        <div class="meta">
                          <p *ngIf="person.initials" class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;"><b>{{ person.initials }}</b></p>
                          <p *ngIf="person.first_name" class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;"><b>{{ person.first_name }} {{ person.last_name }}</b></p>
                          <span *ngIf="unread_msgs_info[i].sender_id == person._creator._id && unread_msgs_info[i].number_of_unread_msgs" class = "rounded-circle badge badge-danger position-absolute mt-2" style = "right:0px">
                            {{unread_msgs_info[i].number_of_unread_msgs}}
                          </span>
                        </div>
                      </ng-container>
                      <ng-template #cand_image>
                        <ng-container *ngIf="person.company_logo;else company_image">
                          <img src="{{person.company_logo}}" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                        </ng-container>
                        <ng-template #company_image>
                          <img src="/assets/profile/profile-image.png" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                        </ng-template>
                        <div class="meta">
                          <p class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;"><b>{{ person.company_name }}</b></p>
                          <span *ngIf="unread_msgs_info[i].sender_id == person._creator._id && unread_msgs_info[i].number_of_unread_msgs" class = "rounded-circle badge badge-danger position-absolute mt-2" style = "right:0px">
                            <b>{{unread_msgs_info[i].number_of_unread_msgs}}</b>
                          </span>
                        </div>
                      </ng-template>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class = "col-9 col-sm-8 pl-0 pr-0">
              <div class = "border-bottom" style = "overflow:hidden;">
                <div class = "p-1 p-md-3 w-sm-100 w-75 float-left">
                  <ul class="cand_info-ul">
                    <ng-container *ngIf="currentUser.type == 'company';else cand">
                      <ng-container *ngIf="job_desc;else no_job_desc">
                        <li>Job type: {{job_desc.job_type}}</li>
                        <li>Job title: {{job_desc.job_title}}</li>
                        <li>Salary: {{job_desc.salary}} {{job_desc.salary_currency}}</li>
                      </ng-container>
                      <ng-template #no_job_desc>
                        <li>Job type: N/A</li>
                        <li>Job title: N/A</li>
                        <li>Salary: N/A</li>
                      </ng-template>
                    </ng-container>
                    <ng-template #cand>
                      <li>Job title: {{job_desc.job_title}}</li>
                      <li class="text-capitalize">Job Type : {{job_desc.job_type}}</li>
                      <li>Salary: {{job_desc.salary}} {{job_desc.salary_currency}}</li>
                    </ng-template>
                  </ul>
                </div>
                <div class = "p-2 w-25 float-left d-none d-md-block">
                  <button data-toggle="modal" data-target="#myModalNew" class="btn btn-warning float-right mb-1 text-light">View job description</button>
                  <a *ngIf="(currentUser.type === 'company')" [routerLink]="['/candidate-detail']" [queryParams]="{user: credentials.id }" class="btn btn-warning float-right text-light">View candidate profile</a>
                </div>
              </div>

              <div class="message p-2" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <ul class = "ul_pd">
                  <div *ngFor="let msg of new_msgss">
                    <ng-container *ngIf="msg.sender_id == currentUser._creator;else second">
                      <li class="sent mb-5 col-md-12">
                        <p class = "p-2 send_p job-description rounded d-inline-block">
                          <span *ngIf="msg.job_title !== ''">
                            <b>Job title:</b>
                            {{msg.job_title}}
                            <br/>
                          </span>
                          <span *ngIf="msg.salary">
                            <b>Salary:</b>
                            {{msg.salary}} {{msg.salary_currency}}
                            <br/>
                          </span>
                          <span *ngIf="msg.job_type !== ''">
                            <b>Job type:</b>
                            {{msg.job_type}}
                            <br/>
                          </span>
                          <span *ngIf="msg.msg_tag == 'employment_offer'">
                            <b>Joining date:</b>
                            {{msg.date_of_joining | date: 'MM/dd/yyyy'}}
                            <br/>
                          </span>
                          <span *ngIf="msg.interview_date_time">
                            <b>Interview date & time:</b>
                            {{msg.interview_date_time | date: 'MM/dd/yyyy HH:mm:ss'}}
                            <br/>
                          </span>
                          <span *ngIf="msg.interview_location && msg.msg_tag == 'interview_offer'">
                            <b>Interview location:</b>
                            {{msg.interview_location}}
                            <br/>
                          </span>
                          <span *ngIf="msg.interview_location && msg.msg_tag == 'job_offer'">
                            <b>Location:</b>
                            {{msg.interview_location}}
                            <br/>
                          </span>
                          <span *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                            <b>Description:</b><br>
                          </span>
                          <span [innerHTML]="msg.description | safeHtml" *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                            {{msg.description}}
                            <br/>
                          </span>
                          <span [innerHTML]="msg.message | safeHtml" *ngIf="msg.job_title == ''">
                            {{msg.message}}
                          </span>
                          <span *ngIf="msg.date_of_joining && msg.file_name !== ''">
                            <b>Employment contract:</b>
                          </span>
                          <a *ngIf="msg.file_name" href="{{msg.file_name}}" style="word-wrap: break-word;" target="_blank">{{msg.file_name.substr(msg.file_name.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                        </p>
                      </li>
                      <div class="chat_user">
                        {{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
                      </div>
                    </ng-container>
                    <ng-template #second>
                      <li class="replies mb-5 col-md-12">
                        <div class="arrow-up"></div>
                        <p class = "p-2 rec_p bg-info rounded text-light d-inline-block">
                          <!--<span *ngIf="msg.job_title === '' && (msg.interview_date_time === '' || msg.interview_date_time === null)" class="text-capitalize"> {{msg.sender_name}}:</span>-->
                          <span *ngIf="msg.job_title !== ''">
                            <b>Job title:</b>
                            {{msg.job_title}}
                            <br/>
                          </span>
                          <span *ngIf="msg.salary">
                            <b>Salary:</b>
                            {{msg.salary}} {{msg.salary_currency}}
                            <br/>
                          </span>
                          <span *ngIf="msg.job_type !== ''">
                            <b>Job type:</b>
                            {{msg.job_type}}
                            <br/>
                          </span>
                          <span *ngIf="msg.msg_tag == 'employment_offer'">
                            <b>Joining date:</b>
                            {{msg.date_of_joining | date: 'MM/dd/yyyy'}}
                            <br/>
                          </span>
                          <span *ngIf="msg.interview_date_time">
                            <b>Interview date & time:</b>
                            {{msg.interview_date_time | date: 'MM/dd/yyyy HH:mm:ss'}}
                            <br/>
                          </span>
                          <span *ngIf="msg.interview_location && msg.msg_tag === 'interview_offer'">
                            <b>Interview location:</b>
                            {{msg.interview_location}}
                            <br/>
                          </span>
                          <span *ngIf="msg.interview_location && msg.msg_tag === 'job_offer'">
                            <b>Location:</b>
                            {{msg.interview_location}}
                            <br/>
                          </span>
                          <span *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                            <b>Description:</b><br>
                          </span>
                          <span [innerHTML]="msg.description | safeHtml" *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                            {{msg.description}}
                            <br/>
                          </span>
                          <span *ngIf="msg.date_of_joining && msg.file_name !== ''">
                            <b>Employment contract:</b>
                          </span>
                          <a *ngIf="msg.file_name" href="{{msg.file_name}}" style="word-wrap: break-word;" target="_blank">{{msg.file_name.substr(msg.file_name.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          <br *ngIf="msg.file_name"/>
                          <span [innerHTML]="msg.message | safeHtml" *ngIf="msg.msg_tag == 'employment_offer'">
                            {{msg.message}}
                            <br/>
                          </span>
                          <span [innerHTML]="msg.message | safeHtml" *ngIf="msg.job_title == ''">
                            {{msg.message}}
                          </span>
                        </p>
                      </li>
                      <div class="chat_company">
                        {{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
                      </div>
                    </ng-template>
                  </div>
                  <div class = "offers_b"></div>
                </ul>
              </div>
              <!--end col here-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div id="myModalNew" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Job description</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="new_msgss;else no_job_desc_popup">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Job title:</label>
                <p>{{new_msgss[0].job_title}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Job type:</label>
                <p>{{new_msgss[0].job_type}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Salary:</label>
                <p>{{new_msgss[0].salary_currency}} {{new_msgss[0].salary}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Location:</label>
                <p>{{new_msgss[0].interview_location}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Job description:</label>
                <p class="job_decs" [innerHTML]="new_msgss[0].description | safeHtml">
                  {{new_msgss[0].description}}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #no_job_desc_popup>
        </ng-template>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary model-btn submit">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Profile-inner end-->
