<!--Edit profile page start here-->

<section class="wizard_page">
	<div class="container">
		<div class="row profile_group">
			
			
			 <form  (submit)="candidate_profile(profileForm)" #profileForm = ngForm>
			<div class="col-md-12">
					
				<!--about us form-->
				<div class = "wizard-form mr-top-form" id = "about_you">
					<div class = "login_form">
						
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">About You</legend>
							
							<div class="form-group col-md-6">
                				<label><p class = "label-p">Email</p></label>
                				<input type="text" class="form-control" disabled name="email" [(ngModel)]="info.email" id=""  name="email" [(ngModel)]="info.email">
            					
            				</div>
							
							<div class="form-group col-md-6">
                				<label><p class = "label-p">First Name</p></label>
                				<input type="text" class="form-control" name="first_name" [(ngModel)]="info.first_name" id="" placeholder="First Name"  name="first_name" [(ngModel)]="info.first_name">
            					<div class = "form_error" *ngIf="!info.first_name">
								<span class = "error">{{first_name_log}}</span>
							</div>
            				</div>
            				<div class="form-group col-md-6">
                				<label><p class = "label-p">Last Name</p></label>
               					 <input type="text" class="form-control" name="last_name" [(ngModel)]="info.last_name" id="" placeholder="Last Name"  name="last_name" [(ngModel)]="info.last_name">
            					<div class = "form_error" *ngIf="!info.last_name">
								<span class = "error">{{last_name_log}}</span>
							</div>
            				</div>

							
							<div class="form-group col-md-6">
									<label><p class = "label-p">Contact Number</p></label>
									<input type="tel" class="form-control" id="" placeholder="Phone number" name="contact_number" [(ngModel)]="info.contact_number">
									<div class = "form_error" *ngIf="!info.contact_number">
									<span class = "error">{{contact_name_log}}</span>
									</div>
								</div>

							<div class = "col-md-12 about_style">
								<div class="form-group col-md-6">
									<label><p class = "label-p">Stackexchange account URL</p></label>
									<input type="text" #stackaccount="ngModel" class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" id="" placeholder="stackexchange account (optional)" name="exchange_account" [(ngModel)]="info.exchange_account" >
									<div class = "form_error" *ngIf="stackaccount.errors">
									<span class = "error">Enter url in proper format</span>
									</div>
								</div>
	
								<div class="form-group col-md-6">
								<label><p class = "label-p">Github account URL</p></label>
								<input type="text" #gitaccount="ngModel" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" class="form-control" id="" name="github_account" [(ngModel)]="info.github_account" placeholder="Github account (optional)">
								<div class = "form_error" *ngIf="gitaccount.errors">
								<span class = "error">Enter url in proper format</span>
								</div>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label><p class = "label-p">Nationality</p></label>
								<!-- <input type="text" class="form-control" id="" placeholder="Nationality" name="nationality"  [(ngModel)]="info.nationality">
							-->
							<select class="form-control" style="display:inline;" required name="nationality" [(ngModel)]='info.nationality'  required="">
              <option value="-1" disabled selected hidden >Please choose nationality</option>
        
                <option class='option' *ngFor='let options of nationality' placeholder="Nationality"  [value]="options" selected>{{options}}</option>
                </select>
                <div class = "form_error" *ngIf="info.nationality == -1">
								<span class = "error">{{nationality_log}}</span>
							</div>
							</div>

							
							
							
            
            				<div class="form-group col-md-6" ><br/><br/>
								<input type="file" class="form-control" id="aa" accept="image/*" onchange="pressed()" name="image" [(ngModel)]="info.image">
								<label id="fileLabel" >
								<span *ngIf="img_src" >{{img_src}}</span>
								<span *ngIf="!img_src" >Upload Logo (optional)</span>
								</label>
								<div class = "form_error image-log" *ngIf="image_log">
									<span class = "error">{{image_log}}</span>
								</div>
							</div>
							
							  <!-- <div class="form-group col-md-6" *ngIf = 'info.image_src'>
              					<label><p class = "label-p">Image</p></label>
              					<img src = {{info.image_src}} >
   
            				</div>-->

						</fieldset>
					</div>
					
				</div>
				<!--about us form End-->

				<!--job information form start here-->
				<div class="wizard-form mr-top-form" id = "job_candidate">

					<div class = "login_form">
						
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Tell us more about your dream job</legend>
							<div class="container collection col-md-12">
								<div>
									<p class = "question-label">Where are you available to work?</p>
									
									<div class="answer">
										
										<div class = "row">  

											<div class="col-md-4 collection-checkbox" *ngFor="let option of options">
											<span class = "checkbox-header"> <!--<strong>{{country.value}}</strong>--></span>
											<div class="checkbox" >
												<!--<div *ngIf=" country.id === option.country_code ">-->
												<label class = "check-label lable"> {{option.name}}
                          
												<input type="checkbox" name="options" value="{{option.value}}"  [checked]="option.checked"   (change)="updateCheckedOptions($event)" />
												<span class="checkmark">
                            						<div></div>
												</span>
												</label>
												<input type="text" class="form-control" [(ngModel)]='selectedcountry' name="country" style="display: none;">
												<!--</div>-->
											</div>

                      

											</div>

                    
										</div>
										 <div class = "form_error" *ngIf="selectedcountry.length<=0">
								<span class = "error">{{country_log}}</span>
							</div>
									</div>

								</div>
							</div>
							<hr>
							
							<div class="form-group ">
							<div class="container collection col-left col-md-12">
								<div>
									<p class = "question-label">What role are you looking for?</p>
									
									<div class="answer">
										<div class = "row">

											<div class="col-md-4 collection-checkbox" *ngFor="let position_option of dropdown_options">
												
												<div class="checkbox">
													<label class = "check-label lable"> {{position_option.name}}
													<input type="checkbox" name="options" [checked]="position_option.checked" value="{{position_option.value}}" (change)="onJobSelected($event)" required="" />
													<span class="checkmark">
                            							<div></div>
													</span>
													</label>
													<input type="text" class="form-control" [(ngModel)]='jobselected' name="roles" style="display: none;">
                        
												</div>

											</div>

										</div>
										
									</div>
					<div class = "form_error" *ngIf="jobselected.length<=0">
								<span class = "error">{{roles_log}}</span>
							</div>
								</div>
								 
							</div>
						</div>
						<hr/>

							
						<div class="form-group col-md-12 salary_class">
							<div class="form-group col-md-6">
								<label><p class = "label-p">Yearly expected base salary</p></label>
								<input type="number" class="form-control" id="" required name="expected_salary" placeholder=" 2000" [(ngModel)]="expected_salaryyy">
							<div class = "form_error" *ngIf="!expected_salaryyy">
								<span class = "error">{{salary_log}}</span>
							</div>
							</div>
							
							<div class="form-group col-md-6 setting-top">
								<label><p class = "label-p"></p></label>
								<select [(ngModel)]="base_currency" class="form-control" id="currency" required name="base_currency" >
								<option value="-1" disabled selected hidden >Please choose currency</option>
								<option class='option' *ngFor='let base_currency of currency'  [value]="base_currency" selected>{{base_currency}}</option>
              
								</select>
								<div class = "form_error" *ngIf="base_currency ==-1">
								<span class = "error">{{currency_log}}</span>
							</div>
							</div>
						</div>
						<div class="form-group col-md-12 salary_class">
							<div class="form-group col-md-6">
								<label><p  class = "label-p">Current Base salary</p></label>
								<input type="number" class="form-control" id="" placeholder="2000" #salary_field name="salary" required  [(ngModel)]="salary">							
								<div class = "form_error" *ngIf="!salary ">
						<span class = "error">{{current_sal_logg}}</span>
					</div> 
							</div>
						
							<div class="form-group col-md-6 setting-top">
							<label><p  class = "label-p"></p></label>
							<select [(ngModel)]="current_currency" class="form-control" id="currency" required name="current_currency" >
								<option value="-1" disabled selected hidden >Please choose currency</option>
								<option class='option' *ngFor='let current_currency of currency'  [value]="current_currency" selected>{{current_currency}}</option>          
							</select>
							<div class = "form_error" *ngIf="current_currency==-1 ">
                <span class = "error">{{current_currency_logg}}</span>
              </div>
							</div>
							</div>
							
							<div class="form-group">
							<div class="container collection col-left col-md-12">
								<div>
									<p class = "question-label">Which area are you interested in?</p>
									
									<div class="answer">
										<div class = "row">

											<div class="col-md-4 collection-checkbox" *ngFor='let position_option of area_interested'>
												
												<div class="checkbox">
													<label class = "check-label lable"> {{position_option.name}}
													<input type="checkbox" name="options" [checked]="position_option.checked" value="{{position_option.value}}" (change)="onAreaSelected($event)" required="" />
													<span class="checkmark">
                            						<div></div>
													</span>
													</label>
													<input type="text" class="form-control" [(ngModel)]='selectedValue' name="interest_area" style="display: none;">
                        
                         
												</div>

											</div>

										</div>
										<div class = "form_error" *ngIf="selectedValue.length <=0">
								<span class = "error">{{interest_log}}</span>
							</div>
									</div>
										
								</div>
							</div>
						</div>
							<hr>

							

							<div class="form-group col-md-4">
								<label><p class = "label-p">Employment availability</p></label>
								<select [(ngModel)]="availability_day" class="form-control" id="month" required name="availability_day" >
								<option class='option' *ngFor='let start_month of month'  [value]="start_month" selected>{{start_month}}</option>
								</select>
								<div class = "form_error" *ngIf="!availability_day">
								<span class = "error">{{avail_log}}</span>
							</div>
							</div>

							

						</fieldset>
						</div>
					
					
				</div>

				<!--job information form end here-->

				<!--resume job form start here-->

				<div class="wizard-form mr-top-form" id = "resume_candidate">
					<div class = "login_form">
				
						
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Blockchain </legend>
							<div class="form-group col-md-12 col-left">
								<label><p class = "label-p">Why do you want to work on blockchain?</p></label>
										<input type="text" class="form-control" id="" placeholder="i want to work on blockchain because ......."  #whywork name="why_work" [(ngModel)]="why_work">
							<div class = "form_error" *ngIf="!why_work">
								<span class = "error">{{why_work_log}}</span>
							</div>
							</div>

							<div class="col-md-12 collection">
							
									<div class="answer">
										
										<div class = "">
											<div class="">
                      <span class = "checkbox-header"> <strong>Platforms commercially worked with </strong></span><br/>
                       <div class="answer">
										<div class = "row">

											<div class="col-md-4 collection-checkbox" *ngFor="let option of commercially">
												
												<div class="checkbox">
													<label class = "check-label lable"> {{option.name}}  
													 <input type="checkbox" name="options" value="{{option.value}}"  [checked]="option.checked"              required (change)="oncommerciallyOptions(option)"   />
													<span class="checkmark">
                            						<div></div>
													</span>
													</label>
                        <input type="text" class="form-control" [(ngModel)]='commercially_worked' name="commercially_worked" style="display: none;">
                        
                         
												</div>

											</div>

										</div>
									</div>

                      <div *ngIf="commercially_worked?.length > 0">
                      
                        <label><p>Years of experience</p></label>
                        <div class = "row" *ngFor="let option of commercially_worked; let i = index ">
            
                        <p class="rd_label label-p">{{option.value}}</p>
                        <div class = "form-group radio-toolbar col-md-12 controls__group">
		<div *ngFor="let exp of exp_year; let i_ind =index">
         <input type="radio" name="radiogroup- {{ option.value}}" id="rg{{option.value}}{{i_ind}}"  value="{{exp.value}}" (change)="onComExpYearOptions($event , option.value)" [checked]=" expYear_db[i] === exp.value && db_valye[i] === option.value" >
       <label class="radio-inline d-flex justify-content-center align-items-center" for="rg{{option.value}}{{i_ind}}">
        {{exp.name}}
          </label>
		  </div>    
		  <input type="text" class="form-control" name="commercial_experience_year" [(ngModel)]='commercial_expYear' style="display: none;">
      </div>
									</div>
									 <div class = "form_error" *ngIf="commercially_worked.length !== commercial_expYear.length">
								<span class = "error">{{commercial_log}}</span>
							</div>
							</div>
							<hr>

						
 					<span class = "checkbox-header"> <strong> Platforms designed/developed smart contracts on </strong></span>
                    <br/> <div class="answer">
										<div class = "row">

											<div class="col-md-4 collection-checkbox" *ngFor="let option of designed">
												
												<div class="checkbox">
													<label class = "check-label lable"> {{option.value}}  
													 <input type="checkbox" name="options" value="{{option.value}}"  [checked]="option.checked" 
													(change)="onPlatformOptions(option)" required  />
													<span class="checkmark">
                            <div></div>
													</span>
													</label>
                        <input type="text" class="form-control" [(ngModel)]='platforms_designed' name="platforms_designed" style="display: none;">
                        
                         
												</div>

											</div>

										</div>
									</div>

                    
              <hr>
          <div *ngIf="platforms_designed?.length > 0">
           <label><p>Years of experience</p></label>
          <div class = "row" *ngFor="let exp_value of platforms_designed;let i_index = index">
           
            <p class="rd_label label-p">{{exp_value.value}}</p>
           <div class = "form-group radio-toolbar col-md-12 controls__group">
		<div *ngFor="let exp of exp_year; let i_ind =index">
         <input type="radio" name="radiogroup - {{ exp_value.value }} "  [checked]=" designed_expYear_db[i_index] === exp.value && plat_db_valye[i_index] === exp_value.value" id="dg{{exp_value.value}}{{i_ind}}"  value="{{exp.value}}" (change)="onPlatformYearOptions($event , exp_value.value)"  > 
       <label class="radio-inline d-flex justify-content-center align-items-center" for="dg{{exp_value.value}}{{i_ind}}">
        {{exp.name}}
          </label>
		  </div>    
		 <input type="text" class="form-control" name="platforms" [(ngModel)]='platforms' style="display: none;">
      </div>
          </div>
          <div class = "form_error" *ngIf="platforms_designed.length !== platforms.length">
								<span class = "error">{{platform_log}}</span>
							</div>
          </div>   
                      

                      <span class = "checkbox-header"> <strong>Platforms experimented with </strong></span>
                      <div class="answer">
										<div class = "row">

											<div class="col-md-4 collection-checkbox" *ngFor="let option of experimented">
												
												<div class="checkbox">
													<label class = "check-label lable"> {{option.value}}  
													<input type="checkbox" name="options" value="{{option.value}}"  [checked]="option.checked" 
                          (change)="onExpOptions(option)" required  />
													<span class="checkmark">
                            <div></div>
													</span>
													</label>
                        <input type="text" class="form-control" [(ngModel)]='experimented_platform' name="experimented_platform" style="display: none;">
                        
                         
												</div>

											</div>

										</div>
									</div>

                    </div>

                  </div>
                </div>
              </div>
              <hr>
       

						</fieldset>

					</div>
					
				</div>

				<!--resume job form end here-->

				<!--experience form start here-->
				
				<div class="wizard-form mr-top-form" id = "experience_candidate">

					<div class = "login_form">
						
						<fieldset class="scheduler-border">
							<legend class="scheduler-border">Experience</legend>
					

							
					<div class="form-group col-md-12">
							<div class="collection">
										<div class = "answer">
											<div class=" collection-checkbox">
												<span class = "checkbox-header"> <strong>Languages</strong></span>
												<div class="row">
													<div class="col-md-4 collection-checkbox" *ngFor="let option of language_opt">
                      
														<div class="checkbox" >
															<label class = "check-label lable"> {{option.name}}  
															<input type="checkbox" name="options" value="{{option.value}}"  [checked]="option.checked"
															(change)="onLangExpOptions(option)" required  />
            
															<span class="checkmark">
                          									<div></div>
															</span>
															</label>
															<input type="text" class="form-control" [(ngModel)]='language' name="language" style="display: none;">
														</div>

													</div>
												</div>
											</div>

										</div>
							</div>
							 <div class = "form_error" *ngIf="language.length <=0 ">
                				<span class = "error">{{lang_log}}</span>
              				</div>  
						</div>


						<div *ngIf="language?.length > 0">
         <div class="form-group col-md-12">
          <p class = "exp_p">Years of experience</p>
          <div class = "row" *ngFor="let lang_value of language; let i = index ">
            
            <p class="rd_label label-p">{{lang_value.value}}</p>
             <div class = "form-group radio-toolbar col-md-12 controls__group">
		<div *ngFor="let exp of exp_year; let i_ind =index">
       <input type="radio" name="radiogrop- {{ lang_value.value}}" [checked]="lang_expYear_db[i] === exp.value && lang_db_valye[i] === lang_value.value" value="{{exp.value}}" (change)="onLangExpYearOptions($event , lang_value.value)" id= "radiogrop{{lang_value.value}}{{i_ind}}" >
       <label class="radio-inline d-flex justify-content-center align-items-center" for="radiogrop{{lang_value.value}}{{i_ind}}">
        {{exp.name}}
          </label>
		  </div>    
		  <input type="text" class="form-control" name="language_experience_year" [(ngModel)]='LangexpYear' style="display: none;">
      </div>
          </div>
          <div class = "form_error" *ngIf="LangexpYear.length !== language.length ">
                <span class = "error">{{exp_lang_log}}</span>
              </div>
          </div>
           
          </div>
			<div class="form-group col-md-12" id="work_candidate">
						<div class = "row work-history">
							<h3>Work History</h3>
							<p>Your profile will be hidden from all companies you have listed in your work history.</p>

							<div class = "work-form" [formGroup]="ExperienceForm">
								<div formArrayName="ExpItems">
									<div *ngFor="let itemrow of DynamicWorkFormControls.controls ; let i=index" [formGroupName]="i">
								<div class="form-group col-md-4">
									<label><p>Company</p></label>
									<input type="text" id="" placeholder="" formControlName="companyname" class="form-control" #company_field name="company">
								<div class = "form_error" *ngIf="!this.ExperienceForm.value.ExpItems[i].companyname">
                <span class = "error">{{company_log}}</span>
              </div>
								</div>
								
								<div class="form-group col-md-4">
									<label><p>Position</p></label>
									 <input type="text" formControlName="positionname" class="form-control" #position_field name="position" required  >
								<div class = "form_error" *ngIf="!this.ExperienceForm.value.ExpItems[i].positionname">
                <span class = "error">{{position_log}}</span>
              </div>
								</div>

								<div class="form-group col-md-4">
									<label><p>Location</p></label>
									<input type="text" formControlName="locationname" class="form-control" #location_field name="location" required  >
								<div class = "form_error" *ngIf="!this.ExperienceForm.value.ExpItems[i].locationname">
                <span class = "error">{{location_log}}</span>
              </div>
								</div>

								<div class="form-group col-md-4">
                <label class="lable"><p>Start Date</p></label>
                 
                 <select formControlName="start_date" class="form-control xs_input" id="month"  required name="roles"  (change)="work_start_data($event)" required="" >
                <option  *ngFor='let start_month of calen_month'  [value]="start_month" selected>{{start_month}}</option>
              <br/>
            </select>
                 
                 <select formControlName="startyear" class="form-control xs_input"  required name="roles"  required="" (change)="work_start_year($event)" >
              <option  *ngFor='let start_year of year'  [value]="start_year" selected>{{start_year}}</option>
              <br/>
            </select>
             <div class = "form_error select_error" *ngIf="!this.ExperienceForm.value.ExpItems[i].start_date || !this.ExperienceForm.value.ExpItems[i].startyear">
                <span class = "error">{{start_date_log}}</span>
              </div>
              </div>

								<div class="form-group col-md-4" id="input_field" *ngIf = "ExperienceForm.value.ExpItems[i].currentwork==false ">
                <label class="lable"><p>End Date</p></label>
                 <select formControlName="end_date" class="form-control xs_input"  required name="roles"  required=""  >
            <option  *ngFor='let end_month of calen_month'  [value]="end_month" selected>{{end_month}}</option>
        <br/>
    </select>
    <select formControlName="endyear" class="form-control xs_input" required name="roles" required=""  >
            <option  *ngFor='let end_year of year'  [value]="end_year" selected>{{end_year}}</option>
        <br/>
      
    </select>
                 <div class = "form_error select_error" *ngIf="!this.ExperienceForm.value.ExpItems[i].end_date || !this.ExperienceForm.value.ExpItems[i].endyear && this.ExperienceForm.value.ExpItems[i].companyname==false">
                <span class = "error">{{end_date_log}}</span>
              </div> 
                  
              </div>							
								
								<div class="form-group col-md-4" >
                <div class="checkbox mr-top" *ngFor="let current of current_work">
                  <label class = "check-label" >  {{current.name}}
                   
                     <input type="checkbox"  formControlName="currentwork" 
                   name="current.name" [checked]="current_work_check[i] "
                   value="current.value" 
                    required  />
                    <span class="checkmark">
                      <div></div>
                    </span>
                  </label>
                </div>
              </div>

								<div class="form-group col-md-12">
									<label><p>Job description (optional)</p></label>
									 <textarea rows="5" id="comment" maxlength="300" placeholder="Job description" formControlName="description" class="form-control" #desc_field name="Description" required></textarea>
								</div>

								<div class = "form-group col-md-12 text-right">
									<a (click)="deleteExpRow(i)" class = "btn btn-prev gap-rgt">Remove</a>
								</div>
							</div></div>
							</div>

								<a (click)="addNewExpRow()" class = "btn btn-self mr_rgt mr-btm"><i class="fa fa-plus"></i> Add Position</a>

						</div>
						</div>
						
				<div class="form-group col-md-12" id="education_candidate">
						<div class = "row work-history">
							<h3>Education</h3>

							<div class = "work-form" [formGroup]="EducationForm">
								<div formArrayName="itemRows">
								<div *ngFor="let itemrow of DynamicEduFormControls.controls ; let i=index" [formGroupName]="i">

								<div class="form-group col-md-3">
									<label><p>University</p></label>
									<input formControlName="uniname" class="form-control" type="text" #uni_field name="uni" required >
								<div class = "form_error" *ngIf="!this.EducationForm.value.itemRows[i].uniname">
                <span class = "error">{{uni_name_log}}</span>
              </div>
								</div>
								
								<div class="form-group col-md-3">
									<label><p>Degree</p></label>
									<input formControlName="degreename" class="form-control" type="text" #degree_field name="uni" required  >
								 <div class = "form_error" *ngIf="!this.EducationForm.value.itemRows[i].degreename">
                <span class = "error">{{degree_log}}</span>
              </div>
								</div>

								<div class="form-group col-md-3">
									<label><p>Field of study</p></label>
									 <input formControlName="fieldname" class="form-control" type="text" #study_field name="study" required  >
								<div class = "form_error" *ngIf="!this.EducationForm.value.itemRows[i].fieldname">
                <span class = "error">{{field_log}}</span>
              </div>
								</div>

								<div class="form-group col-md-3">
									 <label for="sel1"><p>Graduation</p></label>
									   <select formControlName="eduyear" class='form-control'  required name="roles"  required=""  >
										<option class='option' *ngFor='let graduation_year of year'  [value]="graduation_year" selected>{{graduation_year}}</option>
										<br/>
									</select>
									<div class = "form_error" *ngIf="!this.EducationForm.value.itemRows[i].eduyear">
                <span class = "error">{{eduYear_log}}</span>
              </div>
								</div>

								<div class = "form-group text-right">
									<a  (click)="deleteRow(i)" class = "btn btn-prev gap-rgt">Remove</a>
								</div>
								
								</div>
							</div>

							</div>

							<a  (click)="addNewRow()" class = "btn btn-self mr_rgt mr-btm"> <i class="fa fa-plus" ></i> Add Education</a>

							

						</div>
						</div>
						 <div class="form-group col-md-12">
								<label><p class = "label-p">Please write a short 2-5 sentence bio for your profile</p></label>
								 <textarea class="form-control" rows="5" id="comment" maxlength="300" placeholder="Quick intro description box. Eg Full stack developer with 2 years experience in NodeJS, Javascript and React with 6 months Ethereum development experience at application level etc.." #intro name="intro" required  [(ngModel)]="Intro" ></textarea>
							<div class = "form_error" *ngIf="!Intro">
                <span class = "error">{{intro_log}}</span>
              </div>
							</div>
						</fieldset>
					
				</div>

				<!--experience form end here-->
				
				
				</div>
				<div class = "button_area text-right">
					<button type="submit" class = "btn btn-self btn-pdg" >Save Profile</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	
</section>


<!--/End edit profile page here-->


<div class = "gap">
</div>
