<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard">
          <li class="nav-item">
            <a routerLink="/terms-and-condition" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Terms & Conditions
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prefill-profile" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Prefill Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">
              <i class="{{about_active_class}}"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/job" class="nav-link">
              <i class="{{active_class}}"></i>
              Jobs
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="{{resume_class}}" class="nav-link btn {{resume_disable}}">
              <i class="{{resume_active_class}}"></i>
              Blockchain
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{exp_class}}" class="nav-link btn {{exp_disable}}">
              <i class="{{exp_active_class}}"></i>
              Experience
            </a>
          </li>
        </ul>
      </div>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row p-4 border bg-white">
        <div class="col-md-12">
          <h4><i class="fas fa-briefcase mr-1"></i> Work preferences</h4>

          <div class = "row mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label>Current annual salary (optional):</label>
                <input type="text" class="form-control" #base_validation="ngModel" pattern="^[0-9]*$" placeholder="" #salary_field name="current_salary" [(ngModel)]="current_salary">
                <small id="emailHelp" class="form-text text-muted">
                  This information is never shown to companies. It is used by us to help us help you set your expected salary.
                </small>
                <div class = "invalid-feedback d-inline" expected_validation *ngIf="(!current_salary && current_currency) ">
                  {{current_sal_log}}
                </div>
                <div class = "invalid-feedback d-inline"  #expected_validation  *ngIf="base_validation.errors && current_salary">
                  Current annual salary should be a number.
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="invisible">Current annual salary currency</label>

                <select [(ngModel)]="current_currency" title="Currency" class="selectpicker" id="currency"  required name="current_currency" >
                  <option value="-1" >Currency</option>
                  <option *ngFor='let currentCurrency of currency' #choose_currency [attr.selected]="current_currency === currentCurrency ? true : null"[value]="currentCurrency">{{currentCurrency}}</option>
                </select>
                <div class = "invalid-feedback d-inline" *ngIf="(current_salary && !current_currency) || (current_salary && current_currency === '-1')  ">
                  {{current_currency_log}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Work type:</label>
                <div class="row mt-4">
                  <div class="col-md-4 text-center">
                    <i class="fas fa-user-secret fa-4x"></i><br/>
                    <div class="form-check mt-4">
                    <input class="form-check-input mt-2" type="checkbox" value="employee" [checked]="employeeCheck === true" (change)="workTypeChange($event)">
                    <label class="form-check-label">
                      empolyee (full/part time)
                    </label>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <i class="fas fa-address-card fa-4x"></i><br/>
                    <div class="form-check mt-4">
                    <input class="form-check-input mt-2" type="checkbox" value="contractor" [checked]="contractorCheck === true" (change)="workTypeChange($event)">
                    <label class="form-check-label">
                      contractor/freelancer
                    </label>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <i class="fas fa-user-check fa-4x"></i><br/>
                    <small class="ml-4">This can be a great way to get commercial experience</small>
                    <br/>
                    <div class="form-check">
                    <input class="form-check-input mt-2" type="checkbox" value="volunteer" [checked]="volunteerCheck === true" (change)="workTypeChange($event)">
                    <label class="form-check-label">
                      temporary volunteer
                    </label>
                    </div>
                  </div>
                </div>
                <div class = "invalid-feedback d-inline" *ngIf="employeeCheck === false && contractorCheck === false && volunteerCheck === false">
                  {{work_type_log}}
                </div>
              </div>
            </div>

          </div>

          <div class="row mt-2" *ngIf="employeeCheck" >
            <div class="col-md-12">
              <h4>Employee</h4>
            </div>

            <div class="col-md-6 mt-4">
              <div class="form-group">
                <label>Position type:</label>
                <select title="(select multiple)" class="selectpicker form-control" multiple name="employment_type" [(ngModel)]="employee.employment_type" >
                  <option  *ngFor='let type of position_type' [value]="type" >{{type}}</option>
                </select>
                <div class = "invalid-feedback d-inline" *ngIf="!employee.employment_type">
                  {{employment_type_log}}
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Locations:</label>
                <div>
                  <datalist id="countryList">
                    <select class="form-control">
                      <option *ngFor = "let country of cities" [attr.data-value]="country._id" value="{{country.name}}" text = "{{employee.country}}" >{{country.name}}
                      </option>
                    </select>
                  </datalist>

                  <input type="text" list="countryList" placeholder="Remote, Canada, London..." autocomplete="off" class="form-control w-50" [(ngModel)]="employee.country" name="country" (input)="suggestedOptions(employee.country)" (ngModelChange)="employeeSelectedValueFunction($event)">
                  <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                    {{error}}
                  </div>
                  <div class="invalid-feedback d-inline" #emptyInput *ngIf="!employee.selectedLocation || (employee.selectedLocation && employee.selectedLocation.length <= 0) ">
                    {{employment_location_log}}
                  </div>

                  <div *ngIf="employee.selectedLocation && employee.selectedLocation.length > 0">
                    <div class="row">
                      <div  *ngFor="let value of employee.selectedLocation; let i = index" class="col-md-6 p-2 mt-2">
                        <div class="border px-1 py-3 ml-2 row">
                          <div class = "col-8">
                            <label >{{value.name}}</label>
                          </div>
                          <div class = "col-4 text-right">
                            <a (click)="employeeDeleteLocationRow(i)" class = "btn btn-secondary px-2 pb-1 text-white rounded p-0 font-weight-bold">x</a>
                          </div>
                          <div class="col-12">
                            <div class="form-check" *ngIf="value.name !== 'Remote'">
                              <label class="form-check-label" for="check{{i}}">
                                <input class="form-check-input" placeholder="Remote, Canada, London..." type="checkbox" id="check{{i}}" value="{{value.name}}" [checked]="value.visa_needed"   name="visa_needed{{i}}" (change)="employeeUpdateCitiesOptions($event)" > Work visa required
                              </label>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                    <div class = "invalid-feedback d-inline"  *ngIf="checkValidation(employee.selectedLocation)">
                      {{employment_location_log}}
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Role:</label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-3 mb-3" *ngFor="let position_option of employee.employee_roles">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [checked]="populateRoles(position_option.value, employee.roles) === true" value="{{position_option.value}}" (change)="onJobSelected($event, 'employee')" required="" />
                        {{position_option.name}}
                      </label>
                    </div>
                    <div class="invalid-feedback d-inline" *ngIf="!employee.roles">
                      {{employee_roles_log}}
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Expected annual salary:</label>
                <input type="text" #expect_salary="ngModel" pattern="^[0-9]*$" class="form-control" required name="expected_salary" placeholder=" 10000" [(ngModel)]="employee.expected_annual_salary">
                <div class = "invalid-feedback d-inline"  *ngIf="!employee.expected_annual_salary; else expected_validation">
                  {{salary_log}}
                </div>
                <div class = "invalid-feedback d-inline"  #expected_validation  *ngIf="expect_salary.errors && employee.expected_annual_salary">
                  Yearly expected base salary should be a number.
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="invisible">Expected annual salary currency</label>
                <select [(ngModel)]="employee.currency" class="selectpicker" title="Currency" required name="base_currency" >
                  <option *ngFor='let baseCurrency of currency' [attr.selected]="baseCurrency === employee.currency  ? true : null" >{{baseCurrency}}</option>
                </select>
                <div class = "invalid-feedback d-inline"  *ngIf="!employee.currency">
                  {{currency_log}}
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Availability:</label>

                <select title="(select one)" [(ngModel)]="employee.employment_availability" class="selectpicker" id="month" required name="availability_day" >
                  <option class='option' *ngFor='let month of employement_availability' [attr.selected]  [value]="month.value" selected>{{month.name}}</option>
                </select>
                <div class = "invalid-feedback d-inline"  *ngIf="!employee.employment_availability">
                  {{avail_log}}
                </div>
              </div>
            </div>


          </div>
          <hr *ngIf = "employeeCheck" />
          <div class="row mt-2" *ngIf="contractorCheck" >
            <div class="col-md-12">
              <h4>Contractor</h4>
            </div>


            <div class="col-md-12 mt-4">
              <div class="form-group">
                <label>Locations:</label>
                <div>
                  <datalist id="countryList">
                    <select class="form-control">
                      <option *ngFor = "let country of cities" [attr.data-value]="country._id" value="{{country.name}}" text = "{{contractor.country}}" >{{country.name}}
                      </option>
                    </select>
                  </datalist>

                  <input type="text" list="countryList" placeholder="Remote, Canada, London..." autocomplete="off" class="form-control w-50" [(ngModel)]="contractor.country" name="country" (input)="suggestedOptions(contractor.country)" (ngModelChange)="contractorSelectedValueFunction($event)">
                  <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                    {{error}}
                  </div>
                  <div class="invalid-feedback d-inline" #emptyInput *ngIf="!contractor.selectedLocation || (contractor.selectedLocation && contractor.selectedLocation.length <= 0) ">
                    {{contract_location_log}}
                  </div>

                  <div *ngIf="contractor.selectedLocation && contractor.selectedLocation.length > 0">
                    <div class="row">
                      <div  *ngFor="let value of contractor.selectedLocation; let i = index" class="col-md-6 p-2 mt-2">
                        <div class="border px-1 py-3 ml-2 row">
                          <div class = "col-8">
                            <label >{{value.name}}</label>
                          </div>
                          <div class = "col-4 text-right">
                            <a (click)="contractorDeleteLocationRow(i)" class = "btn btn-secondary px-2 pb-1 text-white rounded p-0 font-weight-bold">x</a>
                          </div>
                          <div class="col-12">
                            <div class="form-check" *ngIf="value.name !== 'Remote'">
                              <label class="form-check-label" for="check{{i}}">
                                <input class="form-check-input" placeholder="Remote, Canada, London..." type="checkbox" id="check{{i}}" value="{{value.name}}" [checked]="value.visa_needed"   name="visa_needed{{i}}" (change)="contractorUpdateCitiesOptions($event)" > Work visa required
                              </label>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                    <div class = "invalid-feedback d-inline"  *ngIf="checkValidation(contractor.selectedLocation)">
                      {{contract_location_log}}
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Role:</label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-3 mb-3" *ngFor="let position_option of roles">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [checked]="populateRoles(position_option.value, contractor.roles) === true" value="{{position_option.value}}" (change)="onJobSelected($event, 'contractor')" required="" />
                        {{position_option.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class = "invalid-feedback d-inline"  *ngIf="!contractor.roles || contractor.roles && contractor.roles.length<=0">
                  {{contractor_roles_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Hourly rate:</label>
                <input type="text" #hourly_rate="ngModel" pattern="^[0-9]*$" class="form-control" required name="hourly_rate" placeholder="" [(ngModel)]="contractor.hourly_rate">
                <div class = "invalid-feedback d-inline"  *ngIf="!contractor.hourly_rate; else expected_validation">
                  {{contractor_hourly_log}}
                </div>
                <div class = "invalid-feedback d-inline"  #expected_validation  *ngIf="hourly_rate.errors && contractor.hourly_rate">
                  Hourly rate should be a number.
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="invisible">Currency</label>
                <select [(ngModel)]="contractor.currency" class="selectpicker" title="Currency" id="currency1" required name="contractor_currency" >
                  <option *ngFor='let baseCurrency of currency' [attr.selected]="baseCurrency === contractor.currency ? true : null" >{{baseCurrency}}</option>
                </select>
                <div class = "invalid-feedback d-inline"  *ngIf="!contractor.currency">
                  {{contractor_currency_log}}
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Maximum hours per week (optional):</label>

                <select title="(select one)" [(ngModel)]="contractor.max_hour_per_week" class="selectpicker form-control" id="month" required name="max_hour_per_week " >
                  <option class='option' *ngFor='let hours of max_hours'   [attr.selected]="hours === contractor.max_hour_per_week ? true : null" >{{hours}}</option>
                </select>

              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Contractor type:</label>

                <div class="checkbox">
                  <div class="form-check" *ngFor = "let type of contractor_types">
                    <input class="form-check-input" type="checkbox" [value]="type.value" [checked]="type.checked" (change)="contractor_type($event)" >
                    <label class="form-check-label" >
                      {{type.name}}
                    </label>
                  </div>
                </div>

                <div class = "invalid-feedback d-inline"  *ngIf="!contractor.contractor_type || (contractor.contractor_type && contractor.contractor_type.length<=0)">
                  {{contractor_type_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6" *ngIf="contractor.contractor_type && checkContractValue(contractor.contractor_type)">
              <div class="form-group">
                <label>Agency website:</label>
                <input type="text" class="form-control" #agencyUrl="ngModel" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,10}(:[0-9]{1,5})?(\/.*)?$" required name="agency_website" placeholder="" [(ngModel)]="contractor.agency_website">
                <div class = "invalid-feedback d-inline"  *ngIf="checkContractValue(contractor.contractor_type) && !contractor.agency_website ;else validateUrl  ">
                  {{agency_website_log}}
                </div>
                <div class = "invalid-feedback d-inline" #validateUrl *ngIf="contractor.agency_website && agencyUrl.errors">
                  Enter url in proper format
                </div>
              </div>


            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Service description (optional):</label>
                <textarea class="form-control" rows="5"  maxlength="2000" placeholder="We specialize in smart contract audits and smart contract architecture and game theory analysis." required [(ngModel)]="contractor.service_description" name="service_description" ></textarea>
              </div>

            </div>


          </div>
          <hr *ngIf="contractorCheck" />

          <div class="row mt-2" *ngIf="volunteerCheck" >
            <div class="col-md-12">
              <h4>Volunteer</h4>
            </div>


            <div class="col-md-12 mt-4">
              <div class="form-group">
                <label>Locations:</label>
                <div>
                  <datalist id="countryList">
                    <select class="form-control">
                      <option *ngFor = "let country of cities" [attr.data-value]="country._id" value="{{country.name}}" text = "{{volunteer.country}}" >{{country.name}}
                      </option>
                    </select>
                  </datalist>

                  <input type="text" list="countryList" placeholder="Remote, Canada, London..." autocomplete="off" class="form-control w-50" [(ngModel)]="volunteer.country" name="country" (input)="suggestedOptions(volunteer.country)" (ngModelChange)="volunteerSelectedValueFunction($event)">
                  <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                    {{error}}
                  </div>
                  <div class="invalid-feedback d-inline" #emptyInput *ngIf="!volunteer.selectedLocation || (volunteer.selectedLocation && volunteer.selectedLocation.length <= 0) ">
                    {{volunteer_location_log}}
                  </div>

                  <div *ngIf="volunteer.selectedLocation && volunteer.selectedLocation.length > 0">
                    <div class="row">
                      <div  *ngFor="let value of volunteer.selectedLocation; let i = index" class="col-md-6 p-2 mt-2">
                        <div class="border px-1 py-3 ml-2 row">
                          <div class = "col-8">
                            <label >{{value.name}}</label>
                          </div>
                          <div class = "col-4 text-right">
                            <a (click)="volunteerDeleteLocationRow(i)" class = "btn btn-secondary px-2 pb-1 text-white rounded p-0 font-weight-bold">x</a>
                          </div>
                          <div class="col-12">
                            <div class="form-check" *ngIf="value.name !== 'Remote'">
                              <label class="form-check-label" for="check{{i}}">
                                <input class="form-check-input" placeholder="Remote, Canada, London..." type="checkbox" id="check{{i}}" value="{{value.name}}" [checked]="value.visa_needed"   name="visa_needed{{i}}" (change)="volunteerUpdateCitiesOptions($event)" > Work visa required
                              </label>
                            </div>

                          </div>
                        </div>

                      </div>
                    </div>
                    <div class = "invalid-feedback d-inline"  *ngIf="checkValidation(volunteer.selectedLocation)">
                      {{volunteer_location_log}}
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Role:</label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-3 mb-3" *ngFor="let position_option of volunteer.volunteer_roles">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [checked]="populateRoles(position_option.value, volunteer.roles)" value="{{position_option.value}}" (change)="onJobSelected($event, 'volunteer')" required="" />
                        {{position_option.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <div class = "invalid-feedback d-inline"  *ngIf=" !volunteer.roles || (volunteer.roles && volunteer.roles.length<=0)">
                  {{volunteer_roles_log}}
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Maximum hour per week:</label>
                <input type="text" #hours_error="ngModel" pattern="^[0-9]*$" class="form-control" required name="volunteer_max_hour" placeholder="" [(ngModel)]="volunteer.max_hours_per_week">
              </div>
              <div class = "invalid-feedback d-inline"  *ngIf="hours_error.errors && volunteer.max_hours_per_week">
                Maximum hour per week should be a number
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <label>Learning objectives:</label>
                <textarea class="form-control" rows="5"  maxlength="2000" placeholder="We specialize in smart contract audits and smart contract architecture and game theory analysis." required name="learning_objectives" [(ngModel)]="volunteer.learning_objectives" ></textarea>
                <div class = "invalid-feedback d-inline"  *ngIf="!volunteer.learning_objectives">
                  {{objective_log}}
                </div>
              </div>

            </div>


          </div>


          <div class = "form-group text-right">
            <a routerLink="/about" class = "btn btn-warning text-white">Back</a>
            <button type=submit class = "btn btn-primary ml-1" >Next</button>
          </div>
          <div class = "invalid-feedback d-inline text-right float-right"  *ngIf="error_msg">
            {{error_msg}}
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
