<!--candidate step completing-->
<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard">
          <li class="nav-item">
            <a routerLink="{{term_link}}" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Terms & Conditions
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prefill-profile" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Prefill Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">
              <i class="{{about_active_class}}"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/job" class="nav-link">
              <i class="{{job_active_class}}"></i>
              Jobs
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="/resume" class="nav-link">
              <i class="{{resume_active_class}}"></i>
              Blockchain
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{exp_class}}" class="nav-link btn {{exp_disable}}">
              <i class="{{exp_active_class}}"></i>
              Experience
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row p-4 border bg-white">
      <div class="col-md-12">
        <form #expForm = ngForm (submit)="blockchain_exp(expForm)">
          <div class="row">
            <div class="col-md-12">
              <h4><i class="fab fa-bitcoin mr-1"></i>Blockchain experience</h4>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="form-group">
                <label>Why do you want to work on blockchain?</label>
                <ul>
                  <li> Let companies know what excites you about this space. Perhaps it is it the innovation, the disruption, the bleeding edge tech, or maybe it's the developer community or values that the people in it have with trust and transparency? </li>
                  <li> This is the first field that a company sees! </li>
                </ul>
                <input type="text" class="form-control" id="" placeholder="I want to work on blockchain because ..."  #whywork name="why_work" required [(ngModel)]="why_work">
                <div class = "invalid-feedback d-inline"  *ngIf="!why_work">
                  {{why_work_log}}
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12">
              <h4>Technologies</h4>
              <div class="form-group mt-4">
                <label>Commercial experience</label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-3 mb-3" *ngFor="let option of commercially">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked"  (change)="oncommerciallyOptions(option)" />
                        <img class="mb-1 mr-1" src = "/assets/images/all_icons/{{option.name}}.png" alt="{{option.name}} Logo">
                        {{option.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <input type="text" class="form-control d-none" [(ngModel)]='commercially_worked' name="commercially_worked">
              </div>
            </div>
          </div>

          <div class="row" *ngIf="commercially_worked?.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Years of experience</label>
              </div>
            </div>
            <div class = "col-md-12" *ngFor="let option of commercially_worked; let i = index ">
              <div class="form-group">
              <p>{{option.value}}</p>
              <div class="form-check form-check-inline">
                <div *ngFor="let exp of exp_year; let i_ind =index">
                  <input type="radio" class="d-none" id = "rg{{option.value}}{{i_ind}}" name="radiogroup- {{ option.value}}" value="{{exp.value}}" (change)="onComExpYearOptions($event , option.value)" [checked]=" expYear_db[i] === exp.value && db_valye[i] === option.value" >
                  <label  for="rg{{option.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                    {{exp.name}}
                  </label>
                </div>
                <input type="text" class="form-control d-none" name="commercial_platforms" [(ngModel)]='commercial_expYear' >

              </div>
              </div>
            </div>
          </div>
          <div class = "invalid-feedback d-inline"  *ngIf="commercially_worked.length !== commercial_expYear.length">
            {{commercial_log}}
          </div>

          <!-- description for commercial exp -->
          <div class="row" *ngIf="commercially_worked?.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description of experience</label>
                <textarea rows="4" cols="100" name="description_commercial_platforms" class="form-control" [(ngModel)]="description_commercial_platforms" style="resize:none"> </textarea>
              </div>
            </div>
          </div>
          <div class = "invalid-feedback d-inline"  *ngIf="commercially_worked?.length > 0 && !description_commercial_platforms">
            {{commercial_desc_log}}
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Experimented with </label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-3 mb-3" *ngFor="let option of experimented">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked"  (change)="onExpOptions($event)"  />
                        <img class="mb-1 mr-1" src = "/assets/images/all_icons/{{option.name}}.png" alt="{{option.value}} Logo">
                        {{option.value}}
                      </label>
                    </div>
                  </div>
                </div>
                <input type="text" class="form-control d-none" [(ngModel)]='experimented_platform' name="experimented_platforms" >
              </div>
            </div>
          </div>
          <!-- description for experimented with -->
          <div class="row" *ngIf="experimented_platform?.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description of experimentation</label>
                <textarea rows="4" cols="100" name="description_experimented_platforms" class="form-control" [(ngModel)]="description_experimented_platforms" style="resize:none"> </textarea>
              </div>
            </div>
          </div>
          <div class = "invalid-feedback d-inline"  *ngIf="experimented_platform?.length > 0 && !description_experimented_platforms">
            {{experimented_desc_log}}
          </div>

          <!-- commercial skills -->
          <div class="row">
            <div class="col-md-12">
              <h4>Skills</h4>
              <div class="form-group mt-4">
                <label>Commercial experience (optional) </label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-4 mb-3" *ngFor="let option of otherSkills">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked"  (change)="oncommercialSkillsOptions(option)"   />
                        {{option.name}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" class="form-control d-none" [(ngModel)]='commercialSkills' name="commercial_skills_name">
            </div>
          </div>

          <div class="row" *ngIf="commercialSkills?.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Years of experience</label>
              </div>
            </div>
            <div class = "col-md-12" *ngFor="let option of commercialSkills; let i = index ">
              <div class="form-group">
              <p>{{option.value}}</p>
              <div class="form-check form-check-inline">
                <div *ngFor="let exp of exp_year; let i_ind =index">
                  <input type="radio" class="d-none" id = "skill{{option.value}}{{i_ind}}" name="commercialradiogroup- {{ option.value}}" value="{{exp.value}}" (change)="onComSkillExpYearOptions($event , option.value)" [checked]=" skill_expYear_db[i] === exp.value && skillDbArray[i] === option.value" >
                  <label  for="skill{{option.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                    {{exp.name}}
                  </label>
                </div>
                <input type="text" class="form-control d-none" name="commercial_skills" [(ngModel)]='commercialSkillsExperienceYear' >
              </div>
              </div>
            </div>
          </div>
          <div class = "invalid-feedback d-inline"  *ngIf="commercialSkills.length !== commercialSkillsExperienceYear.length">
            {{commercial_skill_log}}
          </div>
          <!-- description for commercial skills -->
          <div class="row" *ngIf="commercialSkills?.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description of commercial experience</label>
                <textarea rows="5" name="description_commercial_skills" class="form-control" [(ngModel)]="description_commercial_skills" style="resize:none"> </textarea>
              </div>
            </div>
          </div>
          <div class = "invalid-feedback d-inline"  *ngIf="commercialSkills?.length > 0 && !description_commercial_skills">
            {{commercialSkills_desc_log}}
          </div>

          <div class = "form-group text-right">
            <a routerLink="/job" class = "btn btn-warning text-white">Back</a>
            <L0-buttons-others buttonClass="btn-primary" alignmentClass="ml-1" buttonType="submit" label="Next" ></L0-buttons-others>
          </div>
          <div class = "invalid-feedback d-inline text-right float-right"  *ngIf="error_msg">
            {{error_msg}}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
