<!--candidate step completing-->
<section class="wob-bg-primary2 pb-5 pt-3">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard">
          <li class="nav-item">
            <a routerLink="{{term_link}}" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Terms & Conditions
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prefill-profile" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Prefill Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">
              <i class="{{about_active_class}}"></i>
              About
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/work" class="nav-link">
              <i class="{{job_active_class}}"></i>
              Work
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="/resume" class="nav-link">
              <i class="{{resume_active_class}}"></i>
              Blockchain
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{exp_class}}" class="nav-link btn {{exp_disable}}">
              <i class="{{exp_active_class}}"></i>
              Experience
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row p-4 border bg-white">
      <div class="col-md-12">
        <form #expForm = ngForm (submit)="blockchain_exp(expForm)">
          <div class="row">
            <div class="col-md-12">
              <h4><i class="fab fa-bitcoin mr-1"></i>Blockchain experience</h4>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="form-group">
                <label>Why work on blockchain?</label>
                <ul>
                  <li> Let companies know what excites you about this space. </li>
                  <li> This is the first field that a company sees! </li>
                </ul>
                <input type="text" class="form-control" id="" placeholder="I want to work on blockchain because ..."  #whywork name="why_work" required [(ngModel)]="why_work">
                <div class = "invalid-feedback d-inline"  *ngIf="!why_work">
                  {{why_work_log}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Interests</label>
                <div class="checkbox">
                  <div class="row m-0">
                    <div class="form-check col-md-4 mb-3" *ngFor="let position_option of area_interested">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" [checked]="position_option.checked" value="{{position_option.value}}" (change)="onAreaSelected($event)" required="" />
                        {{position_option.name}}
                      </label>
                    </div>
                  </div>
                </div>
                <input type="text" class="form-control" [(ngModel)]='selectedValue' name="interest_areas" style="display: none;">
                <div class = "invalid-feedback d-inline"  *ngIf="selectedValue && selectedValue.length <=0">
                  {{interest_log}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4>Skills</h4>
              <div class="form-group mt-4">
                <label>Commercial skills</label>
              </div>
              <app-i-forme-skills-auto-suggest *ngIf="commercialSkillsFromDB && commercialSkillsFromDB.length > 0"
                [selectedSkill] = "commercialSkillsFromDB"
                (selectedItems)="selectedCommercialSkillsNew = $event"
                placeHolder="Commercial skills"
              ></app-i-forme-skills-auto-suggest>
            </div>
          </div>

          <!-- description for experimented with -->
          <!-- <div class="row" *ngIf="experimented_platform?.length > 0">
            <div class="col-md-12">
              <div class="form-group">
                <label>Description of experimentation (optional)</label>
                <textarea placeholder="I have used Bitcoin and Zcash to send money to some friends and family. I used several exchanges. I use the Luno wallet." rows="4" cols="100" maxlength="3000" name="description_experimented_platforms" class="form-control" [(ngModel)]="description_experimented_platforms" style="resize:none"> </textarea>
              </div>
            </div>
          </div>
          <div class = "invalid-feedback d-inline"  *ngIf="experimented_platform?.length > 0 && this.description_experimented_platforms && this.description_experimented_platforms.length < 100">
            {{experimented_desc_log}}
          </div>-->

          <div class = "form-group text-right">
            <a routerLink="/work" class = "btn btn-warning text-white">Back</a>
            <button type=submit  class = "btn btn-primary ml-1">Next</button>
          </div>
          <div class = "invalid-feedback d-inline text-right float-right"  *ngIf="error_msg">
            {{error_msg}}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
