<ng-container *ngIf="!company_description;else profile_section" >
	<div class="se-pre-con"></div>
</ng-container>

<ng-template #profile_section >
<section class = "wizard_page">

	<div class="container">
		<div class="row profile_group">
			<div class="col-md-12">
        <button type = "button" data-toggle="modal" data-target="#popModal" class = "btn_popup">What Happened Next ?</button>

        <section class = "profile personal_info">

				 	<div class="col-md-6">
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<!-- <span class = "p_img" *ngIf= "image_src">
				 			<img  [src]="(imgPath + image_src)" class = "img-responsive" alt = "profile-img"/>
				 		</span>-->
				 		<span class = "name">
				 		<h3 class="text-capitalize">{{company_name}}</h3>
				 			
				 		</span>

				 		<span class = "short_intro">
				 			<p>{{company_description}}</p>
				 		</span>

				 		<!--  <div class="btn-share fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
						<div class = "twitter-share-button">
						<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a></div>
						-->
				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>
				 			

				 			<li>
				 				
					 				<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt"><a [href]="company_website" target="_blank">{{company_website}}</a></span>
				 				
				 			</li>

				 			<li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Country : {{company_country}}</span>
				 				
				 			</li>

						    <li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">City : {{company_city}}</span>
				 				
				 			</li>
				 			
				 			<li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Postcode : {{company_postcode}}</span>
				 				
				 			</li>
						    
				 			<li>
				 			
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt"> Phone : {{company_phone}}</span>
				 			
				 			</li>
				 			
				 		</ul>
				 		
				 	</div>
				 	<span class = "edit_profile_link">
				 		<a  (click)="internalRoute('edit_company_profile','information')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 </section>
				 
				
				 
				 <section class = "profile job_info">
					<h3>Company Info</h3>
				 	
				 	<!--<div class="col-md-6 info-area">
				 		<p>
							<strong>Position Type : </strong>
							<span>Full Time, Part Time .</span>
						</p>
				 	</div>-->

				 	
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>When was the company founded: </strong>
							<span>{{company_founded}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>How is the company funded:</strong>
							<span>{{company_funded}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
      					<p>
							<strong>Number of employees: </strong>
							<span>{{no_of_employees}}</span>
						</p>

      				</div>
				 	

				 	<span class = "edit_profile_link">
				 		<a (click)="internalRoute('edit_company_profile','about_you')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>
				 
				  <section class = "profile job_info">
					<h3>Company Administration</h3>
				 	
				 	<!--<div class="col-md-6 info-area">
				 		<p>
							<strong>Position Type : </strong>
							<span>Full Time, Part Time .</span>
						</p>
				 	</div>-->
					<div class="col-md-6 info-area">
				 		<p>
							
							<span class="alignment">{{first_name}} {{last_name}}</span>
						</p>
				 	</div>
				 	
				 	
				 	
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>Title: </strong>
							<span>{{job_title}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>Email: </strong>
							<span>{{email}}</span>
						</p>
				 	</div>
				 	
				 
				 	
				 	
				 	

				 	<span class = "edit_profile_link">
				 		<a (click)="internalRoute('edit_company_profile','information')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>
				 
				 </div>
				 </div>
				 </div>
				 </section>
  <!-- Modal -->
  <div id="popModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content costom_model">
        <div class="modal-header mo-head">
         <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h3 class="modal-title text-center mo">Welcome to<br>
            <span>Workonblockchian</span>
          </h3>
        </div>
        <div class="modal-body mo_body">
          <div class = "mo_content">
            <h2 class = "text-center">Heading</h2>

            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
            </p>
          </div>

        </div>
        <div class="modal-footer mo_footer">
          <button type="reset" class="btn btn-mo model-btn" data-dismiss="modal">Got it</button>
        </div>
      </div>

    </div>
  </div>
  <!-- end model -->
				 <br/><br/><br/>
				 
				 </ng-template> 
