<!--Cookies and privacy notice tab-->
<ng-container *ngIf="display_cookie == 0;else cookie_disabled">
<section class = "cookies_tab alert">
	<div class = "container-fluid">
		<div class="row">
			<div class="col-md-10">
				<p class = "pra-cookie">
					We use cookies to support your
					experience on our site. By
					continuing to use our site you
					agree to use of cookies.
					Please see our
					<a style = "text-decoration:underline;" target="_blank" href = "privacy-notice"> privacy notice </a>
					for details of how we use cookies.
				</p>
			</div>
			<div class = "col-md-2">
				<a href="#" (click) ="accept_cookie()" class = "cookie_a" data-dismiss="alert" aria-label="close">
					<div id="cookie-btn">
						<p>Yes, Got it</p>
					</div>
				</a>
			</div>
		</div>
</div>
</section>
</ng-container>
<ng-template #cookie_disabled>
</ng-template>

<!--footer top-->
<section class = "footer">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-icons">

                    <li>
						<a href="https://twitter.com/work_blockchain" class = "twitter" target="_blank">
						<i class="fa fa-twitter"></i></a>
					</li>

                    <li>
						<a href="https://www.linkedin.com/company/work-on-blockchain/" class = "linkin" target="_blank">
						<i class="fa fa-linkedin"></i></a>
					</li>

                    <li>
						<a href="https://medium.com/work-on-blockchain" class = "whatsapp" target="_blank">
						<i class="fa fa-medium" aria-hidden="true"></i></a>
					</li>

                    <!--<li>
						<a href="#" class="reverse git"><i class="fa fa-github cover"></i></a>
					</li>

                    <li>
						<a href="#" class="reverse telegram" target="_blank"><i class="fa fa-telegram cover"></i>
					</li>

                    <li>
						<a href="" class = "instagram" target="_blank">
						<i class="fa fa-whatsapp"></i></a>
					</li>-->
              </ul>
			</div>
			<div class="row col-md-6">
				<!--<div class = "newsletter-form">-->
					<!--<strong>Sign up for our newsletter!</strong>-->
					<!--<form class="form-inline">-->
						<!--<div class="form-group">-->
					      <!--<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">-->
					    <!--</div>-->
					    <!--<div class = "form-group">-->
					    	<!--<input type="submit" class="form-control submit_btn" value="Sign Up">-->
					    <!--</div>-->
					<!--</form>-->
				<!--</div>-->
			</div>

			<div class = "col-md-12">
				<ul class = "footer-list">
					<li><a [routerLink]="['/contact-us']">Contact Us</a></li>
					<li><a [routerLink]="['/terms-for-candidate']">Candidate Terms</a></li>
					<li><a [routerLink]="['/terms-for-company']">Hiring Company Terms</a></li>
					<li><a [routerLink]="['/faq']">FAQ</a></li>
					<li><a [routerLink]="['/privacy-notice']">Privacy Notice</a></li>
					<li><a [routerLink]="['/fees']">Fees</a></li>
					<li><a href = "https://medium.com/work-on-blockchain" target = "_blank">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>

</section>

<!--footer bottom-->
<section class = "footer-bottom">
	<div class = "container">
		<div class="row">

      <div class="col-md-5">
      </div>
      <div class="col-md-6 powered_text">
				<span>
					Copyright BIOTS Limited 2018 <span class = "copy_icon">&copy;</span>
				</span>
			</div>
		</div>
	</div>
</section>

<!--back to top-->
<a href="#" id="scroll-to-top" title="Back to top" style="display: block;">
	<span class="glyphicon glyphicon-chevron-up ico-last" aria-hidden="true"></span>
</a>
