<!--Cookies and privacy policy tab-->
<ng-container *ngIf="display_cookie == 0;else cookie_disabled">
<section class = "cookies_tab alert">
<div class = "container-fluid">
	<div class="row">
		<div class="col-md-10">
			<p class = "pra-cookie">
				We use cookies to support your 
				experience on our site. By 
				continuing to use our site you 
				agree to use of cookies. Full 
				detail of how we use cookies.
			</p>
		</div>
		<div class = "col-md-2">
			<a href="#" (click) ="accept_cookie()" class = "cookie_a" data-dismiss="alert" aria-label="close">
				<div id="cookie-btn">
					<p>Yes, Got it</p>
				</div>
			</a>
		</div>
	</div>
</div>
</section>
</ng-container>
<ng-template #cookie_disabled>
</ng-template>    
	
	<section class = "footer">
  
  <div class="container">
    <div class="row">
      <div class="row col-md-6 center">
        <ul class="social-icons">
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="reverse"><i class="fa fa-github cover"></i></a></li>
                    <li><a href="#" class="reverse" target="_blank"><i class="fa fa-telegram cover"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
      </div>
      <div class="row col-md-6">
        <div class = "newsletter-form">
          <strong>Sign up for our newsletter!</strong>
          <form class="form-inline">
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class = "form-group">
                <input type="submit" class="form-control submit_btn" value="Sign Up">
              </div>
          </form>
        </div>
      </div>

      <div class = "col-md-12">
        <ul class = "footer-list">
          <li><a href = "#">Contact Us</a></li>
          <li><a routerLink = "/term-and-conditions">Terms & Conditions for Candidates</a></li>
          <li><a routerLink = "/terms-for-company">Terms & Conditions for Company</a></li>
          <li><a routerLink= "/faq">FAQ</a></li>
          <li><a routerLink= "/privacy-policy">Privacy Policy</a></li>
            <li><a href = "#">Legal Notice</a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
<section class = "footer-bottom">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <span>
          Powered by <a href = "#" target = "_blank">MWAN MOBILE.COM</a>
        </span>
      </div>
    </div>
  </div>
</section>


<a href="#" id="scroll-to-top" title="Back to top" style="display: block;">
  <span class="glyphicon glyphicon-chevron-up ico-last" aria-hidden="true"></span>
</a>