<!--Cookies and privacy notice tab-->
<ng-container *ngIf="display_cookie == 0;else cookie_disabled">
  <div class = "container-fluid p-0 alert bg-light text-secondary position-fixed m-0 cookie_bar" >
    <div class = "row">
      <div class = "col-md-10 text-center">
        <p class = "position-relative mt-2 ml-5">
          We use cookies to support your experience on our site. By continuing to use our
          site you agree to the use of cookies. Please see our
          <a style = "text-decoration:underline;" target="_blank" href = "privacy-notice"> privacy notice </a>
          for details of how we use cookies.
        </p>
      </div>
      <div class = "col-md-2 text-center">
        <a href="#" (click) ="accept_cookie()" class = "btn btn-dark position-relative mt-2" data-dismiss="alert" aria-label="close">
          Yes, Got it
        </a>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #cookie_disabled>
</ng-template>

<!--Footer-->
<section class = "footer">

<div class = "container-fluid wob-footer">
  <div class = "row">
    <div class = "col-md-12">
      <ul class="nav justify-content-center social-icons my-4">
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://twitter.com/work_blockchain" target = "_blank"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://www.linkedin.com/company/work-on-blockchain/" target = "_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://medium.com/work-on-blockchain" target = "_blank"><i class="fab fa-medium-m"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://www.facebook.com/workblockchain" target = "_blank"><i class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="https://www.instagram.com/workblockchain/" target = "_blank"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/contact-us']">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/terms-for-candidate']">Candidate terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/terms-for-company']">Hiring company terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/privacy-notice']">Privacy notice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fees']">Fees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = "https://medium.com/work-on-blockchain" target = "_blank">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>

  <div class = "container-fluid bg-light py-2" id = "footer-bottom">
    <div class = "row">
      <div class = "col-md-12 text-center text-dark pr-5">
        <span>Copyright BIOTS Limited 2018 ©</span>
      </div>
    </div>
  </div>
</section>
<!--end-->

<!--back to top-->
<!--<a href="#" class = "btn btn-warning position-fixed" id="scroll-to-top" title="Back to top">
  <i class="fas fa-angle-up"></i>
</a>-->
