<!--Account setting page code start here-->
<section class="wob-bg-primary2 py-5 mt-5">

  <div class="container border p-5 bg-white">
    <div class="row mb-4">
      <div class="col-md-12">
        <h1 class = "text-center">Account Settings</h1>
      </div>
    </div>
    <div class="row mx-lg-5 mx-md-5 mx-0 mb-4 border-bottom">
      <div class="col-md-8">
        <div class="form-group">
          <label>Marketing emails</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wob-switch-toggle float-right">
          <input id="switch" type="checkbox" checked [(ngModel)]="info.marketing" name="marketing_email" (change)="account_setting('marketingEmail' , $event)" >
          <label for="switch">Toggle</label>
        </div>
      </div>
    </div>


    <div class="row mx-lg-5 mx-md-5 mx-0 mb-4 border-bottom">
      <div class="col-md-8">
        <div class="form-group">
          <label>Unread chat messages email</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wob-switch-toggle float-right">
          <input id="switch1" type="checkbox" checked [(ngModel)]="info.unread_msgs_emails" (change)="unread_msgs_emails_send()" >
          <label for="switch1">Toggle</label>
        </div>
      </div>
    </div>

    <div class="row mx-lg-5 mx-md-5 mx-0 mb-4 border-bottom">
      <div class="col-md-8">
        <div class="form-group">
          <label>Disable my account and stop receiving all web application emails</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wob-switch-toggle float-right">
            <input id="switch2" type="checkbox" checked  [(ngModel)]="info.disable_account" name="disable_account" (change)="account_setting('disabledAccount' , $event)">
          <label for="switch2">Toggle</label>
          </div>
        </div>
    </div>

    <div class="row mx-lg-5 mx-md-5 mx-0 mb-4 border-bottom" *ngIf="password === true">
      <div class="col-md-12">
        <div class="form-group">
          <a routerLink="/change-password" >Change Password</a>
        </div>
      </div>
    </div>

    <div class = "row mx-lg-5 mx-md-5 mx-0 mb-4">
      <div class="col-md-12">
        <div class="form-group">
          <div class="alert alert-info" role="alert">
              <a href="#" data-toggle="modal" data-target="#myModal">Request</a> a copy of the personal data we have about your account.
          </div>

        </div>
      </div>
    </div>

    <div class = "row mx-lg-5 mx-md-5 mx-0 mb-4">
      <div class="col-md-12">
        <div class="form-group">
          <div class="alert alert-danger" role="alert">
              <a href="#"  data-toggle="modal" data-target="#Modal">Delete</a> your account forever.
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Request Copy Data</h4>
      </div>
      <div class="modal-body">
        <p>
          Please disable and re-enable your account and then send an email to<a href = "mailto:privacy@workonblockchain.com"> privacy@workonblockchain.com</a> to request a copy of your personal data.
        </p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- Modal b-->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Request Delete Your Account</h4>
      </div>
      <div class="modal-body">
        <p>
          Please disable your account and then send an email to <a href = "mailto:privacy@workonblockchain.com">privacy@workonblockchain.com </a> to delete your account forever!
        </p>
      </div>
      <div class="modal-footer text-right">
      </div>
    </div>
  </div>
</div>

<!--Account setting page code End here-->
