<div class="form-group">
  <mat-form-field floatLabel="always" class="w-100">
    <mat-label></mat-label>
    <input matInput [matAutocomplete]="auto" placeholder="{{placeholder}}" [(ngModel)]="textValue" (input)="autoSuggest()" (ngModelChange)="selectedValueAndData($event)">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of optionValues" [value]="option.name">
      <ng-container *ngIf="option.img;else noImg">
        <span [innerHTML] = " option.img | safeHtml ">{{option.img}}</span> <span>{{ option.name }}</span>
      </ng-container>
      <ng-template #noImg>
        <span>{{ option.name }}</span>
      </ng-template>
    </mat-option>
  </mat-autocomplete>

  <div class = "invalid-feedback d-inline" *ngIf="errorMsg">
    {{errorMsg}}
  </div>

</div>
