<div class="border px-1 py-3 ml-2 row">
  <div class = "col-8">
    <label >{{citiesBadgeText}}</label>
  </div>
  <div class = "col-4 text-right">
    <a (click)="deleteRow()" class = "btn btn-secondary px-2 pb-1 text-white rounded p-0 font-weight-bold">x</a>
  </div>
  <div class="col-12">
    <div class="form-check" *ngIf="citiesBadgeText !== 'Remote'">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="visaNeeded" (change)="updateSelectedItem()" > Work visa required
      </label>
    </div>
  </div>
</div>
