<section class = "wob-bg-primary2">
  <div class="container pt-2">
    <div class="row mt-2">
      <div class = "col-md-12 p-0">
        <section class = "border rounded mt-3 py-3 px-5 bg-white">
          <div class = "row">
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group w-100">
                  <label>Number of days</label>
                  <select title="(selcet one)" class="selectpicker form-control"  required name="timeframe" [(ngModel)]="timeframe" (change)="selected_timeframe()">
                    <option class='option' *ngFor='let options of timeframe_list'  [value]="options.value" selected>{{options.name}}</option>
                  </select>
                  <div class="invalid-feedback d-inline" *ngIf="!timeframe">
                    {{timeframe_log}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>New sent messages</label>
                <div *ngIf="companiesSendReceivermsgs.length>0">
                  <p *ngFor="let sendReceivermsgsComp of companiesSendReceivermsgs;">
                    <a class="text-underline text-dark" routerLink="/admins/company/{{sendReceivermsgsComp._creator}}" target="_blank">{{sendReceivermsgsComp['company_name']}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>New companies</label>
                <div *ngIf="newlyCreatedCompanies.length>0">
                  <p *ngFor="let newCompany of newlyCreatedCompanies;">
                    <a class="text-underline text-dark" routerLink="/admins/company/{{newCompany._creator}}" target="_blank">{{newCompany['company_name']}}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Pricing plan selected</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>New candidates</label>
                <p *ngIf="wizard_completed_candidates">Wizard completed: {{wizard_completed_candidates.length}}</p>
                <p *ngIf="reviewed_candidates">Reviewed: {{reviewed_candidates.length}}</p>
                <p *ngIf="deferred_candidates">Deferred: {{deferred_candidates.length}}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
