<!--Main contain area -->
<div id="stripes" aria-hidden="true">
</div>
<section class = "main-bnr">
		<div class="container-fluid">
		<div class = "row">
			<div class="col-md-12">
				<!--<div class="mockup-top hidden-xs hidden-sm">
					<img class="animute" src="images/background/mockup.png" alt="" />
				</div>-->

				<div class = "row row_main">
					<div class = "col-md-10 text-col">
						  <h1>Have top blockchain <br/>
							companies apply to you.</h1>
						  <p>Global blockchain agnostic hiring platform for developers, designers, product managers, CTO's and interns who are passionate about public and enterprise blockchain technology and cryptocurrencies.</p>

							<div class = "button_area">
								<a (click)="internalRoute('signup','candidate')" class = "btn employee_btn">FIND A JOB</a>
								<a (click)="internalRoute('signup','company')" class = "btn employer_btn">START HIRING</a>
							</div>
					</div>

				</div><!--/row-->
			</div>
		</div>

		</div><!--/container-->
</section>

<!--Main contain area End-->


<!--Companies logos-->
<!--
<section class = "companies">
	<div class="container">
		<h2 class = "text-center">Top blockchain companies registered<br>ready to hire and the list is growing.</h2>
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class = "logo-row">
					<li title = "amazon">
						<a href = "http://extropy.io/" target = "_blank">
							<img src = "images/company_logo/Extropy.io-Logo.png" alt = "Amazon_logo">
						</a>
					</li>

					<li title = "asos">
						<a href = "https://indorse.io/" target = "_blank">
							<img src = "images/company_logo/Indorse Logo.png" alt = "asos_logo">
						</a>
					</li>

					<li title = "crowdcube">
						<a href = "http://nethermind.io/" target = "_blank">
							<img src = "images/company_logo/Nethermind-Logo.png" alt = "Crowdcube_logo">
						</a>
					</li>

					<!--<li title = "deliveroo">
						<img src = "images/company_logo/deliveroo.svg" alt = "Deliveroo_logo">
					</li>

					<li title = "john_lewis">
						<img src = "images/company_logo/john_lewis.svg" alt = "John_lewis_logo">
					</li>

					<li title = "monzo">
						<img src = "images/company_logo/monzo.svg" alt = "monzo_logo">
					</li>

					<li title = "nutmeg">
						<img src = "images/company_logo/nutmeg.svg" alt = "nutmeg_logo">
					</li>

				</ul>
			</div>
			<div class = "border-btm text-center">
				<img src = "images/border.png" alt = "">
			</div>
		</div>
	</div>
</section>-->

<!--Companies logos End-->

<!--How's work -->

<section class = "work">
		<h2 class = "text-center">How does it work?</h2>
	<div class="container">
		<div class="row text-setting">
			<div class="col-md-3 col-sm-6 sm-6">
				<img class = "icon" src = "/assets/images/work/reliability.svg" alt = "">
				<h3>Create your blockchain profile</h3>
				<p>
					Create a profile in minutes and let companies know why you are so excited about blockchain.
				</p>

			</div>
			<div class="col-md-3 col-sm-6 sm-6">
				<img class = "icon" src = "/assets/images/work/global.svg" alt = "">
				<h3>Wait for your job offers</h3>
				<p>
					Companies will send you job descriptions with a salary and a full spec.
				</p>
			</div>
			<div class="col-md-3 col-sm-6 sm-6">
				<img class = "icon" src = "/assets/images/work/reliability.svg" alt = "">
				<h3>Cherry pick your job offers</h3>
				<p>
					Choose which companies that interest you and interview with them directly.
				</p>
			</div>
			<div class="col-md-3 col-sm-6 sm-6">
				<img class = "icon" src = "/assets/images/work/partnerships.svg" alt = "">
				<h3>Become a blockchain wizard</h3>
				<p>
					Congratulations and enjoy your new job! Time to work on blockchain.
				</p>
			</div>
		</div>
	</div>

</section>

<section class = "coursal-compnay">
	<h2 class = "text-center">What our clients have to say about us?</h2>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-12 company-slider">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <div class = "slider-img">
					<span>
						<img src = "/assets/images/company_logo/testominal-dec_img.png" class = "img-responsive" alt = ""/>
					</span>
				  </div>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner slider-text" role="listbox">
					<div class="item common-BodyText active">
						<p class="common-BodyText">This is the best place for you to look for blockchain talent, delivered by people who understand the industry</p>
						<p class="common-Bodylink">
								<a href="http://nethermind.io/" target = "_blank" class="common-Link common-Link--arrow">Tomasz K. Stańczak, Founder & CTO at Nethermind.io</a>
						</p>
					</div>

					<div class="item common-BodyText ">
					  <p class="common-BodyText">Was really helpful when we wanted to expand our team and gave us top blockchain talent from London and the European region. These people have become some of our most valuable developers and team members.</p>
						<p class="common-Bodylink">
								<a href="https://indorse.io/"  target = "_blank" class="common-Link common-Link--arrow">Gaurang Torvekar, Co-Founder and CEO, Indorse.io </a>
						</p>
					</div>

					<div class="item common-BodyText">
					  <p class="common-BodyText">I have some great developers in my team thanks to these guys, and their extensive developer network keeps me in contact with the real experts in the blockchain space</p>
						<p class="common-Bodylink">
								<a href="http://extropy.io/" target = "_blank" class="common-Link common-Link--arrow">Laurence Kirk, Founder and CEO, Extropy.io </a>
						</p>
					</div>

				  </div>

				</div>
			</div>
		</div>
	</div>

	<!--<div class = "container">
		<div class = "row">

		</div>
	</div>-->

</section>


<!--SEction company slider End here -->


<!--Middle page-->

<div class="lower-page">
	<div id="sec-comp">

  <div class="container-lg">

    <header>
      <h2 class="common-PageTitle">Get on your dream blockchain project in days!</h2>
    </header>


    <section class="benefit" id="security">

      <div>

        <article class="content">
          <h3 class = "first">HOW TO JOIN?</h3>
			<p class = "common-IntroText">
				Simplicity is key. Simply sign up in under one minute. Companies will then apply to you once your profile
				is approved.
			</p>
        </article>

        <figure>

          <h3 class = "second">I'm very busy and don't have a lot of time?</h3>
			<p class = "common-IntroText">
				You're in control, workonblockchain.com is built around you. You decide when to make your profile visible to companies. You decide whether to accept or reject job offers.
			</p>
        </figure>

      </div>
    </section>


    <section class="benefit" id="compliance">
      <div>

		<figure>

          <h3 class = "second">Are you a recruitment agency?</h3>
			<p class = "common-IntroText">
				No. On workonblockchain.com, companies reach out directly to you. You're in complete control. Our teams are always available to help and advise you when needed.
			</p>
        </figure>

        <article class="content">
          <h3 class = "first">I don't have any blockchain experience</h3>
			<p class = "common-IntroText">
				You don't need blockchain experience to create a profile, you just need to bring the passion!
			</p>

        </article>

      </div>
    </section>
	</div>
  </div>
</div>



<!--Middle page End-->


<!--Candidates slider comments-->

<section class = "candidate-slider">
	<div class="container">
		<h2 class = "text-center">What our user have to say about us</h2>
		<div class="row">
			<div class="col-md-12 mr-btm">
				<!--start slider here-->
				<div id="myCarousel1" class="carousel slide text-center" data-ride="carousel">

					  <!-- Indicators -->
					  <ol class="carousel-indicators slider-indicator">
					    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
					    <li data-target="#myCarousel1" data-slide-to="1"></li>
					    <li data-target="#myCarousel1" data-slide-to="2"></li>
					    <li data-target="#myCarousel1" data-slide-to="3"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner slider-inner" role="listbox">
						    <div class="item slider-item active">
						    <div class = "cand-img">
						    	<img src = "/assets/images/candidate-slider/Rachel-Black.jpg" alt = "candidate-1">
						    </div>
						    <h4 class = "text-center">Rachel Black</h4>
						    <span>Frontend Developer, Yoti</span>
						    <p class = "slider_p">"Well connected in the blockchain development space, highly recommended"</p>
						    </div>

						    <div class="item slider-item">
						    	<div class = "cand-img">
						    		<img src = "/assets/images/candidate-slider/Haresh-Gedia.jpg" alt = "candidate-2">
						    	</div>
						    	<h4 class = "text-center">Haresh Gedia</h4>
						    	<span>Senior Developer, Indorse.io</span>
						      <p class = "slider_p">"Work on Blockchain are connected with some of the most exciting projects in the blockchain space and I highly recommend them"</p>
						    </div>

						    <div class="item slider-item">
						    	<div class = "cand-img">
							    	<img src = "/assets/images/candidate-slider/Stephan-Yue.jpeg" alt = "candidate-3">
							    </div>
						    	<h4 class = "text-center">Stephan Yue</h4>
						    	<span>Full-stack Developer, Extropy.io </span>
						      <p class = "slider_p">"I have been able to achieve my career goal of becoming a blockchain engineer working on the cutting-edge of this new emerging industry thanks to the amazing network of Work on Blockchain"</p>
						    </div>

						    <div class="item slider-item">
						    	<div class = "cand-img">
							    	<img src = "/assets/images/candidate-slider/Theodor-Port.jpeg" alt = "candidate-3">
							    </div>
						    	<h4 class = "text-center">Theodor Port</h4>
						    	<span> Blockchain Developer, ixledger.com </span>
						      <p class = "slider_p">"Strongly connected in the blockchain industry and are very active in supporting developers by doing developer workshops, highly recommended"</p>
						    </div>

					  </div>

				</div>

			</div>
		</div>
	</div>
	<div class = "bottom-img">
		<img src = "/assets/images/background/blue_bg.png" alt = "cover-bg" >
	</div>

</section>

<section class = "newsletter_signup">

 <div class = "container">
	<div class = "row">
		<div class="col-md-12 text-center">
				<div class="newsletter-form">
					<h2>Sign up for our newsletter!</h2>
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
							#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
							/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
							   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<form ngNoForm action="https://workonblockchain.us17.list-manage.com/subscribe/post?u=6e891178ba467b1c0fce27666&amp;id=c2c9d4c6b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate="novalidate" data-role="validator">
						<div class="form-group">
							<input type="email" value="" name="EMAIL" class="email form-control email k-invalid" id="mce-EMAIL" placeholder="Email address" required>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e891178ba467b1c0fce27666_c2c9d4c6b5" tabindex="-1" value=""></div>
						<div class="form-group">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button form-control submit_btn">
						</div>
					</form>
					<!--End mc_embed_signup-->
				</div>
			</div>
	</div>
 </div>

</section>

<!--<div class = "img-bg">
		<img src = "images/background/blue_bg.png" class = "img-responsive" alt = "bottom-bg"/>
</div>-->

<!--Candidates slider comments End-->

<!--Ask question section-->

<!--<section class = "question">
		<div class="no-padding">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text">
							<h3>Gat a question?</h3>
							<span>We're here to help. Check out our FAQ's and if you have further questions<br/>
								please email us on contact@workonblockchain.com</span>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>-->


<!--/Cookies and privacy policy tab-->
