html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-700 {
  font-weight: 700;
}

.f-900 {
  font-weight: 900;
}

.introduction {
  position: relative;
  color: #1D1C1D;
  padding: 80px 0px;
}

.introduction::after {
  content: '';
  width: 300px;
  height: 100%;
  position: absolute;
  right: 140px;
  top: 75px;
  background-image: url('/assets/images/home/developer.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.introduction p {
  font-size: 20px;
}

.introduction .btn {
  width: 245px;
  padding: 12px 0px;
  font-size: 20px;
}

.customer-logoss .slide {
  background-color: #fff;
  border: 2px solid #FFDC4E;
  width: 186px;
  height: 182px;
  position: relative;
}

.comp_card {
  background-color: #fff;
  border: 2px solid #FFDC4E;
  position: relative;
  width: 100%;
  padding: 80px 40px;
}

.comp_card img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
}

.comp_card h6 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.btn-yellow {
  background: #FFDC4E 0% 0% no-repeat padding-box;
  border: 2px solid #FFDC4E;
}

.btn-primary {
  background: #0070C0 0% 0% no-repeat padding-box !important;
  color: #fff;
  margin-right: 15px;
  border: 2px solid #0070C0;
}

.btn-yellow:hover,
.btn-primary:hover {
  background: transparent !important;
  color: black;
  border: 2px solid #000;
}

.center-msg {
  background-image: url('/assets/images/home/class-pic.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 0px;
}

.center-msg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(0deg, #1D1C1D 0%, #033A98 100%) 0% 0% no-repeat padding-box;
  opacity: 0.64;
}

.center-msg .btn {
  background-color: #FFDC4E;
  border: 2px solid #FFDC4E;
}

.center-msg .btn:hover {
  background: #fff !important;
  color: black;
  border: 2px solid #000;
}

.how_work p {
  color: #7B7B7B;
}

.telant {
  background-image: url('/assets/images/home/talent-background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.telant h4 {
  border-bottom: 1px solid #FFDC4E;
  padding-bottom: 10px;
  width: 60%;
}

.customer-logos .slide {
  position: relative;
}

.customer-logos .slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.edu_partner .nav .nav-item .nav-link {
  width: 185px;
  height: 55px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
  padding: 10px;
  text-align: center;
}

.edu_partner .nav .nav-item .nav-link img {
  width: 140px;
  margin: auto;
}

.edu_partner .nav .nav-item .nav-link .tz-logo {
  width: 30px !important;
}

.edu_partner .nav .nav-item .nav-link .ucl-logo {
  width: 90px !important;
}

.edu_partner .nav .nav-item .nav-link .kcl-logo {
  width: 50px !important;
}

.edu_partner .nav .nav-item .nav-link .college-logo {
  width: 85px !important;
}

.edu_partner .nav .nav-item .nav-link {
  margin-bottom: 20px;
}

.newsletter-form, .join-slack {
  background-color: #F9F9F9;
  border: 1px solid #E4E4E4;
  padding: 20px 40px;
}

.join-slack .btn-join, .from-btn {
  background-color: #0070C0;
  border-radius: 4px;
  color: #fff;
}

.join-slack .btn-join {
  width: 95px;
}

.newsletter-form span {
  background-color: #FFDC4E;
  padding: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.sub-newsletter form .form-group input {
  height: 45px;
}

.sub-newsletter form .form-group input[type=text] {
  padding: .375rem .75rem;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #c3c3c3;
}

.sub-newsletter form .form-group input[type=submit] {
  box-shadow: none;
}

.hd_main {
  position: relative;
}

.hd_main::after {
  content: '';
  width: 90px;
  height: 3px;
  background-color: #ffdc4e;
  bottom: -20px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.hd_main span {
  color: #0070C0 !important;
}


/*=========Footer css=========*/

.footer {
  position: relative;
  background: #253245;
  float: left;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  border-top: 5px solid #ffdc4e;
}


.wob-footer {
  background: #253245;
}

.social-icons li a {
  display: block;
  font-size: 30px;
  line-height: 1em;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.social-icons li a i {
  font-size: 18px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #253245;
}

.wob-footer ul li a{
  color: #fff;
}

#footer-bottom span{
  font-size: 12px;
}
#footer-bottom a{
  font-weight: bold;
  color: #000;
  text-decoration: underline
}


@media (min-width: 1400px){

  .introduction::after{
    right: 340px;
  }

  .center-msg {
    padding: 120px 0px;
  }
}

@media (max-width: 1200px) {

  .newsletter-form p, .join-slack p {
    line-height: 30px;
  }
  .newsletter-form span {
    line-height: 30px;
    white-space: nowrap;
  }
}

@media (max-width: 992px){
  .comp_card {
    margin-bottom: 20px;
  }

  .newsletter-form, .join-slack {
    padding: 20px 20px;
  }

  .introduction .btn {
    margin-bottom: 20px;
  }

  .telant h4 {
    width: 100%;
  }

  .introduction{
    padding: 20px 0px;
  }

  .introduction h1 {
    font-size: 1.8rem;
  }

  .introduction::after {
    width: 240px;
    right: 55px;
    top: 125px;
  }

  .introduction p {
    font-size: 16px;
  }
}


@media (max-width: 768px){

  .btn-signup{
    width: 100%;
    margin-bottom: 10px;
  }

  .introduction{
    padding: 10px 0px;
  }

  .introduction h1 {
    font-size: 1.5rem;
  }

  .introduction .btn {
    margin-bottom: 20px;
    width: 100%;
  }

  .introduction::after {
    display: none;
  }

  .comp_card {
    margin-bottom: 20px;
  }

  .comp_card img {
    width: 40%;
  }

  .dis-img {
    width: 25% !important;
  }

  .center-msg {
    background-size: cover;
  }

  .center-msg h1 {
    font-size: 1.5rem;
  }

  .newsletter-form, .join-slack {
    margin-bottom: 20px;
  }
  .newsletter-form span {
    line-height: 30px;
    font-size: 12px;
  }

  .hd_main {
    font-size: 1.2rem;
  }

  .hd_main::after {
    height: 2px;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url('/assets/images/navbar_imgs/logo/menu-icon.png') !important;
  }

  .telant p {
    height: 45px;
  }
}
