<section class="introduction">
  <div class="container">
    <div class="row py-3 py-md-5">
      <div class="col-12 col-md-8">
        <h1>Have Top Blockchain Companies <br> Apply To You</h1>
        <p class="my-3 my-md-5 f-300">
          Global blockchain agnostic hiring platform that put's the talent in control. For blockchain engineers as well all technical talent such as devops, CTOs, interners, designers and more that are passionate about public and enterprise blockchain technologies and cryptocurrencies.
        </p>
        <p>
          <a (click)="internalRoute('signup','candidate')" class="btn btn-yellow text-uppercase mr-3 text-dark shadow-sm f-500">
            Find a job
          </a>
          <a routerLink="/companies" class="btn btn-primary text-uppercase mr-3 shadow-sm f-500">
            Start hiring
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="compnies py-3 py-md-5 bg-lite">
  <div class="container text-center">
    <h4 class="f-500 hd_main">Popular blockchain technologies companies work with</h4>
    <div class="row mt-5 mt-md-0 py-3 py-md-5">

      <div class="col-lg-2 col-md-4 col-6">
        <div class="comp_card">
          <img src="/assets/images/navbar_imgs/logo/companies/bitcoin.svg">
          <h6>BITCOIN</h6>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="comp_card">
          <img src="/assets/images/navbar_imgs/logo/companies/ethereum-1.svg" class = "dis-img">
          <h6>ETHEREUM</h6>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="comp_card">
          <img src="/assets/images/navbar_imgs/logo/companies/Image7.png">
          <h6>HYPERLEDGER</h6>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="comp_card">
          <img src="/assets/images/navbar_imgs/logo/companies/Image8@2x.png" class="dis-img">
          <h6>EOSIO</h6>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="comp_card">
          <img src="/assets/images/navbar_imgs/logo/companies/Logo-small.svg">
          <h6>QUORUM</h6>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6">
        <div class="comp_card">
          <img src="/assets/images/navbar_imgs/logo/companies/crda-logo@2x.png">
          <h6>CORDA</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="center-msg">
  <div class="container text-center">
    <div class="row py-3 py-md-5">
      <div class="col-12 text-white">
        <!--<img src="images/home/etherium.svg"  class = "mb-3" alt="icon_img">-->
        <h1 class="f-400">Learn Blockchain Technology</h1>
        <p>
          Come to one of our supported event for developers and learn blockchain <br>
          technology with us!
        </p>
        <a target="_blank" href="https://www.eventbrite.com/o/workonblockchaincom-12888307012" class="btn text-uppercase text-dark mt-3 py-2 px-5">
          Developer Events
        </a>
      </div>
    </div>
  </div>
</section>


<section class="compnies py-3 py-md-5">
  <div class="container text-center">
    <h4 class="f-500 hd_main">Companies hiring with <span> workonblockchain.com </span> </h4>
    <div class="row py-3 py-md-5">
      <div class="col-12 pt-3 pt-md-0">
        <section class="customer-logos slider">
          <div class="slide">
            <a href="https://filmchain.co/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/filmchain@2x.png"></a>
          </div>
          <div class="slide">
            <a href="https://www.bitfinex.com/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/bitfinex@2x.png"></a>
          </div>
          <div class="slide">
            <a href="https://www.nexusmutual.com.au/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/Image1@2x.png"></a>
          </div>
          <div class="slide">
            <a href="https://walletconnect.org/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/wallet-connect@2x.png"></a>
          </div>
          <div class="slide">
            <a href="http://nethermind.io/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/nethermind@2x.png"></a>
          </div>
          <div class="slide">
            <a href="" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/iXGroup@2x.png"></a>
          </div>
          <div class="slide">
            <a href="https://trippki.com/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/logo2.png"></a>
          </div>
          <div class="slide">
            <a href="https://www.tokenanalyst.io/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/logo_desktop.png"></a>
          </div>
          <div class="slide">
            <a href="https://www.cryptocompare.com/" target="_blank"><img src="/assets/images/navbar_imgs/logo/companies/cc-logo.png"></a>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>


<section class="how_work py-4">
  <div class="container text-center">
    <h4 class="f-500 hd_main">
      How does it work
    </h4>
    <div class="row py-5">
      <div class="col-md-4 text-center">
        <img src="assets/images/home/profile.svg" class = "mb-5" alt="profile_icon">
        <h6 class="f-500">Creat your blockchain profile</h6>
        <p>
          Create a profile in minutes that lets companies know why you are so excited about blockchain.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/images/home/job.svg" class = "mb-5" alt="job_icon">
        <h6  class="f-500">Get approached with work offers</h6>
        <p>
          Companies will send you work offers for employment, contracting, freelancing or volunteering.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/images/home/handshake.svg" class = "mb-5" alt="handshake_icon">
        <h6  class="f-500">Choose which offers to accept</h6>
        <p>
          Choose the job offers that interest you and then set up an interview or a call with the company.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="telant text-white py-3">
  <div class="container">
    <div class="row py-3 py-md-5">
      <div class="col-md-6 offset-md-3">
        <h4 class="f-500">For all types of talent and jobs</h4>
        <div class="row text-left mt-5">
          <div class="col-6">
            <p class="f-400">Blockchain engineers</p>
            <p class="f-400">Front/back end</p>
            <p class="f-400">Devops</p>
            <p class="f-400 mb-0">and more...</p>
          </div>
          <div class="col-6">
            <p class="f-400">Full/part time jobs</p>
            <p class="f-400">Freelancers</p>
            <p class="f-400">Development agencies</p>
            <p class="f-400 mb-0">Volunteer/interns</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3">
  <div class="container text-center edu_partner py-3">
    <h4 class="f-500 hd_main">
      Education partners
    </h4>
    <div class="row py-3 py-md-5">
      <div class="col-12">
        <ul class="nav justify-content-center my-4">
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://blockchaintrainingalliance.com/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/Blockchain_Traning_Alliance@2x.png"
                   alt="blockchain-traning-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://blockacademy.net/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/logo-black@2x.png"
                   alt="black-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://solidity.services/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/solidity_services_logo@2x.png"
                   alt="solidity-services-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://obws.io/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/obswsio@2x.png"
                   alt="obwsio-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://tezos.com/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/tz.svg"
                   alt="tz-logo" class = "tz-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://www.goquorum.com/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/Logo-small.svg"
                   alt="blockchain-goquorum-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="http://blockchain.cs.ucl.ac.uk/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/Image 5@2x.png"
                   alt="ucl-cbt-logo" class="ucl-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://www.kcl.ac.uk/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/kcl-logo.svg"
                   alt="kcl-logo" class="kcl-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://www.imperial.ac.uk/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/Image 6@2x.png"
                   alt="imperial-college-logo" class="college-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://www.blockchain.com/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/blockchain-new.png"
                   alt="blockchain-2-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://stakezero.com/" target="_blank">
              <img src="assets/images/navbar_imgs/logo/education-partner/stakezero.png"
                   alt="stakezero-logo">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="https://binarydistrict.com/" target="_blank">
              <img class="ucl-logo" src="assets/images/navbar_imgs/logo/education-partner/binary_district.png"
                   alt="binarydistrict-logo">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container text-center sub-newsletter py-3">
    <div class="row py-3">

      <div class="col-md-6">
        <div class="newsletter-form">
          <h5 class="f-500 hd_main">
            Sign up for our newsletter!
          </h5>
          <p class="mt-5">
						<span>
							Hiring tips and guides
						</span>
            <span>
							Platform and updates
						</span>
            <span>
							Events and more
						</span>
          </p>
          <form (submit)="subscribe_modal_show(subscribeForm)" #subscribeForm = ngForm class="form-inline mt-4">
            <div class="form-group col-sm-8">
              <input type="text"class="form-contorl w-100" placeholder="Email" name="email" required [(ngModel)]="credentials.email" #emailname="ngModel" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
            </div>
            <div class="form-group col-sm-4 px-md-0">
              <input type="submit" class="btn form-control text-white w-100 from-btn" id="email4" value="Subscribe" [disabled]="!subscribeForm.valid">
            </div>
            <div *ngIf="emailname.errors && credentials.email !== '' && button_status" class="invalid-feedback d-inline">
              Enter email in correct format like myemail@gmail.com.
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="join-slack">
          <h5 class="f-500 hd_main">
            Are you a developer?
          </h5>
          <p class = "mt-5">
            Join our blockchain knowledge sharing <a href="https://wob-learnblockchain.slack.com/" target = "_blank">
            <img src="/assets/images/navbar_imgs/logo/companies/slack-2.svg" alt="slack-btn"></a>
            Channel
          </p>
          <p>
            <button type = "button" data-toggle="modal" data-target="#joinModal" class="btn btn-join">Join</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Modal for subscribe-->
<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-center" id="subscribeModalLabel">Subscribe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Get the latest blockchain developer tools, hiring information, product
          updates and events, with no spam!
        </p>
        <form (submit)="subscribe(subForm)" #subForm = ngForm>
          <div class="form-group">
            <label for="first_name">First name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required [(ngModel)]="credentials.first_name">
          </div>
          <div class="form-group">
            <label for="last_name">Last name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required [(ngModel)]="credentials.last_name">
          </div>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="credentials.email" #emailaddress="ngModel" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
            <div *ngIf="emailaddress.errors && credentials.email !== '' && button_status" class="invalid-feedback d-inline">
              Enter email in correct format like myemail@gmail.com.
            </div>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="notice" required [(ngModel)]="credentials.notice">
              I have read and accepted the Privacy notice.
            </label>
          </div>
          <div class="modal-footer">
            <app-c-button-normal
              level="primary form-control"
              buttonType="submit"
              label="Subscribe"
            ></app-c-button-normal>
          </div>
          <div class="form-group">
            <app-c-alert *ngIf="log_success"
              [message]="log_success"
              level="success"
            >
            </app-c-alert>
            <app-c-alert *ngIf="log_error"
              [message]="log_error"
              level="danger"
            >
            </app-c-alert>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal for salck email-->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h2 class="modal-title text-center mo">
          Join our blockchain knowledge sharing slack channel!
        </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Please send an email to slack@workonblockchain.com with your:
        </p>
        <ul>
          <li>name</li>
          <li>area of interest</li>
          <li>github account and</li>
          <li>linkedin</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-mo btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
