#stripes {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skewY(-4deg);
  transform: skewY(-4deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  position: absolute;
  background-image:url('/assets/images/banner-top.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -1px;
}

.main_banner{
  position:relative;
  width:100%;
  height:100%;
  min-height:100%;
  min-width: 100%;
}

.main_banner::before{
  content: '';
  width:100%;
  height: 100;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  background-image: url('/assets/images/banner-top.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: -1px;
  left:0px;
}

.row-main{
  padding: 150px 0px;
}

.row-main p {
  position: relative;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  max-width: 650px;
}

.row-main p.global {
  top: 30px;
}



.work .icon {
  width: 48px;
  height: 48px;
  margin: 10px 0 20px -3px;
}

.work h5{
  font-size: 18px;
}

.lower-page{
  position: relative;
}

.lower-page::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f6f9fc;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg);
}

#security .figure::before {
  left: 0!important;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  background: #fff;
}

#security .figure2::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  background: #fff;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.candidate-slider{
  float: left;
  padding: 80px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.candidate-slider::before{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #32325d;
  -webkit-transform: skewY(-7deg);
  transform: skewY(-7deg);
}

.cand-img img {
  position: relative;
  top: 20px;
  border-radius: 50%;
  border: 2px dashed #ffd630;
  padding: 5px;
  width: 106px;
  height: 106px;
  display: inline-block;
}

.slider_p {
  font-size : 18px;
  max-width: 700px;
  margin: auto;
  height: 150px;
}

.bottom-img {
  position: absolute;
  bottom: 0px;
}

.bottom-img img {
  width: 100%;
}

.slider-indicator li{
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #ffc107;
}

.carousel-indicators .active {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}


@media (min-width: 768px){
  #security .content {
    padding: 65px 40px 60px 0;
  }

  #security .figure {
    padding: 60px 0 120px 40px;
  }

  #security .figure2 {
    padding: 50px 30px 60px 40px;
  }

  #security .content2 {
    padding: 40px 0 150px 40px;
  }

  #security .figure:before,
  #security .figure2:before{
    left: unset;
    right: unset;
    width: 49.4vw;
  }

  #security .figure2:before {
    right: 0!important;
  }

  .slider-indicator {
    bottom: -35px !important;
  }

}

@media (min-width: 1500px){
  #stripes {
    height: 65%;
  }
}

@media (max-width: 992px) and (min-width: 768px){
  .img_md{
    width: 100%;
    height: 100%;
  }

  .w-sm{
    width: 100% !important;
  }

  .row-main p{
    margin: auto;
  }

  .slider-inner::before{
    right: 0px;
    font-size: 85px;
    bottom: 110px;
  }

  .slider-inner::after{
    left: 0px;
    top: 140px;
    font-size: 85px;
  }
  #text{
    width: 100%;
    height: 115px;
    margin: auto;
  }
}

@media (max-width: 768px){
  .slider-inner::after,
  .slider-inner::before{
    display: none;
  }

  .lower-page .w-50{
    width: 100% !important;
  }

  #security .figure::before,
  #security .figure2::before {
    left: 0!important;
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  .slider-indicator {
    bottom: -40px !important;
  }

  .w-sm{
    width: 100% !important;
  }

  .slider-text {
    width: 100%;
    height: 200px;
  }

  .row-main{
    padding: 80px 0px !important;
  }
}



@media (max-width: 430px){

  .row-main h1 {
    font-size: 25px;
  }

}

