
<!--<form (submit)="Search(searchForm)" #searchForm = ngForm>

  <div class="form-group">
    <label for="search">Search: </label>
    <input type="text" class="form-control" #search_field name="search" required  [(ngModel)]="search">

  </div>

  <button type="submit" class="btn btn-default" [disabled]="!searchForm.valid" >GO</button>
  
</form>

<p>{{log | json}}</p><br/><br/>-->



<div id="stripes" aria-hidden="true">
</div>
<section class = "main-bnr">
		<div class="container">
		<div class = "row">
			<div class="col-md-12">
				<div class="mockup-top hidden-xs">
					<img class="animute" src="/assets/images/background/mockup.png" alt="" />
				</div>

				<div class = "row row_main">
					<div class = "col-md-8 text-col">
						  <h1>Have top blockchain <br/> 
							companies apply to you.</h1>
						  <p>Blockchain agnostic hiring platform for developers, designers, product managers, 
							CTO's and interns who are passionate about blockchain tech.</p>

							<div class = "button_area">
								<a href = "" class = "btn employee_btn">Join Us Talent & Get Job Offer</a>
								<a href = "" class = "btn employer_btn">Join Us Employer & Start Hiring</a>
							</div>
					</div>

				</div><!--/row-->
			</div> 
		</div>

		</div><!--/container--> 
</section>

<!--Main contain area End-->


<!--Companies logos-->
<section class = "companies">
	<div class="container">
		<h2 class = "text-center">Top blockchain companies registered<br>ready to hire and the list is growing.</h2>
		<div class="row">
			<div class="col-md-12 text-center">
				<ul class = "logo-row">
					<li title = "amazon">
						<img src = "/assets/images/company_logo/amazon.svg" alt = "Amazon_logo">
					</li>

					<li title = "asos">
						<img src = "/assets/images/company_logo/asos.svg" alt = "asos_logo">
					</li>

					<li title = "crowdcube">
						<img src = "/assets/images/company_logo/crowdcube.svg" alt = "Crowdcube_logo">
					</li>

					<li title = "deliveroo">
						<img src = "/assets/images/company_logo/deliveroo.svg" alt = "Deliveroo_logo">
					</li>

					<li title = "john_lewis">
						<img src = "/assets/images/company_logo/john_lewis.svg" alt = "John_lewis_logo">
					</li>

					<li title = "monzo">
						<img src = "/assets/images/company_logo/monzo.svg" alt = "monzo_logo">
					</li>

					<li title = "nutmeg">
						<img src = "/assets/images/company_logo/nutmeg.svg" alt = "nutmeg_logo">
					</li>

				</ul>
			</div>
			<!--<div class = "border-btm text-center">
				<img src = "images/border.png" alt = "">
			</div>-->
		</div>
	</div>
</section>

<!--Companies logos End-->

<!--How's work -->

<section class = "work">
		<h2 class = "text-center">How does it work?</h2>
	<div class="container">
		<div class="row text-left">
			<div class="col-md-3">
				<img class = "icon" src = "/assets/images/work/reliability.svg" alt = "">
				<h3>Create Your Profile</h3>
				<p>
					Firstly, create your profile. 
					Tell us about yourself and let companies know about your dream job, 
					skills and expertise.
				</p>
				
			</div>
			<div class="col-md-3">
				<img class = "icon" src = "/assets/images/work/global.svg" alt = "">
				<h3>Wait for your job offers</h3>
				<p>
					Receive interview requests from companies with salary and full spec.
					 Companies will apply to you.
				</p>
			</div>
			<div class="col-md-3">
				<img class = "icon" src = "/assets/images/work/partnerships.svg" alt = "">
				<h3>Carry pick your job offers</h3>
				<p>
					Choose which companies that interest you and interview with them directly.
				</p>
			</div>
			<div class="col-md-3">
				<img class = "icon" src = "/assets/images/work/reliability.svg" alt = "">
				<h3>Accept your dream job</h3>
				<p>
					Congratulations and enjoy your new job! Time to work on blockchain.  
				</p>
			</div>
		</div>
	</div>

</section>

<!--How's work End -->

<!--<div class = "middle_page">

	<div class = "sec-comp">
		<div class="container">
			<h2>It's simple and it work</h2>
			<div class="row text-left">
				<div class="col-md-6">
					<h3>HOW TO JOIN?</h3>
					<p>
						Simplicity is key. Simply sign up in under one minute. Once your profile is approved, companies will send you job offers.
					</p>
					
				</div>
				<div class="col-md-6 figuree">
					<h3>I'm very busy and don't have a lot of time?</h3>
					<p>
						You're in control, workonblockchain.com is built around you. You decide when to make your profile visible to companies. You decide whether to accept or reject job offers.  
					</p>
				</div>

				<div class="col-md-6 figuree-b">
					<h3>Are you a recruitment agency?</h3>
					<p>
						No. On workonblockchian.com, companies reach out directly to you. You're in complete control. Our team are always available to help and advise you when needed.
					</p>
					
				</div>
				<div class="col-md-6">
					<h3>STAY ANONYMOUS</h3>
					<p>
						Your current employer will never see your profile and you can remain anonymous from other companies if you wish to do so.
					</p>
				</div>

			</div>
		</div>
	</div>

</div>-->

<!--SEction company slider start here -->

<section class = "coursal-compnay">
	<h2 class = "text-center">What our clients have to say about us?</h2>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-12 company-slider">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <div class = "slider-img">
					<span>
						<img src = "/assets/images/company_logo/testominal-dec_img.png" class = "img-responsive" alt = ""/>
					</span>
				  </div>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner slider-text" role="listbox">
					<div class="item common-BodyText active">
						<p class="common-BodyText"><strong>Company: Name</strong> optimized their mobile and web donation flows with Stripe so they can focus on what really matters: bringing clean water to every person on the planet. Using Stripe, they also built a new monthly giving program, which makes it even easier for subscribers to donate throughout the&nbsp;year.</p>
						<p class="common-Bodylink">
								<a href="#" class="common-Link common-Link--arrow">Learn more about our users</a>
						</p>
					</div>
					
					<div class="item common-BodyText ">
					  <p class="common-BodyText"><strong>Company: Name-2</strong> optimized their mobile and web donation flows with Stripe so they can focus on what really matters: bringing clean water to every person on the planet. Using Stripe, they also built a new monthly giving program, which makes it even easier for subscribers to donate throughout the&nbsp;year.</p>
						<p class="common-Bodylink">
								<a href="#" class="common-Link common-Link--arrow">Learn more about our users</a>
						</p>
					</div>
					
					<div class="item common-BodyText">
					  <p class="common-BodyText"><strong>Company: Name-3</strong> optimized their mobile and web donation flows with Stripe so they can focus on what really matters: bringing clean water to every person on the planet. Using Stripe, they also built a new monthly giving program, which makes it even easier for subscribers to donate throughout the&nbsp;year.</p>
						<p class="common-Bodylink">
								<a href="#" class="common-Link common-Link--arrow">Learn more about our users</a>
						</p>
					</div>
					
				  </div> 

				</div>
			</div>
		</div>
	</div>

	<!--<div class = "container">
		<div class = "row">

		</div>
	</div>-->

</section>


<!--SEction company slider End here -->


<!--Middle page-->

<div class="lower-page">
	<div id="sec-comp">

  <div class="container-lg">

    <header>
      <h2 class="common-PageTitle">It's simple and it work</h2>
    </header>


    <section class="benefit" id="security">
	
      <div>

        <article class="content">
          <h3 class = "first">HOW TO JOIN?</h3>
			<p class = "common-IntroText">
				Simplicity is key. Simply sign up in under one minute. Once your profile is approved, companies will send you job offers.
			</p>
        </article>

        <figure>
		
          <h3 class = "second">I'm very busy and don't have a lot of time?</h3>
			<p class = "common-IntroText">
				You're in control, workonblockchain.com is built around you. You decide when to make your profile visible to companies. You decide whether to accept or reject job offers.  
			</p>
        </figure>

      </div>
    </section>


    <section class="benefit" id="compliance">
      <div>
	  
		<figure>
		
          <h3 class = "second">Are you a recruitment agency?</h3>
			<p class = "common-IntroText">
				No. On workonblockchian.com, companies reach out directly to you. You're in complete control. Our team are always available to help and advise you when needed.
			</p>
        </figure>

        <article class="content">
          <h3 class = "first">STAY ANONYMOUS</h3>
			<p class = "common-IntroText">
				Your current employer will never see your profile and you can remain anonymous from other companies if you wish to do so.
			</p>
  
        </article>

      </div>
    </section>
	</div>
  </div>
</div>



<!--Middle page End-->


<!--Candidates slider comments-->

<section class = "candidate-slider">
	<div class="container">
		<h2 class = "text-center">What our user have to say about us</h2>
		<div class="row">
			<div class="col-md-12 mr-btm">
				<!--start slider here-->
				<div id="myCarousel1" class="carousel slide text-center" data-ride="carousel">

					  <!-- Indicators -->
					  <ol class="carousel-indicators slider-indicator">
					    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
					    <li data-target="#myCarousel1" data-slide-to="1"></li>
					    <li data-target="#myCarousel1" data-slide-to="2"></li>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner slider-inner" role="listbox">
						    <div class="item slider-item active">
						    <div class = "cand-img">
						    	<img src = "/assets/images/candidate-slider/r2.jpg" alt = "candidate-1">
						    </div>
						    <h4 class = "text-center">Asad Mehmood</h4>
						    <span>Senior Web Developer</span>
						    <p>"This company is the best. I am so happy with the result!"</p>
						    </div>

						    <div class="item slider-item">
						    	<div class = "cand-img">
						    		<img src = "/assets/images/candidate-slider/r2.jpg" alt = "candidate-2">
						    	</div>
						    	<h4 class = "text-center">Tayyab Hussain</h4>
						    	<span>Senior Web Developer</span>
						      <p>"One word... WOW!!"</p>
						    </div>

						    <div class="item slider-item">
						    	<div class = "cand-img">
							    	<img src = "/assets/images/candidate-slider/r1.jpg" alt = "candidate-3">
							    </div>
						    	<h4 class = "text-center">Sadia Abbas</h4>
						    	<span>Senior Web Developer</span>
						      <p>"Could I... BE any more happy with this company?"</p>
						    </div>
					  </div>

				</div>

			</div>
		</div>
	</div>

</section>

<!--<div class = "img-bg">
		<img src = "images/background/blue_bg.png" class = "img-responsive" alt = "bottom-bg"/>
</div>-->

<!--Candidates slider comments End-->

<!--Ask question section-->

<section class = "question">
		<div class="no-padding">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text">
							<h3>Got a question?</h3>
							<span>We're here to help. Check out our FAQ's and if you have further questions<br/> 
								please email us on contact@workonblockchain.com</span>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>