<div class="form-group" >
  <p>{{label}}</p>
  <div class="form-check form-check-inline">
    <div *ngFor="let opt of options; let i_ind =index">
      <input type="radio" class="d-none"
             id = "opt{{label}}{{i_ind}}"
             name="radiogroup- {{label}}{{label}}"
             value="{{opt.value}}"
             (change)="selectedItem($event, label)"
             [checked]="selectedOption(opt.value)? true: null" >
      <label for="opt{{label}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
        {{opt.name}}
      </label>
    </div>
  </div>
</div>
<div class = "invalid-feedback d-inline"  *ngIf="errorMsg">
  {{errorMsg}}
</div>



<!--<div class="form-group" *ngFor="let platform of value">-->
  <!--<p>{{platform.name}}</p>-->
  <!--<div class="form-check form-check-inline">-->
    <!--<div *ngFor="let opt of options; let i_ind =index">-->
      <!--<input type="radio" class="d-none"-->
             <!--id = "opt{{platform.name}}{{i_ind}}"-->
             <!--name="radiogroup- {{platform.name}}{{label}}"-->
             <!--value="{{opt.value}}"-->
             <!--(change)="selectedItem($event, platform.name)"-->
             <!--[checked]="selectedOption(opt.value, platform, platform.name)? true: null" >-->
      <!--<label for="opt{{platform.name}}{{i_ind}}" class="border py-2 px-lg-5 px-2">-->
        <!--{{opt.name}}-->
      <!--</label>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class = "invalid-feedback d-inline"  *ngIf="errorMsg">-->
  <!--{{errorMsg}}-->
<!--</div>-->
