<div class="form-group">
  <p>{{label}}</p>
  <div class="form-check form-check-inline">
    <div *ngFor="let opt of options; let i_ind =index">
      <input type="radio" class="d-none"
             id = "opt{{i_ind}}"
             name="radiogroup- {{label}}"
             value="{{opt.value}}"
             (change)="selectedValue.emit($event)"
             [checked]="value === opt? true: null" >
      <label for="opt{{i_ind}}" class="border py-2 px-lg-5 px-2">
        {{opt.name}}
      </label>
    </div>
  </div>
  <div class = "invalid-feedback d-inline"  *ngIf="errorMsg">
    {{errorMsg}}
  </div>
</div>
