<!--Profile-inner-->

<section class = "wizard_page">	

	<div class="container">
		<div class="row">
			<div class="col-md-9" *ngFor= "let data of cand_data">
				 <section class = "profile personal_info">

				 	<div class="col-md-6" >
				 		<span class = "p_img" *ngIf="!imgPath ">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="data.company_reply === 0 ">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="data.image && data.company_reply === 1">
				 			<img src = "{{data.image}}" class = "img-responsive" alt = "profile-image"/>
				 		</span>
				 		
						<span class = "name" *ngIf='data.company_reply === 1'>
				 			<h3 class="text-capitalize">{{data.first_name}} {{data.last_name}}</h3>
				 		</span>
				 		
				 		<span class = "name" *ngIf='data.company_reply !== 1'>
				 			<h3>{{data.initials}} </h3>
				 		</span>
				 		<span class = "short_intro">
				 			<p>{{data.description}}</p>
				 		</span>

				 		

				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>
				 		

				 			<li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Nationality : {{data.nationality}}</span>
				 				
				 			</li>

				 			<li *ngIf='data.company_reply === 1'>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt"> Contact Number : {{data.contact_number}}</span>
				 			
				 			</li>
				 			<li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Expected Salary : {{data.expected_salary_currency}} {{data.expected_salary}}</span>
				 				
				 			</li>
				 		</ul>
				 		
				 	</div>
				 	
				 </section>
				 
				  <section class = "profile job_info" *ngIf='data.company_reply === 1'>
					<h3>About</h3>
					<div class="info-area pro_br-btm" *ngIf="data._creator.email" >
						<div class = "col-md-3">
							<strong>Email Address :</strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data._creator.email}}</li>
								
							</ul>
						</div>

				 	</div>
					
					
					<div class="info-area pro_br-btm" *ngIf="data.contact_number">
						<div class = "col-md-3">
							<strong>Contact Number :  </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.contact_number}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm" *ngIf="data.github_account">
						<div class = "col-md-3">
							<strong>Github account URL : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.github_account}}</li>
								
							</ul>
						</div>

				 	</div>


				 	<div class="info-area pro_br-btm" *ngIf="data.stackexchange_account">

						<div class = "col-md-3" >
							<strong>Stackexchange account URL : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.stackexchange_account}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Desired Job</h3>
				 	<div class="info-area pro_br-btm">
						<div class = "col-md-3">
							<strong>Desired Location : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let country of data.locations'>{{country}}</li>
								
							</ul>
						</div>

				 	</div>

				 	

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Area of interest : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let interest_area of data.interest_area;'>{{interest_area}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm" *ngIf="data.roles">

						<div class = "col-md-3" >
							<strong>Roles : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let roles_data of data.roles'>{{roles_data}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm" *ngIf="data.expected_salary">

						<div class = "col-md-3" >
							<strong>Expected salary: </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.expected_salary_currency}} {{data.expected_salary}}</li>
							</ul>
						</div>

				 	</div>
					
					<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Yearly current base salary:</strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.current_currency}} {{data.current_salary}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Your Availablity : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.availability_day}}</li>
							</ul>
						</div>

				 	</div>

				 	
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Blockchain and DLT Experience</h3>

					<div class = "discp info-area pro_br-btm">
						<h4 class = "disc_hd">Why do you want to work on BlockChain?</h4>
						<p>
							{{data.why_work}}
						</p>
					</div>
					

				 	<div class="info-area pro_br-btm" *ngIf="data.commercial_platform">

						<div class = "col-md-4" >
							<strong>Platform commercially worked with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of data.commercial_platform;'>{{data.platform_name}}  : {{data.exp_year}} years</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm" *ngIf="data.platforms">

						<div class = "col-md-4" >
							<strong>Platforms designed/developed smart contracts:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of data.platforms;'>{{data.platform_name}}  : {{data.exp_year}} years</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm" *ngIf="data.experimented_platform!=''">

						<div class = "col-md-4" >
							<strong>Platform experimented with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of data.experimented_platform;'>{{data.value}} </li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each platform:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 	

				 
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Experience</h3>	
					
				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Languages:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let lang of data.programming_languages;'>{{lang.language}} : {{lang.exp_year}} years</li>
								
							</ul>
						</div>

				 	</div>
	 	
				 </section>

				  <section class = "profile job_info" *ngIf="data.work_history!=''" >
					<h3>Work History</h3>
					<div class = "company_area" *ngFor='let work of history'>
					 	<div class="info-area pro_br-btm" *ngIf='data.company_reply === 1'>
							<div class = "col-md-4">
								<strong>Company name: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.companyname}}</li>
									
								</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">
					 		<div class = "col-md-4" >
								<strong>Position: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.positionname}}</li>
									
								</ul>
							</div>
					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Start and finish date: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list" *ngIf='work.currentwork== true' >
							<li>{{work.startdate| date:'MMMM-yyyy'}} , till now.</li>
						</ul>
						<ul class = "pro_list" *ngIf='work.currentwork== false ' >
							<li>{{work.startdate| date:'MMMM-yyyy'}} , {{work.enddate| date:'MMMM-yyyy'}} </li>
						</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Location: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.locationname}}</li>
								</ul>
							</div>

					 	</div>

					 	<div class = "discp info-area" *ngIf = "work.description">
					 	<div class = "col-md-12" >
							<h4 class = "disc_hd">Description:</h4>
							</div>
							<div class = "col-md-12" >
							<p>
								{{work.description}}
							</p>
							</div>
						</div>

					</div>

				 
				 	
				 </section>

				 <section class = "profile job_info" *ngIf="data.education_history!=''" >
					<h3>Education</h3>
					
				 	<div class="col-md-12 info-area  pro_br-btm" *ngFor='let edu of education'>
				 		<div class = "edu_feild">
							<p>
								<strong>{{edu.uniname}} </strong>
							</p>
							<p>
								<span>{{edu.degreename}} - {{edu.fieldname}}</span>
							</p>
						</div>
						<div class = "edu_date">
							<p>
								<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
								 {{edu.eduyear}}
							</p>
						</div>

				 	</div>

				 		
				 	
				 </section>

			</div> <!--End col-md-9--->


		<div class = "col-md-3">
				<section class = "profile job_info side_rewiew offer-profile">
					<h3>Send job description</h3>
					<form (submit)="send_job_offer(msgForm)" #msgForm = ngForm>
			          <div class="form-group">
					    <input type="text" name="job_title" [(ngModel)]="credentials.job_title" class="form-control" placeholder="Job Title">
						<input type="hidden" name="user_id" [(ngModel)]="credentials.user_id" class="form-control">
						<input type="hidden" name="name" [(ngModel)]="credentials.name" class="form-control">
					  </div>

					  <div class="form-group">
					    <input type="text" #expect_salary="ngModel"  pattern="^[0-9]*$" required name="salary" [(ngModel)]="credentials.salary" class="form-control" id="" placeholder="Your salary eg 2000">
					    <div class = "form_error" >
							<span class = "error" *ngIf="expect_salary.errors && credentials.salary"> Salary should be a number. </span>
						</div>
					  </div>
					  <div class="form-group">
							<select class="form-control" name="currency" [(ngModel)]="credentials.currency" id="sel1">
								<option value="-1" disabled selected hidden >Please choose currency</option>
								<option value="£ GBP">£ GBP</option>
								<option value="€ EUR">€ EUR</option>
								<option value="$ USD">$ USD</option>
							</select>
					  </div>
					  <div class="form-group">
					    <input type="text" name="location" [(ngModel)]="credentials.location" class="form-control" id="" placeholder="Location eg London">
					  </div>
					  <div class="form-group">
					    <p class = "input_p">Full/Part Time</p>
					    <div class="radio radio_custom" *ngFor="let options of job_type">
							<label>
								<input type="radio" id = "new-radio" name="optradio"  [(ngModel)]="credentials.job_type" [value]="options"> 
								{{options}}
							</label>
						</div>
					  </div>
						
					  <div class="form-group">
					    <textarea class="form-control" rows="5" name="job_desc" [(ngModel)]="credentials.job_desc" id="comment" placeholder="Description of job"></textarea>
					  </div>
					  <p style="color: green;font-size: 18px;">{{job_offer_msg}}</p>
					  <div class = "form-group text-center">
					  		<button type="submit" [disabled]="expect_salary.errors || !credentials.currency || !credentials.job_desc || !credentials.job_type || !credentials.job_title || !credentials.location" class="btn btn-primary model-btn submit">Submit Job Offer</button>
					  </div>
					</form>
				</section>
			</div>

		</div>
	</div>

</section>


<!--Profile-inner end-->