<!--Profile-inner-->

<section class = "wizard_page">	

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				 <section class = "profile personal_info">

				 	<div class="col-md-6" >
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		
						<span class = "name" *ngIf='company_reply === 1'>
				 			<h3>{{first_name}} {{last_name}}</h3>
				 		</span>
				 		
				 		<span class = "name" *ngIf='company_reply !== 1'>
				 			<h3>{{first_name}} </h3>
				 		</span>
				 		<span class = "short_intro">
				 			<p>{{description}}</p>
				 		</span>

				 		

				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>
				 			<li>
				 				<a href = "">
					 				<span class = "list-icon span_bg"> <img src="assets/profile/comp.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt">{{companyname}}</span>
				 				</a>
				 			</li>

				 			<li>
				 				<a href = "">
					 				<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt">{{degreename}}</span>
				 				</a>
				 			</li>

				 			<li>
				 				<a href = "">
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Nationality : {{nationality}}</span>
				 				</a>
				 			</li>

				 			<li>
				 				<a href = "">
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt"> Contact Number : {{contact_number}}</span>
				 				</a>
				 			</li>
				 		</ul>
				 		
				 	</div>
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Job </h3>
				 	<div class="info-area pro_br-btm">
						<div class = "col-md-3">
							<strong>Desired Location : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let country of countries'>{{country}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">
				 		<div class = "col-md-3" >
							<strong>Position Type : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>Full Time</li>
								<li>Part Time</li>
							</ul>
						</div>
				 	</div>-->

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Desired Position : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let interest_area of interest_area;'>{{interest_area}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Your Availablity : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{availability_day}}</li>
							</ul>
						</div>

				 	</div>

				 	<span class = "edit_profile_link">
				 		<a href="edit_profile#job_candidate">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>BlockChain Experience</h3>

					<div class = "discp info-area pro_br-btm">
						<h4 class = "disc_hd">Why do you want to work on BlockChain?</h4>
						<p>
							{{why_work}}
						</p>
					</div>
					

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Platform commercially worked with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of commercial;'>{{data.platform_name}}  : {{data.exp_year}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Platforms designed/developed smart contracts:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of platforms;'>{{data.platform_name}}  : {{data.exp_year}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Platform experimented with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of experimented;'>{{data.experimented_platform}}  : {{data.exp_year}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each platform:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 	

				 
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Experience</h3>				

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Current Base salary:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>{{current_currency}} {{current_salary}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Languages:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let lang of languages;'>{{lang.platform_name}} : {{lang.exp_year}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each Language:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 		

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each Role:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 	
				 	
				 </section>

				  <section class = "profile job_info">
					<h3>Work History</h3>
					<div class = "company_area" *ngFor='let work of history'>
					 	<div class="info-area pro_br-btm">
							<div class = "col-md-4">
								<strong>Company Name : </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.companyname}}</li>
									
								</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">
					 		<div class = "col-md-4" >
								<strong>Position : </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.positionname}}</li>
									
								</ul>
							</div>
					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>When you start job here?: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list" *ngIf='work.currentwork== true' >
							<li>{{work.startdate}} {{work.startyear}}, Currently Working here.</li>
						</ul>
						<ul class = "pro_list" *ngIf='work.currentwork== false' >
							<li>{{work.startdate}} {{work.startyear}}, {{work.enddate}} {{work.endyear}}</li>
						</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Current Location : </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.locationname}}</li>
								</ul>
							</div>

					 	</div>

					 	<div class = "discp info-area">
							<h4 class = "disc_hd">Description</h4>
							<p>
								{{work.descname}}
							</p>
						</div>

					</div>

				 
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Education</h3>
					
				 	<div class="col-md-12 info-area  pro_br-btm" *ngFor='let edu of education'>
				 		<div class = "edu_feild">
							<p>
								<strong>{{edu.uniname}} </strong>
							</p>
							<p>
								<span>{{edu.degreename}} - {{edu.fieldname}}</span>
							</p>
						</div>
						<div class = "edu_date">
							<p>
								<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
								 {{edu.eduyear}}
							</p>
						</div>

				 	</div>

				 		
				 	
				 </section>

			</div> <!--End col-md-9--->


		<div class = "col-md-3">
				<section class = "profile job_info side_rewiew offer-profile">
					<h3>Send Job Offer</h3>
					<form (submit)="send_job_offer(msgForm)" #msgForm = ngForm>
			          <div class="form-group">
					    <input type="text" name="job_title" [(ngModel)]="credentials.job_title" class="form-control" placeholder="Job Title">
						<input type="hidden" name="user_id" [(ngModel)]="credentials.user_id" class="form-control">
						<input type="hidden" name="name" [(ngModel)]="credentials.name" class="form-control">
					  </div>

					  <div class="form-group">
					    <input type="text" name="salary" [(ngModel)]="credentials.salary" class="form-control" id="" placeholder="Your salary eg $2000">
					  </div>
					  <div class="form-group">
							<select class="form-control" name="currency" [(ngModel)]="credentials.currency" id="sel1">
								<option value="GBP">£ GBP</option>
								<option value="EUR">€ EUR</option>
								<option value="USD">$ USD</option>
							</select>
					  </div>
					  <div class="form-group">
					    <input type="text" name="location" [(ngModel)]="credentials.location" class="form-control" id="" placeholder="Location eg London">
					  </div>
					  <div class="form-group">
					    <p class = "input_p">Full/Part Time</p>
					    <div class="radio radio_custom" *ngFor="let options of job_type">
							<label>
								<input type="radio" id = "new-radio" name="optradio"  [(ngModel)]="credentials.job_type" [value]="options"> 
								{{options}}
							</label>
						</div>
					  </div>
						
					  <div class="form-group">
					    <textarea class="form-control" rows="5" name="job_desc" [(ngModel)]="credentials.job_desc" id="comment" placeholder="something detail here"></textarea>
					  </div>
					  <p style="color: green;font-size: 18px;">{{job_offer_msg}}</p>
					  <div class = "form-group text-center">
					  		<button type="submit" class="btn btn-primary model-btn submit">Submit Job Offer</button>
					  </div>
					</form>
				</section>
			</div>

		</div>
	</div>

</section>


<!--Profile-inner end-->