<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard">
          <li class="nav-item">
            <a routerLink="{{term_link}}" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Terms & Conditions
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prefill-profile" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Prefill Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">
              <i class="{{active_class}}"></i>
              About
            </a>
          </li>
          <li class="nav-item">

            <a routerLink="{{link}}" class="nav-link btn {{job_disable}}">
              <i class="{{job_active_class}}"></i>
              Work
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="{{resume_class}}" class="nav-link btn {{resume_disable}}">
              <i class="{{resume_active_class}}"></i>
              Blockchain
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{exp_class}}" class="nav-link btn {{exp_disable}}">
              <i class="{{exp_active_class}}"></i>
              Experience
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-4 border bg-white">
      <div class="col-md-12">
        <form (submit)="about(aboutForm)" #aboutForm = ngForm>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" class="form-control" required id="first_name" placeholder="John" name="first_name" [(ngModel)]="info.first_name">
                <div class = "invalid-feedback d-inline" *ngIf="!info.first_name">
                  {{first_name_log}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="last_name">Last name</label>
                <input type="text" class="form-control" required id="last_name" placeholder="Smith"  name="last_name" [(ngModel)]="info.last_name">
                <div class = "invalid-feedback d-inline"  *ngIf="!info.last_name">
                  {{last_name_log}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone"><b>Phone</b></label>
                <div class="input-group">
                  <div class="input-group-prepend my-style">
                    <select class="form-control selectpicker" title="(Country code)" [(ngModel)]="info.country_code" name="country_code">
                      <option *ngFor='let country_code of country_codes' placeholder="Country code" [value]="country_code.value" [attr.selected]="country_code.value === info.country_code ? true : null">{{country_code.name}}</option>
                    </select>
                  </div>
                  <input type="tel" class="form-control" id="phone" placeholder="1234567890" name="contact_number" required [(ngModel)]="info.contact_number">
                  <div class = "invalid-feedback d-inline" *ngIf="!info.contact_number">
                    {{contact_name_log}}
                  </div>
                  <div class = "invalid-feedback d-inline" *ngIf="!info.country_code">
                    {{country_code_log}}
                  </div>
                  <ng-container *ngIf="info.contact_number;else no_contact_number">
                    <div class = "invalid-feedback d-inline" *ngIf="!checkNumber(info.contact_number)">
                      Please enter only numbers
                    </div>
                    <div class = "invalid-feedback d-inline" *ngIf="info.contact_number.length < 4 || info.contact_number.length > 15 ">
                      {{contact_number_log}}
                    </div>
                  </ng-container>
                  <ng-template #no_contact_number>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Nationality</label>
                <select class="form-control selectpicker" multiple title="(select multiple)" required name="nationality" [(ngModel)]='info.nationality'>
                  <option *ngFor='let options of nationality' placeholder="Nationality"  [value]="options.value">{{options.name}}</option>
                </select>
                <div class = "invalid-feedback d-inline" *ngIf="!info.nationality || (info.nationality && info.nationality.length === 0)">
                  {{nationality_log}}
                </div>
                <div class = "invalid-feedback d-inline"  *ngIf="info.nationality && info.nationality.length > 4">
                  {{nationality_log}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-12">
              <p>Where do you currently live, or where are you most frequently based?</p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <select class="form-control selectpicker" title="(select one)" required name="country" [(ngModel)]="info.country">
                  <option *ngFor='let options of countries'  [value]="options.value" [attr.selected]="options.value === info.country ? true : null">{{options.name}}</option>
                </select>
                <div class = "invalid-feedback d-inline"  *ngIf="!info.country">
                  {{country_log}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="London" name="city" #city required [(ngModel)]="info.city" >
                <div class = "invalid-feedback d-inline"  *ngIf="!info.city">
                  {{city_log}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <app-c-forme-dropdown-single
                label="How did you hear about us?"
                [value]="info.hear_about_wob"
                [options]="how_hear_about_wob"
                [errorMsg]="hear_about_wob_ErrMsg"
                (selectedValue)="info.hear_about_wob = $event"
                (change)="hear_about_wob_Validate()"
              ></app-c-forme-dropdown-single>
            </div>
            <div class="col-md-6 mt-2" *ngIf="info.hear_about_wob === 'Other'">
              <app-c-forme-text
                [value]="info.otherReasons"
                [errorMsg]="errMsgOtherReasons"
                (textInputValue)="info.otherReasons = $event"
                (change)="otherReasons_Validate()"
              ></app-c-forme-text>
            </div>
          </div>

          <div class="form-group">
            <div class = "text-right">
              <a routerLink="/prefill-profile" class = "btn btn-warning text-white">Back</a>
              <button type="submit" class = "btn btn-primary ml-1">Next</button>
            </div>
          </div>
          <div class = "invalid-feedback d-inline text-right float-right" *ngIf="error_msg">
            {{error_msg}}
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--candidate step completing End-->

  <!-- Image crop popup -->
  <div id="imageModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-center" id="exampleModalLabel">Image upload</h5>
        </div>
        <div class="modal-body ">
          <div class="file-upload mb-3">
            <input type="file" accept="image/*" (change)="fileChangeListener($event)">
          </div>
          <div class="text-center">
            <img-cropper *ngIf="imageName" #cropper [image]="imageCropData" [settings]="cropperSettings"></img-cropper>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="imageCropped('cancel')">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="imageCropped('crop')">Save</button>
        </div>
      </div>
    </div>
  </div>

</section>
