<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard">
          <li class="nav-item">
            <a routerLink="{{term_link}}" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Terms & Conditions
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/prefill-profile" class="nav-link">
              <i class="{{term_active_class}}"></i>
              Prefill Profile
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">
              <i class="{{active_class}}"></i>
              About
            </a>
          </li>
          <li class="nav-item">

            <a routerLink="{{link}}" class="nav-link btn {{job_disable}}">
              <i class="{{job_active_class}}"></i>
              Jobs
            </a>
          </li>
          <li class="nav-item px-2">
            <a routerLink="{{resume_class}}" class="nav-link btn {{resume_disable}}">
              <i class="{{resume_active_class}}"></i>
              Blockchain
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{exp_class}}" class="nav-link btn {{exp_disable}}">
              <i class="{{exp_active_class}}"></i>
              Experience
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-4 border bg-white">
      <div class="col-md-12">
        <form (submit)="about()" #aboutForm = ngForm>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="githubURL">Github account URL (optional)</label>
                <input type="text" #gitaccount="ngModel" class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,10}(:[0-9]{1,5})?(\/.*)?$" id="githubURL" placeholder="https://github.com/username"  name="github_account" [(ngModel)]="info.github_account">
                <div class = "invalid-feedback d-inline"  *ngIf="gitaccount.errors">
                  Enter url in proper format.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="stackURL">Stackexchange account URL (optional)</label>
                <input type="text" #stackaccount="ngModel"  class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,10}(:[0-9]{1,5})?(\/.*)?$" id="stackURL" placeholder="https://stackexchange.com/users/12345/username" name="exchange_account" [(ngModel)]="info.exchange_account">
                <div class = "invalid-feedback d-inline"  *ngIf="stackaccount.errors">
                  Enter url in proper format.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label >Linkedin account URL (optional)</label>
                <input type="text" #linkedinaccount="ngModel" class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,10}(:[0-9]{1,5})?(\/.*)?$"  placeholder="https://linkedin.com/in/username"  name="linkedin_account" [(ngModel)]="info.linkedin_account">
                <div class = "invalid-feedback d-inline"  *ngIf="linkedinaccount.errors">
                  Enter url in proper format.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label >Medium account URL (optional)</label>
                <input type="text" #mediumaccount="ngModel"  class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,10}(:[0-9]{1,5})?(\/.*)?$"  placeholder="https://medium.com/username" name="medium_account" [(ngModel)]="info.medium_account">
                <div class = "invalid-feedback d-inline"  *ngIf="mediumaccount.errors">
                  Enter url in proper format.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone number (including country code)</label>
                <input type="tel" class="form-control" id="phone" placeholder="(+1) 123 456 7890" name="contact_number" #contact_number required [(ngModel)]="info.contact_number" >
                <div class = "invalid-feedback d-inline"  *ngIf="!info.contact_number">
                  {{contact_name_log}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Nationality</label>
                <select class="form-control selectpicker" title="(select one)" required name="nationality" [(ngModel)]='info.nationality'>
                  <option *ngFor='let options of nationality' placeholder="Nationality"  [value]="options.value" [attr.selected]="options.value === info.nationality ? true : null">{{options.name}}</option>
                </select>
                <div class = "invalid-feedback d-inline"  *ngIf="!info.nationality">
                  <span class = "error">{{nationality_log}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class = "col-md-12">
              <p>Where do you currently live, or where are you most frequently based?</p>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <select class="form-control selectpicker" title="(select one)" required name="country" [(ngModel)]="info.country">
                  <option *ngFor='let options of countries'  [value]="options.value" [attr.selected]="options.value === info.country ? true : null">{{options.name}}</option>
                </select>
                <div class = "invalid-feedback d-inline"  *ngIf="!info.country">
                  {{country_log}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="London" name="city" #city required [(ngModel)]="info.city" >
                <div class = "invalid-feedback d-inline"  *ngIf="!info.city">
                  {{city_log}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Image (optional)</label>
                <input id="aa" #Image type="file" accept="image/*" name="image" [(ngModel)]="info.image"  class="form-control-file" />
                <label>
                  <span *ngIf="img_src" >{{img_src}}</span>
                </label>
                <div class = "invalid-feedback d-inline" *ngIf="image_log">
                  {{image_log}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class = "text-right">
              <a routerLink="/prefill-profile" class = "btn btn-warning text-white">Back</a>
              <button type="submit" class = "btn btn-primary ml-1">Next</button>
            </div>
          </div>
          <div class = "invalid-feedback d-inline text-right float-right" *ngIf="error_msg">
            {{error_msg}}
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--candidate step completing End-->
</section>
