<div class="container">
  <div class="row mb-2">
    <div class="col-md-12">
      <ul class="nav justify-content-center wizard">
        <li class="nav-item">
          <a routerLink="{{term_link}}" class="nav-link">
            <i class="{{term_active_class}}"></i>
            Terms & Conditions
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/prefill-profile" class="nav-link">
            <i class="{{term_active_class}}"></i>
            Prefill Profile
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">
            <i class="{{active_class}}"></i>
            About
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="{{link}}" class="nav-link">
            <i class="{{active_class}}"></i>
            Jobs
          </a>
        </li>
        <li class="nav-item px-2">
          <a routerLink="{{resume_class}}" class="nav-link">
            <i class="{{resume_active_class}}"></i>
            Blockchain
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="{{exp_class}}" class="nav-link">
            <i class="{{exp_active_class}}"></i>
            Experience
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-12 text-center">
      <h3>About</h3>
    </div>
  </div>
  <form (submit)="about()" #aboutForm = ngForm class="p-4 border needs-validation" novalidate>
    <div class = "row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" required id="firstName" placeholder="First Name" name="first_name" [(ngModel)]="info.first_name">
            <div class = "invalid-feedback" *ngIf="!info.first_name">
              {{first_name_log}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" required id="lastName" placeholder="Last Name"  name="last_name" [(ngModel)]="info.last_name">
            <div class = "invalid-feedback" *ngIf="!info.last_name">
              {{last_name_log}}
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="githubURL">Github account URL</label>
          <input type="text" #gitaccount="ngModel" class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" id="githubURL" placeholder="Github account (optional)"  name="github_account" [(ngModel)]="info.github_account">
          <div class = "invalid-feedback" *ngIf="gitaccount.errors">
            Enter url in proper format.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="stackURL">Stackexchange account URL</label>
          <input type="text" #stackaccount="ngModel"  class="form-control" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" id="stackURL" placeholder="stackexchange account (optional)" name="exchange_account" [(ngModel)]="info.exchange_account">
          <div class = "invalid-feedback" *ngIf="stackaccount.errors">
            Enter url in proper format.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Phone number (including country code)</label>
          <input type="tel" class="form-control" id="phone" placeholder="(+1) 01 2345 6789" name="contact_number" #contact_number required [(ngModel)]="info.contact_number" >
          <div class = "invalid-feedback" *ngIf="!info.contact_number">
            {{contact_name_log}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Nationality</label>
          <select class="selectpicker" required name="nationality" [(ngModel)]='info.nationality'>
            <option value="-1" disabled selected hidden >Please choose nationality</option>
            <option *ngFor='let options of nationality' placeholder="Nationality"  [value]="options" selected>{{options}}</option>
          </select>
          <div class = "invalid-feedback" *ngIf="info.nationality === -1">
            <span class = "error">{{nationality_log}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-12">
        <p>Where do you currently live, or where are you most frequently based?</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Country</label>
          <select class="selectpicker" required name="country" [(ngModel)]="info.country">
            <option value="-1" disabled selected hidden >Please choose country</option>
            <option *ngFor='let options of countries'  [value]="options" selected>{{options}}</option>
          </select>
          <div class = "invalid-feedback" *ngIf="info.country === -1">
            {{country_log}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" placeholder="" name="city" #city required [(ngModel)]="info.city" >
          <div class = "invalid-feedback" *ngIf="!info.city">
            {{city_log}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Image (optional)</label>
          <input id="aa" #Image type="file" onchange="pressed()" accept="image/*" name="image" [(ngModel)]="info.image"  class="form-control-file" />
          <label>
            <span *ngIf="img_src" >{{img_src}}</span>
          </label>
          <div class = "invalid-feedback" *ngIf="image_log">
            {{image_log}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class = "text-right">
        <a routerLink="/prefill-profile" class = "btn btn-secondary">Prev Step</a>
        <button type="submit" class = "btn btn-primary">Next Step</button>
      </div>
    </div>
    <div class = "invalid-feedback text-right" *ngIf="error_msg">
      {{error_msg}}
    </div>
  </form>
  <!--</div>-->
</div>
<!--candidate step completing End-->
