<app-c-forme-dropdown-autosuggest
  label="Commercial experience"
  placeholder="Commercial experience"
  [controllerOptions]="controllerOptions"
  [controller]="autoSuggestController"
  [displayItems]="resultItemDisplay"
  (selectedItems)="itemSelected($event)"
  [errorMsg]="errorMsg"
></app-c-forme-dropdown-autosuggest>
<div *ngIf="selectedSkillExpYear && selectedSkillExpYear.length > 0">
  <div class="row">
    <div  *ngFor="let value of selectedSkillExpYear; let i = index" class="col-md-8 p-2 mt-2">
      <div class="ml-0 row">
        <div class = "col-5">
          <label >{{value.name}}</label>
        </div>
        <div class="col-4">
          <app-c-forme-dropdown-single
            [options]="years_exp_min_new"
            [value]="value.exp_year"
            [errorMsg]="yearsErrMsg"
            (selectedValue)="value.exp_year = $event"
            (change)="skillsExpYearOptions($event, value, i)"
          ></app-c-forme-dropdown-single>
        </div>
        <!--<div class = "col-4">
          <select class="selectpicker form-control " name="skills_years_exp" [(ngModel)]="skills_years_exp" title="(select one)" (change)="skillsExpYearOptions($event , value, i)">
            <option *ngFor="let opt of years_exp_min_new" [value]="opt.value">{{opt.name}}</option>
          </select>
        </div>-->
      </div>
    </div>
    <div class = "ml-4 invalid-feedback d-inline" *ngIf="exp_year_error">
      {{exp_year_error}}
    </div>
  </div>
</div>
