<!--Profile-inner-->

<section class = "wizard_page">	

	<div class="container">
		<div class="row">
			<div class="col-md-9">
				 <section class = "profile personal_info">

				 	<div class="col-md-6" >
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "name">
				 			<h3>{{first_name}} {{last_name}}</h3>
				 				
				 		</span>
				 		<span class = "short_intro">
				 			<p>{{description}}</p>
				 		</span>

				 		<!-- <div class="fb-share-button" data-href="https://www.workonblockchain.com/ref/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.workonblockchain.com%2Fref%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
						
						<div class = "twitter-share-button">
							<a class = "twitter-share-button" href="https://twitter.com/intent/tweet?text=I%E2%80%99m%20inviting%20you%20to%20workonblockchain.com!%20Sign%20up%20now%20and%20let%20companies%20apply%20to%20you.%20Receive%205%20%20job%20offers%20in%20one%20week.%20Salaries%20from%20%E2%82%AC35k%20-%20%E2%82%AC100k&amp;url=http://workonblockchain.mwancloud.com/admin-candidate-detail?user={{currentUser._id}}">Tweet</a>
						</div>-->
					<div>
						 <div #element style="display: inline-block;position: relative;"></div>
						 <a href="https://twitter.com/share" style="display: inline-block;position: relative;" [attr.data-text]="text" [attr.data-url]="url" class="twitter-share-button"></a>
						 
							</div>
						
						<!-- <script src="assets/js/in.js" type="text/javascript"> lang: en_US</script>
						<script type="IN/Share" data-url="http://workonblockchain.mwancloud.com/"></script>-->

				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>
				 			<li>
				 				<a href = "">
					 				<span class = "list-icon span_bg"> <img src="assets/profile/comp.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt">{{companyname}}</span>
				 				</a>
				 			</li>

				 			<li>
				 				<a href = "">
					 				<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt">{{degreename}}</span>
				 				</a>
				 			</li>

				 			<li>
				 				<a href = "">
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Nationality : {{nationality}}</span>
				 				</a>
				 			</li>

				 			<li>
				 				<a href = "">
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt"> Contact Number : {{contact_number}}</span>
				 				</a>
				 			</li>
				 		</ul>
				 		
				 	</div>
				 	<span class = "edit_profile_link">
				 		<a href="edit_profile#about_you">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 </section>

				 <section class = "profile job_info">
					<h3>Job </h3>
				 	<div class="info-area pro_br-btm">
						<div class = "col-md-3">
							<strong>Desired Location : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let country of countries'>{{country}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">
				 		<div class = "col-md-3" >
							<strong>Position Type : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>Full Time</li>
								<li>Part Time</li>
							</ul>
						</div>
				 	</div>-->

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Desired Position : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let interest_area of interest_area;'>{{interest_area}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Your Availablity : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{availability_day}}</li>
							</ul>
						</div>

				 	</div>

				 	<span class = "edit_profile_link">
				 		<a href="edit_profile#job_candidate">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>BlockChain Experience</h3>

					<div class = "discp info-area pro_br-btm">
						<h4 class = "disc_hd">Why do you want to work on BlockChain?</h4>
						<p>
							{{why_work}}
						</p>
					</div>
					

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Platform commercially worked with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of commercial;'>{{data.platform_name}}  : {{data.exp_year}}</li>
								
							</ul>
						</div>

				 	</div>
				 	
				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Platforms designed/developed smart contracts:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of platforms;'>{{data.platform_name}}  : {{data.exp_year}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Platform experimented with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of experimented;'>{{data.experimented_platform}}  : {{data.exp_year}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each platform:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 	

				 	<span class = "edit_profile_link">
				 		<a href="edit_profile#resume_candidate">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Experience</h3>				

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Current Base salary:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>{{current_currency}} {{current_salary}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Languages:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let lang of languages;'>{{lang.platform_name}} : {{lang.exp_year}}</li>
								
							</ul>
						</div>

				 	</div>

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each Language:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 		<span class = "edit_profile_link">
				 		<a href="edit_profile#experience_candidate">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>

				 	<!--<div class="info-area pro_br-btm">

						<div class = "col-md-4" >
							<strong>Year of Experience each Role:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li>BitCoin : 4-5 Year</li>
								<li>Ethereum : 3-4 Year</li>
							</ul>
						</div>

				 	</div>-->

				 	
				 	
				 </section>

				  <section class = "profile job_info">
					<h3>Work History</h3>
					<div class = "company_area" *ngFor='let work of history'>
					 	<div class="info-area pro_br-btm">
							<div class = "col-md-4">
								<strong>Company Name : </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.companyname}}</li>
									
								</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">
					 		<div class = "col-md-4" >
								<strong>Position : </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.positionname}}</li>
									
								</ul>
							</div>
					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>When you start job here?: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list" *ngIf='work.currentwork== true' >
							<li>{{work.startdate}} {{work.startyear}}, Currently Working here.</li>
						</ul>
						<ul class = "pro_list" *ngIf='work.currentwork== false' >
							<li>{{work.startdate}} {{work.startyear}}, {{work.enddate}} {{work.endyear}}</li>
						</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Current Location : </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.locationname}}</li>
								</ul>
							</div>

					 	</div>

					 	<div class = "discp info-area">
							<h4 class = "disc_hd">Description</h4>
							<p>
								{{work.descname}}
							</p>
						</div>

					</div>

				 	<span class = "edit_profile_link">
				 		<a href="edit_profile#experience_candidate">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>

				 <section class = "profile job_info">
					<h3>Education</h3>
					
				 	<div class="col-md-12 info-area  pro_br-btm" *ngFor='let edu of education'>
				 		<div class = "edu_feild">
							<p>
								<strong>{{edu.uniname}} </strong>
							</p>
							<p>
								<span>{{edu.degreename}} - {{edu.fieldname}}</span>
							</p>
						</div>
						<div class = "edu_date">
							<p>
								<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
								 {{edu.eduyear}}
							</p>
						</div>

				 	</div>

				 		<span class = "edit_profile_link">
				 		<a href="edit_profile#experience_candidate">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 	
				 </section>

			</div> <!--End col-md-9--->

			<div class = "col-md-3">
				<section class = "profile job_info side_rewiew">
					<h3>We are very sorry</h3>
					<p>
						Unfortunately due to work authorization issues we are unable to help you at the moment. If your circumstances changed, please update your profile and resubmit it for review.
					</p>
				<div class = "text-center">
					<button class = "btn btn-success btn-block btn-review">Resubmited of Review</button>
				</div>
				</section>
			</div>
		</div>
	</div>

</section>


<!--Profile-inner end-->