select.form-control:focus {
  box-shadow: none;
  border-color : none;
}
select:required:invalid {
  color: #999;
}
option {
  font-size: 16px;
  color : #16181b;
}
option[value=""][disabled] {
  display: none;
}

