<div class="container title_div">
  <h1 class = "text-center">Web Application Style Guide</h1>
  <p class = "text-center">This part is inside a .container class.</p>
</div>
<div class = "container">
  <h1>Primary Colours</h1>
  <hr>
  <div class="row text-center">
    <div class="col-sm wob-bg-primary1">
      <h1>wob-bg-primary1</h1>
      <h2>#253245</h2>
    </div>
    <div class="col-sm wob-bg-primary2">
      <h1>wob-bg-primary2</h1>
      <h2>#f6f9fc</h2>
    </div>
    <div class="col-sm wob-bg-primary3">
      <h1>wob-bg-primary3</h1>
      <h2>#ffffff</h2>
    </div>
  </div>
</div>
<div class = "container">
  <h1>Secondary Colours</h1>
  <hr>
  <div class="row text-center">
    <div class="col-sm wob-bg-secondary1">
      <h1>wob-bg-secondary1</h1>
      <h2>#32325d</h2>
    </div>
    <div class="col-sm wob-bg-secondary2">
      <h1>wob-bg-secondary2</h1>
      <h2>#ffd630</h2>
    </div>
    <div class="col-sm wob-bg-secondary3">
      <h1>wob-bg-secondary3</h1>
      <h2>#3C83B7</h2>
    </div>
  </div>
</div>
<div class = "container">
  <h1>Background Colours</h1>
  <hr>
  <div class="row text-center">
    <div class="col-sm-4 wob-bg-primary2">
      <h1>wob-bg-primary2</h1>
      <h2>#f6f9fc</h2>
    </div>
    <div class="col-sm-4 wob-bg-primary3">
      <h1>wob-bg-primary3</h1>
      <h2>#ffffff</h2>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<div class = "container">
  <div class = "col-md-12">
    <h1>Icons</h1>
    <hr>
    <div class = "row text-center">
      <div class="col-md-12">
        <i class="fab fa-linkedin fa-3x"></i>
        <i class="fab fa-google-plus-square fa-3x"></i>
        <i class="fas fa-pencil-alt fa-3x"></i>
        <i class="fas fa-paperclip fa-3x"></i>
        <i class="fas fa-paper-plane fa-3x"></i>
        <i class="fas fa-user fa-3x"></i>
        <i class="fas fa-cog fa-3x"></i>
        <i class="fas fa-sign-out-alt fa-3x"></i>
        <i class="fas fa-id-card fa-3x"></i>
        <p>
          These all icon use in buttons <a href = "https://fontawesome.com/icons?d=gallery&m=free" target = "_blank">Fontawesome icon</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1>Components library</h1>
  <hr>
  <div class = "row">
    <div class="col-md-2">
      <p>Simple Bages</p>
    </div>
    <div class="col-md-7">
      <span class="badge badge-primary">Primary</span>
      <span class="badge badge-secondary">Secondary</span>
      <span class="badge badge-success">Success</span>
      <span class="badge badge-danger">Danger</span>
      <span class="badge badge-warning">Warning</span>
      <span class="badge badge-info">Info</span>
      <span class="badge badge-light">Light</span>
      <span class="badge badge-dark">Dark</span>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Add for tag and badges</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Border redius badges</p>
    </div>
    <div class="col-md-7">
      <span class="badge badge-pill badge-primary">Primary</span>
      <span class="badge badge-pill badge-secondary">Secondary</span>
      <span class="badge badge-pill badge-success">Success</span>
      <span class="badge badge-pill badge-danger">Danger</span>
      <span class="badge badge-pill badge-warning">Warning</span>
      <span class="badge badge-pill badge-info">Info</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-dark">Dark</span>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Add for round border badges</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Big badges</p>
    </div>
    <div class="col-md-7">
      <h5><span class="badge badge-pill badge-primary">Primary</span></h5>
      <h5><span class="badge badge-pill badge-secondary">Secondary</span></h5>
      <h5><span class="badge badge-pill badge-success">Success</span></h5>
      <h5><span class="badge badge-pill badge-danger">Danger</span></h5>
      <h5><span class="badge badge-pill badge-warning">Warning</span></h5>
      <h5><span class="badge badge-pill badge-info">Info</span></h5>
      <h5><span class="badge badge-pill badge-light">Light</span></h5>
      <h5><span class="badge badge-pill badge-dark">Dark</span></h5>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Add for round border badges</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Blockchain Logos</p>
    </div>
    <div class="col-md-7">
      <img class="mb-1 ml-1" src = "/assets/images/all_icons/Bitcoin.png" alt="Bitcoin Logo"> Bitcoin Logo
      <img class="mb-1 ml-1" src = "/assets/images/all_icons/Cardano.png" alt="Cardano Logo"> Cardano Logo
      <img class="mb-1 ml-1" src = "/assets/images/all_icons/Corda.png" alt="Corda Logo"> Corda Logo
      <img class="mb-1 ml-1" src = "/assets/images/all_icons/Dash.png" alt="Dash Logo"> Dash Logo
      <img class="mb-1 ml-1" src = "/assets/images/all_icons/Doge.png" alt="Doge Logo"> Doge Logo
    </div>
    <div class="col-md-3">
      <ul>
        <li>Add for blockchain Icons</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Twitter share button</p>
    </div>
    <div class="col-md-7">
      <a href="https://twitter.com/intent/tweet?text={{tweet}}" class="btn bg-primary text-white pt-0 pb-1 px-1"><small>	<i class="fab fa-twitter text-white mr-1"></i>Tweet</small></a>

    </div>
    <div class="col-md-3">
      <ul>
        <li>Add for tweet </li>
      </ul>
    </div>
  </div>

  <!--<div class = "row">
              <div class="col-md-2">
                 <p>List Group float right</p>
              </div>
              <div class="col-md-7">
                  <ul class="list-group float-right">
                    <li class="list-group-item"><i class="fas fa-building"></i> Comapany Name</li>
                    <li class="list-group-item"><i class="fas fa-university"></i> Full Name of your institue</li>
                    <li class="list-group-item"><i class="fas fa-id-card"></i> Language: Urdu, English</li>
                    <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> Current Location: Isb, Pak</li>
                  </ul>
              </div>
              <div class="col-md-3">
                 <ul>
                    <li>use for profile page info</li>
                 </ul>
              </div>
     </div>-->

</div>


<div class = "container">
  <h1>Typography</h1>
  <hr>
  <div class = "row">
    <div class="col-md-2">
      <p>Page title H1</p>
    </div>
    <div class="col-md-7">
      <h1>Privacy Notice</h1>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use me for the page title
        <li>
          Use <a href="https://www.computerhope.com/jargon/t/title-case.htm">Title Case</a>
        </li>
        <li>
          <b>DO NOT USE</b> <a href="https://www.computerhope.com/jargon/t/title-case.htm">Title Case</a> for any other elements, text, buttons, urls etc...
        </li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Section heading H2</p>
    </div>
    <div class="col-md-7">
      <h2>About you</h2>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          Use me for headings
        </li>
        <li>
          Use <a href="https://www.grammarly.com/blog/capitalization-rules/">normal English capitalization</a>, do not use <a href="https://www.computerhope.com/jargon/t/title-case.htm">Title Case</a>
        </li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Subsection heading H4</p>
    </div>
    <div class="col-md-7">
      <h4>Commercial blockchain experience</h4>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          Use me for section headings
        </li>
        <li>
          Use <a href="https://www.grammarly.com/blog/capitalization-rules/">normal English capitalization</a>, do not use <a href="https://www.computerhope.com/jargon/t/title-case.htm">Title Case</a>
        </li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Field name</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label for="exampleInputFirstName">First name</label>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          Field names
        </li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Paragraph / field value</p>
    </div>
    <div class="col-md-7">
      <p>
        Create a profile in minutes that lets companies know why you are so excited about blockchain.
      </p>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
          Use me for paragraph or field values
        </li>
      </ul>
    </div>
  </div>
</div>
<div class = "container">
  <h1>Buttons</h1>
  <hr>
  <div class = "row">
    <div class="col-md-2">
      <p>Positive button</p>
    </div>
    <div class="col-md-7">
      <button type="button" class="btn btn-primary">Subscribe</button>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use me to go to to next step, confirm, agree or submit</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Neutral button</p>
    </div>
    <div class="col-md-7">
      <button type="button" class="btn btn-secondary">What happens next?</button>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use more for buttons that do not have a positive or negative meaning.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Negative button</p>
    </div>
    <div class="col-md-7">
      <button type="button" class="btn btn-danger">Not interested</button>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for Reject and Cancel the action.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Other button</p>
    </div>
    <div class="col-md-7">
      <button type="button" class="btn btn-warning mb-1 text-light">Other buttons</button>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for Reject and Cancel the action.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Google button</p>
    </div>
    <div class="col-md-7">
      <a class="btn btn-block btn-social btn-google">
        <span class="fab fa-google"></span> Sign in with Google
      </a>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for google block button.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Linkedin button</p>
    </div>
    <div class="col-md-7">
      <a class="btn btn-block btn-social btn-linkedin">
        <span class="fab fa-linkedin-in"></span>  Sign in with LinkedIn

      </a>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for Linkedin block button.</li>
      </ul>
    </div>
  </div>

  <!-- <div class = "row">
    <div class="col-md-2">
      <p>Google button</p>
    </div>
    <div class="col-md-7">
      <a class="btn btn-block btn-social btn-google">
        <span class="fab fa-google-plus-square"></span>Sign in with Google
      </a>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for google block button.</li>
      </ul>
    </div>
  </div> -->
  <!-- <div class = "row">
    <div class="col-md-2">
      <p>Linkedin button</p>
    </div>
    <div class="col-md-7">
      <button type="button" class="btn btn-linkedin">
        <i class="fab fa-linkedin"></i> Sign in with LinkedIn
      </button>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for Linkedin block button.</li>
      </ul>
    </div>
  </div> -->
</div>
<div class = "container">
  <h1>Alerts</h1>
  <hr>
  <div class = "row">
    <div class="col-md-2">
      <p>Warning or Negative</p>
    </div>
    <div class="col-md-7">
      <div class="alert alert-danger" role="alert">
        Please check your inbox and click on the link to verify your email. To send a new verification link please <a href = "#">click here.</a>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>use for show warning msg</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Info</p>
    </div>
    <div class="col-md-7">
      <div class="alert alert-info" role="alert">
        Your profile is currently disabled
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>use for show information on action.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Success</p>
    </div>
    <div class="col-md-7">

    </div>
    <div class="col-md-3">
      <ul>
        <li>use for show success message.</li>
      </ul>
    </div>
  </div>
</div>
<div class = "container">
  <div class = "col-md-12">
    <h1>Navigation bar</h1>
    <hr>
  </div>
  <div class = "col-md-12">
    <h4>Nav bar</h4>
  </div>

  <div class = "row">
    <div class = "col-md-12">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src = "/assets/images/logo_woc.png" alt="Work on Blockchain">
        </a>
        <div class="container navbar-collapse">
          <ul class="nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Referral - &pound; 500 Reward</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jack Tanner</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Log out</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!--nav tab wizard-->

  <div class = "col-md-12">
    <h4>Wizard nav bar</h4>
  </div>

  <div class = "row">
    <div class = "col-md-12">
      <ul class="nav justify-content-center wizard">
        <li class="nav-item">
          <a routerLink="/terms-and-condition" class="nav-link">
            <i class="fa fa-check-circle text-success"></i>
            Terms & Conditions
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/prefill-profile" class="nav-link">
            <i class="fa fa-check-circle text-success"></i>
            Prefill Profile
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">
            <i class="fa fa-check-circle text-success"></i>
            About
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/job" class="nav-link">
            <i class="fa fa-check-circle text-success"></i>
            Jobs
          </a>
        </li>
        <li class="nav-item px-2">
          <a routerLink="/resume" class="nav-link">
            <i class="fa fa-check-circle text-success"></i>
            Blockchain
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/experience" class="nav-link btn disabled">
            <i class=""></i>
            Experience
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
<div class = "container">
  <h1>Forms (write mode, field input)</h1>
  <hr>
  <div class = "row">
    <div class="col-md-2">
      <p>Input text feild with icon</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <span><i class="fas fa-envelope" aria-hidden="true"></i></span>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Simple text feilds in all forms.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Password form</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <span><i class="fas fa-lock" aria-hidden="true"></i></span>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for input password.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Text area</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Bio</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Paragraph text input</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Validated input</p>
    </div>
    <div class="col-md-7">
      <p>
        See <a href="https://getbootstrap.com/docs/4.1/components/forms/?#custom-styles">Boostrap form validators</a>
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="form-group">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="First name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback d-inline">
              Please write your first name.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

      <p>
    </div>
    <div class="col-md-3">
      <ul>
        <li>For validation of forms (almost always!)</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Check box</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Desired role</label>
        <div class="checkbox">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Accept <a href=""> Term and Conditions </a>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
              Product Manager
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
              System Analyst
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Multiselect check box</li>
        <li>Accept single option</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Input toggle switch</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <div class="wob-switch-toggle">
          <input type="checkbox" id="switch">
          <label for="switch">Toggle</label>
        </div>

        <div class="wob-switch-toggle">
          <input type="checkbox" id="switch1">
          <label for="switch1">Toggle</label>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>use input toggle on of switch in account setting page.</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Single select radio button</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Radio button simple</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Part Time
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Full Time
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>use input radio as select single option.</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Dropdown Options single select</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label >Type</label>
        <select class="selectpicker form-control" title="(select one)">
          <option>Full time</option>
          <option>Part time</option>
          <option>Freelance</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>use in form single select dropdown.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Input date</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Start date</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="startdate_datepicker">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-calendar" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Input time</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Time</label>
        <div class="input-group mb-3">
          <input type="time" name="time" class="form-control" placeholder="00:00">
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Select from button group</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>When would you like to receive emails?</label>
        <div>
          <label class="btn btn-secondary" *ngFor="let receive of email_notificaiton;" >
            <input type="radio" [checked] = "receive === when_receive_email_notitfications" value = {{receive}} id="radio - {{receive}}">{{receive}}
          </label>
        </div>

      </div>

      <div class="form-check form-check-inline mr-0 p-2">
        <div>
        <input type="radio" id = "radio11" name="group1" class="d-none">
        <label  for="radio11" class="border py-2 px-5">
          0-1
        </label>
        </div>

        <div>
        <input type="radio" id = "radio21" name="group1" class="d-none">
        <label  for="radio21" class="border py-2 px-5">
          1-2
        </label>
        </div>

        <div>
        <input type="radio" id = "radio31" name="group1" class="d-none">
        <label  for="radio31" class="border py-2 px-5">
          2-4
        </label>
        </div>

        <div>
        <input type="radio" id = "radio41" name="group1" class="d-none">
        <label for="radio41" class="border py-2 px-5">
          4-6
        </label>
        </div>

        <div>
        <input type="radio" id = "radio51" name="group1" class="d-none">
        <label  for="radio51" class="border py-2 px-5">
          6+
        </label>
        </div>
      </div>

      <!-- Material inline 2 -->


    </div>
    <div class="col-md-3">
      <ul>
        <li>Select from button group</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Dropdown Options Multi select</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Location</label>
        <select class="selectpicker" title="(select multiple)" multiple data-live-search="true">
          <option>Countries</option>
          <option>Cities</option>
          <option>Remote</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>multiselect select dropdown.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Dropdown Options single select with search</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Location</label>
        <select class="selectpicker" title="(select one)" data-live-search="true">
          <option>Countries</option>
          <option>Cities</option>
          <option>Remote</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>single select with search.</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Input type upload</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Upload your file or photo</label>
        <div class="form-group">
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for only upload file or photo.</li>
      </ul>
    </div>
  </div>


  <div class = "row">
    <div class="col-md-2">
      <p>HTML text editor</p>
    </div>

    <div class="col-md-7">
      <div class="form-group">
        <label>Enter  your text detail here</label>

        <textarea id="txtEditor"></textarea>

      </div>

    </div>

    <div class="col-md-3">
      <ul>
        <li>use for text editor</li>
      </ul>
    </div>
  </div>


  <div class = "row">
    <div class="col-md-2">
      <p>Angular ckeditor</p>
    </div>

    <div class="col-md-7">
      <div class="form-group">
        <label>Enter  your text detail here</label>

        <ckeditor   #myckeditor  [config]="ckeEditorConfig" debounce="500" >
        </ckeditor>
      </div>

    </div>

    <div class="col-md-3">
      <ul>
        <li>use for text editor CMS</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Angular ckeditor without formatting bar</p>
    </div>

    <div class="col-md-7">
      <div class="form-group">
        <label>Enter  your text detail here</label>

        <ckeditor class="ckeditor_tab"  #myckeditor [config]="ckeConfig" debounce="500" >
        </ckeditor>
      </div>

    </div>

    <div class="col-md-3">
      <ul>
        <li>Use for formatted text</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>signup switcher</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Candidate SignUp</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Company SignUp</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <form class = "py-3">
              <h3 class = "text-center">Candidate SignUp</h3>
              <div class = "form-group">
                <input type="text" class="form-control" placeholder = "User email" id="">
              </div>

              <div class = "form-group">
                <input type="password" class="form-control" placeholder = "Password" id="">
              </div>

              <div class = "form-group">
                <input type="submit" class="form-control btn btn-primary" value = "SignUp" id="">
              </div>

            </form>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form class = "py-3">
              <h3 class = "text-center">Company SignUp</h3>
              <div class = "form-group">
                <input type="text" class="form-control" placeholder = "Comapany name" id="">
              </div>

              <div class = "form-group">
                <input type="password" class="form-control" placeholder = "Password" id="">
              </div>

              <div class = "form-group">
                <input type="submit" class="form-control btn btn-primary" value = "SignUp" id="">
              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Use for only signup candidate/company page.</li>
      </ul>
    </div>
  </div>


</div>
<div class = "container">
  <h1>Forms (read mode, field values)</h1>
  <hr>
  <div class = "row">
    <div class="col-md-2">
      <p>Simple value</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Email</label>
        <p>
          jack@email.com
        <p>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Text, date or number field</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Paragraph value</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Why work on blockchain?</label>
        <p>
          My dream is to become an expert in Financial Technology. I believe the blockchain technology is the future and I would like to learn in FinTech to achieve my goal. Moreover, I think blockchain can solve many problems and my eager to work with cutting edge technology make me very interested in working in blockchain space.
        <p>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Paragraph text field value</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>List</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Areas of interest</label><div>
        <div>
          <div class="d-inline-block p-2 border rounded mr-1">Ethereum: 1-2 yrs</div>
          <div class="d-inline-block p-2 border rounded mr-1">Bitcoin: 1-2 yrs</div>
          <div class="d-inline-block p-2 border rounded mr-1">Ethereum: 1-2 yrs</div>
          <div class="d-inline-block p-2 border rounded mr-1">Bitcoin: 1-2 yrs</div>
        </div>
      </div>
      </div>

    </div>
    <div class="col-md-3">
      <ul>
        <li>List field values</li>
      </ul>
    </div>
  </div>

  <div class = "row">
    <div class="col-md-2">
      <p>Textarea value</p>
    </div>
    <div class="col-md-7">
      <div class="form-group">
        <label>Why work on blockchain?</label>
        <pre>My dream is to become an expert in Financial Technology.
I believe the blockchain technology is the future and I would like to learn in FinTech to achieve my goal.

Moreover, I think blockchain can solve many problems and my eager to work with cutting edge technology make me very interested in working in blockchain space.</pre>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Paragraph text field value</li>
      </ul>
    </div>
  </div>
</div>
<div class = "container">
  <h1>Other</h1>
  <hr>
  <p>
    Use <a href="https://getbootstrap.com/docs/4.1/components/">Bootstrap 4.1</a>
  </p>
  <div class = "row">
    <div class="col-md-2">
      <p>Popup</p>
    </div>
    <div class="col-md-7">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-primary">
              <h5 class="modal-title text-center" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/action_page.php">
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                  </label>
                </div>

                <div class="form-group">
                  <ckeditor class="ckeditor_tab"  #myckeditor [config]="ckeConfig" debounce="500" >
                  </ckeditor>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Popups with form</li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">
      <p>Pagnation</p>
    </div>
    <div class="col-md-7">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-3">
      <ul>
        <li>Pagnation</li>
      </ul>
    </div>
  </div>

</div>

<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <a target="_blank" href = "http://mwancloud.com/mw-najeeb-work/wob/style_guide_b/chat.html" class = "btn btn-primary">Go to chat window</a>
    </div>
  </div>
</div>

<div class = "container p-0 alert bg-light text-secondary">
  <div class = "row">
    <div class = "col-md-10 text-center">
      <p class = "position-relative mt-2">
        We use cookies to support your experience on our site. By continuing to use our site you agree to use of cookies. Please see our privacy policy for details of how we use cookies.
      </p>
    </div>
    <div class = "col-md-2 text-center">
      <a href = "" class = "btn btn-dark position-relative mt-3" data-dismiss="alert" aria-label="close">Yes, Got it.</a>
    </div>
  </div>
</div>

<div class = "container-fluid wob-footer">
  <div class = "row">
    <div class = "col-md-12">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-medium-m"></i></a>
        </li>
      </ul>
    </div>
  </div>


  <div class = "row">
    <div class = "col-md-12">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Candidate Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hirign Companies Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy & policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<a href="#" class = "btn btn-warning position-fixed" id="scroll-to-top" title="Back to top">
  <i class="fas fa-angle-up"></i>
</a>
