<section class="wob-bg-primary2 py-5 mt-5">
  <div class = "container pt-2">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8 bg-white p-4">
        <div class = "row">
          <div class="col-md-12">
            <h3 class="text-center">Forgot password</h3>
          </div>
        </div>
        <form (submit)="forgot_password(forgotForm)"  #forgotForm = ngForm>
          <div class = "row">
            <div class="col-md-12">
              <div class="alert alert-danger" *ngIf="log">{{log}}</div>
              <div class="form-group">
                <span><i class="fas fa-envelope mr-1" aria-hidden="true"></i></span>
                <label>Email address</label>
                <input type="email" class="form-control" required placeholder="email@example.com" id="email" name="email" [(ngModel)]="email">
              </div>
            </div>
          </div>

          <div class = "row ">
            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value = "Reset My Password">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <a routerLink = "/signup" >Sign Up</a><br/>
                <a routerLink = "/login" >Login</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
