<!--Profile-inner-->
<section class = "wizard_page">

	<div class="container">
		<div class="row chat-row">
			<div id = "frame" *ngIf="length > 0">
				<div class = "col-sm-4 col-xs-3" id="sidepanel">
					<div id="profile" class = "padding_top-btm">
						<div class="wrap">
								<ng-container *ngIf="profile_pic;else company_logo_top">
									<img id="profile-img" src="{{profile_pic}}" alt="">
								</ng-container>
								<ng-template #company_logo_top>
									<img src="/assets/profile/profile-image.png" alt="">
								</ng-template>
								<p>{{display_name}}</p>
							</div>
					</div>
					<div id="contacts">
						<ul>
							<li *ngFor="let person of users" class="contact closee" (click)="openDialog(person.first_name,person._creator._id)">
									<div class="wrap">
										<ng-container *ngIf="currentUser.type == 'company';else cand_image">
											<ng-container *ngIf="person.image;else person_image">
												<img src="{{person.image}}" alt="">
											</ng-container>
											<ng-template #person_image>
												<img src="/assets/profile/profile-image.png" alt="">
											</ng-template>
										</ng-container>
										<ng-template #cand_image>
											<ng-container *ngIf="person.company_logo;else company_image">
												<img src="{{person.company_logo}}" alt="logo">
											</ng-container>
											<ng-template #company_image>
												<img src="/assets/profile/profile-image.png" alt="">
											</ng-template>
											
										</ng-template>
										<div class="meta">
											<p class="name">{{ person.first_name }} {{ person.last_name }}</p>
										</div>
									</div>
								</li>
						</ul>
					</div>
				</div>
					<div class="content col-sm-8 col-xs-9">
						<div class="contact-profile">
							<ul class = "cand_info-ul">
								<ng-container *ngIf="user_type == 'company';else cand">
									<li>Candidate Name : {{candidate}}</li>
									<ng-container *ngIf="job_desc;else no_job_desc">
										<li>Availablity : {{job_desc.date_of_joining}}</li>
										<li>Job Title : {{job_desc.job_title}}</li>
									</ng-container>
									<ng-template #no_job_desc>
										<li>Availablity : N/A</li>
										<li>Job Title : N/A</li>
									</ng-template>
								</ng-container>
								<ng-template #cand>
									<li>Company Name : {{candidate}}</li>
									<li>Job Title : {{job_desc.job_title}}</li>
									<li>Salary : {{job_desc.salary}}</li>
								</ng-template>
							</ul>
							<!-- <span class = "btn_rgt">
								<button class = "btn btn_descp">View Job Discription</button>
							</span>-->
						</div>
						
						<div class="messages">
							<ul>
								<div *ngFor="let msg of new_msgss">
									<ng-container *ngIf="msg.sender_name == email;else second">
										<li class="sent">
											<p class = "job-description">
												{{msg.sender_name}}
												{{msg.message}}
												<a href="{{msg.file_name}}">{{msg.file_name}}</a>
											</p>
										</li>
									</ng-container>
									<ng-template #second>
										<li class="replies">
											<p>
												{{msg.sender_name}}
												{{msg.message}}
												<a href="{{msg.file_name}}">{{msg.file_name}}</a>
											</p>
										</li>
									</ng-template>
								</div>
								<li class = "offers_b"></li>
							</ul>
						</div>
						
						
						
					</div>


				</div><!--end col here-->
				
				<div *ngIf = "length === 0">
				
					Didn't chat with any company yet
				</div>
				
			</div>
			
		</div>

</section>


<!--Profile-inner end-->

<div class = "gap">
</div>