<section class = "wob-bg-primary2 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor = "let data of info" >
        <section class = "border rounded py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <img *ngIf="!imgPath" src = "assets/profile/profile-image.png" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "profile-img"/>
              <img *ngIf="imgPath" src = "{{imgPath}}" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "profile-img"/>
              <div class="mt-3">
                <span><h3>{{data.company_name}}</h3></span>
                <span><p>{{data.company_description}}</p></span>
                <span>
				 		      <a [routerLink]="['/admin-display-chat']" [queryParams]="{user: user_id , type : data._creator.type}" >Show Chat With Candidates</a>
				 		    </span>
                <span>
                  <form #approve_form="ngForm" >
                    <input type="hidden" name="email"  [ngModel]="data._creator.email">
                    <input type="hidden" name="name"  [ngModel]="data.first_name">
                    <input type="hidden" name="type"  [ngModel]="data._creator.type">
                    <input type="hidden" name="is_verify" [ngModel]="data._creator.is_verify">
                    <input type="hidden" name="id" [ngModel]="data._creator._id">
                    <input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 0)' name="is_approve" [ngModel]="1">
                    <input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 1)' name="is_approve" [ngModel]="0">
								    <div class="my-3">
                      <button type="submit" (click) = "approveClick($event , approve_form)"  class = "btn wob-bg-secondary2" *ngIf = "(data._creator.is_verify ===1 && data._creator.is_approved === 0)" >Approve</button>
                      <button type="submit" (click) = "approveClick($event , approve_form)" class = "btn wob-bg-secondary2" *ngIf = "(data._creator.is_verify ===1 && data._creator.is_approved === 1)" >Disapprove</button>
                      <button type="submit" class = "btn wob-bg-secondary2" *ngIf = "data._creator.is_verify ===0" disabled>Approve</button>
							    	</div>
							    </form>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush float-right">
                <li *ngIf="referred_name !== ''">
                  <span ><i class="fas fa-user mr-2"></i> </span>
                  <ng-container *ngIf="referred_link ; else noLink">
                  <span >Refered By: <a  [routerLink]="[detail_link]" target="_blank" [queryParams]="{user: referred_link }">{{referred_name}}</a>
					 				</span>
                  </ng-container>
                  <ng-template #noLink>
                    <span>Refered By: {{referred_name}}</span>
                  </ng-template>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-building mr-2"></i></span>
                  <span><a [href]="data.company_website" target="_blank">{{data.company_website}}</a></span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-map-marker-alt mr-2"></i></span>
                  <span >Country: {{data.company_country}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-map-marker-alt mr-2"></i></span>
                  <span class = "li_txt">City: {{data.company_city}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-phone mr-2"></i></span>
                  <span class = "li_txt"> Phone: {{data.company_phone}}</span>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-user"></i>
                Account
              </h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                  <label>Account created date: </label>
                  <p>{{data._creator.created_date | date:'dd-MMMM-yyyy'}}</p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
              <ng-container *ngIf="verify === 1;else no_verify">
                  <label>Email verified: </label>
                  <p>Yes</p>
              </ng-container>
              <ng-template #no_verify>
                  <label>Email verified: </label>
                  <p>No</p>
              </ng-template>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">

              <ng-container *ngIf="is_approved !== '';else no_approve">
                  <label>Approved by admin: </label>
                  <p>Yes</p>
              </ng-container>
              <ng-template #no_approve>
                  <label>Approved by admin: </label>
                  <p>No</p>
              </ng-template>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">

              <ng-container *ngIf="data._creator.disable_account === false;else no_enable">
                  <label>Account enabled: </label>
                  <p>Yes</p>
              </ng-container>
              <ng-template #no_enable>
                  <label>Account enabled: </label>
                  <p>No</p>
              </ng-template>
              </div>
            </div>
            <div class="col-md-6" *ngIf="data._creator.dissable_account_timestamp">
              <div class="form-group">
                 <label>Account enabled/disabled timestamp: </label>
                  <p>{{data._creator.dissable_account_timestamp | date:'short'}}</p>
              </div>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-building"></i>
                Company info
              </h2>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>When was the company founded:</label>
                <p>
                  {{data.company_founded}}
                <p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>How is the company funded:</label>
                <p>
                  {{data.company_funded}}
                <p>
              </div>
            </div>

            <div class="col-md-6 ">
              <div class="form-group">
                <label>Number of employees:</label>
                <p>
                  {{data.no_of_employees}}
                <p>
              </div>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-building"></i>
                Company administration
              </h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <p>
                  {{data.first_name}} {{data.last_name}}
                <p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Title:</label>
                <p>
                  {{data.job_title}}
                <p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email:</label>
                <p>
                  {{data._creator.email}}
                <p>
              </div>
            </div>
          </div>
        </section>

        <section class = "bg-white border rounded my-4 py-3 px-5" *ngIf = "saved_searche && saved_searche.length > 0">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-user"></i>
                Candidate preferences
              </h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Where are you hiring:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1" *ngFor= "let location of saved_searche[0].location"> {{location}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>What position type are you looking for:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1" *ngFor= "let type of saved_searche[0].job_type"> {{type}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>What role are you looking for:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1" *ngFor= "let position of saved_searche[0].position"> {{position}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3" >
              <div class="form-group">
                <label>What blockchain technology experience do they need:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1" *ngFor= "let blockchain of saved_searche[0].blockchain">
                    <img class="mb-1 ml-1" src = "/assets/images/all_icons/{{blockchain}}.png" alt="{{blockchain}} Logo">
                    {{blockchain}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3" >
              <div class="form-group">
                <label>What programming languages do they need to know:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1" *ngFor= "let lang of saved_searche[0].skills"> {{lang}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3" >
              <div class="form-group">
                <label>Other technologies or requirements?</label>
                <p>
                  {{saved_searche[0].other_technologies}}
                </p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Available annual salary and currency:</label>
                <p>
                  {{saved_searche[0].current_currency}} {{saved_searche[0].current_salary}}
                <p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>When do you want to start hire working:</label>
                <p>
                  {{saved_searche[0].availability_day}}
                </p>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group">
                <label>When would you like to receive emails with candidates that match your search?</label>
                <p>
                  {{saved_searche[0].when_receive_email_notitfications}}
                <p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
