/*====FAQ STYLE HERE====*/

.faq-view{
    display: block;
    box-sizing: inherit;
    background-color: #f6f9fc;
    padding: 30px 0px;
    overflow: hidden;
}

.faq-content-wrapper {
    background: #ebebeb;
    padding: 15px;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}

.faq-content-wrapper .faq-item-list {
    clear: right;
    margin: 0 auto;
    padding: 0;
}

.trans_hd{
    background-color: transparent !important;
    border-color: transparent !important;
}

@media (min-width: 767px){
    .faq-main-content {
        margin: 0 auto;
        max-width: 950px;
        overflow: hidden;
        padding: 20px;
    }

    .faq-content-wrapper {
        padding: 45px 10%;
    }

    .faq-content-wrapper .faq-item-list {
        max-width: 750px;
    }

   /* .expand-container {
        margin: 0 auto;
        max-width: 550px;
    }*/
}

.border-none{
        border: none !important;
        border-bottom: 1px solid #0070c0 !important;
    }

    .br_top{
        border-top: none !important;
    }

    .br_top_first{
        border-top: 1px solid #0070c0 !important;
    }

    .no_radiaus{
        border-radius: 0px !important;
    }

    .faq_link{
        color: #333;
        text-decoration: none;
    }

    .panel-title {
        position: relative;
    }

   .more-less1 {
    float: right;
    color: #3ac5ee;
    position: relative;
    top: 2px;
}