<div class="container title_div">
  <h1 class = "text-center">Web Application Style Guide</h1>
  <p class = "text-center">This part is inside a .container class.</p>
</div>

<div class = "P_color">
  <div class = "container">
    <div class = "col-md-12">
      <h1>Primary Colours</h1>
      <hr>
      <div class = "row text-center">

        <div class="col-md-2 c_one">
          <p>#253245</p>
        </div>

        <div class="col-md-2 c_two">
          <p>#f6f9fc</p>
        </div>

        <div class="col-md-2 c_three">
          <p>#ffffff</p>
        </div>

      </div>
    </div>
  </div>
</div>


<div class = "S_color">
  <div class = "container">
    <div class = "col-md-12">
      <h1>Secondary Colours</h1>
      <hr>
      <div class = "row text-center">

        <div class="col-md-2 c_one">
          <p>#32325d</p>
        </div>

        <div class="col-md-2 c_two">
          <p>#ffd630</p>
        </div>

        <!-- <div class="col-md-2 bg-primary c_three">
                  <p class="m-0 p-4">#333333</p>
                </div> -->

        <!-- @ najeeb -->
        <div class="col-md-2 c_three">
          <p>#3C83B7</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class = "b_color">
  <div class = "container">
    <div class = "col-md-12">
      <h1>Background Colour</h1>
      <hr>

      <div class = "row text-center">

        <!-- <div class="col-md-2 b_one">
                    <p class="m-0 p-4">#253245</p>
                  </div>

                  <div class="col-md-2 b_two">
                    <p class="m-0 p-4"> #32325d</p>
                  </div> -->

        <div class="col-md-2 b_three">
          <p>#ffffff</p>
        </div>

        <div class="col-md-2 b_four">
          <p>#f6f9fc</p>
        </div>

      </div>
    </div>
  </div>
</div>


<div class = "b_color">
  <div class = "container">
    <div class = "col-md-12">
      <h1>Icons</h1>
      <hr>
      <div class = "row text-center">


        <div class="col-md-12">
          <!-- <i class="fab fa-facebook-f  fa-3x"></i>
          <i class="fab fa-facebook-square fa-3x"></i> -->

          <ul class="social-icons">

            <li>
              <a href="https://twitter.com/work_blockchain" class="twitter" target="_blank">
                <i class="fab fa-twitter"></i></a>
            </li>

            <li>
              <a href="https://www.linkedin.com/company/work-on-blockchain/" class="linkin" target="_blank">
                <i class="fab fa-linkedin-in"></i></a>
            </li>

            <li>
              <a href="https://medium.com/work-on-blockchain" class="whatsapp" target="_blank">
                <i class="fab fa-medium-m"></i></a>
            </li>

          </ul>

          <p class="s_p">Footer icon bootstrap 18px font size.</p>
        </div>

        <div class="col-md-12 btn_icon">

          <i class="fab fa-linkedin fa-5x"></i>
          <i class="fab fa-google-plus-square fa-5x"></i>
          <i class="fas fa-pencil-alt fa-5x"></i>
          <i class="fas fa-paperclip fa-5x"></i>
          <i class="fas fa-paper-plane fa-5x"></i>
          <i class="fas fa-user fa-5x"></i>
          <i class="fas fa-cog fa-5x"></i>
          <i class="fas fa-sign-out-alt fa-5x"></i>
          <p class="s_p"> These all icon use in buttons <a href = "https://fontawesome.com/icons?d=gallery" target = "_blank">Fontawesome icon</a></p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- <div class = "T_graph"> -->
<div class = "container-fluid">
  <div class = "col-md-12">
    <h1>Typography</h1>
    <hr>
    <div class = "row">

      <table width="100%">
        <tr>
          <td>
            <b>Element</b>
          </td><td>
          <b>Example</b>
        </td><td>
          <b>How and when to use</b>
        </td>
        </tr>
        <tr>
          <td>
            Page title H1
          </td><td>
          <h1 class="title_div banner_hd">Have top blockchain
            companies apply to you.</h1>
        </td><td>
          <ul>
            <li>Use for main banner of home page</li>
          </ul>
        </td>
        </tr>
        <tr>
          <td>
            Heading 2/ Section heading
          </td><td>
          <h1 class = "Section_3">Get on your dream blockchain project in days!</h1>
        </td><td>
          <ul>
            <li>Use h2 for section heading</li>
          </ul>
        </td>
        </tr>
        <tr>
          <td>
            Heading 3 / section heading
          </td><td>
          <h2 class = "Section">How does it work?</h2>
        </td><td>
          <ul>
            <li>Use me for section headings</li>
          </ul>
        </td>
        </tr>
        <tr>
          <td>
            Subsection heading/ heading 4
          </td><td>
          <h2 class = "inner_h5">Create Your blockchain profile</h2>
        </td><td>
          <ul>
            <li>Use for sub-section headings</li>
          </ul>
        </td>
        </tr>
        <tr>
          <td>
            Paragraph
          </td><td>
          <p class = "pra">
            Create a profile in minutes that lets companies know why you are so excited about blockchain.
          </p>
        </td><td>
          <ul>
            <li>Use me for paragraph</li>
          </ul>
        </td>
        </tr>
      </table>

    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div class = "Buttons"> -->
<div class = "container-fluid">
  <div class = "col-md-12">
    <h1>Buttons</h1>
    <hr>
    <div class = "row">

      <table width="100%">
        <tr>
          <td>
            <b>Element</b>
          </td><td>
          <b>Example</b>
        </td><td>
          <b>How and when to use</b>
        </td>
        </tr>

        <tr>
          <td>
            Banner button/ Large button
          </td>
          <td>
            <a href="#" class="btn employee_btn">FIND A JOB</a>
          </td><td>
          <ul>
            <li>Use on home page banner button</li>
          </ul>
        </td>
        </tr>

        <tr>
          <td>
            Positive button
          </td>
          <td>
            <a href="#" class="btn submit_btn">Subscribe</a>
          </td><td>
          <ul>
            <li>Use me to go to to next step, confirm, agree or submit</li>
          </ul>
        </td>
        </tr>

        <tr>
          <td>
            Natural button
          </td>
          <td>
            <a href="#" class="btn btn-self">Next Step</a>

          </td><td>
          <ul>
            <li>These button use in the forms for go next steps and complete process.</li>
          </ul>
        </td>
        </tr>

        <!--<tr>
              <td>
                Success Button
              </td>
              <td>
                <button class="btn btn-success submit_btn">Interested, let's chat</button>

              </td><td>
                <ul>
                  <li>Use for accept chat request or success action.</li>
                </ul>
              </td>
            </tr>-->

        <tr>
          <td>
            Negative Button
          </td>
          <td>
            <button class="btn btn-danger">Not Interested</button>

          </td><td>
          <ul>
            <li>Use for Reject and Cancel the action.</li>
          </ul>
        </td>
        </tr>

        <!--<tr>
              <td>
                Send Button/File attached button
              </td>
              <td>
                <button class="btn btn-send" id="btnClick">Send</button>
              </td><td>
                <ul>
                  <li>Use for send message chat window.</li>
                </ul>
              </td>
            </tr>-->



      </table>

    </div>
  </div>
</div>
<!-- </div> -->


<!-- <div class = "Alerts"> -->
<div class = "container-fluid">
  <div class = "col-md-12">
    <h1>Alerts</h1>
    <hr>
    <div class = "row">

      <table width="100%">
        <tr>
          <td>
            <b>Element</b>
          </td><td>
          <b>Example</b>
        </td><td>
          <b>How and when to use</b>
        </td>
        </tr>

        <tr>
          <td>
            Warning or Negative
          </td>
          <td>
            <div class="alert alert-danger">
              Please check your inbox and click on the link to verify your email. To send a new verification link please <a href = "#">click here.</a>
            </div>
          </td><td>
          <ul>
            <li>use for show warning msg</li>
          </ul>
        </td>
        </tr>

        <tr>
          <td>
            Info Alerts
          </td>
          <td>
            <div class="alert alert-info">
              Your profile is currently disabled
            </div>
          </td><td>
          <ul>
            <li>use for show information on action.</li>
          </ul>
        </td>
        </tr>

        <tr>
          <td>
            Success Alerts
          </td>
          <td>
            <div class="alert alert-success">
              Your profile is currently updated now..
            </div>
          </td><td>
          <ul>
            <li>use for show success message.</li>
          </ul>
        </td>
        </tr>
      </table>

    </div>
  </div>
</div>
<!-- </div> -->


<!-- <div class = "Navigation"> -->
<div class = "container-fluid">
  <div class = "col-md-12">
    <h1>Navigation/Navbar</h1>
    <hr>

    <table width="100%">
      <tr>
        <td>
          <b>Element</b>
        </td><td>
        <b>Example</b>
      </td><td>
        <b>How and when to use</b>
      </td>
      </tr>

      <tr>

        <td>
          Top Navbar
        </td>

        <td>
          <nav class="navbar navbar-expand-md bg-light navbar-main">
            <a class="navbar-brand" href="#">
              <img src = "images/logo_woc.png" alt = "main_logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse custom_collapse" id="collapsibleNavbar">
              <ul class="navbar-nav navbar_rgiht">
                <li class="nav-item custom_item">
                  <a class="nav-link" href="#"><b>SIGN UP</b></a>
                </li>
                <li class="nav-item custom_item">
                  <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item custom_item">
                  <a class="nav-link" href="#">Referral - &pound; 500 Reward</a>
                </li>
                <li class="nav-item custom_item">
                  <a class="nav-link" href="#">Dashboard</a>
                </li>

              </ul>
            </div>
          </nav>
        </td>

        <td>
          use for top navbar for all pages
        </td>
      </tr>

      <tr>

        <td>
          Navbar dropdown
        </td>

        <td>
          <nav class="navbar navbar-expand-md bg-light navbar-main">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse custom_collapse" id="collapsibleNavbar">
              <ul class="navbar-nav navbar_rgiht">

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    User Name
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><i class="fas fa-user icon-right"></i>Account</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cog icon-right"></i>Setting</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt icon-right"></i>Logout</a>
                  </div>
                </li>

              </ul>
            </div>
          </nav>
        </td>

        <td>
          use with top navbar add after the user login.
        </td>
      </tr>

    </table>

  </div>
</div>
<!-- </div> -->

<!-- <div class = "Navigation"> -->
<div class = "container-fluid">
  <div class = "col-md-12">
    <h1>Forms (write mode, field input)</h1>
    <hr>

    <table width="100%">
      <tr>
        <td>
          <b>Element</b>
        </td><td>
        <b>Example</b>
      </td><td>
        <b>How and when to use</b>
      </td>
      </tr>

      <tr>

        <td>
          simple input text feild
        </td>

        <td>
          <div class="form-group">
            <span><i class="fas fa-envelope" aria-hidden="true"></i></span>
            <input type="email" class="form-control" placeholder="Email" id="email1">
          </div>
        </td>

        <td>
          Simple input text feilds in all forms.
        </td>

      </tr>

      <tr>

        <td>
          simple input number feild
        </td>

        <td>
          <div class="form-group">
            <span><i class="fas fa-phone-square" aria-hidden="true"></i></span>
            <input type="number" class="form-control" placeholder="Phone" id="">
          </div>
        </td>

        <td>
          Simple input number feilds in all forms.
        </td>

      </tr>

      <tr>

        <td>
          input password feild
        </td>

        <td>
          <div class="form-group">
            <span><i class="fas fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" placeholder="Password" id="">
          </div>
        </td>

        <td>
          use for input password.
        </td>

      </tr>

      <tr>

        <td>
          input with error/input without icon
        </td>

        <td>
          <div class="form-group wizard-form">
            <input type="text" class="form-control error_feild" placeholder="Enter Text" id="">
            <div class="form_error">
              <span class="error">this is and error</span>
            </div>
          </div>
        </td>

        <td>
          use error place with input.
        </td>

      </tr>

      <tr>

        <td>
          Tick boxes
        </td>

        <td>
          <div class="checkbox">
            <label class="check-label"> Accept <a href=""> Term and Conditions </a>
              <input type="checkbox" value="">
              <span class="checkmark">
									<div></div>
								</span>
            </label>
          </div>
        </td>

        <td>
          use as a check box.
        </td>

      </tr>

      <tr>

        <td>
          Single select Button group
        </td>

        <td>
          <div class="form-group">
            <div class="radio-toolbar controls__group">
              <input type="radio" id="radio1" name="radios" value="all" checked="">
              <label class="radio-inline d-flex justify-content-center align-items-center" for="radio1">Option 1</label>

              <input type="radio" id="radio2" name="radios" value="false">
              <label class="radio-inline d-flex justify-content-center align-items-center" for="radio2">Option 2</label>

              <input type="radio" id="radio3" name="radios" value="true">
              <label class="radio-inline d-flex justify-content-center align-items-center" for="radio3">Option 3</label>

              <input type="radio" id="radio4" name="radios" value="true">
              <label class="radio-inline d-flex justify-content-center align-items-center" for="radio4">Option 4</label>
            </div>
          </div>
        </td>

        <td>
          use as a input type radio.
        </td>

      </tr>

      <tr>


      <tr>

        <td>
          Check boxes
        </td>

        <td>
          <div class="answer">
            <div class="row">

              <div class="col-md-12 collection-checkbox">

                <div class="checkbox">
                  <label class="check-label"> Product Manager
                    <input type="checkbox" value="">
                    <span class="checkmark">
												<div></div>
											</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label class="check-label"> System Analyst
                    <input type="checkbox" value="">
                    <span class="checkmark">
												<div></div>
											</span>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </td>

        <td>
          use in form  as a check box and multipul option select.
        </td>

      </tr>

      <td>
        Dropdown Options single select
      </td>

      <td>
        <div class="form-group wizard-form">
          <select class="form-control" id="sel1">
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Internship</option>
            <option>Contractor</option>
          </select>
        </div>
      </td>

      <td>
        use in form single select dropdown.
      </td>

      <tr>

        <td>
          Input type date.
        </td>

        <td>
          <div class="form-group wizard-form">
            <input type="text" class="form-control" id="datepicker" placeholder = "Date">
          </div>
        </td>

        <td>
          use in form input date on chat screen.
        </td>

      </tr>

      <!--<tr>

               <td>
                  Dropdown Options Multi select on filter screen
               </td>

               <td>
                   <div class="form-group wizard-form">
                       <select class="form-control progControlSelect2" id="required" name="required" required multiple="multiple">
                               <option value="">Skills</option>
                               <option value="js">JavaScript</option>
                               <option value="ph">PHP</option>
                               <option value="jv">Java</option>
                               <option value="rb">Ruby</option>
                               <option value="sw">Swift</option>
                               <option value="oc">Objective C</option>
                               <option value="py">Python</option>
                       </select>
                   </div>
               </td>

               <td>
                   use in form multiselect select dropdown.
               </td>

            </tr>-->

      <tr>

        <td>
          Dropdown Options Multi select
        </td>

        <td>
          <div class="form-group wizard-form">
            <select multiple title="(select multiple)" class="selectpicker">
              <option value="pt">Countries</option>
              <option value="ft">Cities</option>
              <option value="fl">Remotes</option>
            </select>
          </div>
        </td>

        <td>
          use in form multiselect select dropdown.
        </td>

      </tr>

      <tr>

        <td>
          Dropdown Options single select with search
        </td>

        <td>
          <div class="form-group wizard-form noo_padding">
            <select class="form-control progControlSelect0" id="required" name="required" required>
              <option value="">Skills</option>
              <option value="js">JavaScript</option>
              <option value="ph">PHP</option>
              <option value="jv">Java</option>
              <option value="rb">Ruby</option>
              <option value="sw">Swift</option>
              <option value="oc">Objective C</option>
              <option value="py">Python</option>
            </select>
          </div>
        </td>

        <td>
          use in form single select with search.
        </td>

      </tr>

    </table>

  </div>
</div>
<!-- </div> -->

<!-- <div class = "Navigation"> -->
<div class = "container-fluid">
  <div class = "col-md-12">
    <h1>Forms (read mode, field values)</h1>
    <hr>

    <table width="100%">
      <tr>
        <td>
          <b>Element</b>
        </td><td>
        <b>Example</b>
      </td><td>
        <b>How and when to use</b>
      </td>
      </tr>

      <tr>

        <td>
          Input Email Read only
        </td>

        <td>
          <div class="form-group wizard-form">
            <input type="email" class="form-control" placeholder="jackandtheblockstalk@email.com" id="email1" readonly>
          </div>
        </td>

        <td>
          Use on edit profile page . user can't change email.
        </td>

      </tr>
    </table>

  </div>
</div>
<!-- </div> -->

