<section class="wob-bg-primary2 mt-5">
  <ng-container *ngIf="file_uploaded === 0;else no_section" >
    <div class="col-md-12 text-center" >
      <img src="/assets/profile/Loading_icon.gif" alt="Loading Gif">
    </div>
  </ng-container>
  <ng-template #no_section>
    <div class="container">
      <div class="row">
        <div class = "col-md-12">
          <div class="row mt-2">
            <div *ngIf="msg ===''" class = "col-md-11 ml-4 float-right">
              <button type = "button" data-toggle="modal" data-target="#popModal" class = "btn btn-secondary float-right mb-1 text-light">What happens next?</button>
            </div>
          </div>
          <div class = "d-flex my-4">
            <div *ngIf="msg!==''" class = "col-md-12 py-5 my-3">
              <div class="alert alert-danger">
                {{msg}}
              </div>
            </div>
            <div class = "row" *ngIf="users && msg === ''" id = "frame">
              <div class = "col-3 col-sm-4 float-left h-100 position-relative p-0">
                <div class = "p-2 p-sm-3 border-bottom" style= "overflow:hidden;">
                  <div class = "wrap" style = "line-height:60px;">
                    <ng-container *ngIf="profile_pic;else company_logo_top">
                      <img id="profile-img" src="{{profile_pic}}" alt="Profile pic" class = "float-left rounded-circle" style = "width:60px;">
                    </ng-container>
                    <ng-template #company_logo_top>
                      <img id="profile-img12" src="/assets/profile/profile-image.png" alt="" class = "float-left rounded-circle" style = "width:60px;">
                    </ng-template>
                    <p class = "float-left ml-4 d-none d-md-block text-capitalize">{{display_name}}</p>
                  </div>
                </div>
                <div id = "contact" class = "border-right">
                  <ul class = "list-group">
                    <li *ngFor="let person of users;let i = index" [ngClass]="(credentials.id == person._creator._id)?'list-group-item wob-bg-secondary3':'list-group-item list-group-item-lite position-relative'" (click)="openDialog(person.first_name,person._creator._id,person.company_name)" style= "overflow:hidden;">
                      <div class = "cont m-auto position-relative">
                        <ng-container *ngIf="currentUser.type == 'company';else cand_image">
                          <ng-container *ngIf="person.image;else person_image">
                            <img src="{{person.image}}" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                          </ng-container>
                          <ng-template #person_image>
                            <img src="/assets/profile/profile-image.png" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                          </ng-template>
                          <div class="meta">
                            <p *ngIf="person.initials" class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;"><b>{{ person.initials }}</b></p>
                            <p *ngIf="person.first_name" class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;"><b>{{ person.first_name }} {{ person.last_name }}</b></p>
                            <span *ngIf="unread_msgs_info[i].sender_id == person._creator._id && unread_msgs_info[i].number_of_unread_msgs" class = "rounded-circle badge badge-danger position-absolute" style = "right:0px">
                              {{unread_msgs_info[i].number_of_unread_msgs}}
                            </span>
                          </div>
                        </ng-container>
                        <ng-template #cand_image>
                          <ng-container *ngIf="person.company_logo;else company_image">
                            <img src="{{person.company_logo}}" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                          </ng-container>
                          <ng-template #company_image>
                            <img src="/assets/profile/profile-image.png" alt="" class = "float-left rounded-circle mr-2" style = "width:40px;">
                          </ng-template>
                          <div class="meta">
                            <p class = "text-capitalize float-left ml-2 ml-md-" style = "line-height:35px;"><b>{{ person.company_name }}</b></p>
                            <span *ngIf="unread_msgs_info[i].sender_id == person._creator._id && unread_msgs_info[i].number_of_unread_msgs" class = "rounded-circle badge badge-danger position-absolute mt-2" style = "right:0px">
                              <b>{{unread_msgs_info[i].number_of_unread_msgs}}</b>
                            </span>
                          </div>
                        </ng-template>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class = "col-9 col-sm-8 pl-0 pr-0">
                <div class = "border-bottom" style = "overflow:hidden;">
                  <div class = "p-1 p-md-3 w-sm-100 w-75 float-left">
                    <ul class="cand_info-ul">
                      <ng-container *ngIf="currentUser.type == 'company';else cand">
                        <ng-container *ngIf="job_desc;else no_job_desc">
                          <li>Job type: {{job_desc.job_type}}</li>
                          <li>Job title: {{job_desc.job_title}}</li>
                          <li>Salary: {{job_desc.salary}} {{job_desc.salary_currency}}</li>
                        </ng-container>
                        <ng-template #no_job_desc>
                          <li>Job type: N/A</li>
                          <li>Job title: N/A</li>
                          <li>Salary: N/A</li>
                        </ng-template>
                      </ng-container>
                      <ng-template #cand>
                        <li>Job title: {{job_desc.job_title}}</li>
                        <li class="text-capitalize">Job Type : {{job_desc.job_type}}</li>
                        <li>Salary: {{job_desc.salary}} {{job_desc.salary_currency}}</li>
                      </ng-template>
                    </ul>
                  </div>
                  <div class = "p-2 w-25 float-left d-none d-md-block">
                    <button data-toggle="modal" data-target="#myModalNew" class="btn btn-warning float-right mb-1 text-light">View job description</button>
                    <a *ngIf="(currentUser.type === 'company')" [routerLink]="['/candidate-detail']" [queryParams]="{user: credentials.id }" class="btn btn-warning float-right text-light">View candidate profile</a>
                  </div>
                </div>

                <div class="message p-2" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                  <ul>
                    <div *ngFor="let msg of new_msgss">
                      <ng-container *ngIf="msg.sender_id == currentUser._creator;else second">
                        <li class="sent mb-5 rounded">
                          <p class = "job-description p-2 text-light d-inline-block">
                            <span *ngIf="msg.job_title !== ''">
                              <b>Job title:</b>
                              {{msg.job_title}}
                              <br/>
                            </span>
                            <span *ngIf="msg.salary">
                              <b>Salary:</b>
                              {{msg.salary}} {{msg.salary_currency}}
                              <br/>
                            </span>
                            <span *ngIf="msg.job_type !== ''">
                              <b>Job type:</b>
                              {{msg.job_type}}
                              <br/>
                            </span>
                            <span *ngIf="msg.msg_tag == 'employment_offer'">
                              <b>Joining date:</b>
                              {{msg.date_of_joining | date: 'MM/dd/yyyy'}}
                              <br/>
                            </span>
                            <span *ngIf="msg.interview_date_time">
                              <b>Interview date & time:</b>
                              {{msg.interview_date_time | date: 'MM/dd/yyyy HH:mm:ss'}}
                              <br/>
                            </span>
                            <span *ngIf="msg.interview_location && msg.msg_tag == 'interview_offer'">
                              <b>Interview location:</b>
                              {{msg.interview_location}}
                              <br/>
                            </span>
                            <span *ngIf="msg.interview_location && msg.msg_tag == 'job_offer'">
                              <b>Location:</b>
                              {{msg.interview_location}}
                              <br/>
                            </span>
                            <span *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                              <b>Description:</b><br>
                            </span>
                            <span [innerHTML]="msg.description | safeHtml" *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                              {{msg.description}}
                              <br/>
                            </span>
                            <span [innerHTML]="msg.message | safeHtml" *ngIf="msg.job_title == ''">
                              {{msg.message}}
                            </span>
                            <span *ngIf="msg.date_of_joining && msg.file_name !== ''">
                              <b>Employment contract:</b>
                            </span>
                            <a *ngIf="msg.file_name" href="{{msg.file_name}}" style="word-wrap: break-word;" target="_blank">{{msg.file_name.substr(msg.file_name.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                          </p>
                        </li>
                        <div class="chat_user">
                          {{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
                        </div>
                      </ng-container>
                      <ng-template #second>
                        <li class="replies bg-info mb-5 rounded">
                          <div class="arrow-up"></div>
                          <p class = "p-2 text-light d-inline-block">
                            <!--<span *ngIf="msg.job_title === '' && (msg.interview_date_time === '' || msg.interview_date_time === null)" class="text-capitalize"> {{msg.sender_name}}:</span>-->
                            <span *ngIf="msg.job_title !== ''">
                              <b>Job title:</b>
                              {{msg.job_title}}
                              <br/>
                            </span>
                            <span *ngIf="msg.salary">
                              <b>Salary:</b>
                              {{msg.salary}} {{msg.salary_currency}}
                              <br/>
                            </span>
                            <span *ngIf="msg.job_type !== ''">
                              <b>Job type:</b>
                              {{msg.job_type}}
                              <br/>
                            </span>
                            <span *ngIf="msg.msg_tag == 'employment_offer'">
                              <b>Joining date:</b>
                              {{msg.date_of_joining | date: 'MM/dd/yyyy'}}
                              <br/>
                            </span>
                            <span *ngIf="msg.interview_date_time">
                              <b>Interview date & time:</b>
                              {{msg.interview_date_time | date: 'MM/dd/yyyy HH:mm:ss'}}
                              <br/>
                            </span>
                            <span *ngIf="msg.interview_location && msg.msg_tag === 'interview_offer'">
                              <b>Interview location:</b>
                              {{msg.interview_location}}
                              <br/>
                            </span>
                            <span *ngIf="msg.interview_location && msg.msg_tag === 'job_offer'">
                              <b>Location:</b>
                              {{msg.interview_location}}
                              <br/>
                            </span>
                            <span *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                              <b>Description:</b><br>
                            </span>
                            <span [innerHTML]="msg.description | safeHtml" *ngIf="(msg.msg_tag == 'employment_offer' || msg.msg_tag == 'job_offer' || msg.msg_tag == 'interview_offer') && msg.description !== ''">
                              {{msg.description}}
                              <br/>
                            </span>
                            <span *ngIf="msg.date_of_joining && msg.file_name !== ''">
                              <b>Employment contract:</b>
                            </span>
                            <a *ngIf="msg.file_name" href="{{msg.file_name}}" style="word-wrap: break-word;" target="_blank">{{msg.file_name.substr(msg.file_name.lastIndexOf('/') + 1)}}</a> <!-- for local you can use 53 instead of 70 -->
                            <br *ngIf="msg.file_name"/>
                            <span [innerHTML]="msg.message | safeHtml" *ngIf="msg.msg_tag == 'employment_offer'">
                              {{msg.message}}
                              <br/>
                            </span>
                            <span [innerHTML]="msg.message | safeHtml" *ngIf="msg.job_title == ''">
                              {{msg.message}}
                            </span>
                          </p>
                        </li>
                        <div class="chat_company">
                          {{msg.date_created | date: 'MM/dd/yyyy HH:mm'}}
                        </div>
                      </ng-template>
                    </div>
                    <div class = "offers_b"></div>
                  </ul>
                </div>
                <ng-container *ngIf="cand_offer == 1;else no_offer">
                  <ng-container *ngIf="show_accpet_reject == 0;else no_show">
                    <div class="message-input">
                      <div class = "offers">
                        <form (submit)="accept_offer(msgForm)" #msgForm = ngForm style="display:inline;">
                          <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
                          <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
                          <input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
                          <span class = "offers_btn">
                            <button type="submit" class = "btn btn-warning mb-1 text-light">Accept offer</button>
                          </span>
                        </form>
                        <form (submit)="reject_offer(msgForm)" #msgForm = ngForm style="display:inline;">
                          <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
                          <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
                          <input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
                          <span class = "offers_btn">
                            <button type="submit" class = "btn btn-warning mb-1 ml-1 text-light">Reject offer</button>
                          </span>
                        </form>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #no_show>
                  </ng-template>
                </ng-container>
                <ng-template #no_offer>
                </ng-template>
                <ng-container *ngIf="company_reply == 1;else no_reply">
                  <div class="message-input">
                    <ng-container *ngIf="currentUser.type == 'company';else no_offers">
                      <div class = "offers">
                        <span class = "">
                          <button type="button" data-toggle="modal" data-target="#myModal" (click)="reset_msgs()" class="btn btn-warning mb-1 text-light">Offer to interview</button>
                          <button type="button" data-toggle="modal" data-target="#Modal" (click)="reset_msgs()" class="btn btn-warning mb-1 ml-1 text-light">Offer to employ</button>
                        </span>
                      </div>
                    </ng-container>
                    <ng-template #no_offers>
                    </ng-template>
                    <ng-container *ngIf="cand_job_offer == 1;else no_job_offer">
                      <div class = "offers">
                        <form (submit)="accept_job_offer(msgForm)" #msgForm = ngForm style="display:inline;">
                          <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
                          <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
                          <input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
                          <input type="hidden" name="job_offer_id" id="job_offer_id" [(ngModel)]="credentials.job_offer_id"/>
                          <span class = "">
                            <button type="submit" class = "btn btn-warning mb-1 text-light">Accept employment offer</button>
                          </span>
                        </form>
                        <form (submit)="reject_job_offer(msgForm)" #msgForm = ngForm style="display:inline;">
                          <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
                          <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
                          <input type="hidden" placeholder="Write your message..." name="msg_body" id="comment" [(ngModel)]="credentials.msg_body"/>
                          <input type="hidden" name="job_offer_id" id="job_offer_id" [(ngModel)]="credentials.job_offer_id"/>
                          <span class = "">
                            <button type="submit" class = "btn btn-warning mb-1 ml-1 text-light">Reject employment offer</button>
                          </span>
                        </form>
                      </div>
                    </ng-container>
                    <ng-template #no_job_offer>
                    </ng-template>
                    <form (submit)="send_message(msgForm)" #msgForm = ngForm>
                      <div class = "wrap bg-light p-2">
                        <div class = "row">
                          <input type="hidden" name="email" id="email" [(ngModel)]="credentials.email"/>
                          <input type="hidden" name="id" id="id" [(ngModel)]="credentials.id"/>
                          <input type="hidden" name="first_message" id="first_message" [(ngModel)]="first_message"/>
                          <div class = "col-sm-12 col-md-8">
                            <ckeditor class="ckeditor_tab" [(ngModel)]="credentials.msg_body" #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
                            </ckeditor>
                          </div>
                          <div class = "col-sm-12 col-md-4">
                            <button class = "btn btn-primary mb-2 w-100 rounded-0" type="submit" id = "btnClick">
                              <i class="fas fa-paper-plane text-light mr-2" aria-hidden="true"></i>
                              Send
                            </button>
                            <div class="file btn">
                              <input id="aa" #Image type="file" (change) ="upload_file()" name="file" ng-model='file' class = "file-upload btn btn-primary w-100 rounded-0"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-container>
                <ng-template #no_reply>
                </ng-template>
                <!--end col here-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="file_msg!=''" class = "col-md-12">
        <h4 class="alert alert-danger">
          {{file_msg}}
          </h4>
      </div>
    </div>
  </ng-template>
</section>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Offer to interview</h4>
      </div>
      <div class="modal-body">
        <form (submit)="send_interview_message(msgForm)" #msgForm = ngForm style="overflow: hidden;">
          <ng-container *ngIf="interview_log;else no_modal">
            <div class = "model_notif text-center">
              {{interview_log}}
            </div>
          </ng-container>
          <ng-template #no_modal>
		    </ng-template>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Date:</label>
                <p>
                  <my-date-picker name="mydateinterview" [options]="myDatePickerOptions" [(ngModel)]="credentials.date" required ></my-date-picker>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Time:</label>
                <p>
                  <input type="time" name="time" [(ngModel)]="credentials.time" class="form-control" id="">
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Location:</label>
                <input type="text" name="location" [(ngModel)]="credentials.location" class="form-control" id="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Other details (optional):</label>
                <ckeditor class="ckeditor_tab" [(ngModel)]="credentials.description" #myckeditor name="html_text" [config]="ckeConfigInterview" debounce="500" >
                </ckeditor>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-right">
                <button type="submit" [disabled]="!credentials.date || !credentials.time || !credentials.location" class="btn btn-primary model-btn submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal b-->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Offer to employ</h4>
      </div>
      <div class="modal-body">
        <form (submit)="send_job_message(msgForm)" #msgForm = ngForm>
          <ng-container *ngIf="job_offer_log;else no_modal">
            <div class = "alert alert-danger text-center">
              {{job_offer_log}}
            </div>
          </ng-container>
          <ng-template #no_modal>
		      </ng-template>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Job title:</label>
                <input type="text" class="form-control" name="job_title" [(ngModel)]="credentials.job_title" id="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Yearly base salary:</label>
                <input type="text" #expect_salary="ngModel"  pattern="^[0-9]*$" required class="form-control" name="base_salary" [(ngModel)]="credentials.base_salary" id="">
                <div class = "form_error" >
                  <span class = "error" *ngIf="expect_salary.errors && credentials.base_salary"> Salary should be a number. </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Currency </label>
                <select class="form-control" name="currency" [(ngModel)]="credentials.currency" id="sel1">
                  <option>£ GBP</option>
                  <option>€ EUR</option>
                  <option>$ USD</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Employment type</label>
                <select class="form-control" name="employment_type" [(ngModel)]="credentials.employment_type" id="sel1">
                  <option>Part Time</option>
                  <option>Full Time</option>
                  <option>Contract</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Start date</label>
                <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="credentials.start_date" required ></my-date-picker>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Job description</label>
                <ckeditor class="ckeditor_tab" [(ngModel)]="credentials.job_description" #myckeditor name="html_text" [config]="ckeConfigInterview" debounce="500" >
                </ckeditor>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Employment contract</label>
                <input id="my_aa" #Image type="file" (change)="show_file_name()" accept="application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*" name="image" [(ngModel)]="credentials.employment_contract" class="form-control" />
                <label id="fileLabel">
                  <span *ngIf="img_name">{{img_name}}</span>
                  <span *ngIf="!img_name">Upload contract file (optional)</span>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-right">
                <button type="submit" [disabled]="expect_salary.errors || !credentials.currency || !credentials.job_description || !credentials.employment_type || !credentials.job_title" class="btn btn-primary model-btn submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Job desc modal-->
<!-- Modal -->
<div id="myModalNew" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center">Job description</h4>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="new_msgss;else no_job_desc_popup">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Job title:</label>
                <p>{{new_msgss[0].job_title}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Job type:</label>
                <p>{{new_msgss[0].job_type}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Salary:</label>
                <p>{{new_msgss[0].salary_currency}} {{new_msgss[0].salary}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Location:</label>
                <p>{{new_msgss[0].interview_location}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Job description:</label>
                <p class="job_decs" [innerHTML]="new_msgss[0].description | safeHtml">
                  {{new_msgss[0].description}}
                </p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #no_job_desc_popup>
        </ng-template>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary model-btn submit">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal to display on page laod-->
<!-- Modal -->
<div id="popModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header bg-primary">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h3 *ngIf="this.currentUser.type === 'company'" class="modal-title text-center mo">
          {{companyMsgTitle}}
        </h3>
        <h3 *ngIf="this.currentUser.type === 'candidate'" class="modal-title text-center mo">
          {{candidateMsgTitle}}
        </h3>
      </div>
      <div class="modal-body mo_body">
        <div [innerHTML]="companyMsgContent | safeHtml" *ngIf="this.currentUser.type === 'company'" class = "mo_content" id = "style-6">
          {{companyMsgContent}}
        </div>
        <div [innerHTML]="candidateMsgContent | safeHtml" *ngIf="this.currentUser.type === 'candidate'" class = "mo_content" id = "style-6">
          {{candidateMsgContent}}
        </div>
      </div>
      <div class="modal-footer mo_footer">
        <button type="reset" (click)="update_status()" class="btn btn-primary model-btn" data-dismiss="modal">Got it</button>
      </div>
    </div>

  </div>
</div>
<!-- end model -->

<!--Profile-inner end-->
