<div class="form-group">
  <label [ngClass]="labelClass" >{{label}}</label>
  <select class="selectpicker form-control" title="(select one)" (change)="valueChanged($event)">
    <ng-container *ngIf="optionsType === 'array';else keyValue">
      <option
        *ngFor="let opt of options"
        [value]="opt"
        [attr.selected]="opt===value?true: null"
      >
        <span *ngIf="opt === -1">None</span>
        <span *ngIf="opt !== -1">{{opt}}</span>
      </option>
    </ng-container>
    <ng-template #keyValue>
      <option
        *ngFor="let opt of options"
        [value]="opt.value"
        [attr.selected]="opt.value===value?true: null"
      >{{opt.name}}</option>
    </ng-template>
  </select>
  <div class = "invalid-feedback d-inline" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
</div>
