<section class = "login_signup">
	<div class="container">
		<div class="row form_container border-top">
			<div class="col-md-12 form_container_inner">
				<div class="form-login">
					    	<h3 class = "login_hd">Forgot password</h3>
					    	{{log}}
					    	
					       <form class = "login_form" (submit)="forgot_password(forgotForm)"   #forgotForm = ngForm>
							  <div class="form-group">
							  	<span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							    <input type="email" class="form-control" placeholder="Email" id="email" name="email" [(ngModel)]="email">
							  </div>

							  <div class="form-group">
							    <input type="submit" class="btn btn-defult for_pass-btn" value = "Reset My Password">
							  </div>

							  <div class="login_form_links">
							  	<a href = "signup" target = "">Sign Up</a><br/>
							  	<a href = "login" target = "">Login</a>
							  </div>

						   </form>
					    </div>
			</div>
		</div>
	</div>
</section>

<div class = "gap">
</div>
