<section class="bg-light p-5">
  <div class="container border p-3 bg-white">
    <div class="row">
      <div class="col-md-12">
        <h1 class="p-2">Contact Us</h1>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="p-2">
          <p>
            Please feel free to contact us anytime at contact@workonblockchain.com. We aspire to answer you within 48 hours.
          </p>
          <p>
            Thanks,
            <br>Work on Blockchain team!
          </p>
        </div>
      </div>
    </div>
  </div>

</section>


