<section class = "wizard_page">

	<div *ngIf="error">
		<h6 class="alert alert-danger error-alert" >{{error}}</h6>
	</div>

	<div class="container" *ngIf = "!error">
		<div class="row profile_group">
			<div class="col-md-12" *ngFor = "let data of info">
				 <section class = "profile personal_info">

				 	<div class="col-md-6">
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		
				 		<span class = "name">
				 			<h3 class="text-capitalize">{{data.company_name}} </h3>
				 		</span>

				 		<span class = "short_intro">
				 			<p>{{data.company_description}}</p>
				 		</span>
				 		
				 		<span class = "short_intro">
				 			<strong>Date created : </strong><span> {{data._creator.created_date | date:'dd-MMMM-yyyy'}}</span>
				 		</span>
				 		<span class = "short_intro">
				 		<p><a [routerLink]="['/admin-display-chat']" [queryParams]="{user: user_id , type : data._creator.type}" >Show Chat With Candidates</a></p>
				 		</span>
				 		<span class = "short_intro">
				 			<form #approve_form="ngForm" >
								<input type="hidden" name="email"  [ngModel]="data._creator.email">
								<input type="hidden" name="name"  [ngModel]="data.first_name">
								<input type="hidden" name="type"  [ngModel]="data._creator.type">
								<input type="hidden" name="is_verify" [ngModel]="data._creator.is_verify">
								<input type="hidden" name="id" [ngModel]="data._creator._id">
								<input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 0)' name="is_approve" [ngModel]="1">
								<input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 1)' name="is_approve" [ngModel]="0">
								
								<div class="submit-button">						
									<button type="submit" (click) = "approveClick($event , approve_form)"  class = "btn btn_descp" *ngIf = "(data._creator.is_verify ===1 && data._creator.is_approved === 0)" >Active</button>
									<button type="submit" (click) = "approveClick($event , approve_form)" class = "btn btn_descp" *ngIf = "(data._creator.is_verify ===1 && data._creator.is_approved === 1)" >Inactive</button>
									<button type="submit" class = "btn btn_descp" *ngIf = "data._creator.is_verify ===0" disabled>Active</button>
									
								</div>
							</form>
							</span>

				 		<!--  <div class="btn-share fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
						<div class = "twitter-share-button">
						<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a></div>
						-->
				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>
				 			

				 			<li>
				 				
					 				<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
					 				<span class = "li_txt"><a [href]="('http://' + data.company_website)" target="_blank">{{data.company_website}}</a></span>
				 			
				 			</li>

				 			<li>
				 			
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt">Country : {{data.company_country}}</span>
				 		
				 			</li>
							<li>
				 				
					 				<span class = "list-icon span_bg"><img src="assets/profile/comp.png"> </span> 
					 				<span class = "li_txt">City: {{data.company_city}}</span>
				 				
				 			</li>
				 			
				 			<li>
				 				
					 				<span class = "list-icon span_bg"><img src="assets/profile/comp.png"> </span> 
					 				<span class = "li_txt">Postcode: {{data.company_postcode}}</span>
				 				
				 			</li>
				 			<li>
				 				
				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span> 
				 					<span class = "li_txt"> Phone : {{data.company_phone}}</span>
				 			
				 			</li>
				 		</ul>
				 		
				 	</div>
				 	
				 </section>
				 
				 <section class = "profile job_info">
				
				<div class="col-md-6 info-area">
				 <ng-container *ngIf="verify === 1;else no_verify">
				 	<p>
				 	<strong>Email verified :</strong>
				 	<span>Yes</span>
				 	</p>
				 </ng-container>
				 <ng-template #no_verify>
				 		<p>
				 	<strong>Email verified :</strong>
				 	<span>No</span>
				 	</p>
				 </ng-template>
				 </div>
				 <div class="col-md-6 info-area">
				  <ng-container *ngIf="data.disable_account === false;else no_enable">
				 	<p>
				 	<strong>Account enabled :</strong>
				 	<span>Yes</span>
				 	</p>
				 </ng-container>
				 <ng-template #no_enable>
				 		<p>
				 	<strong>Account enabled :</strong>
				 	<span>No</span>
				 	</p>
				 </ng-template>
				 </div>
				 <div class="col-md-6 info-area">
				 <ng-container *ngIf="is_approved !== '';else no_approve">
				 	<p>
				 	<strong>Approved by admin :</strong>
				 	<span>Yes</span>
				 	</p>
				 </ng-container>
				 <ng-template #no_approve>
				 		<p>
				 	<strong>Approved by admin :</strong>
				 	<span>No</span>
				 	</p>
				 </ng-template>
				</div>
				 	
      				
				 </section>
				 
				
				 
				 <section class = "profile job_info">
					<h3>Company Info</h3>
				 	
				 	<!--<div class="col-md-6 info-area">
				 		<p>
							<strong>Position Type : </strong>
							<span>Full Time, Part Time .</span>
						</p>
				 	</div>-->

				 	
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>When was the company founded: </strong>
							<span>{{data.company_founded}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>How is the company funded:</strong>
							<span>{{data.company_funded}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
      					<p>
							<strong>Number of employees: </strong>
							<span>{{data.no_of_employees}}</span>
						</p>

      				</div>
      				
      				
				 	
				 </section>
				  <section class = "profile job_info">
					<h3>Company Administration</h3>
				 	
				 	<div class="col-md-6 info-area">
				 		<p>
							
							<span class="alignment">{{data.first_name}} {{data.last_name}}</span>
						</p>
				 	</div>
				 
				 	
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>Title: </strong>
							<span>{{data.job_title}}</span>
						</p>
				 	</div>
				 
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>Email Address: </strong>
							<span>{{data._creator.email}}</span>
						</p>
				 	</div>
				 					 	
				 				 	
				 </section>
				 
				 
				 </div>
				 </div>
				 </div>
				 </section>
				 <br/><br/><br/>