<section class = "login_signup">
	<div class="container">
		<div class="row form_container border-top">
			<div class="col-md-12 form_container_inner">
				<div class="form-login">
					    	<h3 class = "login_hd">Change Password</h3>
					       <form class = "login_form" (submit)="change_password(resetForm)"   #resetForm = ngForm>
					       <h5 class="alert alert-danger error-alert" *ngIf = "log">{{log}}</h5>
							  <!--<div class="form-group">
							  	<span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                  				<div class = "show_pass"><i toggle="#password-field" class="fa fa-eye pas_i toggle-password" aria-hidden="true" ></i></div>
							    <input type="password" class="form-control" placeholder="Current Password"  name="current_password" [(ngModel)]="current_password">
							  </div>-->
							  
							  <div class="form-group">
                  <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                  <div class = "show_pass"><i toggle="#current-password" class="fa fa-eye pas_i toggle-password" aria-hidden="true" ></i></div>
                  <input type="password" class="form-control" placeholder="Current Password" id="conf-pass" name="current_password"  [(ngModel)]="credentials.current_password">
                <p>{{pass_log}}</p>
                </div>
							  
							  
							    <div class="form-group">
                  <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                  <div class = "show_pass"><i toggle="#password-field" class="fa fa-eye pas_i toggle-password" aria-hidden="true" ></i></div>
                  <input type="password" class="form-control" placeholder="New Password" id="password-field" name="new_password"  [(ngModel)]="credentials.password">
                <p>{{pass_log}}</p>
                </div>

                <div class="form-group">
                  <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                  <div class = "show_pass"><i toggle="#conf_pwd" class="fa fa-eye pas_i toggle-password" aria-hidden="true"></i></div>
                  <input type="password" class="form-control" placeholder="Re-enter New Password" id="conf_pwd" name="confirm_password"  [(ngModel)]="credentials.confirm_password">
                <p>{{confirm_password}}</p>
                </div>
 				
 				<div class="form-group">
							    <input type="submit" class="btn btn-defult for_pass-btn" value = "Change My Password">
							  </div>
							  

						   </form>
					    </div>
			</div>
		</div>
	</div>
</section>

<div class = "gap">
</div>
