<!--Profile-inner-->
<section class = "wob-bg-primary2 py-5 mt-5">
  <div class="container pt-2">

    <div class="row">
      <div class="col-md-12" *ngFor = "let data of info">

        <div class="row">
          <div class="col-md-12">
            <button [disabled]="data.is_verify === 0 ? true : false" [routerLink]="['/update-candidate-profile']" [queryParams]="{user: data._id }" class = "btn btn-primary float-right">Edit Profile</button>

          </div>
        </div>

        <section class = "border rounded mt-3 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <img *ngIf="!data.image" src = "assets/profile/profile-image.png" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "profile-img"/>
              <img *ngIf="data.image " src = "{{data.image}}" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "profile-img"/>
              <div class="mt-3">
                <span><h3>{{data.first_name.charAt(0).toUpperCase()}}{{data.first_name.slice(1)}} {{data.last_name.charAt(0).toUpperCase()}}{{data.last_name.slice(1)}}</h3></span>

                <span><pre >{{data.candidate.description}}</pre></span>

                <span>
                <p><a [routerLink]="['/admin-display-chat']" [queryParams]="{user: user_id , type : data.type}" >Show Chat With Companies</a></p>
              </span>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush float-right">
                <li *ngIf="referred_name !== ''" class="list-group-item">
                  <ng-container *ngIf="referred_link ; else noLink">
                    <span><i class="fas fa-user mr-2"></i></span>
                    <span>Refered By:
                      <a [routerLink]="[detail_link]" target="_blank" [queryParams]="{user: referred_link }">{{referred_name}}</a>
                    </span>
                  </ng-container>
                  <ng-template #noLink>
                    <span><i class="fas fa-user mr-2"></i></span>
                    <span>Refered By: {{referred_name}}
                    </span>
                  </ng-template>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-landmark mr-2"></i></span>
                  <span>Nationality: {{data.nationality}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-phone mr-2"></i></span>
                  <span>Phone: {{data.contact_number}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-suitcase mr-2"></i></span>
                  <span >Expected annual salary : {{data.candidate.expected_salary_currency}} {{data.candidate.expected_salary}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-align-justify mr-2"></i></span>
                  <span >Your availability : {{availability_day}}</span>

                </li>

              </ul>
            </div>

          </div>

        </section >


        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h4> <i class="fas fa-user"></i> Account</h4>
            </div>
          </div>
          <div class="row mt-4">
            <div class = "col-md-6">
              <div class="form-group mb-1">
                <label>Current status:</label>
              </div>

              <label *ngIf="candidate_status.status === 'approved' || candidate_status.status === 'created' || candidate_status.status === 'wizard completed' || candidate_status.status === 'updated' || candidate_status.status === 'updated by admin'" class="border border-success p-2 text-success rounded font-weight-normal">
                {{candidate_status.status}}
              </label>
              <label *ngIf="candidate_status.status === 'other'" class="border border-warning p-2 text-warning rounded font-weight-normal">
                {{candidate_status.status}}
              </label>
              <label *ngIf="candidate_status.status === 'rejected'" class="border border-danger p-2 text-danger rounded font-weight-normal">
                {{candidate_status.status}}: {{candidate_status.reason}}
              </label>
              <label *ngIf="candidate_status.status === 'deferred'" class="border border-warning p-2 text-warning rounded font-weight-normal">
                {{candidate_status.status}}: {{candidate_status.reason}}
              </label>

            </div>
            <!--<div class = "col-md-6" *ngIf="candidate_status.reason">
              <div class="form-group">
                <label>Reason:</label>
                <p>
                  {{candidate_status.reason}}
                </p>
              </div>
            </div>  -->

            <div class = "col-md-6">
              <div class="form-group">
                <label>Date created:</label>
                <p>

                  {{created_date | date : 'dd'}} {{created_date | date : 'MMMM'}} {{created_date | date : 'yyyy'}}
                </p>
              </div>
            </div>
            <div class = "col-md-6">
              <div class="form-group">
                <label>Email verified:</label>
                <p *ngIf="verify === 1">
                  Yes
                </p>
                <p *ngIf="verify === 0">
                  No
                </p>
              </div>
            </div>

            <div class = "col-md-6">
              <div class="form-group">
                <label>Account enabled:</label>
                <p *ngIf="data.disable_account === false">
                  Yes
                </p>
                <p *ngIf="data.disable_account === true">
                  No
                </p>
              </div>
            </div>
            <div class = "col-md-6" *ngIf="data.dissable_account_timestamp">
              <div class="form-group">
                <label>Account enabled/disabled timestamp:</label>
                <p>
                  {{data.dissable_account_timestamp | date:'short'}}
                </p>
              </div>
            </div>
          </div>

          <form #approve_form="ngForm" >

          <div class="row">
            <div class="col-md-12">
                <input type="hidden" name="type"  [ngModel]="data.type">
                <input type="hidden" name="email"  [ngModel]="data.email">
                <input type="hidden" name="name"  [ngModel]="data.first_name">
                <input type="hidden" name="is_verify" [ngModel]="data.is_verify">
                <input type="hidden" name="id" [ngModel]="data._id">
                <!--New code for 23-Nov-2018-->
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Change status: </label>
                      <select class="form-control selectpicker" title="Select status" [disabled]="data.is_verify === 0 ? true : false" id="status_selector" [(ngModel)]="set_status" (ngModelChange) = "changeStatus($event)" name="set_status">
                        <option *ngFor='let status of set_candidate_status' [value]="status.value" >{{status.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4" id="sel1-reason-rejected" *ngIf = "(set_status === 'Rejected' || set_status === 'rejected')">
                    <div class="form-group">
                      <label>Reason: </label>
                      <select class="form-control selectpicker" title= "Select reason" [(ngModel)]="status_reason_rejected" name="status_reason_rejected">
                        <option *ngFor='let status of set_candidate_status_rejected' [value]="status.value" selected>{{status.name}}</option>
                      </select>
                      <div class="text-danger" *ngIf = "status_error && !status_reason_rejected">
                        {{status_error}}
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4" id="sel1-reason-deferred" *ngIf = "(set_status === 'Deferred' || set_status === 'deferred')">
                    <div class="form-group">
                      <label>Reason: </label>
                      <select class="form-control selectpicker" title="Select reason" [(ngModel)]="status_reason_deferred" name="status_reason_deferred">
                        <option *ngFor='let status of set_candidate_status_deferred' [value]="status.value" selected>{{status.name}}</option>
                      </select>
                      <div class="text-danger" *ngIf = "status_error && !status_reason_deferred">
                        {{status_error}}
                      </div>

                    </div>
                  </div>

                </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Add note:</label>
                <textarea rows="5" id="comment" maxlength="2000" class="form-control" name="note" [(ngModel)]="note" ></textarea>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Send email:</label>
                  <ckeditor  [config]="ckeConfig" debounce="500" name="email_text" [(ngModel)]="email_text" >
                  </ckeditor>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-7">
                <p>Make sure the email text is complete and checked before you press Send</p>
              </div>
              <div class="col-md-5">
                <div class = "form-group">
                  <button type="submit" (click) = "approveClick($event , approve_form)"  class = "btn btn-primary float-right" *ngIf = "!email_text" >Done</button>
                  <button type="submit" (click) = "approveClick($event , approve_form)"  class = "btn btn-primary float-right" *ngIf = "email_text" >Send</button>

                </div>

              </div>

              <div class="col-md-12">
                <div class="text-success float-right mt-2" *ngIf = "success">
                  {{success}}
                </div>
                <div class="text-danger float-right mt-2" *ngIf = "error">
                  {{error}}
                </div>
              </div>

            </div>
            <!--/New code for 23-Nov-2018-->

          </form>

        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white" *ngIf="candidateHistory">
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-history"></i>
                History
              </h2>
            </div>
          </div>

          <div class="row mt-4" *ngFor="let history of candidateHistory; let i=index">
            <div class="col-md-6">
              <div class="form-group">
                <label >{{history.timestamp | date : 'dd'}} {{history.timestamp | date : 'MMM'}} {{history.timestamp | date : 'yyyy'}} {{history.timestamp | date : 'HH:mm'}}</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" *ngIf="history.status">

                <label *ngIf="history.status.status === 'approved' || history.status.status === 'created' || history.status.status === 'wizard completed' || history.status.status === 'updated' || history.status.status === 'updated by admin'" class="border border-success p-2 text-success rounded font-weight-normal">
                  {{history.status.status}}
                </label>
                <label *ngIf="history.status.status === 'other'" class="border border-warning p-2 text-warning rounded font-weight-normal">
                  {{history.status.status}}
                </label>
                <label *ngIf="history.status.status === 'rejected'" class="border border-danger p-2 text-danger rounded font-weight-normal">
                  {{history.status.status}}: {{history.status.reason}}
                </label>
                <label *ngIf="history.status.status === 'deferred'" class="border border-warning p-2 text-warning rounded font-weight-normal">
                  {{history.status.status}}: {{history.status.reason}}
                </label>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" *ngIf="history.note">
                <div>
                  <pre>{{history.note}}</pre>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" *ngIf="history.email_text">
                <div  [innerHTML] = "history.email_text| safeHtml "></div>
              </div>
            </div>

            <div class="col-md-12">
              <hr *ngIf="i < (data.candidate.history.length - 1)" class="bg-dark" />

            </div>

          </div>


        </section>


        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-user"></i>
                About
              </h2>
            </div>

          </div>

          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Email address: </label>
                <p>
                  {{data.email}}
                <p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Contact number:</label>
                <p>
                  {{data.contact_number}}
                <p>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="data.candidate.github_account">
              <div class="form-group" >
                <label>Github account url: </label>
                <p>
                  {{data.candidate.github_account}}
                <p>
              </div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="data.candidate.stackexchange_account">
              <div class="form-group" >
                <label>Stackexchange account url:</label>
                <p>
                  {{data.candidate.stackexchange_account}}
                <p>
              </div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="data.candidate.linkedin_account">
              <div class="form-group" >
                <label>Linkedin account url:</label>
                <p>
                  {{data.candidate.linkedin_account}}
                <p>
              </div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="data.candidate.medium_account">
              <div class="form-group" >
                <label>Medium account url:</label>
                <p>
                  {{data.candidate.medium_account}}
                <p>
              </div>
            </div>
          </div>

        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-globe"></i>
                Residence/base location
              </h2>
            </div>
          </div>
          <div class="row mt-3">

            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>Country: </label>
                <p>
                  {{data.candidate.base_country}}
                <p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>City: </label>
                <p>
                  {{data.candidate.base_city}}
                <p>
              </div>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-briefcase"></i>
                Desired job
              </h2>
            </div>
          </div>

          <div class="row mt-4">
            <div class = "col-md-12" >
              <div class="form-group" *ngIf="noVisaArray && noVisaArray.length > 0">
                <label>Desired location:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let country of noVisaArray'>
                    <div *ngIf="country.name === 'Remote'">
                      <i class="fas fa-laptop"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>
                    <div *ngIf="country.type === 'country' ">
                      <i class="fas fa-flag"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>
                    <div *ngIf="country.type === 'city'">
                      <i class="fas fa-city"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>

                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="visaRequiredArray && visaRequiredArray.length > 0" >
                <label>Desired locations (work visa required):</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let country of visaRequiredArray'>
                    <div *ngIf="country.type === 'country'" >
                      <i class="fas fa-flag"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>
                    <div *ngIf="country.type === 'city'">
                      <i class="fas fa-city"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>



          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Area of interest: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let interest_area of interest_area;'> {{interest_area}} </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Desired roles: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let roles_data of roles'> {{roles_data}} </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Expected annual salary: </label>
                <p>{{data.candidate.expected_salary_currency}} {{data.candidate.expected_salary}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Current annual salary: </label>
                <p>{{data.candidate.current_currency}} {{data.candidate.current_salary}}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Your availablity: </label>
                <p>{{availability_day}}</p>
              </div>
            </div>
          </div>


        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fab fa-bitcoin"></i>
                Blockchain experience
              </h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Why work on blockchain? </label>
                <p>{{data.candidate.why_work}}</p>
              </div>
            </div>

            <div class="col-md-12 mb-3" *ngIf="commercial && commercial.length > 0 ">
              <div class="form-group">
                <label>Platforms commercially worked with and developed on: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let data of commercial;'>
                    <img class="mb-1 ml-1" src = "/assets/images/all_icons/{{data.name}}.png" alt="{{data.name}} Logo">
                    {{data.name}}: {{data.exp_year}} years
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3" *ngIf="platforms && platforms.length > 0">
              <div class="form-group">
                <label>Platforms commercially designed and developed smart contracts on: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let data of platforms;'>
                    <img class="mb-1 ml-1" src = "/assets/images/all_icons/{{data.name}}.png" alt="{{data.name}} Logo">
                    {{data.name}}: {{data.exp_year}} years
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3" *ngIf="experimented && experimented.length>0">
              <div class="form-group">
                <label>Platform experimented with: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let data of experimented;'>
                    <img class="mb-1 ml-1" src = "/assets/images/all_icons/{{data}}.png" alt="{{data}} Logo">
                    {{data}}
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3" *ngIf="commercial_skills && commercial_skills.length > 0">
              <div class="form-group">
                <label>Commercial experience in these areas: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let data of commercial_skills;'> {{data.skill}}: {{data.exp_year}} years </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-3" *ngIf="formal_skills && formal_skills.length > 0">
              <div class="form-group">
                <label>Formal (university) education in these areas: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let data of formal_skills;'> {{data.skill}}: {{data.exp_year}} years </div>
                </div>
              </div>
            </div>

          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white" >
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-briefcase"></i>
                Experience
              </h2>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Languages: </label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let lang of languages;'> {{lang.language}}: {{lang.exp_year}} years </div>
                </div>
              </div>
            </div>

          </div>
        </section>


        <section class = "border rounded mt-4 py-3 px-5 bg-white" >
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-wrench"></i>
                Work history
              </h2>
            </div>
          </div>

          <div class="row mt-4" *ngFor='let work of work_history'>
            <div class="col-md-12">
              <h4>{{work.positionname}}</h4>
              <strong>{{work.companyname}}</strong>
            </div>
            <div class="col-md-6">
              <p *ngIf='work.currentwork== true'><i class="fas fa-calendar"></i> {{work.startdate | date:'MMMM-yyyy'}} {{work.startyear}} <i class="fas fa-long-arrow-alt-right"></i> now.</p>
              <p *ngIf='work.currentwork== false '><i class="fas fa-calendar"></i> {{work.startdate | date:'MMMM-yyyy'}} <i class="fas fa-long-arrow-alt-right"></i> {{work.enddate | date:'MMMM-yyyy'}} </p>
            </div>
            <div class="col-md-6">
              <i class="fas fa-globe"></i> {{work.locationname}}
            </div>
            <div class="col-md-12">
              <pre>{{work.description}}</pre>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white" >
          <div class="row">
            <div class="col-md-12">
              <h2>
                <i class="fas fa-university"></i> Education
              </h2>
            </div>
          </div>

          <div class="row mt-4" *ngFor='let edu of education_history'>
            <div class="col-md-12">
              <h4>{{edu.uniname}}</h4>
            </div>
            <div class="col-md-6">
              <strong>{{edu.degreename}} - {{edu.fieldname}}</strong>
            </div>
            <div class="col-md-6">
              <i class="fas fa-calendar" aria-hidden="true"></i>
              {{edu.eduyear}}
            </div>
          </div>

        </section>
      </div> <!--End col-md-12--->
    </div>
  </div>
</section>
<!--Profile-inner end-->
