<!--Profile-inner-->

<section class = "wizard_page">
  <div class="container">
		<div class="row profile_group">
			<div class="col-md-12" *ngFor = "let data of info">
        <button [routerLink]="['/update-candidate-profile']" [queryParams]="{user: data._creator._id }"  class = "btn_popup">Edit Profile</button>

        <section class = "profile personal_info">

				 	<div class="col-md-6" >
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "name">
				 			<h3 class="text-capitalize">{{data.first_name}} {{data.last_name}} </h3>

				 		</span>
				 		<span class = "short_intro">
				 			<p>{{data.description}}</p>
				 		</span>

						<span class = "short_intro">
						<p><a [routerLink]="['/admin-display-chat']" [queryParams]="{user: user_id , type : data._creator.type}" >Show Chat With Companies</a></p>
				 		</span>
          </div>

				 	<div class="col-md-6 side-info">

				 		<ul>
						<li *ngIf="referred_name !== ''">

					 				<span class = "list-icon span_bg"> <img src="assets/profile/comp.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>


              <ng-container *ngIf="referred_link ; else noLink">
             <span  class = "li_txt" >Refered By: <a  [routerLink]="[detail_link]" target="_blank" [queryParams]="{user: referred_link }">{{referred_name}}</a>
					 				</span>
              </ng-container>
              <ng-template #noLink>
                      <span  class = "li_txt" >Refered By: {{referred_name}}
					 				</span>
              </ng-template>

				 			</li>


				 			<li>

				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
				 					<span class = "li_txt">Nationality : {{data.nationality}}</span>

				 			</li>

				 			<li >

				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
				 					<span class = "li_txt"> Contact Number : {{data.contact_number}}</span>

				 			</li>
				 		</ul>

				 	</div>

				 </section>

				 <section class = "profile job_info">
           <h3>Account</h3>
           <span class = "short_intro">
				 		<form #approve_form="ngForm" >
								<input type="hidden" name="type"  [ngModel]="data._creator.type">
								<input type="hidden" name="email"  [ngModel]="data._creator.email">
								<input type="hidden" name="name"  [ngModel]="data.first_name">
								<input type="hidden" name="is_verify" [ngModel]="data._creator.is_verify">
								<input type="hidden" name="id" [ngModel]="data._creator._id">
								<input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 0)' name="is_approve" [ngModel]="1">
								<input type= "hidden" *ngIf='(data._creator.is_verify ===1 && data._creator.is_approved === 1)' name="is_approve" [ngModel]="0">

              <!--New code for 23-Nov-2018-->

                <div class = "row status_row info-area pro_br-btm">
                  <div class = "col-md-3">
                    <strong>Change status :</strong>
                  </div>
                  <div class="shown_col col-md-9 form-group">
                     <select class="form-control status_select" id="status_selector" [(ngModel)]="set_status" (ngModelChange) = "changeStatus($event)" name="set_status">
                       <option value="-1" disabled selected hidden >Select status</option>
                       <option *ngFor='let status of set_candidate_status' [value]="status.value" selected>{{status.name}}</option>
                     </select>
                  </div>
                  <div class = "col-md-3" *ngIf = "(set_status === 'deferred' || set_status === 'rejected')">
                    <strong>Reason :</strong>
                  </div>
                  <div class="col-md-9 form-group" id="sel1-reason-rejected" *ngIf = "(set_status === 'Rejected' || set_status === 'rejected')">
                       <select class="form-control status_select" [(ngModel)]="status_reason_rejected" name="status_reason_rejected">
                         <option value="-1" disabled selected hidden >Select reason</option>
                         <option *ngFor='let status of set_candidate_status_rejected' [value]="status.value" selected>{{status.name}}</option>
                       </select>
                  </div>
                  <div class="col-md-9 form-group" id="sel1-reason-deferred" *ngIf = "(set_status === 'Deferred' || set_status === 'deferred')">
                       <select class="form-control status_select" [(ngModel)]="status_reason_deferred" name="status_reason_deferred">
                         <option value="-1" disabled selected hidden >Select reason</option>
                         <option *ngFor='let status of set_candidate_status_deferred' [value]="status.value" selected>{{status.name}}</option>
                       </select>
                  </div>
                  <div class = "form-group">
									  <button type="submit" (click) = "approveClick($event , approve_form)"  class = "btn save_status" *ngIf = "(data._creator.is_verify === 1)" >Save</button>
								  </div>

                  <!--/New code for 23-Nov-2018-->
                <div class="alert alert-success alert-dismissible" *ngIf = "success">
                  {{success}}
                </div>

                <div class="alert alert-danger alert-error alert-dismissible" *ngIf = "error">
                  {{error}}
                </div>
                </div>
              </form>
						</span>
           <div class="info-area pro_br-btm">
             <div class = "col-md-3 my-css">
               <strong>Current status :</strong>
             </div>
             <div class = "col-md-9">
               <ul class = "status_list badges">
                 <li *ngIf="candidate_status.status === 'Approved' || candidate_status.status === 'approved' || candidate_status.status === 'created' || candidate_status.status === 'wizard completed' || candidate_status.status === 'updated' || candidate_status.status === 'updated by admin'"><span class="label label-success text-capitalize">{{candidate_status.status}}</span></li>
                 <li *ngIf="candidate_status.status === 'Rejected' || candidate_status.status === 'rejected'"><span class="label label-danger text-capitalize">{{candidate_status.status}}</span></li>
                 <li *ngIf="candidate_status.status === 'Deferred' || candidate_status.status === 'deferred' || candidate_status.status === 'Other' || candidate_status.status === 'other'"><span class="label label-warning text-capitalize">{{candidate_status.status}}</span></li>
               </ul>
             </div>
           </div>

           <div class = "info-area pro_br-btm" *ngIf="candidate_status.reason">
             <div class = "col-md-3">
               <strong>Reason :</strong>
             </div>
             <div class = "col-md-9">
               <ul class = "pro_list">
                 <li><span class = "status-date text-capitalize" style = "color:#d9534f;">{{candidate_status.reason}}</span></li>
               </ul>
             </div>
           </div>

           <div class="info-area pro_br-btm">
             <div class = "col-md-3">
               <strong>Date created :</strong>
             </div>
             <div class = "col-md-9">
               <ul class = "pro_list">
                 <li><span>{{data._creator.candidate.status[data._creator.candidate.status.length-1].timestamp | date : 'dd-MMMM-yyyy'}}</span></li>
               </ul>
             </div>

           </div>
				<div class="info-area pro_br-btm">
				 <ng-container *ngIf="verify === 1;else no_verify">
           <div class = "col-md-3">
             <strong>Email verified :</strong>
           </div>
           <div class = "col-md-9">
             <ul class = "pro_list">
               <li><span>Yes</span></li>
             </ul>
           </div>
				 </ng-container>
				 <ng-template #no_verify>
           <div class = "col-md-3">
				 	    <strong>Email verified :</strong>
           </div>
           <div class = "col-md-9">
             <ul class = "pro_list">
               <li><span>No</span></li>
             </ul>
           </div>
				 </ng-template>
				 </div>
         <!--<div class="info-area pro_br-btm">
				 <ng-container *ngIf="set_status === 'Approved' || set_status === 'approved';else no_approve">
           <div class = "col-md-3">
             <strong>Approved by admin :</strong>
           </div>
           <div class = "col-md-9">
             <ul class = "pro_list">
               <li><span>Yes</span></li>
             </ul>
           </div>
				 </ng-container>
				 <ng-template #no_approve>
           <div class = "col-md-3">
				 	<strong>Approved by admin :</strong>
           </div>
           <div class = "col-md-9">
             <ul class = "pro_list">
               <li><span>No</span></li>
             </ul>
           </div>
				 </ng-template>
				</div>-->

           <div class="info-area pro_br-btm">
				  <ng-container *ngIf="data._creator.disable_account === false;else no_enable">
            <div class = "col-md-3">
              <strong>Account enabled :</strong>
            </div>
            <div class = "col-md-9">
              <ul class = "pro_list">
                <li><span>Yes</span></li>
              </ul>
            </div>
				  </ng-container>
				 <ng-template #no_enable>
           <div class = "col-md-3">
              <strong>Account enabled :</strong>
            </div>
           <div class = "col-md-9">
             <ul class = "pro_list">
               <li><span>No</span></li>
             </ul>
           </div>
				 </ng-template>
				 </div>
				 <div class="col-md-6 info-area" *ngIf="data._creator.dissable_account_timestamp">
				  <ng-container >
				 	<p>
				 	<strong>Account enabled/disabled timestamp :</strong>
				 	<span>{{data._creator.dissable_account_timestamp | date:'short'}}</span>
				 	</p>
				  </ng-container>

				 </div>


				 </section>

				 <section class = "profile job_info" >
					<h3>About</h3>
					<div class="info-area pro_br-btm" >
						<div class = "col-md-3">
							<strong>Email Address :</strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data._creator.email}}</li>

							</ul>
						</div>

				 	</div>


					<div class="info-area pro_br-btm" *ngIf="data.contact_number">
						<div class = "col-md-3">
							<strong>Contact Number :  </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.contact_number}}</li>

							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm" *ngIf="data.github_account">
						<div class = "col-md-3">
							<strong>Github account URL : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.github_account}}</li>

							</ul>
						</div>

				 	</div>


				 	<div class="info-area pro_br-btm" *ngIf="data.stackexchange_account">

						<div class = "col-md-3" >
							<strong>Stackexchange account URL : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li >{{data.stackexchange_account}}</li>

							</ul>
						</div>

				 	</div>

				 </section>

        <section class = "profile job_info" >
          <h3>Residence/base location</h3>

          <div class="info-area pro_br-btm" >
            <div class = "col-md-3">
              <strong>Country :</strong>
            </div>
            <div class = "col-md-9">
              <ul class = "pro_list">
                <li *ngIf = "data._creator.candidate">{{data._creator.candidate.base_country}}</li>

              </ul>
            </div>

          </div>


          <div class="info-area pro_br-btm">
            <div class = "col-md-3">
              <strong>City :  </strong>
            </div>
            <div class = "col-md-9">
              <ul class = "pro_list">
                <li *ngIf = "data._creator.candidate" >{{data._creator.candidate.base_city}}</li>

              </ul>
            </div>

          </div>

        </section>

				 <section class = "profile job_info">
					<h3>Desired Job </h3>
				 	<div class="info-area pro_br-btm">
						<div class = "col-md-3">
							<strong>Desired Location : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let country of countries'>{{country.charAt(0).toUpperCase()}}{{country.slice(1)}}</li>

							</ul>
						</div>

				 	</div>


				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Desired Position : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let interest_area of interest_area;'>{{interest_area}}</li>

							</ul>
						</div>

				 	</div>

				 		<div class="info-area pro_br-btm" *ngIf="roles">

						<div class = "col-md-3" >
							<strong>Roles : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li *ngFor='let roles_data of roles'>{{roles_data}}</li>

							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm" *ngIf="data.expected_salary">

						<div class = "col-md-3" >
							<strong>Expected annual salary: </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.expected_salary_currency}} {{data.expected_salary}}</li>
							</ul>
						</div>

				 	</div>

					<div class="info-area pro_br-btm" *ngIf="data.current_salary">

						<div class = "col-md-3" >
							<strong>Current annual salary:</strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.current_currency}} {{data.current_salary}}</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm">

						<div class = "col-md-3" >
							<strong>Your Availablity : </strong>
						</div>
						<div class = "col-md-9">
							<ul class = "pro_list">
								<li>{{data.availability_day}}</li>
							</ul>
						</div>

				 	</div>



				 </section>

				 <section class = "profile job_info">
					<h3>Blockchain and DLT Experience</h3>

					<div class = "discp info-area pro_br-btm">
						<h4 class = "disc_hd">Why do you want to work on BlockChain?</h4>
						<p>
							{{data.why_work}}
						</p>
					</div>


				 	<div class="info-area pro_br-btm" *ngIf="commercial">

						<div class = "col-md-4" >
							<strong>Platform commercially worked with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let commercial_platform of commercial;'>{{commercial_platform.platform_name}}  : {{commercial_platform.exp_year}} years</li>

							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm" *ngIf="platforms">

						<div class = "col-md-4" >
							<strong>Platforms designed/developed smart contracts:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of platforms;'>{{data.platform_name}}  : {{data.exp_year}} years</li>
							</ul>
						</div>

				 	</div>

				 	<div class="info-area pro_br-btm" *ngIf="experimented">

						<div class = "col-md-4" >
							<strong>Platform experimented with:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list">
								<li *ngFor='let data of experimented;'>{{data.value}}  </li>

							</ul>
						</div>

				 	</div>

           <div class="info-area pro_br-btm">

             <div class = "col-md-4" >
               <strong>Commercial experience in these areas</strong>
             </div>
             <div class = "col-md-8">
               <ul class = "pro_list" *ngIf="commercial_skills">
                 <li *ngFor='let data of commercial_skills;'>{{data.skill}}  : {{data.exp_year}} years</li>
               </ul>
             </div>

           </div>


           <div class="info-area pro_br-btm" >

             <div class = "col-md-4" >
               <strong>Formal (university) education in these areas
               </strong>
             </div>
             <div class = "col-md-8">
               <ul class = "pro_list" *ngIf = "formal_skills">
                 <li *ngFor='let data of formal_skills;'>{{data.skill}}  : {{data.exp_year}} years</li>
               </ul>
             </div>

           </div>




				 </section>

				 <section class = "profile job_info">
					<h3>Experience</h3>


				 	<div class="info-area pro_br-btm" >

						<div class = "col-md-4" >
							<strong>Languages:</strong>
						</div>
						<div class = "col-md-8">
							<ul class = "pro_list" *ngIf="data.programming_languages && data.programming_languages.length>0">
								<li *ngFor='let lang of languages;'>{{lang.language}} : {{lang.exp_year}} years</li>

							</ul>
						</div>

				 	</div>



				 </section>

				  <section class = "profile job_info">
					<h3>Work History</h3>
					<div class = "company_area" *ngFor='let work of work_history'>
					 	<div class="info-area pro_br-btm">
							<div class = "col-md-4">
								<strong>Company name: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.companyname}}</li>

								</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">
					 		<div class = "col-md-4" >
								<strong>Position: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.positionname}}</li>

								</ul>
							</div>
					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Start and finish date: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list" *ngIf='work.currentwork == true' >
							<li>{{work.startdate | date : 'MMMM-yyyy'}} ,  till now.</li>
						</ul>
					<ul class = "pro_list" *ngIf='work.currentwork== false ' >
							<li>{{work.startdate | date : 'MMMM-yyyy'}} , {{work.enddate | date : 'MMMM-yyyy'}} </li>
						</ul>
							</div>

					 	</div>

					 	<div class="info-area pro_br-btm">

							<div class = "col-md-4" >
								<strong>Location: </strong>
							</div>
							<div class = "col-md-8">
								<ul class = "pro_list">
									<li>{{work.locationname}}</li>
								</ul>
							</div>

					 	</div>

					 	<div class = "discp info-area" *ngIf="work.description">
							<h4 class = "disc_hd">Description:</h4>
							<p>
								{{work.description}}
							</p>
						</div>

					</div>



				 </section>

				 <section class = "profile job_info">
					<h3>Education</h3>

				 	<div class="col-md-12 info-area  pro_br-btm" *ngFor='let edu of education_history'>
				 		<div class = "edu_feild">
							<p>
								<strong>{{edu.uniname}} </strong>
							</p>
							<p>
								<span>{{edu.degreename}} - {{edu.fieldname}}</span>
							</p>
						</div>
						<div class = "edu_date">
							<p>
								<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
								 {{edu.eduyear}}
							</p>
						</div>

				 	</div>



				 </section>

			</div> <!--End col-md-9--->

			<!--<div class = "col-md-3">
				<section class = "profile job_info side_rewiew">
					<h3>We are very sorry</h3>
					<p>
						Unfortunately due to work authorization issues we are unable to help you at the moment. If your circumstances changed, please update your profile and resubmit it for review.
					</p>
				<div class = "text-center">
					<button class = "btn btn-success btn-block btn-review">Resubmited of Review</button>
				</div>
				</section>
			</div>-->
		</div>
	</div>

</section>


<!--Profile-inner end-->
