<br/><br/>
<section class = "terms" >
  <div class="container t-c_container">
    <div class="row" >
      <div class = "A_heading" *ngIf="succesMsg ==='' && errorMsg === ''">
        <h1>we are verifying your account...</h1>
      </div>


      <div class="alert alert-danger  verify_error alert-dismissible" *ngIf = "errorMsg !==''">
        <span class="glyphicon glyphicon-exclamation-sign alert_icon"></span>
        <span class = "error_text">
          {{errorMsg}}
      </span>
      </div>



    </div>

  </div>
  <br/><br/>
</section>

