<div class = "container-fluid">
  <div class = "row ">
    <div class = "col-md-12">
      <nav class="navbar navbar-expand-lg fixed-top bg-white px-lg-5 px-2">
        <a class="navbar-brand ml-0 ml-md-5 ml-lg-5" routerLink="/">
          <img src = "/assets/images/navbar_imgs/logo/logo_woc.png" alt="Work on Blockchain">
        </a>
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto p-3 p-lg-0 mr-0 mr-md-5 mr-lg-5">
            <li class="nav-item pr-2" *ngIf="!currentUser">
              <b><a class="nav-link text-dark active" routerLink="signup">SIGN UP</a></b>
            </li>
            <li class="nav-item pr-2" *ngIf="!currentUser">
              <a class="nav-link text-dark" routerLink="login">Login</a>
            </li>
            <li class="nav-item pr-2" [ngClass]="currentUser && currentUser.type === 'candidate' ? 'd-none' : ''" >
              <a class="nav-link text-dark" routerLink="companies">Companies</a>
            </li>
            <li class="nav-item pr-2">
              <a class="nav-link text-dark" routerLink="referral">Referral £1000 reward</a>
            </li>
            <li class="nav-item pr-2" *ngIf="currentUser">
              <a class="nav-link text-dark" routerLink="chat">Chat</a>
            </li>
            <li class="nav-item pr-2" *ngIf="(currentUser && is_admin === 1)">
              <a class="nav-link text-dark" routerLink="admin-dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown pr-2" *ngIf="(currentUser)">
              <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu">
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'candidate')" routerLink="candidate_profile">Profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'candidate')" routerLink="edit_profile">Edit profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'company')" routerLink="company_profile">Profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'company')" routerLink="edit_company_profile">Edit profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'company')" routerLink="candidate-search">Search candidate</a>
                <a class="dropdown-item text-dark" routerLink="account-settings">Settings</a>
                <a class="dropdown-item text-dark" *ngIf="currentUser" href="" (click)="logout()">Log out</a>
                <!--<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>-->
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="alert alert-danger error_msg mx-auto" role="alert" *ngIf = "msg && close && !success  ">
        {{msg}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="popModalForTerms" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header bg-primary">
        <h3>Our Privacy Notice has Changed</h3>
      </div>
      <div class = "col-md-12">
        <form (submit)="update_terms_status(newTermsForm)" #newTermsForm = ngForm>
          <div class="modal-body mo_body">
            <p>
              We have recently made a change to our Privacy Notice. This document contains important
              information about how we manage data for the platform. Please  take some time to review
              it before continuing.
            </p>
            <a *ngIf="currentUser.type === 'company'" routerLink="/terms-for-company" target="_blank" class="btn btn-primary">Review</a>
            <a *ngIf="currentUser.type === 'candidate'" routerLink="/terms-for-candidate" target="_blank" class="btn btn-primary">Review</a>
          </div>
          <div class="checkbox ml-3">
            <label>
              <input class="mr-1" type = "checkbox" value = "" [disabled]="agree" required name="terms" [(ngModel)]="termscondition">
              I have read and accepted the <a routerLink="/privacy-notice" target="_blank">Privacy notice</a>.
            </label>
          </div>
          <div *ngIf="(termscondition === false || termscondition === true) && terms_log" class = "alert alert-danger">
            <span class = "error">{{terms_log}}</span>
          </div>
          <div class="modal-footer mo_footer">
            <button type="submit" class="btn btn-primary model-btn">Continue</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- end model -->
