<section class="navbar-top">
  <nav class="navbar navbar-expand-md bg-white navbar-dark pt-3">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/images/navbar_imgs/logo/logo_woc.png" alt="wob_logo">
      </a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" [ngClass]="currentUser && currentUser.type === 'candidate' ? 'd-none' : ''">
            <a class="nav-link" routerLink="companies">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="referral">Referral £ reward</a>
          </li>
          <li class="nav-item" *ngIf="currentUser">
            <a class="nav-link" routerLink="chat">Chat</a>
          </li>
          <li class="nav-item" *ngIf="(currentUser && is_admin === 1)">
            <a class="nav-link" routerLink="admin-dashboard">Dashboard</a>
          </li>
          <a routerLink="signup" class="btn btn-signup" *ngIf="!currentUser"> Signup </a>
          <a *ngIf="!currentUser" routerLink="login" class="btn btn-Login">Login</a>

          <li class="nav-item dropdown pr-2" *ngIf="(currentUser)">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu ml-3">
              <a class="dropdown-item" *ngIf="(currentUser && user_type === 'candidate')" routerLink="users/talent">Profile</a>
              <a class="dropdown-item" *ngIf="(currentUser && user_type === 'candidate')" routerLink="users/talent/edit">Edit profile</a>
              <a class="dropdown-item" *ngIf="(currentUser && user_type === 'company')" routerLink="users/company">Profile</a>
              <a class="dropdown-item" *ngIf="(currentUser && user_type === 'company')" routerLink="edit_company_profile">Edit profile</a>
              <a class="dropdown-item" *ngIf="(currentUser && user_type === 'company')" routerLink="candidate-search">Search candidate</a>
              <a class="dropdown-item" routerLink="account-settings">Settings</a>
              <a class="dropdown-item" *ngIf="currentUser" href="" (click)="logout()">Log out</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</section>

<!-- Modal -->
<div id="popModalForTerms" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content costom_model">
      <div class="modal-header bg-primary">
        <h3>Our terms have changed</h3>
      </div>
      <div class = "col-md-12">
        <form (submit)="update_terms_status(newTermsForm)" #newTermsForm = ngForm>
          <div class="modal-body mo_body">
            <p>
              We have recently made changes to our <span *ngIf="user_type === 'candidate'" >Candidate Terms</span> <span *ngIf="user_type === 'company'">Terms of Business</span>. This document contains
              important information about the expectations you have about us, and what we
              expect from you
            </p>
            <a *ngIf="user_type === 'candidate'" routerLink='/pages/candidate-terms' target="_blank" class="btn btn-primary">Review</a>
            <a *ngIf="user_type === 'company'" routerLink='/pages/company-terms' target="_blank" class="btn btn-primary">Review</a>
          </div>
          <div class="checkbox ml-3">
            <label>
              <input class="mr-1" type = "checkbox" value = "" [disabled]="agree" required name="terms" [(ngModel)]="termscondition">
              I have read and accepted the
              <a *ngIf="user_type === 'candidate'" routerLink='/pages/candidate-terms' target="_blank">Candidate Terms</a>
              <a *ngIf="user_type === 'company'" routerLink='/pages/company-terms' target="_blank">Terms of Business</a>.
            </label>
          </div>
          <div *ngIf="(termscondition === false || termscondition === true) && terms_log" class = "invalid-feedback d-inline ml-3">
            {{terms_log}}
          </div>
          <div class="modal-footer mo_footer">
            <button type="submit" class="btn btn-primary model-btn">Continue</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<!-- end model -->
