<div class = "container-fluid">
  <div class = "row ">
    <div class = "col-md-12">
      <nav class="navbar navbar-expand-lg fixed-top bg-white px-lg-5 px-2">
        <a class="navbar-brand ml-0 ml-md-5 ml-lg-5" routerLink="/">
          <img src = "/assets/images/navbar_imgs/logo/logo_woc.png" alt="Work on Blockchain">
        </a>
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto p-3 p-lg-0 mr-0 mr-md-5 mr-lg-5">
            <li class="nav-item pr-2" *ngIf="!currentUser">
              <b><a class="nav-link text-dark active" routerLink="signup">SIGN UP</a></b>
            </li>
            <li class="nav-item pr-2" *ngIf="!currentUser">
              <a class="nav-link text-dark" routerLink="login">Login</a>
            </li>
            <li class="nav-item pr-2" [ngClass]="currentUser && currentUser.type === 'candidate' ? 'd-none' : ''" >
              <a class="nav-link text-dark" routerLink="companies">Companies</a>
            </li>
            <li class="nav-item pr-2">
              <a class="nav-link text-dark" routerLink="referral">Referral £1000 reward</a>
            </li>
            <li class="nav-item pr-2" *ngIf="currentUser">
              <a class="nav-link text-dark" routerLink="chat">Chat</a>
            </li>
            <li class="nav-item pr-2" *ngIf="(currentUser && is_admin === 1)">
              <a class="nav-link text-dark" routerLink="admin-dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown pr-2" *ngIf="(currentUser)">
              <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu">
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'candidate')" routerLink="candidate_profile">Profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'candidate')" routerLink="users/talent/edit">Edit profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'company')" routerLink="company_profile">Profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'company')" routerLink="edit_company_profile">Edit profile</a>
                <a class="dropdown-item text-dark" *ngIf="(currentUser && user_type === 'company')" routerLink="candidate-search">Search candidate</a>
                <a class="dropdown-item text-dark" routerLink="account-settings">Settings</a>
                <a class="dropdown-item text-dark" *ngIf="currentUser" href="" (click)="logout()">Log out</a>
                <!--<div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>-->
              </div>
            </li>
          </ul>
        </div>
      </nav>

     <!-- <L0-alerts alertClass="alert-success" aligmentClass="error_msg mx-auto" *ngIf = "msg && close && !success" [alertMsg]="msg" ></L0-alerts>
-->
    </div>
  </div>
</div>


