<section class = "wizard_page">
  
  <div class="container">
    <div class="row">
      <div class = "text-center steps-name">
        <ul class = "step-progress">
        <li class = "step"><i class="{{term_active_class}}"></i><a routerLink="{{term_link}}"> Terms & Conditions</a></li>
        
          <li class = "step step-active"><i class="{{active_class}}"></i><a routerLink="/about"> About</a></li>
          <li class = "step"><i class="{{job_active_class}}"></i><a routerLink="{{link}}">Jobs</a></li>
          <li class = "step"><i class="{{resume_active_class}}"></i><a href="{{resume_class}}" >Blockchain</a></li>
          <li class = "step"><i class="{{exp_active_class}}"></i><a href="{{exp_class}}" >Experience</a></li>
          
        </ul>
      </div>
      <div class="col-md-12 wizard-form">

        <form class = "login_form"  (submit)="about()" #aboutForm = ngForm>
          
          <fieldset class="scheduler-border">
              <legend class="scheduler-border">About You</legend>
              <div class="form-group col-md-6">
                <label><p class = "label-p">First Name</p></label>
                <input type="text" class="form-control" id="" placeholder="First Name"  name="first_name" [(ngModel)]="info.first_name">
            </div>
            <div class="form-group col-md-6">
                <label><p class = "label-p">Last Name</p></label>
                <input type="text" class="form-control" id="" placeholder="Last Name"  name="last_name" [(ngModel)]="info.last_name">
            </div>

              <div class="form-group col-md-6">
                <label><p class = "label-p">Github account URL</p></label>
                <input type="text" class="form-control" id="" placeholder="Github account (optional)"  name="github_account" [(ngModel)]="info.github_account">
            </div>

            <div class="form-group col-md-6">
              <label><p class = "label-p">Stackexchange account URL</p></label>
                <input type="text" class="form-control" id="" placeholder="stackexchange account (optional)" name="exchange_account" [(ngModel)]="info.exchange_account">
            </div>

            <div class="form-group col-md-6">
              <label><p class = "label-p">Contact Number</p></label>
                <input type="tel" class="form-control" id="" placeholder="Phone number" name="contact_number" #contact_number required [(ngModel)]="info.contact_number" >
            </div>
            

            <div class="form-group col-md-6">
              <label><p class = "label-p">Nationality</p></label>
                <input type="text" class="form-control" id="" placeholder="Nationality" name="nationality" #nationality required [(ngModel)]="info.nationality" >
            </div>

            <div class="form-group col-md-6" >
              <label><p class = "label-p">Image</p></label>
                 <input id="aa" #Image type="file" onchange="pressed()" accept="image/*" name="image" [(ngModel)]="info.image"  class="form-control" />

                <label id="fileLabel" >
								<span *ngIf="img_src" >{{img_src}}</span>
								<span *ngIf="!img_src" >Upload Logo (optional)</span>
								</label>
            </div>
            
           
            
          <!-- <div class="form-group col-md-6">
                <label><p class = "label-p  ">Gender</p></label>
                
                 <select class="form-control" style="display:inline;" required name="gender" [(ngModel)]='info.gender' (change)='onGenderSelected($event)' required="">
              
        
                <option class='option' *ngFor='let options of gender' placeholder="Gender"  [value]="options" selected>{{options}}</option>
                </select>
            </div>-->

          </fieldset>

          <div class = "form-group text-right">
          <a href="/terms-and-condition" class = "btn btn-prev">Prev Step</a>
              <button type="submit" class = "btn btn-self btn-pdg" [disabled]="!aboutForm.valid" >Next Step</button>
          </div>

        </form>
        
      </div>
    </div>
  </div>

</section>


<!--candidate step completing End-->

<div class = "gap">
</div>