 <section class = "wizard_page">
		<div class="container">
		<div class="row">
		
			<div class="col-md-12">
			 <div class="alert alert-info pro_alert alert-dismissible" *ngIf = "message ">
    {{message}}    
 </div>
				 <form class = "login_form"  (submit)="editor(editorForm)" #editorForm = ngForm >
				 <h3>Terms And Candidate For Candidate</h3>
					    	<label><p class = "label-p">Page Title</p></label>
						    <input type="text" class="form-control" id="" placeholder="Enter page title" name="page_title" [(ngModel)]="page_title" >
							
					<br/>
				 <div>
				 <label><p class = "label-p">Page Content </p></label>
					<ckeditor [(ngModel)]="editor_content"  #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
					</ckeditor>
				</div><br/>
			 <input type="text" class="form-control" style="display:none;" name="page_name" [(ngModel)]="page_name" >
				
				<button type="submit" class = "btn btn-self btn-pdg" >Save</button>
				
			</form>
			</div>
			</div>
			</div>
			

		<div class="container">
		<div class="row">
		
			<div class="col-md-12">
			
				 <form class = "login_form"  (submit)="company_editor(companyeditor)" #companyeditor = ngForm >
				
				 
				 <h3>Terms And Candidate For Company</h3>
					    	<label><p class = "label-p">Page Title</p></label>
						    <input type="text" class="form-control" id="" placeholder="Enter page title" name="page_title" [(ngModel)]="company_page_title" >
							
					<br/>
				 <div>
				 <label><p class = "label-p">Page Content </p></label>
					<ckeditor [(ngModel)]="company_editor_content"  #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
					</ckeditor>
				</div><br/>
			 <input type="text" class="form-control" style="display:none;" name="page_name" [(ngModel)]="company_page_name" >
				
				<button type="submit" class = "btn btn-self btn-pdg" >Save</button>
				
			</form>
			</div>
			</div>
			</div>
			
</section>
			
			<!-- <div [innerHTML]="editor_text | safeHtml " *ngIf="editor_text"></div>-->