<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard mb-3">
          <li class="nav-item">
            <a routerLink="/company_wizard" class="nav-link">
              <i class="{{terms_active_class}}"></i>
              Summary of T&Cs
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about_comp" class="nav-link">
              <i class="{{about_active_class}}"></i>
              About the company
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{preference}}" class="nav-link btn {{pref_disable}}">
              <i class="{{pref_active_class}}"></i>
              Talent requirements
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="row p-4 border bg-white">
      <div class="col-md-12">
        <form (submit)="about_company(aboutForm)"  #aboutForm = ngForm>
          <section class = "p-2" id = "information">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group w-100">
                  <label>When was the company founded?</label>
                  <input type="text" class="form-control" #companyFounded="ngModel"  pattern="^[0-9]*$" required name="company_founded" placeholder="1997" [(ngModel)]="company_founded">
                  <div class="invalid-feedback d-inline" *ngIf="!company_founded">
                    {{founded_log}}
                  </div>

                  <div class="invalid-feedback d-inline" *ngIf="companyFounded.errors && company_founded;else yearVerification">
                    Input data should be a number.
                  </div>

                  <div class="invalid-feedback d-inline" #yearVerification *ngIf="company_funded >  currentyear || company_founded < 1800">
                    {{yearValidation}}
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group w-100">
                  <label>How is the company funded?</label>
                  <input type="text" class="form-control" required placeholder="Private investment from the founders and one angel" name="company_funded" [(ngModel)]="company_funded">
                  <div class="invalid-feedback d-inline" *ngIf="!company_funded">
                    {{funded_log}}
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group w-100">
                  <label>Number of employees?</label>
                  <input type="number" class="form-control" required placeholder="10" name="no_of_employees" [(ngModel)]="no_of_employees">
                  <div class="invalid-feedback d-inline" *ngIf="!no_of_employees">
                    {{employee_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <app-i-forme-how-hear-about-wob [howHearAboutWOB]="hear_about_wob"></app-i-forme-how-hear-about-wob>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6" *ngIf="otherReasons === 'Other' || howHearAboutWob.howHearAboutWOB === 'Other'">
                <app-i-forme-hear-about-wob-other-info [otherInfo]="otherReasons"></app-i-forme-hear-about-wob-other-info>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group w-100">
                  <label>Logo (optional)</label>
                  <p>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#imageModal">Upload company logo</button>
                  </p>
                  <span *ngIf="imageCropData.image;else prefil_image" >
                      <img [src]="imageCropData.image" class="img-responsive border rounded-circle" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                    </span>
                  <span #prefil_image *ngIf="imagePreviewLink && !imageCropData.image" >
                      <img [src]="imagePreviewLink" class="img-responsive border rounded-circle" width="200" height="200" >
                    </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Company description</label>
                  <textarea name="company_description" maxlength="3000" [(ngModel)]="company_description" placeholder="An American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, search engine, cloud computing, software, and hardware." class="form-control" rows="3"></textarea>
                  <div class="invalid-feedback d-inline" *ngIf="!company_description">
                    {{des_log}}
                  </div>
                </div>
              </div>

            </div>

          </section >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class = "text-right mt-3">
                  <a routerLink="/company_wizard" class = "btn btn-warning text-white">Back</a>
                  <button type="submit" class = "btn btn-primary ml-1">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="error_msg">
            <div class="col-md-12">
              <div class = "invalid-feedback float-right d-inline w-auto" >
                {{error_msg}}
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- Image crop popup -->
  <div id="imageModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-center" id="exampleModalLabel">Image upload</h5>
        </div>
        <div class="modal-body ">
          <div class="file-upload mb-3">
            <input type="file" accept="image/*" (change)="fileChangeListener($event)">
          </div>
          <div class="text-center">
            <img-cropper *ngIf="imageName" #cropper [image]="imageCropData" [settings]="cropperSettings"></img-cropper>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="imageCropped('cancel')">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="imageCropped('crop')">Save</button>
        </div>
      </div>
    </div>
  </div>
</section>
