<section class="wob-bg-primary2 pb-5 pt-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav justify-content-center wizard mb-3">
          <li class="nav-item">
            <a routerLink="/company_wizard" class="nav-link">
              <i class="{{terms_active_class}}"></i>
              Summary of T&Cs
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about_comp" class="nav-link">
              <i class="{{about_active_class}}"></i>
              About the company
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{preference}}" class="nav-link btn {{pref_disable}}">
              <i class="{{pref_active_class}}"></i>
              Candidate preferences
            </a>
          </li>

        </ul>
      </div>
    </div>

    <div class="row p-4 border bg-white">
      <div class="col-md-12">
        <form (submit)="about_company(aboutForm)"  #aboutForm = ngForm>
            <section class = "p-2" id = "information">
              <div class="row">

                <div class="col-md-6">
                    <div class="form-group w-100">
                      <label>When was the company founded?</label>
                      <input type="number" class="form-control" required placeholder="1997" name="company_founded" [(ngModel)]="company_founded" >
                      <div class="invalid-feedback d-inline" *ngIf="!company_founded">
                        {{founded_log}}
                      </div>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group w-100">
                    <label>How is the company funded?</label>
                    <input type="text" class="form-control" required placeholder="How's company funded?" name="company_funded" [(ngModel)]="company_funded">
                    <div class="invalid-feedback d-inline" *ngIf="!company_funded">
                      {{funded_log}}
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group w-100">
                    <label>Number of employees?</label>
                    <input type="number" class="form-control" required placeholder="Number of employees?" name="no_of_employees" [(ngModel)]="no_of_employees">
                    <div class="invalid-feedback d-inline" *ngIf="!no_of_employees">
                      {{employee_log}}
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group w-100">
                      <label>Upload photo</label>
                      <div class="form-group">
                        <input type="file" accept="image/*" name="image" [(ngModel)]="image" class="form-control-file" id="profile">
                        <span *ngIf="img_src" >{{img_src}}</span>
                      </div>
                      <div class="invalid-feedback d-inline" *ngIf="!image_log">
                        {{image_log}}
                      </div>
                    </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label>Company description</label>
                      <textarea name="company_description" [(ngModel)]="company_description" placeholder="Company description" class="form-control" rows="3"></textarea>
                      <div class="invalid-feedback d-inline" *ngIf="!company_description">
                        {{des_log}}
                      </div>
                  </div>
                </div>
              </div>

            </section >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class = "text-right mt-3">
                  <a routerLink="/company_wizard" class = "btn btn-warning text-white">Back</a>
                  <button type="submit" class = "btn btn-secondary ml-1">Next</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="error_msg">
            <div class="col-md-12">
              <div class = "invalid-feedback float-right d-inline w-auto" >
                {{error_msg}}
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    </div>
</section>
