<!--section main banner of leading page-->
<section class = "lead-bnr text-center py-0 py-md-5 mt-4">
  <div class = "container">
    <h1>Blockchain, cryptocurrency and DLT work for developers</h1>
    <div class = "row">
      <div class="embed-responsive embed-responsive-4by3 w-75 m-auto">
        <iframe class="embed-responsive-item" src = "../assets/circle-graph.html" allowfullscreen scrolling="no" border="none"></iframe>
      </div>
    </div>
    <div class = "row text-center pb-5 pb-md-0">
      <div class = "col-12">
        <a (click)="internalRoute('signup','company')">

          <button class="btn btn-warning rounded text-light py-4 px-5 border-0 font-weight-bold hire_button" >Hire talent now</button>
        </a>
      </div>
    </div>
  </div>
</section>
<!--/section main banner of leading page-->



<!--section candidates numbers and persentage-->
<section class = "sec-b pt-4 pb-5">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-4 text-center">
        <span class = "number">{{approvedUsers}}</span> <br>
        <span class = "text">live candidates</span>
      </div>

      <div class = "col-md-4 text-center">
        <span class = "number">100%</span> <br>
        <span class = "text">passionate about blockchain</span>
      </div>

      <div class = "col-md-4 text-center">
        <span class = "number">{{blockchainExperienceUsers}}</span> <br>
        <span class = "text">commercial blockchain experience</span>
      </div>

    </div>
  </div>
</section>
<!--/section candidates numbers and persentage-->


<!--features-->

<section class = "com_features bg-light py-5">
  <h2 class="text-center">Features</h2>
  <div class = "container">
    <div class = "row py-5">
      <div class = "col-12">
        <div class = "fu-list px-5 py-4 bg-white shadow">
          <p> <i class="fas fa-globe-americas"></i> Global talent</p>
          <p> <i class="fas fa-gift"></i> FREE till you hire</p>
          <p> <i class="fas fa-heart"></i> Find employees, contractors, freelancers or volunteers</p>
          <p> <i class="fas fa-check-circle"></i> Vetted</p>
          <p><i class="fas fa-search"></i> Search candidates at your leisure</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/features-->


<!--Process steps-->

<section class = "step_sec py-5">
  <div class = "container">
    <div class = "row py-5">
      <div class = "col-md-4 text-center">
        <p class = "mb-5 stepss">
          <img src = "../assets/images/companies/1.png" alt = "step-1_pic">
        </p>

        <h5>Create account</h5>
        <p>
          Create an account with your hiring preferences<br>
          and skills you are looking for.
        </p>
      </div>
      <div class = "col-md-4 text-center">
        <p class = "mb-5 stepss">
          <img src = "../assets/images/companies/2.png" alt = "step-2_pic">
        </p>

        <h5>Candidate matches</h5>
        <p>
          Select from the pre-vetted matches we give to <br>
          you or do a search at your leisure.
        </p>
      </div>

      <div class = "col-md-4 text-center">
        <p class = "mb-5">
          <img src = "../assets/images/companies/3.png" alt = "step-3_pic">
        </p>

        <h5>Approach candidates</h5>
        <p>
          Reach out directly to candidates with job and other work offers and set up an interview.
        </p>
      </div>
    </div>
  </div>
</section>

<!--/Process steps-->


<!--section company slider-->
<section class = "coursal-compnay px-3 py-5 bg-light">
  <h2 class="text-center">What our clients have to say about us?</h2>
  <div class = "container py-5">

    <div class = "row bg-white position-relative rounded px-0">

      <div class = "col-md-4 p-3">
        <div id="text"></div>
      </div>

      <div class = "col-md-8">
        <div id="carousel-example-captions" class="carousel slide text-left w-75 w-sm pl-0 pl-lg-5 mt-4 mt-lg-3 ml-0 ml-lg-3" data-ride="carousel">
          <div class="carousel-inner slider-text com_slider">

            <div class="item carousel-item active">
              <p class = "my-0 my-lg-4">This is the best place for you to look for blockchain talent, delivered by people who understand the industry</p>
              <p>
                <a href="http://nethermind.io/" target = "_blank" class="">Tomasz K. Stańczak, Founder & CTO at Nethermind.io</a>
              </p>

              <div class="carousel-caption">
                <div class="car-content">
                  <img src="../assets/images/nethermind.png" alt="extropy-logo" class = "w-100">
                </div>
              </div>

            </div>

            <div class="item carousel-item">
              <p class = "my-0 my-lg-4">Was really helpful when we wanted to expand our team and gave us top blockchain talent from London and the European region. These people have become some of our most valuable developers and team members.</p>
              <p>
                <a href="https://indorse.io/"  target = "_blank" class="">Gaurang Torvekar, Co-Founder and CEO, Indorse.io </a>
              </p>

              <div class="carousel-caption">
                <div class="car-content">
                  <img src="../assets/images/indorse.png" alt="extropy-logo" class = "w-100">
                </div>
              </div>
            </div>

            <div class="item carousel-item">
              <p class = "my-0 my-lg-4">I have some great developers in my team thanks to these guys, and their extensive developer network keeps me in contact with the real experts in the blockchain space</p>
              <p>
                <a href="http://extropy.io/" target = "_blank" class="">Laurence Kirk, Founder and CEO, Extropy.io </a>
              </p>

              <div class="carousel-caption">
                <div class="car-content">
                  <img src="../assets/images/extropy.png" alt="extropy-logo" class = "w-100">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--/section company slider-->

    </div>
  </div>

</section>

<!--/section company slider-->


<!--company comparison section-->

<section class = "co_comp py-5">
  <h2 class="text-center">We save you time and money</h2>
  <div class = "container">
    <div class = "row py-5">

      <div class = "col-md-3 mb-3 mb-md-0">
        <div class = "com_card crd-after shadow text-center a_c">
          <h5 class = "bg-dark text-light py-3 font-weight-normal">Blockchain recruiter</h5>
          <div class = "card_body py-5">
            <p>
              <img src = "../assets/images/companies/sad-face.png" alt = "face-icon"/>
            </p>
            <p class = "f-1">
              30% fee
            </p>

            <p class = "bg-grey py-2 w-75 mx-auto">
              2-5 Candidates
            </p>

            <p>
              Recruiters brokers deal
            </p>
          </div>
        </div>
      </div>

      <div class = "col-md-1 vs">
        <p>
          VS
        </p>
      </div>

      <div class = "col-md-4 mb-3 mb-md-0">
        <div class = "com_card crd-after shadow text-center card_wob text-light">
          <p class = "font-weight-bold py-2 card-logo">
            workonblockchain . <span class = "text-warning">com</span>
          <p>
            <div class = "card_body py-5">
          <p>
            <img src = "../assets/images/companies/like-thumb.png" alt = "face-icon"/>
          </p>

          <p class = "f-2">
            12.5% fee
          </p>

          <p class = "bg-warning py-2 w-75 mx-auto text-dark">
            {{approvedUsers}} Candidates
          </p>

          <p>
            Company selects pre-vetted <br>
            candidates saving you  <br>
            time and money
          </p>
        </div>
      </div>
    </div>

    <div class = "col-md-1 vs">
      <p>
        VS
      </p>
    </div>

    <div class = "col-md-3 mb-3 mb-md-0">
      <div class = "com_card shadow text-center a_c">
        <h5 class = "bg-dark text-light py-3 font-weight-normal">Job posting platform</h5>
        <div class = "card_body py-5">
          <p>
            <img src = "../assets/images/companies/sad-face.png" alt = "face-icon"/>
          </p>

          <p class = "f-3">
            Pay to promote job
          </p>

          <p class = "bg-grey py-2 w-75 mx-auto">
            100s applicants to <br>
            process manually
          </p>

          <p>
            Candidates respond to jobs,<br>
            unfiltered, and in <br> the hundreds
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class = "row text-center">
    <div class = "col-12">
      <a (click)="internalRoute('signup','company')">
        <button class="btn btn-warning rounded text-light py-4 px-5 border-0 font-weight-bold hire_button" >Hire talent now</button>
      </a>
    </div>
  </div>

  </div>
</section>

<!--/company comparison section-->
