<section class = "login_signup">
	<div class="container">
		<div class="row form_container border-top">
			<div class="col-md-12 form_container_inner">
				<div class="form-login">
					    	<h3 class = "login_hd">Reset My Password</h3>
					       <form class = "login_form" (submit)="reset_password(resetForm)"   #resetForm = ngForm>
					       <h5 class="alert alert-danger error-alert" *ngIf = "log">{{log}}</h5>
							  <!--<div class="form-group">
							  	<span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                  				<div class = "show_pass"><i toggle="#password-field" class="fa fa-eye pas_i toggle-password" aria-hidden="true" ></i></div>
							    <input type="password" class="form-control" placeholder="Current Password"  name="current_password" [(ngModel)]="current_password">
							  </div>-->

							  <div class="form-group">
                  				<span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                  				<div class = "show_pass"><i toggle="#password-field" class="fa fa-eye pas_i toggle-password" aria-hidden="true" ></i></div>
                 				<input type="password" class="form-control" placeholder="New Password" id="password-field" name="password"  [(ngModel)]="password">
                			  </div>

							  <div class="form-group">
							    <input type="submit" class="btn btn-defult for_pass-btn" value = "Reset My Password">
							  </div>

							  <div class="login_form_links">
							  	<a routerLink="/signup" >Sign Up</a><br/>
							  	<a routerLink = "/login">Login</a>
							  </div>

						   </form>
					    </div>
			</div>
		</div>
	</div>
</section>

<div class = "gap">
</div>
