<section class="wob-bg-primary2 py-5">
  <div class="container ">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-8 bg-white p-4">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2>Reset password</h2>
          </div>
        </div>
        <form (submit)="reset_password(resetForm)" #resetForm = ngForm>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger" role="alert" *ngIf="log">{{log}}</div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <span><i class="fas fa-lock mr-1" aria-hidden="true"></i></span>
                <label>Reset password</label>
                <input type="password" #upass="ngModel" maxlength="35" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d!#$%&'()*+,-./:;<=>?@[\]^_`{|}~]{8,}$" class="form-control" placeholder="Password" id="password-field1" name="password" [(ngModel)]="password">
                <div class="invalid-feedback d-inline" *ngIf="upass.errors">
                  Password must contain a minimum of 8 characters including a number and lower and upper case letter.
                </div>
                <div class="invalid-feedback d-inline" *ngIf="!password">
                  {{reset_password_log}}
                </div>
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value = "Reset my password">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div>
                  <a routerLink="/signup">Sign Up</a>
                </div>
                <div>
                  <a routerLink = "/login">Login</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
