<!-- text box -->
<mat-form-field floatLabel="always">
  <mat-label></mat-label>
  <input matInput [matAutocomplete]="auto" placeholder="{{placeholder}}" [(ngModel)]="countriesModel" name="country" (input)="suggestedOptions()" (ngModelChange)="selectedValueFunction($event)">
</mat-form-field>

<!-- dropdown options --->
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let loc of cities" [value]="loc.name">
    <span>{{ loc.name }}</span>
  </mat-option>
</mat-autocomplete>

<!-- display error msg -->
<ng-container *ngIf="error;else emptyInput">
  <L0-validation-text [errorMsg]="error"></L0-validation-text>
</ng-container>
<ng-template #emptyInput>
  <L0-validation-text [errorMsg]="country_input_log"></L0-validation-text>
</ng-template>
