<section class = "wob-bg-primary2 py-5 mt-5">
  <div class="container pt-2">
    <div class="row bg-white p-3">
      <div class="col-md-12">
        <form (submit)="editor(editorForm)" #editorForm = ngForm >
          <div class="row">
            <div class="col-md-12">
              <h2>FAQ page</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Page title</label>
                <input type="text" class="form-control" placeholder="Enter page title" name="page_title" [(ngModel)]="page_title" >
              </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Page content</label>
                <ckeditor [(ngModel)]="editor_content"  #myckeditor name="html_text" [config]="ckeConfig" debounce="500" >
                </ckeditor>
              </div>
            </div>
            <input type="hidden" class="form-control"  name="page_name" [(ngModel)]="page_name" >
          </div>

          <div class="row">
            <div class="col-md-12">
              <L0-buttons-others buttonClass="btn-primary" alignmentClass="float-right" buttonType="submit" label="Save"></L0-buttons-others>
            </div>
            <div class="col-md-12 mt-3">
              <L0-alerts alertClass="alert-success" [alertMsg]="success" alertClass="alert-success" ></L0-alerts>
              <L0-alerts alertClass="alert-danger" [alertMsg]="error" alertClass="alert-error" ></L0-alerts>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
