<div class="row">
  <div class="col-md-12">
    <h4><i class="fas fa-wrench mr-1"></i>Work History</h4>
  </div>
</div>
<div class = "work-form mt-3" [formGroup]="ExperienceForm">
  <div formArrayName="ExpItems">
    <!-- Check the correct way to iterate your form array -->
    <div *ngFor="let itemrow of DynamicWorkFormControls.controls ; let i=index" [formGroupName]="i">
      <div class="row">
        <div class="col-md-4">
          <app-c-forme-text placeholder="Google Inc." [(textValue)]="company" label="Company"></app-c-forme-text>
          <div class = "invalid-feedback d-inline" *ngIf="!company">
            {{company_log}}
          </div>
        </div>
        <div class="col-md-4">
          <app-c-forme-text placeholder="Full stack developer" [(textValue)]="position" label="Position"></app-c-forme-text>
          <div class = "invalid-feedback d-inline" *ngIf="!position">
            {{company_log}}
          </div>
        </div>
        <div class="col-md-4">
          <app-c-forme-text placeholder="London" [(textValue)]="location" label="Location"></app-c-forme-text>
          <div class = "invalid-feedback d-inline" *ngIf="!position">
            {{company_log}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <app-c-forme-dropdown-single label="Start date" [(value)]="start_month" [options]="month" [checked]="ExperienceForm.value.ExpItems[i].start_date === start_month ? true : null" ></app-c-forme-dropdown-single>
                <div class = "invalid-feedback d-inline" *ngIf="!this.ExperienceForm.value.ExpItems[i].start_date;else startDateVerification">
                  {{start_date_log}}
                </div>
                <div class = "invalid-feedback d-inline" #startDateVerification *ngIf="checkDateVerification(ExperienceForm.value.ExpItems[i].start_date , ExperienceForm.value.ExpItems[i].startyear)">
                  Date must be in the past
                </div>
              </div>
              <div class="col-md-6">
                <app-c-forme-dropdown-single label="" [(value)]="start_year" [options]="year" [checked]="ExperienceForm.value.ExpItems[i].startyear === start_year ? true : null" ></app-c-forme-dropdown-single>
                <div class = "invalid-feedback d-inline" *ngIf="!ExperienceForm.value.ExpItems[i].startyear">
                  {{start_date_year_log}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf = "ExperienceForm.value.ExpItems[i].currentwork==false ">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <app-c-forme-dropdown-single label="End date" [(value)]="end_month" [options]="month" [checked]="ExperienceForm.value.ExpItems[i].end_date === end_month ? true : null"></app-c-forme-dropdown-single>
                <div class = "invalid-feedback d-inline mb-1" *ngIf="!ExperienceForm.value.ExpItems[i].end_date  && ExperienceForm.value.ExpItems[i].currentwork === false;else endDateVerification">
                  {{end_date_log}}
                </div>

                <div class = "invalid-feedback d-inline mb-1" #endDateVerification *ngIf="button_status=== 'submit' && checkDateVerification(ExperienceForm.value.ExpItems[i].end_date , ExperienceForm.value.ExpItems[i].endyear)">
                  Date must be in the past
                </div>
              </div>
              <div class="col-md-6">
                <app-c-forme-dropdown-single label="" [(value)]="end_year" [options]="year" [checked]="ExperienceForm.value.ExpItems[i].endyear === end_year ? true : null" ></app-c-forme-dropdown-single>
                <div class = "invalid-feedback d-inline mb-1" *ngIf="(!this.ExperienceForm.value.ExpItems[i].endyear  && this.ExperienceForm.value.ExpItems[i].currentwork ===false)">
                  {{end_date_year_log}}
                </div>
              </div>
            </div>
            
            <div class = "invalid-feedback d-inline ml-3" #compareDate *ngIf="button_status=== 'submit' &&  compareDates(this.ExperienceForm.value.ExpItems[i].start_date , this.ExperienceForm.value.ExpItems[i].startyear,this.ExperienceForm.value.ExpItems[i].end_date , this.ExperienceForm.value.ExpItems[i].endyear , this.ExperienceForm.value.ExpItems[i].currentwork)">
              {{dateValidation}}
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-2 p-4">
          <app-c-forme-checkbox [options]="current_work" [(value)]="currently-working"></app-c-forme-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-c-forme-text-area rows="5" [(value)]="description" placeholder="Primary Ethereum smart contract writer, reviewer and auditor. I researched the ..." label="Job description (optional)"></app-c-forme-text-area>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 ">
          <div class = "form-group text-right">
            <form (click)="deleteExpRow(i)">
              <L0-buttons-others buttonClass="btn-danger" alignmentClass="text-white" buttonType="submit" label="Remove"></L0-buttons-others>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 p-0">
      <div class = "form-group">
        <form (click)="addNewExpRow()">
          <L0-buttons-others buttonClass="btn-primary" alignmentClass="text-white" buttonType="submit" label="Add Position"></L0-buttons-others>
        </form>
        <!--<a (click)="addNewExpRow()" class = "btn btn-primary text-white"><i class="fa fa-plus"></i> Add Position</a>-->
      </div>
    </div>
  </div>
</div>
