<section class = "wob-bg-primary2 py-5 mt-5">
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-12">
        <button type = "button" data-toggle="modal" data-target="#whatHappensNextModal" class="btn btn-secondary float-right" >What happens next?</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <section class = "border rounded mt-3 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <img *ngIf="!imgPath" src = "assets/profile/profile-image.png" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "profile-img"/>
              <img *ngIf="imgPath" src = "{{imgPath}}" style="width: 120px;height: 120px;" class = "img-responsive border rounded-circle" alt = "profile-img"/>
              <div class="mt-3">
                <span><h2>{{company_name}}</h2></span>
                <span><pre>{{company_description}}</pre></span>
              </div>
            </div>
            <div class="col-md-5">
              <ul class="list-group list-group-flush float-right">
                <li class="list-group-item">
                  <span><i class="fas fa-building mr-2"></i></span>
                  <span><a [href]="company_website" target="_blank">{{company_website}}</a></span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-map-marker-alt mr-2"></i></span>
                  <span >Country: {{company_country}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-map-marker-alt mr-2"></i></span>
                  <span class = "li_txt">City: {{company_city}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-id-card mr-2"></i></span>
                  <span class = "li_txt">Postcode: {{company_postcode}}</span>
                </li>
                <li class="list-group-item">
                  <span><i class="fas fa-phone mr-2"></i></span>
                  <span class = "li_txt"> Phone: {{company_phone}}</span>
                </li>
              </ul>
            </div>
            <div class="col-md-1">
              <a class="float-right" (click)="internalRoute('edit_company_profile','about_you')">
                <i class="fas fa-edit" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-building" aria-hidden="true"></i>
                Company info
              </h2>
            </div>
            <div class="col-md-6">
              <a class="float-right" (click)="internalRoute('edit_company_profile','company_info')">
                <i class="fas fa-edit" aria-hidden="true"></i>
              </a>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>When was the company founded:</label>
                <p>
                  {{company_founded}}
                <p>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label>How is the company funded:</label>
                <p>
                  {{company_funded}}
                <p>
              </div>

            </div>
            <div class="col-md-6 ">
              <div class="form-group">
                <label>Number of employees:</label>
                <p>
                  {{no_of_employees}}
                <p>
              </div>
            </div>
          </div>
        </section>

        <section class = "border rounded mt-4 py-3 px-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-user icon" aria-hidden="true"></i>
                Company administration
              </h2>
            </div>
            <div class="col-md-6">
              <a class="float-right" (click)="internalRoute('edit_company_profile','information')">
                <i class="fas fa-edit" aria-hidden="true"></i>
              </a>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 mb-2">
              <div class="form-group">
                <p>
                  {{first_name}} {{last_name}}
                <p>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Job title:</label>
                <p>
                  {{job_title}}
                <p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email:</label>
                <p>
                  {{email}}
                <p>
              </div>
            </div>
          </div>
        </section>

        <section class = "bg-white border rounded mt-4 py-3 px-5" *ngIf = "saved_searche && saved_searche.length > 0">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <i class="fas fa-search" aria-hidden="true"></i>
                Saved searches
              </h2>
            </div>
            <div class="col-md-6">
              <a class="float-right" (click)="internalRoute('edit_company_profile','prefrences')">
                <i class="fas fa-edit" aria-hidden="true"></i>
              </a>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-md-12">
              <h4><i class="fas fa-envelope "></i> Notifications</h4>

            </div>
            <div class="col-md-12">
              {{when_receive_email_notitfications}}
            </div>
          </div>
          <hr class="bg-dark" />

          <div *ngFor="let searches of saved_searche; let i = index ">
          <div class="row">
            <div class="col-md-12">
              <h3 class="pt-2 mb-3"> Job search {{i+1}}: {{searches.name}}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h4 class="pt-2 "><i class="fas fa-user" aria-hidden="true"></i> Job requirements</h4>
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-md-6 mb-3" *ngIf="searches.job_type && searches.job_type.length > 0">
              <div class="form-group">
                <label>Type:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor= "let type of searches.job_type"> {{type}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="searches.position && searches.position.length > 0">
              <div class="form-group">
                <label>Role:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor= "let position of searches.position"> {{position}}</div>
                </div>

              </div>
            </div>

            <div class = "col-md-6 mb-3" *ngIf="searches.location  || searches.visa_needed === true " >
              <div class="form-group" *ngIf="searches.location && searches.location.length > 0">
                <label>Location:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor='let country of getLocation(searches.location)'>
                    <div *ngIf="country.name === 'Remote'">
                      <i class="fas fa-laptop"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>
                    <div *ngIf="country.type === 'city'">
                      <i class="fas fa-city"></i> {{country.name.charAt(0).toUpperCase()}}{{country.name.slice(1)}}
                    </div>

                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="searches.visa_needed && searches.visa_needed === true;">
                  <div class="form-group mt-3">
                    <p>Show candidates that require a work visa</p>

                  </div>

                </div>
            </div>

            <div class="col-md-6 mb-3" *ngIf="searches.blockchain && searches.blockchain.length >0">
              <div class="form-group">
                <label>Commercial blockchain experience:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor= "let blockchain of searches.blockchain">
                    <img class="mb-1 ml-1" src = "/assets/images/all_icons/{{blockchain}}.png" alt="{{blockchain}} Logo">
                    {{blockchain}}
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6 mb-3" *ngIf = "searches.skills && searches.skills.length > 0">
              <div class="form-group">
                <label>Skills:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor= "let lang of searches.skills"> {{lang}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3" *ngIf = "searches.residence_country && searches.residence_country.length > 0">
              <div class="form-group">
                <label>Residence country:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor= "let residence of searches.residence_country"> {{residence}}</div>
                </div>
              </div>
            </div>


            <div class="col-md-6 mb-3" *ngIf="searches.current_currency && searches.current_salary">
              <div class="form-group">
                <label>Salary:</label>
                <p>
                  {{searches.current_currency}} {{searches.current_salary}}
                <p>
              </div>
            </div>

            <div class="col-md-12 mb-3" *ngIf="searches.other_technologies">
              <div class="form-group">
                <label>Other requirements:</label>
                <p>
                  {{searches.other_technologies}}
                </p>
              </div>
            </div>

          </div>

          <div class="row" *ngIf="searches.order_preferences && searches.order_preferences.length > 0">
            <div class="col-md-12">
              <h4 class="pt-2 "><i class="fas fa-align-justify"></i> Job preferences</h4>
            </div>
            <div class="col-md-12 mt-3">
              <div class="form-group">
                <label>Commercial blockchain experience:</label>
                <div>
                  <div class="d-inline-block p-2 border rounded mr-1 mt-1" *ngFor= "let pref of searches.order_preferences"> {{pref}}</div>
                </div>
              </div>
            </div>
          </div>
            <hr *ngIf="i < (saved_searche.length - 1)" class="bg-dark"/>

          </div>

        </section>
      </div>
    </div>
  </div>

  <div class="modal fade" id="whatHappensNextModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h2 class="modal-title text-center mo">{{companyMsgTitle}}
          </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div [innerHTML]="companyMsgBody | safeHtml" *ngIf="companyMsgBody"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-mo btn-primary" data-dismiss="modal">Got it</button>
        </div>
      </div>
    </div>
  </div>
</section>
