<ng-container *ngIf="!company_description;else profile_section" >
	<div class="se-pre-con"></div>
</ng-container>

<ng-template #profile_section >
<section class = "wizard_page">

	<div class="container">
		<div class="row profile_group">
			<div class="col-md-12">
        <button type = "button" data-toggle="modal" data-target="#popModal" class = "btn_popup">What happens next?</button>

        <section class = "profile personal_info">

				 	<div class="col-md-6">
				 		<span class = "p_img" *ngIf="!imgPath">
				 			<img src = "assets/profile/profile-image.png" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<span class = "p_img" *ngIf="imgPath">
				 			<img src = "{{imgPath}}" class = "img-responsive" alt = "profile-img"/>
				 		</span>
				 		<!-- <span class = "p_img" *ngIf= "image_src">
				 			<img  [src]="(imgPath + image_src)" class = "img-responsive" alt = "profile-img"/>
				 		</span>-->
				 		<span class = "name">
				 		<h3 class="text-capitalize">{{company_name}}</h3>

				 		</span>

				 		<span class = "short_intro">
				 			<p>{{company_description}}</p>
				 		</span>

				 		<!--  <div class="btn-share fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
						<div class = "twitter-share-button">
						<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a></div>
						-->
				 	</div>

				 	<div class="col-md-6 side-info">

				 		<ul>


				 			<li>

					 				<span class = "list-icon span_bg"> <img src="assets/profile/download.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
					 				<span class = "li_txt"><a [href]="company_website" target="_blank">{{company_website}}</a></span>

				 			</li>

				 			<li>

				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
				 					<span class = "li_txt">Country : {{company_country}}</span>

				 			</li>

						    <li>

				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
				 					<span class = "li_txt">City : {{company_city}}</span>

				 			</li>

				 			<li>

				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-b.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
				 					<span class = "li_txt">Postcode : {{company_postcode}}</span>

				 			</li>

				 			<li>

				 					<span class = "list-icon span_bg"> <img src="assets/profile/download-c.png" alt="Fedaral Urdu University of Arts Science and Technology."> </span>
				 					<span class = "li_txt"> Phone : {{company_phone}}</span>

				 			</li>

				 		</ul>

				 	</div>
				 	<span class = "edit_profile_link">
				 		<a  (click)="internalRoute('edit_company_profile','information')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
				 </section>



				 <section class = "profile job_info">
					<h3>Company Info</h3>

				 	<!--<div class="col-md-6 info-area">
				 		<p>
							<strong>Position Type : </strong>
							<span>Full Time, Part Time .</span>
						</p>
				 	</div>-->


				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>When was the company founded: </strong>
							<span>{{company_founded}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>How is the company funded:</strong>
							<span>{{company_funded}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
      					<p>
							<strong>Number of employees: </strong>
							<span>{{no_of_employees}}</span>
						</p>

      				</div>


				 	<span class = "edit_profile_link">
				 		<a (click)="internalRoute('edit_company_profile','about_you')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>

				 </section>

				  <section class = "profile job_info">
					<h3>Company Administration</h3>

				 	<!--<div class="col-md-6 info-area">
				 		<p>
							<strong>Position Type : </strong>
							<span>Full Time, Part Time .</span>
						</p>
				 	</div>-->
					<div class="col-md-6 info-area">
				 		<p>

							<span class="alignment">{{first_name}} {{last_name}}</span>
						</p>
				 	</div>



				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>Title: </strong>
							<span>{{job_title}}</span>
						</p>
				 	</div>
				 	<div class="col-md-6 info-area">
				 		<p>
							<strong>Email: </strong>
							<span>{{email}}</span>
						</p>
				 	</div>






				 	<span class = "edit_profile_link">
				 		<a (click)="internalRoute('edit_company_profile','information')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>

				 </section>

        <section class = "profile job_info" *ngIf = "saved_searche && saved_searche.length > 0">
          <h3>Candidate preferences</h3>

          <div class="info-area pro_br-btm">

            <div class = "col-md-4" >
              <strong>Where are you hiring:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list" >
                <li *ngFor = "let location of saved_searche[0].location">{{location}}</li>

              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm">

            <div class = "col-md-4" >
              <strong>What position type are you looking for:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li  *ngFor = "let position of saved_searche[0].job_type">{{position}}</li>
              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm">

            <div class = "col-md-4" >
              <strong>What role are you looking for:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list" >
                <li *ngFor = "let position of saved_searche[0].position " >{{position}}</li>
              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm">

            <div class = "col-md-4" >
              <strong>Available annual salary and currency:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li>{{saved_searche[0].current_currency}} {{saved_searche[0].current_salary}}</li>
              </ul>
            </div>

          </div>



          <div class="info-area pro_br-btm">

            <div class = "col-md-4" >
              <strong>When do you want to start hire working:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li>{{saved_searche[0].availability_day}}</li>
              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm" *ngIf="saved_searche[0].blockchain && saved_searche[0].blockchain.length >0">

            <div class = "col-md-4" >
              <strong>What blockchain technology experience do they need:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li *ngFor = "let blockchain of saved_searche[0].blockchain">{{blockchain}}</li>

              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm" *ngIf = "saved_searche[0].skills && saved_searche[0].skills.length > 0">

            <div class = "col-md-4" >
              <strong>What programming languages do you want them to have experience in:</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li *ngFor = "let lang of saved_searche[0].skills">{{lang}}</li>
                <li>Ethereum</li>
                <li>Php</li>
                <li>My SQL</li>
                <li>Java</li>
              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm" *ngIf="saved_searche[0].other_technologies">

            <div class = "col-md-4" >
              <strong>Other technologies or requirements?</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li>{{saved_searche[0].other_technologies}}</li>
              </ul>
            </div>

          </div>

          <div class="info-area pro_br-btm">

            <div class = "col-md-4" >
              <strong>When would you like to receive emails with candidates that match your search?</strong>
            </div>
            <div class = "col-md-8">
              <ul class = "pro_list">
                <li>{{saved_searche[0].when_receive_email_notitfications}}</li>
              </ul>
            </div>

          </div>

          <span class = "edit_profile_link">
				 		<a (click)="internalRoute('edit_company_profile','prefrences')">
				 			<i class="fa fa-pencil" aria-hidden="true"></i>
				 		</a>
				 	</span>
        </section>

				 </div>
				 </div>
				 </div>
				 </section>

  <!-- Modal -->
  <div id="popModal_b" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-pref">

      <!-- Modal content-->
      <div class="modal-content costom_model">
        <div class="modal-header mo-head">
          <h3 class="modal-title text-center mo">Your candidate search preferences
          </h3>
        </div>
        <form class="login_form custom_form" [formGroup]="preferncesForm" (ngSubmit)="candidate_prefernces()" novalidate>

          <div class="modal-body mo_body">
            <div class = "mo_content" id = "style-6">

              <div class="login_form pre_form">

                <div class="form-group col-md-6">
                  <label><p class="label-p">Where are you hiring?</p></label>

                  <select multiple id="locations" formControlName = "location" title="(select multiple)" class="selectpicker" required>
                    <option class='option' *ngFor='let location of locations;let i = index'  [selected] = "locationSelectedOptions(location.name)"  [value]="location.name">{{location.name}}</option>

                  </select>
                  <div class = "form_error" *ngIf="!preferncesForm.value.location || preferncesForm.value.location.length === 0">
                    <span class = "error">{{location_log}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label><p class="label-p">What position types are you looking for?</p></label>
                  <select multiple formControlName="job_type"  title="(select multiple)" class="selectpicker" required>
                    <option class='option' *ngFor='let job_type of job_types' [selected] = "jobTypesSelectedOptions(job_type)" [value]="job_type">{{job_type}}</option>

                  </select>
                  <div class = "form_error" *ngIf="!preferncesForm.value.job_type || preferncesForm.value.job_type.length === 0 ">
                    <span class = "error">{{job_type_log}}</span>
                  </div>
                </div>



                <div class="form-group col-md-6">
                  <label><p class="label-p">What roles are you looking for?</p></label>
                  <select multiple formControlName="position" title="(select multiple)" class="selectpicker">
                    <option class='option' *ngFor='let role of roles' [selected] = "positionSelectedOptions(role.value)"  [value]="role.value">{{role.name}}</option>

                  </select>
                  <div class = "form_error" *ngIf="!preferncesForm.value.position || preferncesForm.value.position.length === 0">
                    <span class = "error">{{position_log}}</span>
                  </div>
                </div>



                <div class="form-group col-md-3 pre_col">
                  <label><p class="label-p">Available annual salary and currency?</p></label>
                  <input type="text" formControlName="current_salary"  [value] = "preferncesForm.value.current_salary"  class="form-control" id="" placeholder="100000">
                  <div class = "form_error" *ngIf="!preferncesForm.value.current_salary">
                    <span class = "error">{{current_salary_log}}</span>
                  </div>
                </div>

                <div class="form-group col-md-3 pre_sle_c">
                  <label><p class="label-p"></p></label>
                  <select title ="(select currency)" formControlName = "current_currency" id = "currencySelected" class="selectpicker">

                    <option class='option' *ngFor='let base_currency of currency' [attr.selected] = "preferncesForm.value.current_currency === base_currency ? true : null " >{{base_currency}}</option>

                  </select>
                  <div class = "form_error" *ngIf="!preferncesForm.value.current_currency">
                    <span class = "error">{{current_currency_log}}</span>
                  </div>
                </div>


                <div class="form-group col-md-6">
                  <label><p class="label-p">When do you want hires to start working?</p></label>

                  <select title="(select one)" formControlName = "availability_day" class="selectpicker">
                    <option *ngFor='let avail of availability'  [attr.selected] = "preferncesForm.value.availability_day === avail.name ? true : null " >{{avail.name}}</option>

                  </select>

                  <div class = "form_error" *ngIf="!avail_day">
                    <span class = "error">{{availability_day_log}}</span>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <label><p class="label-p">What blockchain technology experience do they need? (optional)</p></label>
                  <select multiple formControlName="blockchain" title="(select multiple)" class="selectpicker">
                    <option class='option' *ngFor='let blockchain of blockchain' [selected] = "blockchainSelectedOptions(blockchain.name)"  [value]="blockchain.value" >{{blockchain.name}}</option>

                  </select>

                </div>



                <div class="form-group col-md-6">
                  <label><p class="label-p">What programming languages do you want them to have experience in?(optional)</p></label>
                  <select multiple formControlName="skills" title="(select multiple)" class="selectpicker">
                    <option class='option' *ngFor='let language of language_opt' [selected] = "languageSelectedOptions(language.name)"  [value]="language.value" >{{language.name}}</option>

                  </select>

                </div>

                <div class="form-group col-md-6 top_20">
                  <label><p class="label-p">Other technologies or requirements? (optional)</p></label>
                  <input type="text" formControlName="other_technologies" [value] ="preferncesForm.value.other_technologies"  class="form-control" id="" placeholder="(eg MongoDB, AWS)">
                </div>

                <div class="form-group col-md-12">
                  <label><p class="label-p">When would you like to receive emails with candidates that match your search?</p></label>
                  <div class="radio-toolbar controls__group">
                    <div *ngFor="let receive of email_notificaiton; let i_ind =index">

                      <input type="radio" formControlName="when_receive_email_notitfications" [checked] = "receive === preferncesForm.value.when_receive_email_notitfications" value = {{receive}} id="radio - {{receive}}" name="when_receive_email_notitfications" >
                      <label class="radio-inline d-flex justify-content-center align-items-center" for="radio - {{receive}}">{{receive}}</label>

                    </div>

                  </div>
                  <div class = "form_error" *ngIf="!preferncesForm.value.when_receive_email_notitfications">
                    <span class = "error">{{email_notification_log}}</span>
                  </div>
                </div>


              </div>
            </div>

          </div>
          <div class="modal-footer mo_footer">
            <button type="submit" class="btn btn-mo model-btn">Done</button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="popModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content costom_model">
        <div class="modal-header mo-head">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h3 class="modal-title text-center mo">{{companyMsgTitle}}
          </h3>
        </div>
        <div class="modal-body mo_body">
          <div class = "mo_content" id = "style-6" [innerHTML]="companyMsgBody | safeHtml" *ngIf="companyMsgBody"></div>
        </div>
        <div class="modal-footer mo_footer">
          <button type="reset" class="btn btn-mo model-btn" data-dismiss="modal">Got it</button>
        </div>
      </div>

    </div>
  </div>
  <!-- end model -->
				 <br/><br/><br/>

				 </ng-template>
