<!--dashboard section start here-->
<section>
		<div class = "_3T5Xh">
			<div class = "row bf36U">
				<div class = "col-sm-6  _2R6SC">
					<a routerLink="/admin-company-search" class = "_1sA3L">
						<div class = "h-icon">
							<span class="glyphicon glyphicon-tasks"></span>
						</div>
						<div class = "voffset12">
							Company Search
						</div>
					</a>
				</div>
				<div class = "col-sm-6  _2R6SC">
					<a routerLink="/admin-candidate-search" class = "_1sA3L">
						<div class = "h-icon">
							<span class="glyphicon glyphicon-user"></span>
						</div>
						<div class = "voffset12">
							Candidate Search
						</div>
					</a>
				</div>


				<div class = "col-sm-6  _2R6SC">
					<a href="add_editor.php" class = "_1sA3L">
						<div class = "h-icon">
							<span class="glyphicon glyphicon-eye-close"></span>
						</div>
						<div class = "voffset12">
							Privacy Page
						</div>
					</a>
				</div>
				<div class = "col-sm-6  _2R6SC">
					<a href="add_editor.php" class = "_1sA3L">
						<div class = "h-icon">
							<span class="glyphicon glyphicon-file"></span>
						</div>
						<div class = "voffset12">
							FAQ Page
						</div>
					</a>
				</div>

				<div class = "col-sm-6  _2R6SC">
					<a href="add_editor.php" class = "_1sA3L">
						<div class = "h-icon">
							<span class="glyphicon glyphicon-list-alt"></span>
						</div>
						<div class = "voffset12">
							Terms & Conditions
						</div>
					</a>
				</div>
				<div class = "col-sm-6  _2R6SC">
					<a href="#" class = "_1sA3L">
						<div class = "h-icon">
							<span class="glyphicon glyphicon-home"></span>
						</div>
						<div class = "voffset12">
							Account
						</div>
					</a>
				</div>
					
			</div>
		</div>
</section>

<!--dashboard section end here-->
