<!--Edit profile page start here-->

<section class = "wob-bg-primary2 py-5 mt-5">
  <div class="container pt-2">
    <div class="row">
      <form (submit)="candidate_profile(profileForm)" #profileForm = ngForm>
        <div class="col-md-12">
          <!--about us form-->
          <section class="border rounded bg-white py-3 px-5" id="about_you">
            <div class="row">
              <div class="col-md-12">
                <h2> <i class="fas fa-user"></i> About</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" disabled name="email" [(ngModel)]="info.email" required  name="email" [(ngModel)]="info.email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" disabled name="first_name" [(ngModel)]="info.first_name" required placeholder="John"  name="first_name" [(ngModel)]="info.first_name">
                  <div class = "invalid-feedback d-inline" *ngIf="!info.first_name">
                    {{first_name_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" disabled name="last_name" [(ngModel)]="info.last_name" required placeholder="Smith"  name="last_name" [(ngModel)]="info.last_name">
                  <div class = "invalid-feedback d-inline" *ngIf="!info.last_name">
                    {{last_name_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Contact number</label>
                  <input type="tel" class="form-control" disabled required placeholder="(+1) 123 456 7890" name="contact_number" [(ngModel)]="info.contact_number">
                  <div class = "invalid-feedback d-inline" *ngIf="!info.contact_number">
                    {{contact_name_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class = "row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Stackexchange account URL (optional)</label>
                  <input type="text" #stackaccount="ngModel" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" class="form-control" name="exchange_account" [(ngModel)]="info.exchange_account" placeholder="https://stackexchange.com/users/12345/username">
                  <div class = "invalid-feedback d-inline" *ngIf="info.exchange_account && stackaccount.errors">
                    Enter url in proper format
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Github account URL (optional)</label>
                  <input type="text" #gitaccount="ngModel" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$" class="form-control" name="github_account" [(ngModel)]="info.github_account" placeholder="https://github.com/username">
                  <div class = "invalid-feedback d-inline" *ngIf="gitaccount.errors">
                    Enter url in proper format
                  </div>
                </div>
              </div>
            </div>

            <div class = "row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nationality</label>
                  <select class="form-control selectpicker" title="Please choose nationality" required name="nationality" [(ngModel)]='info.nationality' required>
                    <option *ngFor='let options of nationality' [value]="options" [attr.selected]="options === info.nationality ? true : null ">{{options}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="info.nationality">
                    {{nationality_log}}
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" >
                  <label>Profile picture</label>
                  <input type="file" disabled class="form-control-file"  id="aa" accept="image/*" name="image" [(ngModel)]="info.image">
                  <label>
                    <span *ngIf="img_src" >{{img_src}}</span>
                  </label>
                  <div class = "invalid-feedback d-inline" *ngIf="image_log">
                    {{image_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Bio</label>
                  <ul>
                    <li> 2-5 sentences </li>
                    <li> Quick overview of your current role and responsibilities and your principal development stack and skills </li>
                  </ul>
                  <textarea class="form-control" rows="5" id="comment" maxlength="2000" placeholder="Senior java and nodejs developer with 10 years development experience. Worked in the healthcare and finance industries. Active Ethereum smart contract developer." #intro name="intro" required  [(ngModel)]="Intro" ></textarea>
                  <div class = "invalid-feedback d-inline" *ngIf="!Intro">
                    {{intro_log}}
                  </div>
                </div>
              </div>
            </div>

          </section>
          <!--about us form End-->

          <section class="border rounded bg-white mt-4 py-3 px-5" id="residence">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-map-marker-alt"></i> Residence/base location</h2>
              </div>
            </div>
            <div class = "row">
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <p>Where do you currently live, or where are you most frequently based?</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Country</label>
                  <select title="Please choose base country" class="form-control selectpicker" required name="base_country" [(ngModel)]="info.base_country">
                    <option *ngFor='let options of countries'  [value]="options" [attr.selected]="options === info.base_country ? true : null ">{{options}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="info.base_country">
                    {{base_country_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" required placeholder="London" name="city" #city required [(ngModel)]="info.city" >
                  <div class = "invalid-feedback d-inline" *ngIf="!info.city">
                    {{city_log}}
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!--job information form start here-->
          <section class="border rounded bg-white mt-4 py-3 px-5" id="job_candidate">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-briefcase"></i>Tell us more about your dream job</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Where would you like to work? (select up to 10)</label>
                  <div>
                    <datalist id="countryList" *ngIf="cities && cities.length > 0">
                      <select class="form-control">
                        <option *ngFor = "let country of cities" [attr.data-value]="country._id" value="{{country.name}}" text = "{{countriesModel}}">
                        </option>
                      </select>
                    </datalist>
                    <input type="text" list="countryList" autocomplete="off" placeholder="Remote, Canada, London..." class="form-control w-50" [(ngModel)]="countriesModel" name="country" (input)="suggestedOptions()" (change)="selectedValueFunction($event)">
                    <div class="invalid-feedback d-inline" *ngIf="error;else emptyInput">
                      {{error}}
                    </div>
                    <div class="invalid-feedback d-inline" #emptyInput *ngIf="selectedValueArray.length <= 0">
                      {{country_input_log}}
                    </div>

                    <div *ngIf="selectedValueArray.length > 0">
                      <div class="row">
                        <div  *ngFor="let value of selectedValueArray; let i = index" class="col-md-6 p-2 mt-2">
                          <div class="border p-3 ml-2">
                            <p><strong >{{value.name}}</strong></p>
                            <div class="form-check mt-3">
                              <label class="form-check-label" for="check{{i}}">
                                <input class="form-check-input" placeholder="Remote, Canada, London..." type="checkbox" id="check{{i}}" value="{{value.name}}" [checked]="value.visa_needed"   name="visa_needed{{i}}" (change)="updateCitiesOptions($event)" > Work visa required
                              </label>
                            </div>
                            <a (click)="deleteLocationRow(i)" class = "btn btn-danger text-white mt-3">Remove</a>

                          </div>

                        </div>
                      </div>
                      <input type="text" class="form-control d-none" [(ngModel)]='selectedLocations' name="selectedlocations">
                      <div class = "invalid-feedback d-inline"  *ngIf="!selectedLocations || checkValidation(selectedLocations) <= 0">
                        {{country_log}}
                      </div>
                    </div>

                  </div>
                  <!--<div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-3 mb-3" *ngFor="let option of options">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="{{option.value}}" [checked]="option.checked" (change)="updateCheckedOptions($event)" />
                          {{option.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]='selectedcountry' name="country" style="display: none;">
                  <div class = "invalid-feedback d-inline" *ngIf="selectedcountry.length<=0">
                    {{country_log}}
                  </div>-->
                </div>
              </div>


            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>What role are you looking for?</label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-3 mb-3" *ngFor="let position_option of dropdown_options">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" [checked]="position_option.checked" value="{{position_option.value}}" (change)="onJobSelected($event)" id="{{position_option}}">
                          {{position_option.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]='jobselected' name="roles" style="display: none;">
                  <div class = "invalid-feedback d-inline" *ngIf="jobselected.length<=0">
                    {{roles_log}}
                  </div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Expected annual salary</label>
                  <input type="text" class="form-control" #expect_salary="ngModel" pattern="^[0-9]*$" required name="expected_salary" placeholder="10000" [(ngModel)]="expected_salaryyy">
                  <div class = "invalid-feedback d-inline">
                    <span *ngIf="!expected_salaryyy; else expected_validation">{{salary_log}}</span>
                    <span #expected_validation  *ngIf="expect_salary.errors && expected_salaryyy">  Yearly expected base salary should be a number. </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="invisible">Expected annual salary currency</label>
                  <select [(ngModel)]="base_currency" class="selectpicker" title="Currency" id="currency1" required name="base_currency" >
                    <option *ngFor='let baseCurrency of currency' [attr.selected]="baseCurrency === base_currency ? true : null" [value]="baseCurrency">{{baseCurrency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline"  *ngIf="!base_currency">
                    {{currency_log}}
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Current annual salary (optional)</label>
                  <input type="text" class="form-control" #current_salary="ngModel" pattern="^[0-9]*$" placeholder="10000" #salary_field name="salary" [(ngModel)]="salary">
                  <small id="emailHelp" class="form-text text-muted">
                    This information is never shown to companies. It is used by us to help us help you set your expected salary.
                  </small>
                  <div class = "invalid-feedback d-inline" *ngIf="(!salary && current_currency) ">

                    {{current_sal_log}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="invisible">Current annual salary currency</label>
                  <select [(ngModel)]="current_currency" title="Currency" class="form-control selectpicker" name="current_currency" >
                    <option value="-1">Currency</option>
                    <option *ngFor='let currentCurrency of currency'  [value]="currentCurrency" [attr.selected]="current_currency === currentCurrency ? true : null">{{currentCurrency}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="(salary && !current_currency) || (salary && current_currency === '-1') ">
                    {{current_currency_logg}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Which area are you interested in?</label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-4 mb-3" *ngFor='let position_option of area_interested'>
                        <label class="form-check-label" >
                          <input type="checkbox" class="form-check-input"  [checked]="position_option.checked" value="{{position_option.value}}" (change)="onAreaSelected($event)" required="" />
                          {{position_option.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]='selectedValue' name="interest_areas" style="display: none;">
                  <div class = "invalid-feedback d-inline" *ngIf="selectedValue.length <=0">
                    {{interest_log}}
                  </div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Your availability</label>
                  <select title="Now" [(ngModel)]="availability_day" class="form-control selectpicker" required name="availability_day" >
                    <option *ngFor='let start_month of month' [value]="start_month" [attr.selected]="start_month === availability_day">{{start_month}}</option>
                  </select>
                  <div class = "invalid-feedback d-inline" *ngIf="!availability_day">
                    {{avail_log}}
                  </div>
                </div>


              </div>
            </div>
          </section>
          <!--job information form end here-->

          <!--resume job form start here-->
          <section class="border rounded bg-white mt-4 py-3 px-5" id="resume_candidate">
            <div class="row">
              <div class="col-md-6">
                <h2><i class="fab fa-bitcoin"></i> Blockchain experience</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Why do you want to work on blockchain?</label>
                  <ul>
                    <li> Let companies know what excites you about this space. Perhaps it is it the innovation, the disruption, the bleeding edge tech, or maybe it's the developer community or values that the people in it have has with trust and transparency? </li>
                    <li> This is the first field that a company sees! </li>
                  </ul>
                  <input type="text" class="form-control" required placeholder="I want to work on blockchain because ..."  #whywork name="why_work" [(ngModel)]="why_work">
                  <div class = "invalid-feedback d-inline" *ngIf="!why_work">
                    {{why_work_log}}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>Blockchain technologies</h4>
                <div class="form-group">
                  <label>Platforms commercially worked with and developed on</label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-3 mb-3" *ngFor="let option of commercially">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input"  value="{{option.value}}"  [checked]="option.checked"              required (change)="oncommerciallyOptions(option)"   />
                          <img class="mb-1 mr-1" src = "/assets/images/all_icons/{{option.name}}.png" alt="{{option.name}} Logo">
                          {{option.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" [(ngModel)]='commercially_worked' name="commercially_worked" >

                </div>
              </div>

            </div>
            <div class="row" *ngIf="commercially_worked?.length > 0">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Years of experience</label>
                </div>
              </div>
              <div class = "col-md-12" *ngFor="let option of commercially_worked; let i = index ">
                <p>{{option.value}}</p>

                <div class = "form-group">
                  <div class="form-check form-check-inline">
                    <div *ngFor="let exp of exp_year; let i_ind =index">
                      <input type="radio" class="d-none" name="radiogroup- {{ option.value}}" id="rg{{option.value}}{{i_ind}}"  value="{{exp.value}}" (change)="onComExpYearOptions($event , option.value)" [checked]=" expYear_db[i] === exp.value && db_valye[i] === option.value" >
                      <label  for="rg{{option.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                        {{exp.name}}
                      </label>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" name="commercial_platforms" [(ngModel)]='commercial_expYear' >
                </div>
              </div>
              <div class = "invalid-feedback d-inline ml-3" *ngIf="commercially_worked.length !== commercial_expYear.length">
                {{commercial_log}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Platforms commercially designed and developed smart contracts on </label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-3 mb-3" *ngFor="let option of designed">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked" (change)="onPlatformOptions(option)" required  />
                          <img class="mb-1 mr-1" src = "/assets/images/all_icons/{{option.name}}.png" alt="{{option.name}} Logo">
                          {{option.value}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" [(ngModel)]='platforms_designed' name="platforms_designed" >

                </div>
              </div>
            </div>
            <div class="row" *ngIf="platforms_designed?.length > 0">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Years of experience</label>
                </div>
              </div>
              <div class = "col-md-12" *ngFor="let exp_value of platforms_designed;let i_index = index">
                <p>{{exp_value.value}}</p>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <div *ngFor="let exp of exp_year; let i_ind =index">
                      <input type="radio" class="d-none" name="designedradiogroup- {{ exp_value.value}}" id="designed{{exp_value.value}}{{i_ind}}"  value="{{exp.value}}" (change)="onPlatformYearOptions($event , exp_value.value)" [checked]=" designed_expYear_db[i_index] === exp.value && plat_db_valye[i_index] === exp_value.value" >
                      <label  for="designed{{exp_value.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                        {{exp.name}}
                      </label>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" name="smart_contract_platforms" [(ngModel)]='platforms'>
                </div>
              </div>
              <div class = "invalid-feedback d-inline ml-3" *ngIf="platforms_designed.length !== platforms.length">
                {{platform_log}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Platforms experimented with </label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-3 mb-3" *ngFor="let option of experimented">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked" (change)="onExpOptions($event)" required  />
                          <img class="mb-1 mr-1" src = "/assets/images/all_icons/{{option.name}}.png" alt="{{option.value}} Logo">
                          {{option.value}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" [(ngModel)]='experimented_platform' name="experimented_platforms">

                </div>
              </div>
            </div>

            <!-- commercial skills -->
            <div class="row">
              <div class="col-md-12">
                <h4>Blockchain skills</h4>
                <div class="form-group">
                  <label>Commercial experience in these areas (optional) </label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-4 mb-3" *ngFor="let option of otherSkills">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked"  (change)="oncommercialSkillsOptions(option)"   />
                          {{option.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" [(ngModel)]='commercialSkills' name="commercial_skills_name" >

                </div>
              </div>
            </div>
            <div class="row" *ngIf="commercialSkills?.length > 0">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Years of experience</label>
                </div>
              </div>
              <div class = "col-md-12" *ngFor="let option of commercialSkills; let i = index ">
                <p>{{option.value}}</p>
                <div class = "form-group">
                  <div class="form-check form-check-inline">
                    <div *ngFor="let exp of exp_year; let i_ind =index">
                      <input type="radio" class="d-none" name="commercialradiogroup- {{ option.value}}" id="skill{{option.value}}{{i_ind}}" value="{{exp.value}}" (change)="onComSkillExpYearOptions($event , option.value)" [checked]=" skill_expYear_db[i] === exp.value && skillDbArray[i] === option.value">
                      <label  for="skill{{option.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                        {{exp.name}}
                      </label>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" name="commercial_skills" [(ngModel)]='commercialSkillsExperienceYear'>
                </div>
              </div>
              <div class = "invalid-feedback d-inline ml-3" *ngIf="commercialSkills.length !== commercialSkillsExperienceYear.length">
                {{commercial_skill_log}}
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Formal university education in these areas (optional)"</label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-4 mb-3" *ngFor="let option of otherFormalSkills">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked"  (change)="onFormalOptions(option)"/>
                          {{option.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" [(ngModel)]='formal_skills_exp' name="formal_skills_exp">

                </div>
              </div>
            </div>
            <div class="row" *ngIf="formal_skills_exp?.length > 0">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Years of experience</label>
                </div>
              </div>
              <div class = "col-md-12" *ngFor="let option of formal_skills_exp; let i = index ">
                <p>{{option.value}}</p>
                <div class = "form-group">
                  <div class="form-check form-check-inline">
                    <div *ngFor="let exp of exp_year; let i_ind =index">
                      <input type="radio" class="d-none" name="formalradiogroup- {{ option.value}}" id="formal{{option.value}}{{i_ind}}" value="{{exp.value}}" (change)="onFormalExpYearOptions($event , option.value)" [checked]="formal_expYear_db[i] === exp.value && formalDbArray[i] === option.value" >
                      <label  for="formal{{option.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                        {{exp.name}}
                      </label>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" name="formal_skills" [(ngModel)]='formal_skills' >
                </div>
              </div>
              <div class = "invalid-feedback d-inline ml-3" *ngIf="formal_skills_exp.length !== formal_skills.length">
                {{formal_skills_log}}
              </div>
            </div>
          </section>
          <!--resume job form end here-->

          <!--experience form start here-->
          <section class="border rounded bg-white mt-4 py-3 px-5" id="experience_candidate">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-briefcase"></i> Experience</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class = "form-group">
                  <label>Languages</label>
                  <div class="checkbox">
                    <div class="row m-0">
                      <div class="form-check col-md-3 mb-3" *ngFor="let option of language_opt">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" value="{{option.value}}"  [checked]="option.checked"  (change)="onLangExpOptions(option)" required  />
                          {{option.name}}
                        </label>
                      </div>
                    </div>
                    <div class = "invalid-feedback d-inline" *ngIf="LangexpYear.length !==  language.length ">
                      {{lang_log}}
                    </div>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]='language' name="language" style="display: none;">

                </div>
              </div>

            </div>
            <div class="row" *ngIf="language?.length > 0">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Years of experience</label>
                </div>
              </div>
              <div class = "col-md-12" *ngFor="let lang_value of language; let i = index ">
                <div class = "form-group">
                  <p>{{lang_value.value}}</p>
                  <div class="form-check form-check-inline">
                    <div *ngFor="let exp of exp_year; let i_ind =index">
                      <input type="radio" class="d-none" name="radiogrop- {{ lang_value.value}}" [checked]="lang_expYear_db[i] === exp.value && lang_db_valye[i] === lang_value.value" value="{{exp.value}}" (change)="onLangExpYearOptions($event , lang_value.value)" id= "radiogrop{{lang_value.value}}{{i_ind}}" >
                      <label  for="radiogrop{{lang_value.value}}{{i_ind}}" class="border py-2 px-lg-5 px-2">
                        {{exp.name}}
                      </label>
                    </div>
                  </div>
                  <input type="text" class="form-control d-none" name="language_experience_year" [(ngModel)]='LangexpYear' >
                </div>
              </div>
              <div class = "invalid-feedback d-inline ml-3" *ngIf="LangexpYear.length !== language.length ">
                {{exp_lang_log}}
              </div>
            </div>
          </section>
          <!--experience form end here-->

          <section class="border rounded bg-white mt-4 py-3 px-5" id="work_candidate">
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fas fa-wrench"></i> Work history</h2>
                <small id="emailHelp12" class="form-text text-muted">Your profile will be hidden from all companies you have listed in your work history.</small>

              </div>
            </div>

            <div class = "work-form mt-4" [formGroup]="ExperienceForm">
              <div formArrayName="ExpItems">
                <div *ngFor="let itemrow of DynamicWorkFormControls.controls ; let i=index" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label> Company </label>
                        <input type="text" id="" placeholder=" Google Inc." formControlName="companyname" class="form-control" #company_field name="company">
                        <div class = "invalid-feedback d-inline" *ngIf="!this.ExperienceForm.value.ExpItems[i].companyname">
                          {{company_log}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4" >
                      <div class="form-group">
                        <label>Position</label>
                        <input type="text" placeholder="Full stack developer" formControlName="positionname" class="form-control" #position_field name="position" required  >
                        <div class = "invalid-feedback d-inline" *ngIf="!this.ExperienceForm.value.ExpItems[i].positionname">
                          {{position_log}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Location</label>
                        <input type="text" placeholder="London" formControlName="locationname" class="form-control" #location_field name="location" required  >
                        <div class = "invalid-feedback d-inline" *ngIf="!this.ExperienceForm.value.ExpItems[i].locationname">
                          {{location_log}}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group mb-0">
                            <label>Start date</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <select title="(select one)" formControlName="start_date" class="selectpicker form-control xs_input" id="month" required name="roles" (change)="work_start_data($event)">
                              <option  *ngFor='let start_month of calen_month' [value]="start_month" [attr.selected]="ExperienceForm.value.ExpItems[i].start_date === start_month ? true : null">{{start_month}}</option>
                            </select>
                            <div class = "invalid-feedback d-inline" *ngIf="!this.ExperienceForm.value.ExpItems[i].start_date;else startDateVerification">
                              {{start_date_log}}
                            </div>
                            <div class = "invalid-feedback d-inline" #startDateVerification *ngIf="submit === 'click' && checkDateVerification(this.ExperienceForm.value.ExpItems[i].start_date , this.ExperienceForm.value.ExpItems[i].startyear)">
                              Date must be in the past
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <select title="(select one)" formControlName="startyear" class="selectpicker form-control xs_input" (change)="work_start_year($event)" >
                              <option  *ngFor='let start_year of year'  [value]="start_year" [attr.selected]="ExperienceForm.value.ExpItems[i].startyear === start_year ? true : null">{{start_year}}</option>
                            </select>
                            <div class = "invalid-feedback d-inline" *ngIf="!this.ExperienceForm.value.ExpItems[i].startyear">
                              {{start_date_year_log}}
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4" *ngIf = "ExperienceForm.value.ExpItems[i].currentwork==false ">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group mb-0">
                            <label>End date</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-0">
                            <select title = "(select one)" formControlName="end_date" class="selectpicker form-control xs_input"  required name="roles"  required="" (change) = "endDateYear()"  >
                              <option  *ngFor='let end_month of calen_month'  [value]="end_month" [attr.selected]="ExperienceForm.value.ExpItems[i].end_date === end_month ? true : null">{{end_month}}</option>
                            </select>
                            <div class = "invalid-feedback d-inline mb-1" *ngIf="!this.ExperienceForm.value.ExpItems[i].end_date  && this.ExperienceForm.value.ExpItems[i].currentwork === false; else endDateVerification ">
                              {{end_date_log}}
                            </div>
                            <div class = "invalid-feedback d-inline mb-1" #endDateVerification *ngIf="submit === 'click' && checkDateVerification(this.ExperienceForm.value.ExpItems[i].end_date , this.ExperienceForm.value.ExpItems[i].endyear)">
                              Date must be in the past
                            </div>

                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group mb-0">
                            <select title="(select one)" formControlName="endyear" class="selectpicker form-control xs_input" required name="roles" required=""  (change) = "endDateYear()" >
                              <option  *ngFor='let end_year of year'  [value]="end_year" [attr.selected]="ExperienceForm.value.ExpItems[i].endyear === end_year ? true : null" >{{end_year}}</option>
                            </select>
                            <div class = "invalid-feedback d-inline mb-1" *ngIf="!this.ExperienceForm.value.ExpItems[i].endyear  && this.ExperienceForm.value.ExpItems[i].currentwork === false">
                              {{end_date_year_log}}
                            </div>
                          </div>
                        </div>
                        <div class = "invalid-feedback d-inline ml-3" #compareDate *ngIf="submit === 'click' &&  compareDates(this.ExperienceForm.value.ExpItems[i].start_date , this.ExperienceForm.value.ExpItems[i].startyear,this.ExperienceForm.value.ExpItems[i].end_date , this.ExperienceForm.value.ExpItems[i].endyear , this.ExperienceForm.value.ExpItems[i].currentwork)">
                          {{dateValidation}}
                        </div>
                      </div>

                    </div>
                    <div class="col-md-4 mt-2 p-4">
                      <div class="form-group">
                        <div class="checkbox">
                          <div class="row ">
                            <div class="form-check" *ngFor="let current of current_work">
                              <label class="form-check-label">
                                <input type="checkbox" (change)="currentWork()"  class="form-check-input" formControlName="currentwork"  [checked]="current_work_check[i] "  value="current.value" />
                                {{current.name}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Job description (optional)</label>
                        <textarea rows="5" id="comment13" maxlength="2000" placeholder="Primary Ethereum smart contract writer, reviewer and auditor. I researched the ..." formControlName="description" class="form-control" #desc_field name="Description" required></textarea>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class = "form-group text-right">
                        <a (click)="deleteExpRow(i)" class = "btn btn-danger text-white">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 p-0">
                  <div class = "form-group">
                    <a (click)="addNewExpRow()" class = "btn btn-primary text-white"><i class="fa fa-plus"></i> Add Position</a>

                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="border rounded bg-white mt-4 py-3 px-5 mb-5" id="education_candidate">
            <div class="row">
              <div class="col-md-6">
                <h2><i class="fas fa-university"></i> Education</h2>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <h4></h4>
              </div>
            </div>
            <div class = "work-form" [formGroup]="EducationForm">
              <div formArrayName="itemRows">
                <div *ngFor="let itemrow of DynamicEduFormControls.controls ; let i=index" [formGroupName]="i">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>University</label>
                        <input placeholder="Cambridge" formControlName="uniname" class="form-control" type="text" #uni_field name="uni" required>
                        <div class = "invalid-feedback d-inline" *ngIf="!this.EducationForm.value.itemRows[i].uniname">
                          {{uni_name_log}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Degree</label>
                        <input placeholder="Bachelors" formControlName="degreename" class="form-control" type="text" #degree_field name="uni" required>
                        <div class = "invalid-feedback d-inline" *ngIf="!this.EducationForm.value.itemRows[i].degreename">
                          {{degree_log}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Field of study</label>
                        <input placeholder="Computer Science" formControlName="fieldname" class="form-control" type="text" #study_field name="study" required>
                        <div class = "invalid-feedback d-inline" *ngIf="!this.EducationForm.value.itemRows[i].fieldname">
                          {{field_log}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Graduation</label>
                        <select title="(select one)" formControlName="eduyear" class='selectpicker form-control'  required name="roles"  required=""  >
                          <option class='option' *ngFor='let graduation_year of graduation_year'  [value]="graduation_year" selected>{{graduation_year}}</option>
                        </select>
                        <div class = "invalid-feedback d-inline" *ngIf="!this.EducationForm.value.itemRows[i].eduyear">
                          {{eduYear_log}}
                        </div>

                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class = "form-group text-right">
                        <a  (click)="deleteRow(i)" class = "btn btn-danger text-white">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 p-0">
                  <div class = "form-group">
                    <a  (click)="addNewRow()" class = "btn btn-primary text-white"> <i class="fa fa-plus" ></i> Add Education</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Bio</label>
                  <ul>
                    <li> 2-5 sentences </li>
                    <li> Quick overview of your current role and responsibilities and your principal development stack and skills </li>
                  </ul>
                  <textarea class="form-control" rows="5" id="comment" maxlength="2000" placeholder="Senior java and nodejs developer with 10 years development experience. Worked in the healthcare and finance industries. Active Ethereum smart contract developer." #intro name="intro" required  [(ngModel)]="Intro" ></textarea>
                  <div class = "invalid-feedback d-inline" *ngIf="!Intro">
                    {{intro_log}}

                  </div>
                </div>
              </div>
            </div>

          </section>

          <div class = "form-group text-right">
            <a [routerLink]="['/admin-candidate-detail']" [queryParams]="{user: user_id}" class = "btn btn-secondary text-white mr-2">Cancel</a>
            <button type="submit" class = "btn btn-primary" [disabled] = "(current_salary.errors && salary) || (expect_salary.errors && expected_salaryyy)" >Save</button>
            <br/>
            <div class = "invalid-feedback d-inline mt-2" *ngIf="error_msg">
              {{error_msg}}
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
